[2018-07-10 07:58] hjzh4 opened #974 "Issue while invoking moveit_commander.roscpp_initialize(sys.argv)"
### Description

I'm using moveit's python api. When I invoke moveit_commander.roscpp_initialize(sys.argv), I got following error:
[code]

But I found following code can actually work.
[code]
### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Source build
* If source, which git commit or tag? Kinetic-devel
* Python3.6.4

[2018-07-10 14:15] jschleicher opened #975 "Tip frame for motion planning selectable"
![rviz_screenshot_2018_02_19-14_29_20](https://user-images.githubusercontent.com/29709205/42515140-59e61716-845b-11e8-9428-08ff1f916b72.png)

For a rotated gripper we want to choose the tip-frame in addition to the planning group in RViz-MotionPlanning-plugin.

### Your environment
* ROS Distro: Kinetic
* OS Version: e.g. Ubuntu 16.04
* binary version ros-kinetic-moveit-ros-visualization 0.9.11-0x

[2018-07-10 15:44] hjzh4 commented on #974
I found the mistake, the moveit_commander.roscpp_initialize(sys.argv) needs to be called before rospy.init_node()

[2018-07-10 15:44] #974 closed

[2018-07-10 18:42] MatthewVerbryke opened #977 "Joint ignored during IK solving"
### Description

Hello,

I'm having a weird issue with my robot in MoveIt when trying to move to certain poses. My robot model is a stock WidowX arm, but placed sideways on a "torso". It has 5 DOF, and I am using the IKFast plugin that comes with that model.

Whenever I plan to a pose goal that does not require the last joint (a wrist rotation joint, called 'joint_5' in the URDF) to be non-zero I

[2018-07-10 19:30] lusu8892 opened #978 "Procedure about to make a OMPL based path planner moveit plugin"
### Description

I want to make a OMPL based path planner moveit plugin, so that I can use the feature from OMPL and implement my own planning algorithm working as Moveit Plugin. I know this is possible, but I could not know how to do it. I saw someone on google group had the same issue.

Also, I want to know do I need to compile OMPL and Moveit from source if want to use OMPL library.

### Your e

[2018-07-11 20:11] mlautman commented on #637
This has been resolved

[2018-07-11 20:11] #637 closed

[2018-07-12 11:44] mintar commented on #943
Could we please merge this before the next release? It fixes a clear regression, and the longer it stays open, the more people will be affected.

[2018-07-12 22:36] #943 closed

[2018-07-14 06:58] MohmadAyman commented on #894
Hi @simonschmeisser , have you guys started working on your "mikado_setup_assistant"?

[2018-07-14 07:05] MohmadAyman commented on #959
[Pull request] (https://github.com/ros-planning/moveit/pull/969)

[2018-07-14 23:06] zubair123khan opened #985 "Cannot load iris xacro in ros moveit"
### Description

I have recently installed ROS moveit and i was trying to test IRIS quad in moveit, although when i am trying to upload iris.xacro from my px4 firmware, it showing error that "Undefined substitution argument rotors_description_dir None" and it not able to recognnize rotors description package in px4 firmware.
can anyone tell me i am forgetting to do any workaround !

Thanks

### Yo

[2018-07-15 18:55] rhaschke commented on #985
You have several issues, all unreleated to MoveIt:
1. package sitl_gazebo is missing
2. You need to provide a command line argument `rotors_description_dir` when calling xacro.

I suggest to first figure out how to call xacro on the commandline.

[2018-07-15 19:17] zubair123khan commented on #985
Hello

Thanks for the reply , but it's not about command line, that's the output
of console when I tried to load iris.xacro in ros moveit window and hence I
got that error.

On Sun 15 Jul, 2018, 19:55 Robert Haschke, <notifications@github.com> wrote:

[2018-07-16 06:30] rhaschke commented on #985
I guess, when you are writing "load iris.xacro in ros moveit window", you actually mean to load this file in MoveIt's setup assistant, don't you?
If so, please try to get xacro running first on the command line like this:
`xacro --inorder iris.xacro`

The repository you mentioned, doesn't contain `iris.xacro`. Hence, I cannot reproduce your issue.

[2018-07-16 06:42] zubair123khan commented on #985
I will surely try your suggestion sir, also the repo is inside px4
firmware, it's in firmware/tools/sitl_gazebo/rotor_description/iris.xacro

On Mon 16 Jul, 2018, 07:30 Robert Haschke, <notifications@github.com> wrote:

[2018-07-16 08:04] rhaschke commented on #985
You should have mentioned that the repo uses `submodules`, which need to be cloned separately.
Looking into the urdf description, I find two substitution arguments:
`$(arg visual_material)` and `$(arg rotors_description_dir)`. These need to be passed as cmdline arguments to `xacro`, e.g. like this:
`xacro --inorder iris.xacro rotors_description_dir:=.. visual_material:=green`

These arguments can

[2018-07-16 09:46] zubair123khan commented on #985
I will surely implement this today,  i will close this if i dont see any
problem, thanks a lot for the help :)

On Mon, Jul 16, 2018 at 9:04 AM, Robert Haschke <notifications@github.com>
wrote:

[2018-07-16 20:39] zubair123khan commented on #985
Not able to run it :(.
To be clear i am pointing towards this xacros
https://github.com/PX4/sitl_gazebo/tree/ac54b8fdddd9b21dbe6d59deaf46494864858bc9/models/rotors_description/urdf

On Mon, Jul 16, 2018 at 10:46 AM, Zubair Khan <kzbr1993@gmail.com> wrote:

[2018-07-16 20:53] zubair123khan commented on #985
This is what i am passing now.
Exactly what you told

On Mon, Jul 16, 2018 at 9:39 PM, Zubair Khan <kzbr1993@gmail.com> wrote:

[2018-07-16 20:53] zubair123khan commented on #985
xacro --inorder iris.xacro
rotors_description_dir:=/Home/Firmware/Tools/sitl_gazebo/models/rotors_description
visual_material:=green

On Mon, Jul 16, 2018 at 9:53 PM, Zubair Khan <kzbr1993@gmail.com> wrote:

[2018-07-16 22:18] zubair123khan commented on #985
ERROR in console :

xacro: error: expected exactly one input file as argument
[rospack] Error: package 'sitl_gazebo' not found
[librospack]: error while executing command
Usage: xacro [options] <input>

On Mon, Jul 16, 2018 at 9:53 PM, Zubair Khan <kzbr1993@gmail.com> wrote:

[2018-07-17 07:18] rhaschke commented on #985
Works for me, both in cmdline and MSA. Do you use a non-default source branch or do you modified some files?

[2018-07-17 09:35] zubair123khan commented on #985
Can you +please show your moveit screen (xacro arguments passed) !
No i did not modified anything :(

On Tue, Jul 17, 2018 at 8:18 AM, Robert Haschke <notifications@github.com>
wrote:

[2018-07-17 09:41] zubair123khan commented on #985
just want to see what arguments you are passing and i will check accordingly

On Tue, Jul 17, 2018 at 10:35 AM, Zubair Khan <kzbr1993@gmail.com> wrote:

[2018-07-17 10:22] rhaschke commented on #985
I provide exactly the options I state previously: `rotors_description_dir:=.. visual_material:=green`
![screenshot_2018-07-17_12-20-29](https://user-images.githubusercontent.com/5376030/42811790-f75e2550-89bb-11e8-96f1-f23359cc9eba.png)

To get rid of the remaining errors, you need to build your repo in a catkin workspace and source it.

[2018-07-17 10:32] zubair123khan commented on #985
Anyways i will surely try this again this evening, with my package in
catkin workspace.
I will then accordingly let you know :)
Thanks Robert

On Tue, Jul 17, 2018 at 11:28 AM, Zubair Khan <kzbr1993@gmail.com> wrote:

[2018-07-17 20:00] zubair123khan commented on #985
I have done it, but i am not able to see my drone on the right side while
the upload is done, i think its because of my environment not being catkin.
Also after making a package of my drone from setup assistance (which i
saved in a catkin build environment), i ran roslaunch iris_config
demo.launch and this is what i see.

.. logging to
/home/zubair/.ros/log/438c241a-89fb-11e8-9dbe-10f00557463a/ros

[2018-07-17 20:11] zubair123khan commented on #985
We cannot build px4 firmware with catkin (fatal error : ecl.h not found),
and it build and used normally outside catkin environment.

On Tue, Jul 17, 2018 at 9:00 PM, Zubair Khan <kzbr1993@gmail.com> wrote:

[2018-07-18 07:19] rhaschke commented on #985
Again, the error is that your sitl_gazebo package wasn't yet build as a catkin package and announced to ROS. However, building your px4 package is completely out of the scope of MoveIt. Please refer to this packages's maintainers for more help. I will close this issue for now.

[2018-07-18 07:19] #985 closed

[2018-07-18 10:58] troizky opened #988 "bad_alloc in collision_detection::distanceCallback"
### Description

CollisionGeometryData has union named `ptr`
[code]
Getting `ptr.obj->id_` causes exception in case of AttachedBody in following lines:
https://github.com/ros-planning/moveit/blob/be78e68585f1552f2cca44d0eff3fbf87bbf358d/moveit_core/collision_detection_fcl/src/collision_common.cpp#L520
https://github.com/ros-planning/moveit/blob/be78e68585f1552f2cca44d0eff3fbf87bbf358d/moveit_core/

[2018-07-18 10:59] troizky commented on #988
Method `CollisionGeometryData::getID()` should be used here.

[2018-07-18 13:48] troizky commented on #886
There is a bug in method `collision_detection::distanceCallback` in file moveit_core/collision_detection_fcl/src/collision_common.cpp #988
In the following lines:
[code]
method CollisionGeometryData::getID() should be used for `cd1` and `cd2`.

[2018-07-18 16:49] joaocabogon commented on #692
Hey Matthew, could you please share your launch file? I am getting the same "Failed to call service get_planning_scene, have you launched move_group?" error and I cannot see the Octomap on Rviz as well

[2018-07-18 17:43] MatthewVerbryke commented on #692
@joaocabogon Yeah you can find my launch file here: https://github.com/MatthewVerbryke/inmoov_ros/blob/master/inmoov_moveit/launch/moveit_planning_execution.launch

[2018-07-18 19:35] BoltzmannBrain commented on #886
@troizky thanks for bringing this up. What implies this is a bug? Did you run into an error?

[2018-07-19 09:11] troizky commented on #886
Yes, I did.
I got a crash with exception 'bad_alloc' and provided backtrace in open issue #988  https://github.com/ros-planning/moveit/issues/988  
because of access to object of type AttachedBody as World::Object which is incorrect.
And my fix definitely solved this problem.

--
Андрей Троицкий

[2018-07-19 13:42] janEbert commented on #900
If the `moveit_commander` package is supposed to be deprecated after the cleanup, where should the folder's Python code that relies on other interfaces be moved?
For example, [`interpreter.py`](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_commander/src/moveit_commander/interpreter.py) - which imports all the interfaces from `moveit_ros/planning_interface` - would either need to

[2018-07-19 15:36] v4hn commented on #169
I just noticed this issue got stuck...

@wjwwood The problem you hit last time was fixed in the meanwhile in #907 .
Please try again.

I would still very much like to have a released version of OMPL in kinetic that uses
`-DOMPL_VERSIONED_INSTALL=ON` with my patch above.

[2018-07-20 02:49] HelloDusty opened #991 "connceting vrep to moveit"
### Description
Hi, I am Mike.
I am doing connecting vrep to moveit by ros, coding hardware interface. The hardware interface can successfully read the robot jointstate into topic /joint_states in ros. It seemed like I have done the work, however, moveit can't fetch the robot current state and also can't execute the plan and report
"Didn't received robot state (joint angles) with recent timestamp

[2018-07-20 02:58] HelloDusty commented on #991
Here is my part of hardware interface
`#include "MyRobot_vrepHW.h"
#include <stdio.h>
#include "../v_repLib.h"
#include <string>
#include <iostream>
#include <unistd.h>
using namespace std;

namespace ur
{

std::string MyRobot_vrepHW::sm_jointsName[MR_JOINTS_NUM] = {
    "shoulder_pan_joint",
    "shoulder_lift_joint",
    "elbow_joint",
    "wrist_1_joint",
    "wrist_2_joint",
    "wrist_3_joint

[2018-07-20 14:39] MatthewVerbryke commented on #977
Based on what I have read this may actually be a problem with the IKFast plugin the WidowX arm is using, and not MoveIt.  The specific IK type used by the plugin is the 'translationdirection5d' type, and based on [its description](http://openrave.org/docs/latest_stable/openravepy/ikfast/#ik-types) in the OpenRAVE documentation, it seems to only determine the position and pointing direction of the

[2018-07-20 14:39] #977 closed

[2018-07-20 17:43] scchow commented on #955
I also ran into this problem with a new install of ROS Kinetic.

I created my `moveit_config` package using the `setup_assistant`. In the generated `config/ompl_planning.yaml` file, I noticed all the planner names did not have `kConfigDefault` appended:
[code]
I found by manually appending `kConfigDefault` to the name of each of these planners, the errors no longer occur:
[code]
So perhaps the pro

[2018-07-21 10:52] rokaku commented on #786
Hello There,
May I know how to apply the fix for current indigo release? I try to use `apt-get update `but the problem still exists. Thanks.

[2018-07-21 10:56] rokaku commented on #786
Hello @rhaschke, may I know how to apply the fix into current indigo release? I try to use `apt-get update` but there is nothing upgraded. and the problem still exists. Or I have to build it from the source? Thanks.

[2018-07-23 13:12] felixvd commented on #417
I am reproducing the new pick and place tutorial with another robot and am getting a similar error.

[code]

![20180-7-23-moveit-picking](https://user-images.githubusercontent.com/4535737/43077951-e1e56b36-8ec3-11e8-86d6-739d203147e3.png)

The system looks very similar, and the code is almost identical to the tutorial. I only changed the frames and move group name, essentially. The error seems lik

[2018-07-24 06:12] llu0120 opened #996 "moveit installation issue"
Hello everyone,
I am now using Ubuntu16.04 + ROS Kinetic and confront some problems while installing moveit by http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/getting_started/getting_started.html
While I am in the `ws_moveit` workspace, I run the command `catkin build` and error happens like below.

[code]
Have anyone had this problem before? I have reinstall ROS Kinetic again to prevent

[2018-07-24 07:34] TheCamusean opened #997 "Adding Functionalities"
### Description

One interesting point in order to develop potential field motion control is having the capability to know where exactly the closest points to the robot are. As far as I know, Moveit allows you to get a double with the information about the distance to the closest point.

I consider a very interesting addition to MoveIt considering the addition of get closest points, getting a vect

[2018-07-24 08:11] rhaschke commented on #996
You misconfigured your catkin workspace: The settings `VAR:type=value` for additional cmake args is wrong. I suggest you to start over with a clean workspace. Particularly remove the `.catkin_tools` folder.

[2018-07-24 08:53] v4hn commented on #417
Hey Felix,

your problem seems independent of the one in this issue.
It seems like the pipeline fails to correctly remove the object from the collision world when it attached it to the gripper. As a result the object collides with the attached version of itself, I guess.
I have no idea how you triggered this. I don't see it in everyday usage of the pipeline.

[2018-07-24 10:45] felixvd commented on #417
As a quick update: I put 10 Grasp messages instead of 1 into the vector that's sent to the pick function, so that the planning would be reattempted more often. Each attempt seems to succeed through all stages about 5% of the time, and fails in the "reachable & valid pose filter" stage about 70% of the time.

I was not able to reproduce the error about the contact between the two "object"s today, e

[2018-07-25 15:11] v4hn opened #1000 "2018 Summer: release indigo"
TODO
Steps to do to make this release happen:
- [x] Move full_pr2 pkgs to `moveit_pr2` repo -> done https://github.com/ros-planning/moveit_pr2/pull/98
- [x] Resolve circular dependency -> PR https://github.com/ros-planning/moveit/pull/1111
- [x] Update rosdistro indigo about the moveit_full_pr2 relocation (currently its [in moveit](https://github.com/ros/rosdistro/blob/d578284e09cfefefa780b6f06d7a

[2018-07-25 15:17] gavanderhoorn commented on #1000
Nice, issue #1000.

[2018-07-25 16:01] IanTheEngineer commented on #925
### Update:
The tf2 changes have been backported to Kinetic/Indigo: https://github.com/ros/geometry2/pull/309 Thanks to @tfoote for making that happen.

The only remaining hiccup is to figure out how to deal with `Transformer`'s internal `Buffer` objects. I have pinged @tfoote and @wjwwood to get their assessment on whether we can backport the initial `Transformer` pull request, https://github.com

[2018-07-28 19:34] johnwason opened #1002 "planning_scene_interface.PlanningSceneInterface.attach_mesh Python function does not correctly interpret collada files from Blender"
### Description

We have exported small collada meshes from Blender representing Aruco tags for use in our project. As part of the project, we need to be able to insert these meshes into the planning scene using the Python attach_mesh function in planning_scene_interface. Instead of the small meshes being inserted into the workspace, a large cube is inserted instead. It appears the problem is that

[2018-07-29 00:25] horagong opened #1003 "compile error: variable type 'KDL::ChainIkSolverVel_pinv_mimic' is an abstract class"
### Description

I got this compile error: variable type 'KDL::ChainIkSolverVel_pinv_mimic' is an abstract class

### Your environment
* ROS Distro: melodic
* OS Version: mac 10.13.6
* Source or Binary build? source
* If source, which git commit or tag? f65060, current HEAD

### Backtrace or Console output
[code]

[2018-07-30 08:43] kanster opened #1005 "How to plan for a sequence of target poses using motion_planning_api"
### Description

Using move_group, computeCartesianPath allows the users to plan a trajectory for a sequence of targeting poses. However, what if the target poses do not follow this pattern, how to plan a trajectory which visits all the targeting poses?

Similar questions have been raised in previous google groups and ROS discussion board:
https://groups.google.com/forum/#!topic/moveit-users/lZL2H

[2018-07-30 12:54] DebasmitaGhose opened #1006 "Pick and Place Pipeline"
I was trying to use the pick and place pipeline but I dont understand how to start working with it. It would be great if somebody could explain how to get started with it.

In this package for pick and place
https://github.com/ros-planning/moveit/tree/kinetic-devel/moveit_ros/manipulation
 I am not able to figure out how the names of the joints used to perform the grasps should be provided.

[2018-07-30 18:49] MohmadAyman opened #1009 "Can't build because of a moveit_ros_perception error."
### Description
After using `catkin clean`, `moveit_ros_perception` started giving an error when I run `catkin build`

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04
* Source: latest

### Steps to reproduce
`catkin clean`
`catkin build`

### Backtrace or Console output
[code]

[2018-07-30 21:11] davetcoleman commented on #1009
Looks like a build problem with how you are sourcing your catkin workspace, what version of debians you are using, etc...

[2018-07-31 12:37] v4hn commented on #925
Great!

Tully and William both made it clear that this change not be backported to remain ABI compatible and not invoke C++11.
I agree with their reasoning.

So we have to find a workaround.

The simplest thing might be to instantiate a separate `tf::Transformer` in this case.

Do you see alternatives @IanTheEngineer?
I did not look into the details here.

[2018-07-31 16:11] atomoclast commented on #1006
The MoveIt! has a great tutorial section.

There's a tutorial section for this pick and place tutorial already written:

[PIck and Place Tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pick_place/pick_place_tutorial.html#getting-started
)

[2018-07-31 17:30] atomoclast commented on #978
Very cool problem! I do find bimanual manipulation pretty cool. Something I would love to mess around with more in the future...as you mentioned, that's a higher level issue. Any literature I've seen treats it as such. So you should be able to wrap the current MoveIt API for each manipulator and plan to specific poses with required grasping forces and so on, which is derived from a task-based appr

[2018-07-31 17:54] DebasmitaGhose commented on #978
I have been trying to do a simplified version of this where I try to do a bimanual pick and place for an object at a known position of a known shape. I havent been able to find a reference code for that, so I have been trying to modify [this tutorial code](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pick_place/pick_place_tutorial.html) for my purpose.

It would be great if you could

[2018-07-31 18:09] DebasmitaGhose commented on #1006
I have been using this tutorial, but it is not completely clear how the values of the grasp pose has been calculated.

[2018-08-01 02:05] felixvd commented on #1006
The grasp pose has not been calculated, it was set up manually for that particular robot and object. There is no grasp candidate generation in MoveIt.

You also asked a very similar question in [this issue]. Please don't pollute the repositories with multiple  support requests and use ROS Answers instead. I also strongly suggest to spend more time troubleshooting by yourself and to read [this](htt

[2018-08-01 13:53] v4hn commented on #1000
@130s

The only ABI-incompatible changes I found are https://github.com/ros-planning/moveit/pull/443
@davetcoleman removed the alternative time parameterization method again, because it was supposed to be replaced by the better alternative.
However, the new alternative was not merged into `indigo-devel` anymore.

I believe it is ok to release the branch as is. Alternatively, we could backport the

[2018-08-01 18:46] davetcoleman commented on #1000
Ah I hadn't realized the newer [time parameterization plugin](https://github.com/ros-planning/moveit/pull/441) was kinetic only. I think it makes sense to cherry-pick back to indigo, but it also probably doesn't matter much since its a new barely used feature that doesn't belong in an old LTS

[2018-08-01 20:36] 130s commented on #1000
Does releasing Kinetic and/or Melodic together make sense, or does that need a separate discussion?

[2018-08-02 18:58] mlautman commented on #1006
This is not an issue with the tutorials. Please ask questions like this on [ROS answers](http://answers.ros.org)

[2018-08-02 18:58] #1006 closed

[2018-08-03 12:49] zubair123khan opened #1015 "Obstacle information with out Depth camera !!"
### Description

Hello

I am developing obstacle avoidance using monocular vision and eventually working on obstacle relative size change. I developed a ROS node which is subscribing to image_raw topic from cam and getting the information and size of the obstacle in front.
On top of this,  i am willing to use Moveit, so that i can command my drone to avoid accordingly.
Currently I see that Moveit

[2018-08-04 20:30] zubair123khan opened #1016 "Enable to run path planning !! RVIZ"
### Description
Hello all

I am unable to load the map from ardrone_testworld.launch in RVIZ.
Please see the attached sreenshot from RVIZ, and please guide me whats missing !

Thanks

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04

![rviz](https://user-images.githubusercontent.com/17492699/43680242-a889e074-982d-11e8-98a3-7b792321a145.png)

[2018-08-06 14:47] v4hn commented on #1000
To be honest I don't know right now.

Given that GSoC will end soon I lean towards having the next release kinetic+ *after* the results get merged.

[2018-08-07 09:07] felixvd opened #1018 "Should PlanningSceneInterface have more functions?"
### Description

[This tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/planning_scene/planning_scene_tutorial.html) teaches users how to disable all collisions in a scene, but not how to apply changes to the current move group, because the tutorial is done on a copy of the planning scene. The [next tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/planning_sce

[2018-08-07 10:25] v4hn commented on #742
@Levi-Armstrong Are you still interested in this?

I believe this is not actually such a big change, adding a tag for it to the srdf and maintaining one extra bit of information in the Link/Shape...
Did you look into this any further?

[Your recent blog post](https://rosindustrial.org/news/2018/7/5/optimization-motion-planning-with-tesseract-and-trajopt-for-industrial-applications) reads like this

[2018-08-07 11:43] gavanderhoorn commented on #742
I believe https://github.com/ros/urdfdom_headers/pull/24 is related.

[2018-08-08 08:54] impala454 commented on #955
I just ran across this as well.  Seems like the cleaner solution is simply find and remove all instances of `kConfigDefault`?

[2018-08-09 07:41] felixvd commented on #797
I suppose "computeDescartesPath" refers to [this](http://wiki.ros.org/descartes)?

I agree that computeCartesianPath is expected by almost all users, and it's not doing very well. I just had a case where it fails to plan a short approach path that works fine with regular move(), because of (I believe) an issue in the sampler.

To add to the list:

- The tutorial for computeCartesianPath does not s

[2018-08-09 10:57] k-okada commented on #797
Agreed, and from beginners point of view, supporting cartesian path in GUI is needed. see https://github.com/ros-planning/moveit/pull/931

[2018-08-09 15:42] felixvd commented on #797
In line with what you wrote in that PR, I would add considering a name change to something like "computeLinearPath". I know it's technically still ambiguous, but PTP, LIN and CIRC motions are industry parlance. A look at [this](https://github.com/ros-industrial/robodk_postprocessors) shows that the terms are used that way in the scripting languages of at least ABB, UR, KUKA, DENSO, Fanuc, HIWIN an

[2018-08-09 20:02] gavanderhoorn commented on #797
@felixvd wrote:

Those names may be common in many industrial robot programming languages, but MoveIt is not such a language. Those names are also as they are because most industrial robots are programmed in something akin to an assembly language.

In addition, the motion primitives that you mention (ie: PTP, LIN and CIRC) are semantically different from the functionality MoveIt offers (ignoring t

[2018-08-10 12:35] felixvd commented on #797
MoveIt itself is not a robot programming language, but the MoveGroupInterface and MoveGroupCommander serve a similar purpose to end users. We would do well to consider the expectations of those end users. While I wouldn't copy any names, I do think it is a good idea to connect users with familiar concepts. I think most novice users just have something like "PTP is unpredictable, LIN goes in a line

[2018-08-11 02:13] robotdreamers opened #1019 "got error while installing moveit: `brew info ros/melodic/octomap --json=v1`"
While installing moveit, i got the error due to this command: ``brew info ros/melodic/octomap --json=v1`. Anyone knows how to fix this. Thanks.

Error:
`Bad installer [homebrew]: Error while parsing brew info for 'ros/melodic/octomap'
 * Output of brew info ros/melodic/octomap --json=v1:`

* ROS Distro: Melodic
* OS Version: MacOS High Sierra
* Source build?
* Follow instruction here: http://movei

[2018-08-13 15:59] shreyasgan opened #1021 "move_group_interface_tutorials not showing expected trajectories for panda arm"
### Description
When I run the move_group_interface_tutorials with the panda arm, and step through the various commands, and compare them to the video provided by the Moveit tutorials, the trajectories for setPoseTarget commands are not correct. There is a discrepancy between the desired and actual behavior. Also, the cartesian path planner is only able to plan 47.62% of the desired path.

Is ther

[2018-08-14 02:16] lakshmip001 commented on #160
@aiolosxuk I implemented moveit_topp on my moveit trajectory as I need trapezoidal tool velocity.I dont know how I can get trapezoidal tool velocity when I constrain joint acceleration and joint velocity using moveit_topp. Is the trapezoidal velocity resulting in tool velocity of manipulator also?

[2018-08-15 11:55] 130s commented on #1000
I see.

I'm planning to make release on this weekend, for Indigo only.

[2018-08-17 08:58] DamKoVosh opened #1023 "setToIkSolverFrame should respect frame position in tf tree"
### Description

Consider following tf tree:
![smalltftree](https://user-images.githubusercontent.com/1816519/44256559-cf3bac80-a209-11e8-808a-6a238d17ace4.png)

It shows a chain with table -> robot_base -> tip_frame, with two different points attached.
Now when using the method setToIkSolverFrame, to transform the points p1 and p2 to robot_base, to calculate ik for this group on them, it will be

[2018-08-20 09:46] #996 closed

[2018-08-20 09:58] v4hn commented on #1003
The fix for this was part of https://github.com/ros-planning/moveit/pull/906 .
did you try to compile kinetic-devel on ROS melodic?

If this bug is still there, feel free to continue in this issue.

[2018-08-20 09:58] #1003 closed

[2018-08-20 10:02] wolledav opened #1026 "Multiple-query planners in OMPL - maintain planner's information from the previous run"
When using OMPL planners via MoveGroup interface, multiple-query planners such as PRM can't be used properly, as MoveIt! clears previous query data (more detailed description [here](https://answers.ros.org/question/300720/prm-roadmap-building-not-working-through-movegroup/).

I think that there should be the possibility to maintain planner data - current implementation probably intents to prevent

[2018-08-20 10:16] v4hn commented on #1009
closing as outdated.

[2018-08-20 10:16] #1009 closed

[2018-08-20 10:26] v4hn commented on #1015
This should be a question on http://answers.ros.org

The simplest way for you to implement this is to just add collision objects to the planning scene yourself.
If you feel this is not "internal" enough for your application, e.g. in terms of update rate, you could also implement an alternative update plugin for the octomap.

[2018-08-20 10:26] #1015 closed

[2018-08-20 10:40] zubair123khan commented on #1015
Thanks for the answer, Although can you give me a sample reference on how
can i publish those obstacle coordinates in planning scene topic ! I would
so much glad.
Thanks

[2018-08-20 12:33] v4hn commented on #1026
I agree with the whole thread on ros-answers.

It makes sense to add this capability - making the clear() optional, one way or another.

I also agree with Bryce in that you are very welcome to file a pull-request! :sunglasses:

The obvious choice would be to clear the data only if some meaningful change in the PlanningScene occured between the queries. You might have to work your way through some

[2018-08-20 12:38] v4hn commented on #1015
http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/planning_scene_ros_api/planning_scene_ros_api_tutorial.html

[2018-08-20 14:51] rhaschke commented on #964
Looks like a useful extension.

[2018-08-20 14:59] rhaschke commented on #988
Fixed with #989. Thanks for reporting and providing the fix!

[2018-08-20 14:59] #988 closed

[2018-08-20 15:00] #886 closed

[2018-08-20 15:01] #806 closed

[2018-08-20 22:12] davetcoleman commented on #894
@MohmadAyman please update this issue with your final updates, then we should consider closing it

[2018-08-20 22:17] MohmadAyman commented on #894
Done,

Can we leave it until the tutorials have been updated? so they don't get forgotten.

[2018-08-21 10:40] v4hn commented on #1018
Hi Felix,

of course such functions are very much welcome!
If you need a generic convenience wrapper around our convenience wrapper, that's just... unnecessary.
Feel free to add useful code to the PSI in that case.

https://github.com/ros-planning/moveit/issues/964 is somewhat related for ACM patches.

[2018-08-21 19:54] arocchi commented on #963
I wonder if this might be related to https://github.com/flexible-collision-library/fcl/issues/244
It would be interesting to try the test again, after many issues with EPA on libccd and fcl got fixed.

[2018-08-22 01:48] felixvd commented on #964
Agreed. I'm not the benchmark, but as expected I misunderstood this behavior a few weeks ago and was deleting existing collision objects when adding new ones.

[2018-08-22 09:50] v4hn commented on #964
Feel free to provide pull-requests ;)

[2018-08-22 15:35] atyshka opened #1032 "Moveit Rviz goal state frame off"
### Description

When attempting to use the Moveit Rviz plugin, the goal state is picking the wrong frame when attempting to set a pose.
![screenshot from 2018-08-22 11-25-15](https://user-images.githubusercontent.com/19317207/44474072-c2e79300-a5ff-11e8-905f-a67455d81ba6.png)

As you can see, I have a UR10 mounted on a mobile base. I want to plan in the base footprint frame. However, when I grab

[2018-08-22 17:28] atyshka commented on #1032
I apologize, this was in fact an issue with the UR Kinematics

[2018-08-22 17:28] #1032 closed

[2018-08-23 15:45] rhaschke opened #1034 "failing unittest on ROS build server"
The unittest `MoveItConfigData.ReadingControllers` fails for some reason on the ROS build server,
while there is no issue on Travis:
http://build.ros.org/job/Mdev__moveit__ubuntu_bionic_amd64/47/testReport/(root)/MoveItConfigData/ReadingControllers/
http://build.ros.org/job/Kdev__moveit__ubuntu_xenial_amd64/lastCompletedBuild/testReport/(root)/MoveItConfigData/ReadingControllers/

@MohmadAyman: Co

[2018-08-23 16:38] MohmadAyman commented on #1034
I believe that have sth to do with the tests trying to write a `ros_controllers.yaml` to `moveit_resources` which is in `/opt`.
`Unable to open file for writing /opt/ros/melodic/share/moveit_resources/ros_controller.yaml`

I'm guessing Travis has `moveit_resources` built from source thats why it doesn't fail, or run the tests as a `su`.

I'm not sure what is the difficulty of modifying the `ros bu

[2018-08-23 16:42] v4hn commented on #1034
Nothing should ever try to write to a package path.
If you need a temporary file, it's usually a good idea to use `mkstemp` et al,
but I did not look at the concrete case

[2018-08-23 21:13] davetcoleman commented on #1034
Indeed, the test should write to a temp location. @MohmadAyman can you propose a PR for this?

However this may not be supported [at all by GTest](https://stackoverflow.com/questions/38398288/generate-temporary-file-folder-c-gtest) in which case, maybe we can output the file to memory then read it again from memory without an actual file hit?

[2018-08-24 03:36] itfanr opened #1035 "Can move_group load URDF without restart"
Hello everyone,

1、Can move_group generate config without assistant UI. I want to use command line or shell instead.
2、Can move_group load URDF without restart?

Thank you.

[2018-08-24 04:49] rhaschke commented on #1035
The setup assistant UI is just a convienence helper to generate all those files of a `moveit_config` package. If you have another method to gather all the required information you could also generate those files using a complex shell script. However, I think this essentially will boil down to filling some very simple templates, because there are lots of parameters that are interactively gathered i

[2018-08-24 04:49] #1035 closed

[2018-08-24 04:58] itfanr commented on #1035
@rhaschke  Thank you for your answer.

I benefit a lot but I think generate from shell is needed in production environment .

[2018-08-24 05:17] rhaschke commented on #1035
Probably, I don't get your use case yet. Please can you elaborate more?
Usually the configuration is created once (during setup-time of your production environment) and then never changed.

[2018-08-24 05:44] itfanr commented on #1035
@rhaschke
Our product is  a universle controller that can apply to many kinds of robot arm.
Therefore, we want users customize their robot. It is obvious that  restarting programme can impact the user’s experience.

[2018-08-24 19:00] shreyasgan opened #1036 "Moveit Setup Assistant can't parse XML description files"
### Description

[rospack] Error: no package given
[librospack]: error while executing command
[ INFO] [1535132859.993706205] Running 'rosrun xacro xacro.py --inorder /home/bashir/ws_moveit/src/staubli_experimental/staubli_tx90_support/urdf/tx90.xacro

XML parsing error: not well-formed (invalid token): line 27, column 1
when processing file:

Check that:
- Your XML is well-formed
- You have the x

[2018-08-24 21:18] MohmadAyman commented on #1034
[This commit](https://github.com/ros-planning/moveit/pull/1024/commits/b20bc98bebd0da25daaeabfd9106bb13af9fe939) should fix this issue.

[2018-08-25 01:26] hjzh4 commented on #697
Yay, I think the problem is curl-gnutls v.s. curl-openssl version. However the ros and gazebo I'm using are all dependent on curl-openssl.

[2018-08-26 20:15] rhaschke commented on #1034
@MohmadAyman It would have been better to file a separate PR for this.

[2018-08-26 22:16] rhaschke commented on #1036
Works perfectly on my side. Did you checked the xacro command on the command line too?

[2018-08-27 08:05] Ridhwanluthra commented on #1021
could you test it again after changing your fake_controllers.yaml in config folder in panda_moveit_config to:
[code]

[2018-08-27 09:49] christgau opened #1037 "non-blocking call to PlaceAction from Python returns with "Must specify group in motion plan request""
### Description

I'm using Moveit for a pick and place scenario but I don't want to block my node until those actions are completed. I've found that https://github.com/mikeferguson/moveit_python (see #99 or #776) allows me to make the underlying action calls in a non-blocking fashion. I also subscribed to the `feedback` topics of the involved actions to get notified about their outcome.

This work

[2018-08-27 09:55] christgau commented on #1037
Remark: Using `pick ` with `wait=False` works like a charm.

[2018-08-27 19:03] amanjhunjhunwala commented on #697
+1 same error

[2018-08-27 19:33] mlautman commented on #1021
@shreyasgan Thank you for bringing this up but in the future, please raise this issue in the moveit_tutorials repo for a faster response. You are correct that the video is out of date. Franka Emika recently changed the joint limits in franka_description causing the default configuration on launch to be hunched over rather than stood straight up. This affected the start state of the trajectories an

[2018-08-27 19:34] mlautman commented on #1021
closing because this should live in moveit_tutorials

[2018-08-27 19:34] #1021 closed

[2018-08-30 05:45] #959 closed

[2018-08-30 08:40] christgau commented on #1037
I just found out that the problem was in the application code. At some (non-obvious) place after the non-blocking action was started, the planning scene objects were "updated" by removing them all and adding new ones. This caused the problem. Leaving the planning scene objects untouched or changing them carefully solves the issue.

Although I don't know the internal details, the error message appe

[2018-08-30 08:40] #1037 closed

[2018-08-30 11:58] felixvd opened #1041 "Extending the planning scene"
I had an email discussion with @v4hn and have been thinking that child frames on attached objects would be useful for parametrizing manipulations. It would make it easy to code "Place the tip of this peg at the hole of that bearing". Sadly, the planning scene does not really support this, since all collision objects live directly in the world, have only one frame, and no relations between each oth

[2018-08-30 16:29] mlautman commented on #955
This should be fixed by #1040 which was just merged. Closing the issue. If the problem persists, feel free to re-open the issue and ping me.

[2018-08-30 16:29] #955 closed

[2018-08-30 18:39] saurabhbansal90 commented on #1036
Please try with upgraded MoveIt!

[2018-08-30 22:30] 130s commented on #1000
Can anyone list the ticket numbers that need to be addressed before Indigo release?

[2018-08-31 03:17] v4hn commented on #1000
None to the best of my knowledge.

[2018-08-31 13:52] pet1330 commented on #659
@bmagyar, @v4hn @davetcoleman
I was just wondering if anyone had found a solution to this issue yet? I found the same issue on ros-planning/moveit_tutorials#164

[2018-09-01 04:41] v4hn commented on #659
These error messages are related to a change in semantics we did a while ago.
The code is still fully functional.

Previously a lot of MoveIt code assumed it can take a current RobotState
and apply any `sensor_msgs::JointState` or `moveit_msgs::RobotState` as a diff to it
using the conversion functions in `moveit/robot_state/conversions.h`.

However, since the conversion function expects only vali

[2018-09-01 16:07] 130s commented on #1000
Ah, then I might have misunderstood the few previous posts like https://github.com/ros-planning/moveit/issues/1000#issuecomment-413307231. So now my understanding: indigo release is ready (and it has been...turned out I've just slacked off from it. I thought there were blockers). I'll get to it this weekend.

[2018-09-01 16:14] MohmadAyman commented on #1034
Open pull request #1042 to solve this issue.

[2018-09-01 17:12] rhaschke commented on #1000
I think #1000 was mainly addressing Kinetic/Melodic blockers - despite the original issue title ;-)

[2018-09-01 21:28] zubair123khan commented on #1015
To be added, i have read the document given by @v4hn and i have not seen in anywhere the documentation for how can i actually provide the coordinated of the object from my image processing node ? can you please help !!

[2018-09-02 07:40] atzzy opened #1043 "Obstacle does not clear from map after being removed in gazebo"
I placed an obstacle in Gazebo at Position A. However after I move the object from position A to B, the map does not clear the obstacle. I attached an image of this issue. One observation was that when I placed the obstacle in front of a static background (like a wall), and then move the obstacle away, the obstacle clears partially. This problem seems to occur only when there is no static backgrou

[2018-09-02 12:37] xaver-k opened #1044 "floating joints not initialized correctly in moveit_ros_visualization/PlanningScene-display"
### Description

When using floating joints and the `moveit_ros_visualization/PlanningScene`-display in Rviz, the transformation for the floating joints is not displayed correctly until we change a 1-DOF joint.

In most cases, it looks like the visualized robot model is offset to what TF and RobotModel are showing.

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Source, gi

[2018-09-04 14:55] felixvd opened #1048 "Catch contradicting goal constraints"
I got held up by [this simple bug](https://answers.ros.org/question/299979/moveit-plan-fails-after-attaching-an-object-but-not-from-rviz-or-after-restarting-requesting-node/). It would be nice if this kind of error was caught and the user alerted.

The check could simply be if multiple goal pose and orientation constraints exist although the group consists of a single chain (or has 7 DOF or less,

[2018-09-06 00:54] davetcoleman commented on #1034
Closed for now by https://github.com/ros-planning/moveit/pull/1042, reopen if build farm still is failing

[2018-09-06 00:54] #1034 closed

[2018-09-06 00:57] davetcoleman commented on #1000
Indeed, this issue was suppose to just be about releasing kinetic.

@130s let's get that released! :-)

[2018-09-06 01:37] felixvd commented on #975
I'm not sure what exactly you're requesting. Is this not possible already? For what it's worth, the way we align the interactive marker is to make the tip link of the robot the tip link of the gripper. From our moveit_config's SRDF:

    <group name="c_bot">
        <joint name="c_bot_shoulder_pan_joint" />
        <joint name="c_bot_shoulder_lift_joint" />
        <joint name="c_bot_elbow_joint"

[2018-09-06 01:41] felixvd commented on #991
You should post this on [ROS Answers](https://answers.ros.org/) with some more troubleshooting info and clarifications. I don't really understand when your problem happens and when it doesn't, for example. This page is not the right place though, most likely.

[2018-09-06 01:43] felixvd commented on #952
You should post this on [ROS Answers](https://answers.ros.org/) and provide more detail. This is not a MoveIt issue.

[2018-09-06 01:44] felixvd commented on #941
Any update?

[2018-09-06 01:45] felixvd commented on #914
I suppose it's just about submission time. Any updates?

[2018-09-06 01:46] felixvd commented on #643
Is this done?

[2018-09-06 01:47] felixvd commented on #588
So this can be closed.

[2018-09-06 07:08] gavanderhoorn commented on #914
@Magnusgaertner's branches: [Magnusgaertner/moveit/branches/all](https://github.com/Magnusgaertner/moveit/branches/all).

Diff with `kinetic-devel` (where the main development seems to happen): [kinetic-devel...Magnusgaertner:kinetic-devel](https://github.com/ros-planning/moveit/compare/kinetic-devel...Magnusgaertner:kinetic-devel).

[2018-09-06 07:47] AndriyPt commented on #643
@felixvd I have managed to add small amount of tests. Maybe it will make sense to keep it open till next MoveIt day :)

[2018-09-06 12:15] simonschmeisser opened #1050 "RobotState Display broken on DE locale on melodic"
### Description

I just finished an experimental port of our software to Melodic/Bionic. The RobotState rviz plugin unfortunately shows all positions of links as "0 0 0". All links of the robot are also displayed centered at the origin. Colors also fail for unknown reasons.
![screenshot_20180906_141027](https://user-images.githubusercontent.com/372442/45156694-30d6b180-b1df-11e8-8e2b-05d48464d31e.

[2018-09-06 12:16] gavanderhoorn commented on #1050
This is probably https://github.com/ros/urdfdom_headers/issues/41.

Note also https://github.com/ros/urdfdom_headers/issues/45.

[2018-09-06 12:29] #588 closed

[2018-09-06 22:10] timonegk opened #1052 "Compilation of moveit_ros/visualization fails because of boost::mutex"
### Description

Compilation of moveit_ros/visualization for melodic fails because of `boost::mutex`

### Your environment
* ROS Distro: Melodic
* OS Version: Arch Linux
* Source build
* Branch melodic-devel (c2ab8a8feb6d1fca126348d5deb0bd8db1f87a8c) (but also in releases, e.g. 0.10.1, 0.9.9)

### Steps to reproduce
[code]

### Expected behaviour
The package should compile successfully

### Actual

[2018-09-07 08:30] rhaschke commented on #1052
You should switch to the melodic-devel branch after cloning!

[2018-09-07 08:40] rhaschke commented on #1052
Probably, your issue is related to your OS, indeed.

Please file a PR adding this missing include.

[2018-09-07 10:10] AndreaIncertiDelmonte commented on #943
@mintar the DepthImageOctomapUpdater is still not included into the _ros-kinetic-moveit-ros-perception                          0.9.12-1xenial-20180825-015504-0800_. Is the regression still in place? Would it be included in the next version of the package?

[2018-09-07 11:31] rhaschke commented on #943
We didn't have a new release yet. #954 fixes this and will be part of the next release.

[2018-09-07 14:54] AndreaIncertiDelmonte commented on #943
@rhaschke thanks :)

[2018-09-09 09:34] timonegk commented on #1052
Closed in 83a8a6f2d67bb46712f13a3266687bb17c9724ce

[2018-09-09 09:34] #1052 closed

[2018-09-10 08:58] jschleicher commented on #975
So you would modify the robot SRDF for every gripper (should be possible) but furthermore modify the inverse kinemtics solver to calculate joint angles for this additional link. We have an optimized ikfast-based solver in the robot package that we do not suggest the user to re-generate.

I'd suggest to have a drop-down in the motion planning plugin panel (as for the planning group), where one can

[2018-09-10 10:01] wanderhappy opened #1058 "Add goal orientation tolerance around three axis in move_group_interface"
### Description

Add the function of set_goal_orientation_tolerance around three axis(x y z) in move_group_interface. Now it can only set the tolerance as a whole. It is really useful when planning a picking task with suckers. If the gripper or sucker is axial symmetry, no need to set the angle around the axis.
### Your environment
* ROS Distro: [Kinetic]
* OS Version: e.g. Ubuntu 16.04
* Source o

[2018-09-11 00:35] felixvd commented on #975
I think being able to set the interactive marker is a reasonable expectation, but I am not sure how well it works with the underlying implementation. I haven't looked at the code behind Rviz much.

[2018-09-11 03:14] v4hn commented on #975
There is code in place that will automatically account for fixed transforms between your IK solver tip and your tool point,
so you don't have to change your IK solver.

The drop-down menu sounds like a nice extension.
At the moment, the links for InteractiveMarker are decided behind a number of levels of abstraction
and are based on what you defined as `end_effector`, whether the group has a chain

[2018-09-11 03:17] v4hn commented on #1058
Please provide a patch.

[2018-09-11 04:04] felixvd commented on #1041
I set out with this these ToDos last week:

* Allow the definition of child frames for CollisionObjects
* Allow the CollisionObject child frames to be used as the end effector link in planning requests (when attached to the robot) and as targets when defining goals
* Allow CollisionObjects to be connected and behave as a single rigid object

I managed to do the first and second, and dropped the th

[2018-09-11 04:07] #868 closed

[2018-09-12 13:09] gstavrinos opened #1062 "Duration is out of dual 32-bit range"
Dear MoveIt! developers,

### Description

After updating my Ubuntu packages (and later cloned the latest kinetic-devel branch) I keep getting the error ` 'std::runtime_error'  what():  Duration is out of dual 32-bit range` after almost each successful plan execution. The error is encountered both by sending goals from rviz and code.

### My environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 1

[2018-09-12 13:26] gavanderhoorn commented on #1062
The first thing to check is whether you've upgraded *all* your ROS pkgs. So `sudo apt-get upgrade` should not show any ROS pkgs with outstanding updates.

[2018-09-12 13:28] gstavrinos commented on #1062
Sorry my answer was not detailed enough. Before trying to compile my catkin workspace, I tried upgrading but apt found nothing new.

(0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.)

[2018-09-12 13:32] Magnusgaertner commented on #914
@felixvd there are about two months till submission ;)
A first setup is working allowing to use ie Stomp with an collisionchecker that uses CollisionSpheres computed out of the collision geometry of the robot which are checked against an esdf world representation generated by voxblox's esdf server. However, the integration of a different map type, not just a collision checking plugin that sideload

[2018-09-12 13:37] gavanderhoorn commented on #1062
I'm not claiming it is the reason, but because of all the other reports of ABI breaks it was a good thing to check.

You're reporting this issue with both the current `.deb`s as well as a source build, correct?

[2018-09-12 13:42] gstavrinos commented on #1062
Thanks for your help. You are correct, I have the latest binaries and the latest source. I will keep an eye on ROS answers and on the issues here, for candidate solutions.

Thanks again.

[2018-09-12 13:42] skohlbr commented on #1062
To be more precise: A complete, clean rebuild of the workspace is required, not just compiling again. We also ran into this a few days ago.

[2018-09-12 13:44] gavanderhoorn commented on #1062
@skohlbr wrote:

Yes, indeed.

However, as the OP reports the same issue with the latest `.deb`s, it seems unlikely this is the same ABI break as reported on ROS Answers (unless the `.deb`s have not been properly rebuilt).

[2018-09-12 13:55] gstavrinos commented on #1062
Thanks for joining in, on the discussion. I followed your advice and just finished compiling with a clean workspace (removed both `build` and `devel` folders). Unfortunately the problem persists.

[2018-09-14 08:27] felixvd commented on #1041
For now it's mostly work to understand the state of things :)

I work on factory automation and manipulation applications, where setting up the robots/actions/pipelines takes up significant amounts of time, and is often solved by constraining the position of parts using specialized jigs/end effectors and playing back manually taught positions in the joint space.

One of my short-term goals is to r

[2018-09-17 10:18] arrfou90 commented on #697
I had the same issue   (it is a dependency issue: curl-openssl version).  I solved it by removing curl-openssl that was installed inside Anaconda2.

[2018-09-17 22:11] keerthanamanivannan opened #1063 "Get joint values from SRDF"
### Description

Get joint values specified in the `group_state` in the SRDF in moveit_config

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Binary Build
* Binary release version: 0.9.12-Alpha

I realize that this is not an issue per se, but more of a question. I posted in answers.ros.org and I haven't gotten any replies, thus I am posting here.

Say, I have three poses o

[2018-09-17 23:15] keerthanamanivannan commented on #1063
ok, I see that `get_named_target_values` haven't been exposed in [here](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_commander/src/moveit_commander/move_group.py). I guess I can expose it and make a PR or something.

[2018-09-18 06:03] rhaschke commented on #1063
Yes, you are welcome to file a PR.

[2018-09-18 15:59] AIWintermuteAI opened #1064 "IK failed, Manipulation plan failed at stage 'reachable & valid pose filter'"
### Description

I'm using MoveIt to control 4-DOF robotic arm I built myself. The first stage is documented here
https://steemit.com/robot/@wintermuteai/ros-moveit-robotic-arm
I'm at the second stage now, where I'm trying to use Python API for pick and place pipeline. First the arm goes to the pre-grasp pose using set_pose_target command, which arm can execute 80 percent of the time.
But pick ope

[2018-09-18 16:32] v4hn commented on #1064
(1) You don't have to go to a pre-grasp pose yourself with the pick-pipeline, it should take care of that

(2) Inverse kinematics for your grasp failed, so the grasp you specify cannot be reached by your gripper - or your IK solver at least thinks so

(3) The Pipeline expects to be able to do Cartesian movements along the retreat and approach directions. This might be a problem with only 4DOF (it

[2018-09-19 02:11] pingplug opened #1065 "set_max_{velocity,acceleration}_scaling_factor not working in compute_cartesian_path"
Why use 1.0 (max velocity) there?
https://github.com/ros-planning/moveit/blob/54d516a4e6fdc5db9dfcba4da9e916d807ea312a/moveit_ros/move_group/src/default_capabilities/cartesian_path_service_capability.cpp#L158

[2018-09-19 03:58] AIWintermuteAI commented on #1064
1) Okay. I saw it in the tutorial and many people seem to specify the pre-grasp pose, so I assumed it's necessary. If not, even better.
2) Any way to check the location of grasps? Maybe with markers in RVIZ?
3)That might be an issue, because as I mentioned arm kinematics does seem to be a little weird with KDL and TracIK plugins. I guess I'll have to generate IKfast plugin... Any idea which kinema

[2018-09-19 06:50] v4hn commented on #1064
1. You have to *specify* it implicitly in the Grasp message, but you don't have to move the robot there before grasping.

2. We are currently working on [a replacement for this pipeline](https://github.com/ros-planning/moveit_task_constructor). It's not as straight-forward to use as the pick function yet, but visualizes a lot of useful feedback ootb. There will be a talk about it in two weeks at R

[2018-09-19 06:50] #1064 closed

[2018-09-19 07:18] v4hn commented on #1065
Because the GetCartesianPath service interface we use with this capability does not have the fields to request user-defined max velocity/acceleration values.

Feel free to file pull-requests for the melodic-devel branches (we are still willing to change message formats there) for moveit_msgs and moveit_ros/planning_interface/move_group_interface (and possibly the python wrappers if they have to be

[2018-09-20 19:00] gavanderhoorn commented on #1062
I'm still not convinced this is not the ABI incompatibility.

We have a large nr of Q&As on ROS Answers about this and it's almost always resolved by updating all packages and rebuilding the workspace.

A simple `catkin b` doesn't work, you'll have to really clean it out first then rebuild.

[2018-09-21 07:00] gstavrinos commented on #1062
I cleaned all of my catkin workspaces, updated all my packages and had no chance. I tried this routine everyday, before starting to work on my regular stuff, and suddenly yesterday I had no crashes. I am not sure if I was lucky or it was actually fixed, but it seems to be fine for now...

[2018-09-21 07:53] dav45 opened #1066 "Kinematics plugin fails to load"
Hello! Newbie here. I am trying to do some motion planning for 7-DOF kinova jaco robot arm. The files were made using Ubuntu 14.04 with ROS Indigo but I need to load them on Ubuntu 16.04 for my application. I updated all the moveit Cmakelists.txt files by adding add_compile_options(-std=c++11) at the start of all of them and it allowed me to roslaunch the robot arm on Ubuntu 16.04 and view it but

[2018-09-21 12:30] gavanderhoorn commented on #1066
According to this you don't have any of the kinova plugins configured for the `arm` group.

The problem is that the MoveIt config has specified the `trac_ik_kinematics_plugin/TRAC_IKKinematicsPlugin` as the IK solver for `arm` ([here](https://github.com/Kinovarobotics/kinova-ros/blob/949c8b22e54cbb108bb28cb3d14e99c299cb9c58/kinova_moveit/robot_configs/j2n6s300_moveit_config/config/kinematics.yaml#

[2018-09-21 12:31] gavanderhoorn commented on #1066
As this does not appear to be an issue with MoveIt, I'm closing this.

If you still have issues and believe they are in the MoveIt packages, please re-open and clarify.

[2018-09-21 12:31] #1066 closed

[2018-09-21 12:31] gavanderhoorn commented on #1066
Also: could you please post questions regarding configuration issues on ROS Answers?

[2018-09-21 20:26] dav45 commented on #1066
@gavanderhoorn Thank you for the help! I will look into how to install all dependencies properly and will remember to post my questions regarding configuration issues on ROS Answers.

[2018-09-23 12:50] v4hn opened #1067 "get_planning_scene with 0-component should return complete scene"
Currently, the `/get_planning_scene` service returns an empty scene message when the request field has `components` set to 0. I believe it would be more useful if the service would return the *full* planning scene in this case.

It is cumbersome and error-prone to specify each and every bit (i.e. bitmask 1023) explicitly for each full call.

It should be validated throughout MoveIt whether we call

[2018-09-24 06:43] gavanderhoorn commented on #1067
`(~0) & 0x3FF`?

[2018-09-24 14:40] saqrhmad7 opened #1068 "Remote center of motion using moveit"
### Description

I am using 7 DOF Franka robot to perform remote center of motion (RCM) for minimally invasive surgery research.
Actually, I don't know much ways to perform RCM, so I took the easiest way by using a sphere formula to find the coordinates of movement.
I computed the points and use an inverse kinematics solver (TRAC-IK).
The problem is the way the robot moves, not a straight Ecludian

[2018-09-24 20:14] v4hn opened #1069 "select planning group in planning tab"
For a few years now, it frustrates me that the MotionPlanning display property is the only way to change the active planning group.
The user has to expand the properties of the display, expand the properties of "Planning Request" only to change the planning group property.

With multi-arm setups or setups that model the gripper as a planning group, this is very annoying.

I propose to add a drop-d

[2018-09-26 05:36] otamachan commented on #1062
Hi, just FYI, I encountered the same issue and I found that ABI breaking change was introduced to `rostime` by this [PR](https://github.com/ros/roscpp_core/pull/82). This was released on [Sep 06th](https://discourse.ros.org/t/new-packages-for-kinetic-2018-09-06/5983).

[2018-09-26 08:26] RoboticsYY opened #1070 "Extending MoveIt with hand-eye calibration"
Hi,

I'm making some effort to add a new screen to the MoveIt Setup Assistant tool for the hand-eye calibration. I would like to get some feedback and suggestions. The reason of why I'm doing this is hand-eye calibration is a key process for the vision-based robot motion planning. If someone want to make a hand-eye calibration, he can find several ROS packages (see list below).
* [industrial_calib

[2018-09-26 10:14] felixvd commented on #1070
There is nothing in MoveIt to my knowledge, but I remember [the easy-handeye package](https://github.com/IFL-CAMP/easy_handeye) that was presented at ROSCon last year ([video](https://vimeo.com/236146613)). It was apparently not easy enough for 5 different researchers that I have proposed it to, so there is room for improvement.

[2018-09-27 05:28] felixvd commented on #1070
I can confirm that it is still a challenge for many non-computer-vision people to determine the position of a camera, so your efforts are welcome. Just be aware of [this](https://xkcd.com/927/) and [this](https://blog.trello.com/science-backed-reasons-you-shouldnt-share-your-goals) and keep it simple.

It is a good idea to start by making something you want to use yourself, instead of something yo

[2018-09-27 10:03] RoboticsYY commented on #1070
@felixvd Thanks for your advice! :smile:

[2018-09-27 12:55] Magnusgaertner opened #1071 "save_map / load_map broken?"
### Description

I have setup move_group with an octomap_monitor that builds up a map from PointCloud data. Then I call move_group/save_map. However, if I try to load the saved map with move_group/load_map after shutting everything down and launching demo.launch no Scene Geometry is displayed. Can someone reproduce this behavior?

I ran into this as I tried to implement the save/load functionality

[2018-09-27 20:12] moucrob opened #1072 "Problems with moveit setup"
### Description
3 issues when installing...

### Your environment
* ROS Distro: [Kinetic]
* OS Version: e.g. Ubuntu 16.04

### Steps to reproduce
1) Hello, when following this http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/getting_started/getting_started.html, after running :
`rosdep install -y --from-paths . --ignore-src --rosdistro kinetic`
I get
`E: Unable to locate package ros-kinet

[2018-09-29 03:02] BryceStevenWilley commented on #1072
Hey @moucrob, this sort of question is best suited for [ROS Answers](https://answers.ros.org/questions/). In general, setup, debugging questions, and things that aren't bugs in MoveIt itself should be posted there. With regards to your problems:

1. This suggests something is strange with your ROS install. The only [similar issue](https://answers.ros.org/question/267169/unable-to-locate-package-ro

[2018-09-30 16:21] v4hn opened #1073 "Eigen::Affine3d and SVD"
As @Levi-Armstrong and @Jmeyer1292  just pointed out in their presentation at ROSCon, there is a nonsensical performance bottleneck in MoveIt at the moment because we use Affine3d (wrongly?).

Specifically, I just verified that calling [`Affine3d::rotation() const`](http://eigen.tuxfamily.org/dox/classEigen_1_1Transform.html#title59) actually computes SVD in the background.

We clearly want to cha

[2018-10-01 22:49] grafoteka opened #1074 "Move It! polar robot configuration not moving second joint"
### Description

Hi all! I'm fighting to create a polar robot configuration with Move It.

The polar robot has 3 joints: rotational, rotational and prismatic.

![Polar robot](http://www.robotpark.com/academy/PG/Spherical-Robots-Robotpark.png)

I have model it in a xacro file and can move it with problems in Rviz with fake controllers.

[Rviz simulation](https://youtu.be/aMUPI4bxpEo)

Here is the x

[2018-10-02 07:56] gavanderhoorn commented on #1074
Cross-post of [Move It! polar robot configuration not moving second joint](https://answers.ros.org/question/304617) on ROS Answers.

[2018-10-02 14:57] grafoteka commented on #1074
Hi @gavanderhoorn , I post in both sites because I don't know which should be the correct place. If you think that is better, I can remove one.

[2018-10-02 15:02] grafoteka commented on #1074
I have continue trying to move the robot, and what I have discover is that it can move to any place with the random option:
![Random option](https://user-images.githubusercontent.com/7115092/46357265-151dca00-c62a-11e8-94fe-bbf53c215ac5.png)
But still can't do it with the sphere
[Link to Youtube](https://youtu.be/474T07SVSWc)

[2018-10-02 15:21] mikeferguson commented on #1074
So I think the difference here is that interactive markers (the "sphere") depends on IK, whereas the "random valid" does not. Since you only have 3 DOF, the IK is probably failing since it can't match the orientation of the marker.

[2018-10-02 15:56] grafoteka commented on #1074
Hi @mikeferguson. I have just discover that with the answer ros #95626.

The solution is to add in kinematics.yaml the next line:

 `position_only_ik: True`

So, this is solved!

[2018-10-02 15:56] #1074 closed

[2018-10-02 23:57] skohlbr commented on #1073
Oh, that's pretty ..interesting. Just came across https://github.com/dartsim/dart/issues/767 and https://github.com/flexible-collision-library/fcl/issues/317, which also contain related discussion (and same conclusion).

[2018-10-03 09:02] moucrob opened #1075 "Cannot connect to warehouse database"
### Description

https://answers.ros.org/question/304528/moveit-benchmarking-cannot-connect-to-warehouse-database/

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04
* Binary build desktop full

### Steps to reproduce

`roslaunch panda_moveit_config demo.launch db:=true` and click 'connect' in the motion planning display, if not provided add the motion planning display by cli

[2018-10-05 16:48] 130s commented on #1000
Sorry to keep this pushed back. Will be done by WMD 2018.

[2018-10-05 17:34] grafoteka opened #1077 "Save trajectory to file"
### Description

I would like to save the path that my end effector follows into a file.

![Path generated](https://user-images.githubusercontent.com/7115092/46549400-79919100-c897-11e8-9212-42e9e4694564.png)

As you can see in the picture, my intention is to save all the points that are drawn in RViz.

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Source

### Steps to re

[2018-10-08 18:54] sjhansen3 commented on #943
Is this fixed in the latest release @davetcoleman ?

[2018-10-08 21:27] kdorsel opened #1080 "Undefined symbols for architecture x86_64"
### Description

Build is failing with undefined symbols for x86_64

### Your environment
* ROS Distro: Melodic
* OS Version: e.g. OSX 10.13.6
* Source or Binary build? Source
* If source, which git commit or tag?  43993ca (melodic-devel Oct 6)

### Steps to reproduce
[code]

### Expected behaviour
build without error

### Actual behaviour
build error

### Backtrace or Console output
[code]

[2018-10-11 08:56] felixvd commented on #566
You can fork [this project](https://ros-planning.github.io/moveit_tutorials/) and submit a pull request when you are ready.

[2018-10-11 08:59] felixvd commented on #1069
I would even go as far as putting radio buttons underneath the "Plan&Execute" button instead of a dropdown menu. It could be a dropdown when 5+ groups exist, but I believe this is the exception. Radio buttons would save hundreds of clicks.

[2018-10-12 08:55] simonschmeisser opened #1082 "PlanningScene::getOctomapMsg/processOctomapMsg do not lock Octomap"
### Description

We had some crashes here when we called PlanningScene::getOctomapMsg while in another thread the Octomap of another PlanningScene was modified. Turns out there only actually is one Octomap shared between all PlanningScenes that you clone. This is fine in our use case.

However getOctomapMsg (and processOctomapMsg) should then lock the shared Octomap.

https://github.com/ros-planni

[2018-10-13 21:53] davetcoleman commented on #925
@IanTheEngineer as discussed at ROSCon, can we move this forward? We really need to have this before World MoveIt! Day on Oct 25th...

Can we just use ugly compiler defs with a ``// TODO: remove after dropping Ubuntu 16.04 support`` ?

[2018-10-13 21:55] davetcoleman commented on #1000
friendly ping @130s

[2018-10-13 22:27] davetcoleman opened #1083 "2018 Fall Release Kinetic and Melodic"
- Run pre-release test and pass.
  - [x] Kinetic
  - [x] Melodic
- [x] Update changelog (populate new sections by `catkin_generate_changelog` then manually modify if necessary)
- [x] Tag a new version (utilize `catkin_prepare_release`)
- [x] Chomp release handling https://github.com/ros-planning/moveit/pull/1127
- [x] moveit_experimental release https://github.com/ros-planning/moveit/issues/1083#i

[2018-10-13 22:29] davetcoleman commented on #943
@sjhansen3 no I'm afraid not, see https://github.com/ros-planning/moveit/issues/1083

[2018-10-14 14:25] rhaschke opened #1084 "function cleanupWaypoints()"
To solve issue #737 in a clear fashion, I propose to add a utility function `cleanupWaypoints()` which can be called by time parameterization methods to remove identical consecutive waypoints.

[2018-10-14 18:58] davetcoleman commented on #1084
I'm not convinced we need such an over-engineered solution that will also increase computation time in planning. The previous simpler proposal https://github.com/ros-planning/moveit/pull/737 addressed the issue we actually found in the wild: duplicate starting point due to understandable misunderstanding of the API. If someone wants to implement this ``cleanupWaypoints()`` issue that is great, but

[2018-10-15 02:14] IanTheEngineer commented on #925
@davetcoleman yes, ugly compiler defines are an option. Despite their lack of a pleasing ascetic appearance, they actually might be desirable: for true backwards compatibility, I would need to create and maintain redundant tf2 buffers & listeners in both `kinetic` and `melodic`, but with compiler defines, I can use RViz's shared pointers to them (tf1 & tf2 respectively) as intended. I'll look into

[2018-10-15 15:18] stwirth opened #1087 "Multiple instances of OMPLPlannerManager provoke segfault in OMPL logger"
### Description

In the constructor of OMPLPlannerManager, an output handler for OMPL's logger is created and assigned to the OMPL library:

https://github.com/ros-planning/moveit/blob/54d516a4e6fdc5db9dfcba4da9e916d807ea312a/moveit_planners/ompl/ompl_interface/src/ompl_planner_manager.cpp#L100-L101

When a second instance of OMPLPlannerManager is created, a second output handler is created and OM

[2018-10-15 19:38] BrettHemes commented on #642
This is interesting to my efforts.  I am generating custom joint trajectories and would like to do a sanity check on them before executing.  The `isPathValid` seems to be a solution.  I can add a planning scene object into my planning class but I believe a service would be a better fit possibly?  One concern I have is diverging planning scenes between my local scene and the "global" move group sce

[2018-10-15 19:47] BrettHemes commented on #642
Also, it seems validity is a combination of collision and "feasibility" checking.  What exactly is feasibility?

[2018-10-15 22:18] grafoteka opened #1088 "14 DOF: Unable to connect to ROS service client with name: /solve_ik"
### Description

I have design a 14 DOF robotic arm and follow the setup moveit tutorials. But when I launch the demo.launch I get the next error:

`Unable to connect to ROS service client with name: /solve_ik`

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Source

### Steps to reproduce
Here is the [repo](https://github.com/grafoteka/Fotokite_arm) of the project. You anl

[2018-10-16 08:55] gavanderhoorn commented on #1088
A bit pedantic, but all solvers "in MoveIt" are plugins, so technically they are not part of it.

We provide a few default ones (and integrate with a few) but that is something else.

That should not be necessary.

And I actually believe your problem is caused by something else:

You configured the `arm` group to use the `cached_ik_kinematics_plugin/CachedSrvKinematicsPlugin` ([here](https://githu

[2018-10-16 13:00] rhaschke commented on #1073
Fix provided in #1091.

[2018-10-16 14:59] grafoteka commented on #1088
Hi @gavanderhoorn,
you were right! Now, I have change to KDL solver, and I can moveit through  a node, but not manually in RViz.

[2018-10-16 16:44] BrettHemes commented on #642
Does feasibility capture velocity bounds by chance?

[2018-10-16 16:53] #1088 closed

[2018-10-17 07:32] davetcoleman commented on #1016
Agreed, this issue is too problem specific and lacks actionable details

[2018-10-17 07:32] #1016 closed

[2018-10-17 07:34] davetcoleman commented on #894
I believe this can now be closed. Congrats @MohmadAyman for a very successful GSoC project! Your continued involvement in MoveIt! including code review and code contributions are always welcomed :100:

[2018-10-17 07:34] #894 closed

[2018-10-17 19:19] srsidd commented on #840
This is no longer an issue since #883 addressed it and has been merged.

[2018-10-17 19:19] #840 closed

[2018-10-17 20:42] jonbinney commented on #1087
@stwirth that wouldn't work with multiple threads, right? It assumes that while an `OMPLPlannerManager` is in context, that is in the only thread using OMPL? Consider the following case:

OMPLPlannerManager A created (stores old output handler and sets new one)
OMPLPlannerManager B created(stores output handler that was set by A and sets new one)
OMPLPlannerManager A destroyed (restores handle tha

[2018-10-18 02:45] davetcoleman commented on #1073
Glad you are pushing on this! Out of curiosity can we benchmark the performance difference?

[2018-10-18 03:49] davetcoleman commented on #925
I wanted to test this setup so documented melodic on 16.04:
https://github.com/ros-planning/moveit.ros.org/pull/205

[2018-10-18 04:28] davetcoleman commented on #928
I'd like to switch to the melodic branch in time for World MoveIt! Day - this seems like a good time to have everyone help us test the new LTS and target changes there. We shouldn't be breaking kinetic at this point. Thanks to @IanTheEngineer we're very close to this: https://github.com/ros-planning/moveit/issues/925

I've just forked the tutorials and updated the website:
- https://github.com/ros

[2018-10-18 07:17] rhaschke commented on #1073
@Levi-Armstrong reported on some benchmarks as ROSCon, didn't he?

[2018-10-18 16:20] simonschmeisser opened #1100 "Chomp planning adapter not successful"
### Description

i just tried to test the new chomp planning adapter by following the moveit-tutorials PR https://github.com/ros-planning/moveit_tutorials/pull/220/files

 - [x]  OMPL (RRTConnect) generates a valid trajectory which CHOMP also considers valid
 - [ ]  Trajectory is still valid after CHOMP adapter
 - [ ]  it is actually more smooth/ improves clearance to obstacles

Is it supposed to

[2018-10-18 16:53] stwirth commented on #1087
@jonbinney you are right, my proposal only works if destruction occurs in reverse order of construction. A singleton output handler sounds like it could work. Another solution would be to change the OMPL library to allow a set of output handlers and register and de-register on construction and destruction, respectively. Something like
[code]

[2018-10-18 21:33] BidoMan opened #1101 "Editing initial/final velocities while using Iterative spline TP"
We're a group of students working on our bachelor's degree, We encountered a problem where we need to generate a sequence of trajectory goals (pose,velocity,acc) (Collision free) for a 6 D.O.F robot arm using ROS's moveit while the robot model and collisions are set in Rviz's environment, the main objective is for the robot to hit a ball with a racket so that's why we need to send a sequence of go

[2018-10-19 14:06] simonschmeisser commented on #1100
There are two cases, num_seeds < num_CHOMP where the seed points just get repeated and num_seeds > num_CHOMP where a few points get sampled and copied from the seed. This does not seem to work

if you seed it with a valid trajectory (almost always true in this use case) it will ignore max_iterations_after_collision_free ... so it does nothing

https://github.com/ros-planning/moveit/blob/75c5f32329

[2018-10-19 14:38] simonschmeisser commented on #1101
As far as I remember, initial and final velocities are ignored in iterative spline (I think actually all velocity information you give it is ignored). But you can copy-pasta the adapter and write your own one, it's no magic

[2018-10-19 14:39] pnambiar commented on #331
Hes this been resolved? I am getting the same error as well.
terminate called after throwing an instance of 'boost::exception_detail::clone_impl<boost::exception_detail::error_info_injector<boost::lock_error> >'
  what():  boost: mutex lock failed in pthread_mutex_lock: Invalid argument
Aborted (core dumped)

[2018-10-19 14:40] pnambiar opened #1102 "Movit commander throwing error"
terminate called after throwing an instance of 'boost::exception_detail::clone_impl<boost::exception_detail::error_info_injector<boost::lock_error> >'
  what():  boost: mutex lock failed in pthread_mutex_lock: Invalid argument
Aborted (core dumped)

#331 ## Description

Overview of your issue here.

### Your environment
* ROS Distro: [Indigo|Jade|Kinetic]
* OS Version: e.g. Ubuntu 16.04
* Source o

[2018-10-20 14:04] alxer opened #1105 "moveit gives many warnings and failed while executing in rviz"
### Description
Hi~
I try to use Fanuc industry robot to output a simple trajectory through moveit, the terminal gives me following warnings:
[ WARN] [1540042673.043170336, 8.779000000]: Dropping first 1 trajectory point(s) out of 14, as they occur before the current time.
First valid point will be reached in 0.719s.
[ WARN] [1540042676.810792933, 12.531000000]: Controller fanuc_m10ia/fanuc_m10ia_

[2018-10-20 22:59] 130s commented on #1083
Sure, I'm planning to make releases to K and M this weekend, unless there's objection (if there is, then please specify ticket numbers that need to be resolved).

[2018-10-21 00:08] rhaschke commented on #1083
@130s Maybe, you should start with Indigo first. For K and M, there a plenty of open pull requests and regressions open:
**Kinetic + Melodic**:
- [ ] #1103

**Melodic**:
- [ ] #1098 (moveit tutorials + panda release)
- [ ] #1096
- [ ] #1090

**Kinetic**:
- [ ] #1091
- [ ] #1056 ?

Probably, there is more.

[2018-10-21 00:13] 130s commented on #1000
Please hold backport to Indigo as I'm planning to make a release into Indigo very soon (I doubt there are maintainers who do this though).

[2018-10-21 06:34] 130s commented on #1000
Done https://github.com/ros/rosdistro/pull/19320

[2018-10-21 06:37] 130s commented on #1083
Thanks @rhaschke for the list.

Just FYI, I don't mind making multiple releases in the short course of period. So make a release now, then keep making patch releases as soon as a patch is accepted (making a release for many changes is the most time-taking part. Release with smaller changes is less costly IMO). Just saying.

[2018-10-21 07:11] 130s opened #1106 "[Indigo] pre-release test fails "class planning_scene_monitor::PlanningSceneMonitor’ has no member named ‘waitForCurrentRobotState'""
### Description

Ran a pre-release test locally for [Indigo v0.7.14](https://github.com/ros-planning/moveit/releases/tag/0.7.14) then got the following error in test section.

[code]

### Your environment
* ROS Distro: Indigo, Ubuntu 14.04
[code]
* Source build
* If source, which git commit or tag?: `0.7.14` tag

### Steps to reproduce

See the output above.

### Expected behaviour

Reaches the en

[2018-10-21 07:12] 130s commented on #1000
https://github.com/ros/rosdistro/pull/19320 is closed due to the pre-release test failure https://github.com/ros-planning/moveit/issues/1106.

[2018-10-21 10:12] rhaschke commented on #1106
I will have a look into this.

[2018-10-21 20:18] rhaschke commented on #953
Closing this as duplicate of #943.

[2018-10-21 20:18] #953 closed

[2018-10-21 20:44] rhaschke commented on #1106
@130s Hm, this is weird. I cannot find the issue.
[Both travis builds](https://travis-ci.org/ros-planning/moveit/builds/444274938) succeeded with compiling and testing this code - the only exception is `gtest-mesh_filter_test.xml`, which is known to be broken and unrelated. Will this failing test cause issues on the build farm too?

To track down this build issue, can you provide verbose build out

[2018-10-22 13:13] rhaschke commented on #1106
I've got an Indigo docker container running now. First thing, I observed is a circular package dependency: MoveIt defines a meta package `moveit_full_pr2`, which depends on:
`ros-indigo-moveit-pr2` -> `ros-indigo-pr2-moveit-plugins` -> `ros-indigo-moveit-core`
which explains that all MoveIt binary packages are installed in order to build MoveIt...

[2018-10-22 15:57] rhaschke opened #1109 "Correctly fix moveit_ros_perception's mesh filter"
Since #982, unit tests for `moveit_ros_perception` are disabled, [as the mesh_filter_test fails](https://travis-ci.org/ros-planning/moveit/jobs/403081276).
As the test passes on my side with an nvidia OpenGL setup, the issues seems to be related to Mesa OpenGL.
* Either there is a (newly introduced) bug in Mesa OpenGL - this test used to pass and we didn't change it for ages.
* Or the way to use t

[2018-10-22 19:10] rhaschke commented on #1106
OK, running the full pre-release test (without skipping _"build and install"_), I can reproduce the error.

[2018-10-22 22:36] Danfoa opened #1110 "Lightweight Task-Motion-Planning (Correlated/consecutive/dependent motions planning) - New Feature"
### Description

Hey, as suggested in the [contibuting tips](http://moveit.ros.org/documentation/contributing/) (and with the upcoming World MoveIt Day), I use this issue to formally ask if the addition of a light-weight task-oriented-motion planning functionality is a "good idea". **What I want to provide is a simple and higher level approach for the planning of motions that are correlated/consec

[2018-10-22 22:44] rhaschke commented on #1106
I think, the problem is indeed related to the circular dependency induced by `moveit_full_pr2`. Additionally, I believe there is a bug in catkin's [`list_insert_in_workspace_order`](https://github.com/ros/catkin/blob/kinetic-devel/cmake/list_insert_in_workspace_order.cmake) which is used to order `catkin_INCLUDE_DIRS` [here](https://github.com/ros/catkin/blob/kinetic-devel/cmake/catkinConfig.cmake

[2018-10-22 22:55] dirk-thomas commented on #1106
The functionality in `catkin` is backed by a Python function in `catkin_pkg` (https://github.com/ros-infrastructure/catkin_pkg/blob/58df8ca998e56661b700c489c6c6b7051f820e5e/src/catkin_pkg/workspaces.py#L71). The unit test implies that the function does what it is asked to do correctly (https://github.com/ros-infrastructure/catkin_pkg/blob/58df8ca998e56661b700c489c6c6b7051f820e5e/test/test_workspac

[2018-10-23 00:17] rhaschke commented on #1106
New pre-release test succeeded.

[2018-10-23 01:04] davetcoleman opened #1112 "Update README.md for Melodic"
The root README.md needs updated CI build badges for Melodic, and lunar needs to be removed as its no longer supported. Easy task for World MoveIt! Day:

![image](https://user-images.githubusercontent.com/561060/47328153-2bb5b080-d62d-11e8-9676-96bf2f738487.png)

I've updated it in the past using this script:
https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit/scripts/create_maintaine

[2018-10-23 01:20] WwYyFan opened #1113 "Using stomp with ur5 error"
### Description

When I using stomp with ur5 , terminal output error
[code]
my stomp_planning.yaml file
[code]
Can someone tell me how to slove it ?

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04

[2018-10-23 06:52] gavanderhoorn commented on #1110
Only leaving this here as it seems highly related (not to say anything about whether or not a contribution like you describe would be "ok" on WMD):

[MoveIt! Task Planning](https://vimeo.com/293432325) ([slides](https://roscon.ros.org/2018/presentations/ROSCon2018_MoveitTaskPlanning.pdf)):

[2018-10-23 06:53] gavanderhoorn commented on #1110
And I'm sure @v4hn and @rhaschke will add something as well.

[2018-10-23 07:00] felixvd commented on #1110
Such as the [link to the repo](https://github.com/ros-planning/moveit_task_constructor/tree/master)

[2018-10-23 07:06] gavanderhoorn commented on #1110
which is the one this issue was posted to, is it not?

[2018-10-23 07:20] felixvd commented on #1110
Unless my grasp on reality is fading, this issue is on /ros-planning/moveit, and I linked to the /ros-planning/moveit_task_constructor, which the talk that you linked is about.

[2018-10-23 07:56] gavanderhoorn commented on #1110
You're right, I was under the impression that MTC was already merged into the main repository.

[2018-10-23 10:42] Danfoa commented on #1110
Thank you very much, I had not found this repository or info about this project so far, maybe because the presentation was not so long ago.

I see now that what they are doing is a much more complete idea of what I had thought of.

Thank you very much for your answers.
PS: I will try to find a way to contribute to this project if I am allowed, or if the developers want some support I would be hono

[2018-10-23 10:42] #1110 closed

[2018-10-23 15:17] rhaschke commented on #1110
@Danfoa Hm. Looks like my answer from last night is somehow lost. github had issues yesterday...
Nevertheless, of course you are very welcome to contribute to this project. To start with, I suggest you start with the demos at https://github.com/ubi-agni/mtc_demos, try to adapt them to your use cases and report about usability.
If you still want to contribute on WMD, we are happy to see some tutori

[2018-10-23 16:48] rhaschke commented on #1083
Agreed.

I think we should get this merged in asap, as this is a huge incompatible API change!
It's not easily possible to pass-in Affine3d types to Isometry3d arguments.

Personally, I don't mind. I'm working on the source tree anyways. Maybe, you should ask people who actually care about API stability, like @v4hn or ROS-industrial folks. But probably they don't want to use the fresh Melodic rele

[2018-10-23 17:40] 130s commented on #1000
Steps to do to make this release happen:
- [ ] Resolve circular dependency -> PR https://github.com/ros-planning/moveit/pull/1111
- [ ] Update rosdistro indigo about the moveit_full_pr2 relocation (currently its [in moveit](https://github.com/ros/rosdistro/blob/d578284e09cfefefa780b6f06d7ae5767d33b58a/indigo/distribution.yaml#L7461) section).
  - While this can be done either by making release of

[2018-10-23 17:59] 130s commented on #1083
API change should be discussed carefully IMO. Right now without #1096 merged in yet, API is kept, meaning #1096 shouldn't block the release.

To me all is cleared. I plan to make a release today.

[2018-10-23 21:51] davetcoleman opened #1114 "Create "Related projects" webpage"
Re-post of @v4hn's issue for improved visibility from https://github.com/ros-planning/moveit.ros.org/issues/164:

Some random packages that come to my mind off the top of my head:
https://github.com/ros-industrial/industrial_moveit
https://github.com/TAMS-Group/move_group_online_collision_predictor
https://github.com/TAMS-Group/bio_ik
https://bitbucket.org/traclabs/trac_ik
https://github.com/davet

[2018-10-23 21:54] 130s commented on #1083
(@ros-planning/moveit-maintainers Please hold merge. I've already been running in the release pipeline locally.)

[2018-10-24 01:41] davetcoleman commented on #928
All MoveIt! repos have been updated to use Melodic branch by default, except where no Melodic branch existed.

[2018-10-24 01:41] #928 closed

[2018-10-24 06:38] rhaschke commented on #1110
@Danfoa One next important step for MTC is to provide a drop-in-replacement for MoveIt's pick-and-place capability (and a corresponding updated of the [tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pick_place/pick_place_tutorial.html)). If you are interested in doing this, please inform us.

[2018-10-24 07:32] Danfoa commented on #1110
@rhaschke Yes I could do that, I have been reading the [core package](https://github.com/ros-planning/moveit_task_constructor/tree/master) code to try to understand how you guys structured the programming, I will have another look after reviewing again your ROSCon presentation, but I believe is easy to understand. Do you already know roughly what feature should show and not show the tutorial?
PS:

[2018-10-24 08:54] v4hn opened #1115 "RViz broken Interactive Marker in "Scene Objects" Tab"
The MotionPlanning panel provides a tab called "Scene Objects" that can be used to move objects in the PlanningScene maintained by `move_group`.
In order to do so, the user chooses one of the objects in the scene from the list on the left and an interactive marker appears that can be used to move the object.

![scene_objects](https://user-images.githubusercontent.com/680358/47417029-5875df00-d777-

[2018-10-24 08:57] npd26 commented on #1114
Also for this,
https://github.com/TAMS-Group/moveit_gpd_pick_object
Tutorial for how to integrate GPD with Moveit?

[2018-10-24 09:01] simonschmeisser opened #1116 "Document robot padding and add sample config to Setup Assistant"
MoveIt! has some capabilities for adding padding in between Robot and Scene Objects. Also per Link and for attached objects. There does not seem to be any documentation/tutorial however and it does not seem to be setup/prepared in MoveIt! Setup Assistant

Look here for a related commit:
https://github.com/ros-planning/moveit/commit/c949b69b3e473e754473f93b1a53be00cc6fbfb1

This could be handled at

[2018-10-24 09:10] v4hn opened #1117 "Choose planning group through MotionPlanning *Panel*"
Everyone using the RViz MotionPlanning display with more than one planning group has encountered this issue before:

To choose a specific planning group, the user has to unfold the display's properties & the `Planning Request` properties-section to select a different group.
This is very cumbersome, especially during robotic demonstrations, and it makes life harder for newcomers for no reason.

![p

[2018-10-24 09:17] v4hn opened #1118 "Default Planning Group"
This is somewhat related to #1117 by use-case, but an independent issue:

When a MotionPlanning display in RViz is first created, it automatically selects the first Planning group *by alphabetical order*. That behavior is nonsense from the user's point-of-view.
Instead, the author of the moveit config package should be able to influence the default without changing group names.

Possible solutions

[2018-10-24 09:29] v4hn opened #1119 "Normalize Quaternions"
The PlanningScene class does not always correctly normalize quaternions in new collision objects.

Here, the unnormalized w-component is normalized correctly:
[code]

But when another component is set, this suddenly fails:
[code]

[2018-10-24 09:38] v4hn commented on #1116
This involves a lot of digging through the code first of all, to understand (and document!) *what* is supported *where* at the moment. If I remember correctly this functionality was not implemented on all levels of the framework.

It would be  very valid outcome of this work package if we had some new issue(s) that point to specific code lines and ask for better support/new interfaces in specific

[2018-10-24 09:59] v4hn opened #1120 "move_group should fill in current state"
This is a continuation of #661. Here a quick summary:

With more planners tested with MoveIt in general usage, we noticed a minor interface issue for `MotionPlanRequest`:
With the current semantics,  an empty `start_state`, as generated by the `MoveGroupInterface`, implies that the `move_group` node should assume the current state of the system as the start state for planning.
However, this is cur

[2018-10-24 10:15] v4hn commented on #925
This seems to be resolved, although I did not test it myself yet.

[2018-10-24 10:15] #925 closed

[2018-10-24 10:27] v4hn opened #1121 "robot_trajectory::RobotTrajectory as standard container?"
The `robot_trajectory::RobotTrajectory` class is basically a wrapper around `std::deque<robot_state::RobotStatePtr> waypoints_` and `std::deque<double> duration_from_previous_`
But (also because this was written long before the C++11 transition), the class does not provide
standard std-container interfaces.

Sometimes it would be rather convenient to use, e.g., `for(auto& waypoint : trajectory)` o

[2018-10-24 10:43] v4hn opened #1122 "Frames of collision objects"
This relates to #1060, but the pull-request aims to do much more.

At the moment, the RViz PlanningScene Displays do not allow introspection of the coordinate systems of CollisionObjects.
It would be nice to have a way to visualize these frames in RViz.

Possible approaches include:
- conditionally publish frame information to tf and introspect with their tool
- add a bool-property tree for all ob

[2018-10-24 10:55] v4hn opened #1123 "planning_scene_interface::PlanningSceneInterface needs more convenience methods"
The `planning_scene_interface::PlanningSceneInterface` class is advertised as the standard interface to interact with the planning scene of the `move_group` node.
The purpose of the class is to simplify most changes to the planning scene to one-liners in C++.

There are a number of possible convenience methods missing though:

- [ ] `getObject` (in contrast to `getObjects`)
- [ ] `getPlanningScene

[2018-10-24 11:02] v4hn opened #1124 "spline-interpolation of time-parameterized Trajectories in RViz"
The current logic to visualize trajectories in RViz only considers position information (and optionally time_from_start durations with `REALTIME`) for the displays in RViz, but the messages might contain velocity/acceleration information too.

In order to include them in the visualization, we could optionally (possibly by default) generate quintic splines from the waypoints and sample them for the

[2018-10-24 11:08] beatrizleon commented on #648
This was solved in this pr: https://github.com/ros-planning/moveit/pull/1008 so closing this issue now.

[2018-10-24 11:08] #648 closed

[2018-10-24 11:42] 130s opened #1125 "chomp_motion_planner binary not found"
This will likelybe  resolved by:
- [ ] https://github.com/ros-gbp/moveit-release/pull/5
- [ ]  https://github.com/ros-planning/moveit/issues/1083

----

[code]
- In [wiki page](http://wiki.ros.org/chomp_motion_planner) it's listed as "released" for IKLM
- although in [rosdistro list](https://github.com/ros/rosdistro/blob/8bc2e7f8d00c486a1a6dda49de65c0c7827acc10/kinetic/distribution.yaml) there's n

[2018-10-24 11:44] 130s commented on #1083
- [x] Update changelog (populate new sections by `catkin_generate_changelog` then manually modify if necessary)
- [x] Tag a new version (utilize `catkin_prepare_release`)
- [ ] Run `bloom`.

Running `bloom` is blocked by https://github.com/ros-planning/moveit/issues/1125 as following.

[code]

[2018-10-24 11:47] 130s commented on #1125
I found https://github.com/ros-gbp/moveit-release/pull/3 that `chomp_motion_planner` among others is in the list of ignore-release.

[2018-10-24 11:58] 130s commented on #1125
Found this thread https://github.com/ros-planning/moveit/pull/1086#discussion_r225261670 (where I was actually tagged :laughing: m(__)m). I'll include `chomp_motion_planner` in the release https://github.com/ros-planning/moveit/issues/1083.

[2018-10-24 12:09] 130s commented on #1125
Re-opening as this isn't resolved yet.

This will likelybe  resolved by:
- [ ] https://github.com/ros-gbp/moveit-release/pull/5
- [ ]  https://github.com/ros-planning/moveit/issues/1083

[2018-10-24 12:10] v4hn commented on #1069
The panel should remain compact and @davetcoleman spent some time in the past making it smaller.
So I'm not a big fan of radio buttons; it might make sense for up to 4 groups.

But then, I work with a robot with 12 planning groups, and thus apparently I'm the exception. :)
I believe your current robot setup should have at least 6 planning groups for your three arms+grippers,
possibly more to use m

[2018-10-24 12:15] v4hn commented on #1117
closed as duplicate of #1069

I actually forgot I filed this before and did not find it anymore...

[2018-10-24 12:15] #1117 closed

[2018-10-24 12:28] 130s commented on #1083
Once https://github.com/ros-gbp/moveit-release/pull/5 is cleared/merged, I can resume releasing @davetcoleman @v4hn @rhaschke

[2018-10-24 13:30] rhaschke commented on #1122
+1 for this option.
Alternatively you can use the panel to select scene objects and even move them around. The orientation of the interactive mark matches the frame orientation, doesn't it?

[2018-10-24 15:41] simonschmeisser commented on #1113
Can you please provide a bit more information where your version of stomp comes from? I think it has not officially been released as deb package so you probably installed it from source? Which repository did you use? Can you provide the output of `wstool info` as well?

What exactly did you try to do? Pose goal? JointPosition goal?

[2018-10-24 16:31] davetcoleman opened #1126 "Create plan for improving tests"
MoveIt! needs improved test coverage. The first step in tackling this is listing out what classes / packages need unit tests the most, and lack them. This is a meta issue requesting someone look into this, perhaps as a simple World MoveIt! Day task.

Related is the effort to [add a Coveralls badge](https://github.com/ros-planning/moveit/issues/1) which measures our test coverage, but it seems this

[2018-10-24 16:47] 130s commented on #1083
TLDR; I'll include `moveit_planners_chomp` to be released out for the first time (in addition to `chomp_motion_planner`).

At https://github.com/ros-gbp/moveit-release/pull/5#discussion_r227781794, Robert suggested to do so. Although I haven't found anywhere else so far where its release is discussed, AFAICT no other package depends on it so less harm even if there's an issue with the pkg.

[code]

[2018-10-24 16:57] BryceStevenWilley commented on #1126
Mildly relevant to this issue: it might be worth it to write test convenience utils that make it easy to make a specific robot, as a lot of tests make use of different robot models. @rhaschke has made a few effective tests that look like https://github.com/ros-planning/moveit/commit/5a1d5a8f172c43aedee9f47926068e3ac529d312, and it would be much easier to continue to write more if you didn't have t

[2018-10-24 17:14] 130s commented on #1083
Now release is blocked by #1127

[2018-10-24 17:48] rhaschke commented on #1126
@BryceStevenWilley Cool idea!
I'm afraid, that you should specify the joint type directly with the links. Something like this:
[code]

[2018-10-24 18:07] davetcoleman commented on #1126
Yes, we def need a moveit_test_utils.cc that load a common robot model (panda?) for testing and other similar things!!

[2018-10-24 21:32] v4hn commented on #1124
I agree. Explicitly displaying waypoints is more important and should remain the overall default for now.

I believe we agree that an optional spline interpolation would be nice though.
We could either change `REALTIME` mode to do this, or add another mode, e.g., `SPLINE`.
REALTIME already helps to visualize `time_from_start` problems, which *can* be
orthogonal to broken velocity/acceleration prof

[2018-10-24 21:36] v4hn commented on #1122
Please see #1115 . We could also keep the (currently broken) axis visual there, but I guess this would be too much information in one place...
The IM should align with the frame, but judging from experience it usually does not pinpoint it very well...

[2018-10-24 21:47] v4hn commented on #1114
More of an example implementation than a "tutorial", but yes.

[2018-10-24 21:48] rhaschke commented on #1124
As the frame rate of rviz is not higher than 25-30 Hz, I think a simple linear interpolation should be fine as well...

[2018-10-24 22:01] v4hn commented on #1110
@Danfoa We are very happy to get support for the MTC project.
To answer your question: no, let's discuss more contributions off the list,
please contact Robert and me via mail if you want to get involved more.

An actionable for tomorrow could be: look at the demos,
also https://github.com/TAMS-Group/mtc_pour and https://github.com/TAMS-Group/tiago_bartender_mtc ,
and try to setup a reasonably sim

[2018-10-24 22:05] 130s commented on #1083
Kinetic done https://github.com/ros/rosdistro/pull/19344

[2018-10-24 22:41] 130s commented on #1083
Melodic done https://github.com/ros/rosdistro/pull/19345

[2018-10-25 00:41] rhaschke commented on #1110
@Danfoa I just [improved the Travis tests](https://travis-ci.org/ros-planning/moveit_task_constructor/builds/445944766). Now it should work... But it doesn't.

MoveIt's latest melodic release is missing a change from Kinetic that we need.
However, this night we just made a new Melodic release, such that this issue should be gone in the next days (when the release is accepted and build by the build

[2018-10-25 01:57] 130s commented on #1000
Done https://github.com/ros/rosdistro/pull/19347

[2018-10-25 01:57] #1000 closed

[2018-10-25 01:59] 130s opened #1130 "[indigo][release] bloom still wants to release moveit_full_pr2 from this repo"
### Description
At https://github.com/ros-planning/moveit/issues/1000#issuecomment-432886646, for some reason `bloom` process took in `moveit_full_pr2` that was recently removed in https://github.com/ros/rosdistro/pull/19343. This needs to be looked into before the next Indigo release if anything.

### Steps to reproduce

[code]

[2018-10-25 07:55] ggupta9777 commented on #1119
I'll take this up.

[2018-10-25 08:08] Ridhwanluthra commented on #1123
I am starting to work on this as a part of WMD

[2018-10-25 08:33] bdenoun commented on #1119
I was  already working on it, sorry I forgot to assign it to myself :/

[2018-10-25 09:29] svenkrause commented on #512
World MoveIt-Day: I'm working on it.

[2018-10-25 09:40] ipa-jfh commented on #1120
I am starting to work on this as a part of WMD

[2018-10-25 09:41] agutenkunst commented on #1
We quickly were able to demonstrate that coverage generation using
https://github.com/mikeferguson/code_coverage works.

We currently use it in https://github.com/PilzDE/pilz_industrial_motion/tree/kinetic-devel/pilz_trajectory_generation

See
https://github.com/agutenkunst/moveit/commit/773ee86c012fceea61aef50fe75cb525f75556af
on how to integrate it. Use this commit with `catkin_make -DENABLE_COV

[2018-10-25 11:37] BryceStevenWilley commented on #1126
I can work on this for WMD, but won't be able to get to it until 18:00 EST. If someone else wants to pick this up before then, feel free.

Also, https://github.com/ros-planning/moveit/issues/1#issuecomment-432985241 has coverage info on which functions to test more.

[2018-10-25 11:37] sharronliu commented on #1114
Added "moveit_gpd_pick_object".

[2018-10-25 12:39] rhaschke commented on #1083
Reopening as the [Kinetic release build failed](http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__moveit_ros_planning__ubuntu_xenial_amd64__binary/86/consoleFull#console-section-15), missing `cmake_modules`. This dependency shouldn't be there anymore. Will fix this.

[2018-10-25 12:46] ipa-jfh commented on #1120
@tahsinkose you are welcome to take over this issue ;)

[2018-10-25 13:33] rhaschke opened #1136 "cleanup chomp stuff"
Releasing Kinetic + Melodic was a nightmare due to chomp, which now is scattered around the whole repository creating many inter-dependencies between release packages.
I suggest to move all chomp-related source into a single folder, namely `moveit_planners/chomp`, which is then released as a meta-package `moveit_planners_chomp`.
- [x] **moveit_planners/chomp**
- [x] **moveit_planners/chomp**/chomp

[2018-10-25 14:56] jonbinney commented on #1087
I'll take a stab at fixing this during world moveit day today.

[2018-10-25 15:03] wpmccormick commented on #645
Here at World MoveIt day in San Antonio from SwRI. I've new to MoveIt (and ROS in general) so this seems like a good one for me.

[2018-10-25 15:07] v4hn commented on #1136
I fully agree. I was not involved with the chomp pull-request at all, but it looks like a pretty big mess right now...

[2018-10-25 15:16] davetcoleman commented on #645
Great! Note that @mlautman reviewed the tutorials this year but the new melodic specially needs testing

[2018-10-25 15:34] tahsinkose commented on #1120
Yes, I'm on the exact same crossroad. An instance of a PlanningRequestAdapter is also not an automated component which is directly integrated to the planning pipeline. One who needs to use a custom plan request adapter with an external planner requires to denote additional information in launch file to as in `ompl_planning_pipeline.launch.xml`. So then, I'm continuing with non-const case.

[2018-10-25 16:13] bhomberg commented on #1121
I'll take this one.

[2018-10-25 16:16] wongkaiweng commented on #1082
I am starting to work on this as a part of WMD.

[2018-10-25 16:55] bmagyar commented on #1114
Should we add `ros_control` here too?

[2018-10-25 18:27] mlautman opened #1142 "Moving computeCartesianPath out of robot_state"
I would like to (finally) move the Cartesian planner out of robot_state. Ideally it would live in it's own package at `moveit/moveit_planners/cartesian_planner` but as @davetcoleman pointed out, this may cause a circular dependencies. If we keep it in MoveIt! core, then we don't have the issues but it really doesn't belong there either.

[2018-10-25 19:30] jconley88 commented on #28
Is there additional work to be done for this?

It looks like a [clang PR](https://github.com/ros-planning/moveit/pull/880/) was already merged in.

[2018-10-25 20:33] rhaschke commented on #1083
#1134 is merged. pre-release test succeeded on my side.

[2018-10-25 20:43] wongkaiweng commented on #1082
@simonschmeisser  I tried your suggestion and here is what happened:
*  To use `occupancy_map_monitor` in `planning_scene.app`, first I included `moveit_occupancy_map_monitor` in [`CMakeList.txt`](https://github.com/ros-planning/moveit/blob/melodic-devel/moveit_core/planning_scene/CMakeLists.txt). I did `catkin_make` and I got a cyclic dependencies error.
[code]
It turns out `moveit_occupancy_map_

[2018-10-25 20:52] kkufieta commented on #967
Made a PR to fix this issue here: https://github.com/ros-planning/srdfdom/pull/41

[2018-10-25 21:05] BryceStevenWilley commented on #28
I've been working on applying clang-tidy to the code base. A current roadmap is something like this:
* [ ] decide on name formatting style/merge #917
* [ ] `clang-tidy` uses auto in loop, we have to hand change those to be the full types (PR ready, I plan on opening it after #917 is merged)
* [ ] apply `clang-tidy` to the entirety of MoveIt (it's been restricted to `moveit_core` while we iron out

[2018-10-26 00:31] davetcoleman commented on #28
@BryceStevenWilley awesome. Note that all these kinds of changes should now target Melodic, of course

[2018-10-26 00:33] wongkaiweng commented on #1118
I think one possible solution would be to comment out line 1161 here:
https://github.com/ros-planning/moveit/blob/d4482e67287db07c332bba69bee02619cf744617/moveit_ros/visualization/motion_planning_rviz_plugin/src/motion_planning_display.cpp#L1159-L1163

I didn't get enough time to do the testing but that may be a good start.

[2018-10-26 00:45] davetcoleman commented on #1142
+1 to this cleanup

moving it into moveit_planners will be a very big effort that I don't think you want to do yet

[2018-10-26 01:55] felixvd commented on #1123
I'd be interested to know the progress on this, but I didn't see a branch in your repo. I have some changes that I did over the last month that I could add right away, including Python bindings and `allowCollisions/disallowCollisions` functions.

[2018-10-26 01:56] RyodoTanaka commented on #1115
@v4hn
I'm trying to reproduce the same error.
Especially for the first error, the situation is a little bit different.

I did the same procedure, and I got following...
1. When I re-enable the MotionPlanning Display, "the black coordinate line" will appear.
2. But, a few seconds later, when the program seems to finish the loading of scene file, the black line will disappear.

You can check the mov

[2018-10-26 02:28] RyodoTanaka commented on #1115
@v4hn
The second one, I could reproduced it.
![screenshot from 2018-10-26 10-59-57](https://user-images.githubusercontent.com/8377208/47540924-39f81b00-d912-11e8-9662-9de5a1dc001d.png)

[2018-10-26 02:34] RyodoTanaka commented on #1115
@v4hn
The third one, I also reproduced it.
When the moment of disable MotionPlanning Display, the error looks not occurred. But the few seconds later the same error will occurred like following video.
https://goodroad.work/owncloud/index.php/s/fPm3ilzMl9ank6w

[2018-10-26 04:41] bhomberg commented on #1121
Working on this fix here: https://github.com/bhomberg/moveit/tree/bh-traj-container

I have code for an iterator in (currently including both waypoints_ and duration_from_previous, though just including waypoints_ is quite simple and I can swap to that if preferable); I'm still working on the tests.  I'm in the process of adding a new test file for robot_trajectory.h (using some useful code to gen

[2018-10-26 05:26] felixvd opened #1150 "Add "DETACH" keyword to CollisionObject message"
I noticed that the `CollisionObject` message file reads:

[code]

However, when the `CollisionObject` message is part of an `AttachedCollisionObject` message, `REMOVE` only detaches the object from the robot and puts it into the world. I don't think that is very intuitive, and would be in favor of adding a new instruction `DETACH`, which would work the same way `REMOVE` currently does, and make `R

[2018-10-26 07:05] simonschmeisser commented on #1082
Thanks for looking at this @wongkaiweng and I'm sorry to hear that idea did not work out as proposed.

We use your suggestion in our code already but this does not stop the next user from introducing the same bug in her application. We should at least add a warning/hint in the doc string of that function. Are you interested in doing that?

When we discussed this internally some time ago, @svenkrau

[2018-10-26 07:31] rhaschke commented on #1150
Definitely sounds reasonable. However, such semantic changes are always critical as they potentially affect lots of users without notice. Definitely add a migration note.

[2018-10-26 07:34] Unemyr commented on #1112
Starting to look into this...

[2018-10-26 07:41] sharronliu commented on #1114
added, thanks!

[2018-10-26 08:02] RyodoTanaka commented on #1115
@v4hn
Now, I partly fixed the second error ( the scale problem ).
The following video shows the result.
https://goodroad.work/owncloud/index.php/s/b8tLw8wWSGIb17k

Only just the rotating marker scale will change dynamically depending on the size of object.
Now, I am trying to implement not only the rotate marker but also the position marker.

[2018-10-26 09:46] simonschmeisser opened #1151 "PlanningScene::isStateValid vs joint limits"
I just noticed that PlanningScene::isStateValid does not in fact check for joint limits. Neither URDF nor joint_limits.yaml. I somehow always assumed that. Neither does isPathValid(). Maybe we should add it?

The right way is of course to first check that RobotState::satisfiesBounds() and only then check collisions etc.

This might be discarded as a user/documentation error but since I did not not

[2018-10-26 14:06] wpmccormick commented on #645
Running Kinetic, I found 1 major issue I could not resolve, and 1 minor issue that slowed me down, and 1 trivial issue (question I could't find an answer for) ... so in reverse order:

1. Trivial - Could not find what EEF is [here](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/quickstart_in_rviz/quickstart_in_rviz_tutorial.html#introspecting-trajectory-waypoints).

2. Minor - It wasn't

[2018-10-26 14:55] rhaschke commented on #1136
@raghavendersahdev Thanks for cleaning this up. As far as I can see, there is consensus within the maintainers to proceed as proposed.

[2018-10-26 15:01] rhaschke commented on #1122
Do not agree to this. In contrast to TF, which desribes *the* current (and past) state of the (unique) world, CollisionObjects and their frames are related to a PlanningScene, which represents a possible snapshot of your world at a time. Particularly, it is possible to have multiple PlanningSceneDisplays representing different states. Publishing their transforms as TF would - in general - cause am

[2018-10-26 16:45] 130s commented on #1083
Thanks @rhaschke for the quick fix. I can run another release session this weekend if it's desirable.

[2018-10-26 16:56] clalancette opened #1154 "Moveit regression on Melodic"
### Description

Most of Moveit is currently failing to build on the Melodic build farm.  The root of the issue seems to be that moveit_ros_planning is failing to build, which causes a cascade of failures further down the line.  It looks like moveit_ros_planning is failing to build because of a missing package.xml dependency on cmake_modules: http://build.ros.org/view/Mbin_uB64/job/Mbin_uB64__move

[2018-10-26 17:16] davetcoleman commented on #645
@peterso had the same issue but i don't think he ever made the pull request to clarify. please feel free to modify yourself as @dbc did here: https://github.com/ros-planning/moveit_tutorials/pull/242/files

[2018-10-26 21:07] moriarty commented on #1154
I think this is missing in `moveit_ros/planning/planning_request_adapter_plugins/CMakeLists.txt` because of #1012. I will submit a PR

[2018-10-26 21:37] moriarty commented on #1154
#1012 went into the kinetic branch, and the job is failing there too.

http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__moveit_ros_planning__ubuntu_xenial_amd64__binary/88/console

[2018-10-26 21:39] rhaschke commented on #1154
@davetcoleman Your bot is definitely not greeting first-time users only. Chris is a well-known friend ;-)

[2018-10-26 21:43] rhaschke commented on #1154
@clalancette We already tackled this issue in #1134.
@130s promised to do a new release this weekend.

[2018-10-26 22:14] #1154 closed

[2018-10-27 03:38] rhaschke commented on #1154
Touche! But he already file a PR before:
https://github.com/ros-planning/moveit/issues?utf8=%E2%9C%93&q=author%3Aclalancette+

[2018-10-27 04:45] #1084 closed

[2018-10-27 04:46] #773 closed

[2018-10-27 19:18] rhaschke commented on #1083
@130s I have done (successful) prerelease tests for Kinetic (702c46b4cd2eb5cd13c51bbca0e8690240737759) and Melodic (ab1273ff886e7a03e3ae72df7ea6b4f7cfee320b). Do you have time to finish the releases?
If not, I could jump in tomorrow.

[2018-10-28 13:17] felixvd commented on #1122
Correct me if I'm wrong, but IIRC a move_group maintains only one PlanningScene and RobotState as its "true" current state of the world. I was picturing publishing only this "assumed true" state to TF.

That said, you are right. Planning scenes may represent possible states (although I haven't used them that way), and problems would also occur when using multiple move groups (e.g. for multiple arm

[2018-10-28 14:57] 130s commented on #1083
@rhaschke I'm planning to make releases by Monday morning Pacific. In case it doesn't happen by then please take this over.

[2018-10-28 15:08] rhaschke commented on #1122
Yes, there is one "true" PlanningScene (maintained by the PlanningSceneMonitor) of move_group.
However, for planning, multiple copies of this PlanningScene will be generated.

That said, the rviz plugin doesn't have direct access to this PlanningScene C++ instance. Rather, it mirrors this PlanningScene locally within the rviz process, by subsribing to PlanningScene update msgs.

I agree. However,

[2018-10-29 11:30] 130s commented on #1083
Melodic https://github.com/ros/rosdistro/pull/19371

[2018-10-29 11:43] 130s commented on #1083
Kinetico https://github.com/ros/rosdistro/pull/19372

[2018-10-29 11:56] 130s opened #1168 "Make binary releases from designated "release" branches"
I suggest to add a small layer(s) of branching policies. This could be a next maintainers' meeting topic.

TLDR I suggest to secure release branches in addition to what we've been using `*-devel`.

This new (to moveit repo) branch is:
- a snapshot of a specific devel branch.
- I suggest creating a `%DISTRO%-release` or similar per each devel, e.g. `melodic-release` for `melodic-devel`.
  - Naming

[2018-10-29 12:01] gavanderhoorn commented on #1168
:+1: from me.

I've been doing this for as long as I've released software (and the repository was under my control / the release-branching strategy/policy was mine to make).

[2018-10-29 12:32] rhaschke commented on #1168
Would you keep a release branch for every release made? Or would you use it only during the release process? In the latter case, I agree. In the former, I don't see the necessity to keep release branches as we do have release tags anyway.

In the latter case, I picture the release process as follows:
1. Create a new (local?) branch melodic-release at the current HEAD (or some stable state on *-dev

[2018-10-29 13:38] clalancette commented on #1154
Perfect, thanks.  I merged the new release into Melodic, and it is building now :).

[2018-10-29 19:34] 130s commented on #1083
@rhaschke or @ros-planning/moveit-maintainers I'd appreciate if you could keep the status posted for new release need.

[2018-10-29 19:37] rhaschke commented on #1083
Sorry, I mentioned you in #1170 only.

[2018-10-29 21:00] 130s commented on #1083
@tfoote I want to make one more release to fix [the persistent regression](https://discourse.ros.org/t/preparing-for-kinetic-sync-2018-10-26/6611). It'd be great if you could hold the sync for a few more hours...

[2018-10-29 21:29] tfoote commented on #1083
ok, Kinetic is still rebuilding the last release(moveit and downstream takes several hours to rebuild) so we can get this in if you can get it released before the end of today. The sync will have to go out tomorrow morning.

[2018-10-29 22:00] IanTheEngineer commented on #1083
@130s I merged #1170 after it built. We should be ready to release

[2018-10-30 00:57] davetcoleman commented on #914
We'd love to a see a PR out of this!

[2018-10-30 01:03] tfoote commented on #1083
Ok thanks @130s I'll sync when this rebuild finishes. There's going to be a long tail due to the many layers of moveit downstream dependencies needing to rebuild.

[2018-10-30 03:15] 130s commented on #1083
Melodic https://github.com/ros/rosdistro/pull/19381

[2018-10-30 14:19] rhaschke commented on #1083
Reopening, due to: https://github.com/ros-planning/moveit/pull/1160#pullrequestreview-169795669

[2018-10-30 14:32] rhaschke commented on #1083
#1174 fixed this and is merged. @130s You could retrigger a release (once again - sorry).

[2018-10-30 15:11] #1112 closed

[2018-10-30 15:55] anders29 opened #1175 "Libraries broken after update"
After updating the package today, the libraries appear to be broken:

/usr/bin/ld: warning: libmoveit_trajectory_execution_manager.so.0.9.15, needed by /opt/ros/kinetic/lib/libmoveit_move_group_interface.so, not found (try using -rpath or -rpath-link)
/usr/bin/ld: warning: libmoveit_planning_scene_monitor.so.0.9.15, needed by /opt/ros/kinetic/lib/libmoveit_move_group_interface.so, not found (try u

[2018-10-30 17:19] IanTheEngineer commented on #1175
@anders29 can you please give a bit more context for this error? Are you trying to build MoveIt, or your package that depends on MoveIt?

Have you attempted a full update with ``` sudo apt-get update && sudo apt-get dist-upgrade```? There were several Kinetic packages recently updated, and it's possible your local workstation has only partially updated.

[2018-10-30 17:31] IanTheEngineer commented on #1175
Ah, I see the source of confusion: `apt-get dist-upgrade` doesn't upgrade your Ubuntu version, it just manages conflict resolution by upgrading packages and removing conflicting packages. From the manpage:
[code]
I'd recommend again running ```sudo apt-get update && sudo apt-get dist-upgrade``` and reporting back if you still have issues.

[2018-10-30 17:33] anders29 commented on #1175
Before your last comment I ran apt-get update, sudo apt-get upgrade once again and that seems to have fixed it. I guess I ran the first update before some necessary commits were released?

Closing this.

[2018-10-30 17:33] #1175 closed

[2018-10-30 17:57] rhaschke commented on #1083
See here: https://github.com/ros-planning/moveit/pull/1174#issuecomment-434326955

[2018-10-31 18:38] mambawockeez opened #1177 "Kinova moveit_core CMake Error when using ubunut 16.04"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: [Kinetic]
* OS Version: e.g. Ubuntu 16.04

Im using ubuntu 16.04 to work on a project using kinova arms. and after cloning all the files, when i catkin_make it, it show error like this. And i already adding add_compile_options(-std=c++11) in every cmakelist.txt in kinova folder. And here is my error screenshot.
![scr

[2018-10-31 19:13] mambawockeez opened #1178 "error: cannot convert ‘moveit::planning_interface::MoveItErrorCode’ to ‘bool’ in assignment result_ = group.plan(my_plan); and Invoking "make -j8 -l8" failed"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04
* Source or Binary build?
* If binary, which release version?
* If source, which git commit or tag?

Im using ubuntu 16.04 to do a kinova arm project and i install kinova package, after when i catkin_make it, it should error from 96%.
![screenshot from 2018-10-31 15-10-22](https:/

[2018-10-31 20:21] BryceStevenWilley commented on #1178
Hey mambawockeez, just a heads up that questions about building issues like this should be asked on [ROS Answers](https://answers.ros.org/questions/). If it turns out it is a bug in MoveIt, then you can make an issue here.

This is a similar issue to https://github.com/ros-planning/moveit/issues/856, I suggest you take a look at that and at the [Migration Nodes](https://github.com/ros-planning/mov

[2018-10-31 20:52] mambawockeez commented on #1178
@BryceStevenWilley Hi, thank for the help. And im really new to tos and kinova, could you please be more specifit that what do i need to do? I read the first bullet in Migration Nodes ROS Kinetic, but still confused that what should i do next.

[2018-10-31 21:01] BryceStevenWilley commented on #1178
I'd like to help, but this Github issue isn't the best place to do it.  Ask this question on ROS Answers, and post the link here, I can help you more there.

[2018-10-31 21:14] mambawockeez commented on #1178
@BryceStevenWilley will do! thanks a lot!

[2018-11-01 02:02] IanTheEngineer commented on #1177
@mambawockeez this is mosts likely a workspace configuration issue. Have you followed the Kinova instructions for [installing MoveIt and the other prerequesites](https://github.com/Kinovarobotics/kinova-ros/wiki/MoveIt)? It looks like you're missing the `moveit_core` and other related packages.

[2018-11-01 12:00] 130s commented on #1168
@rhaschke Good point. After much thoughts, I agreed with your "latter" idea and the workflow except that a few steps might need small changes.

I'd run `catkin_prepare_release --no-push`. This seems to allow tagging to happen locally and push to the remote later, so that release task won't be affected by the change in the remote (it may sound silly but honestly finding this option is a game change

[2018-11-01 12:03] 130s commented on #1083
Melodic https://github.com/ros/rosdistro/pull/19395

[2018-11-01 12:13] gavanderhoorn commented on #1168
Using a dedicated release branch is quite an accepted practice in a lot of git workflows.

Releasing a project may require fixups just for the release process, but those fixes / tweaks may not need to be integrated into the main development branch. That can be done on a branch, a tag cannot be changed afterwards (it can, but it shouldn't).

You could of course just create a new tag and repeat the

[2018-11-01 12:46] mambawockeez commented on #1178
@BryceStevenWilley https://answers.ros.org/question/307399/error-cannot-convert-moveitplanning_interfacemoveiterrorcode-to-bool-in-assignment-result_-groupplanmy_plan-and-invoking-make-j8-l8-failed/ Hi this is the link that goes to ROS answer, please look at it and help me a little bit! Many thanks!

[2018-11-01 13:59] 130s opened #1183 "[indigo] SONAME not updated since 0.7.3?"
### Description

Just notice on 2 of my Ubuntu 14.04 computer/container, I see `SONAME` for `libmoveit*` files are 0.7.3. Latest release is 0.7.13 (0.7.14 is waiting on shadow repo).
On 16.04 this is not the case for me.

### Criticality

Not sure how long this has been sitting there but I assume it has been since 0.7.3 release? If so not critical at all by itself (then I wonder if this means that

[2018-11-01 14:56] rhaschke commented on #1183
SONAME is hardcoded in cmake files to 0.7.3 for Indigo. Maybe, @v4hn remembers the details?

[2018-11-01 15:11] felixvd commented on #1122
I didn't think of MTC displaying intermediate PlanningScenes. That's a must-have feature, so I agree an Rviz-only extension will be necessary.

The argument that the robot frames are not published by move_group either is also sound. Publishing the frames should be taken care of elsewhere, but we should probably decide where. Users should not have to start their own static_transform_publishers when

[2018-11-01 16:28] atyshka opened #1184 "Way of managing large octomap?"
I'm experimenting with octomapping in moveit and I'm running into a problem: the octomap gets way too big, way too quickly. It's fine on the machine it's running on, but forget about trying to use a remote RViz for control. Everything is ridiculously slow and I'm wondering if there's any way to cut down on this data. As of now the only solution I have is clearing the octomap every five seconds whi

[2018-11-01 18:28] rhaschke commented on #1083
@clalancette Could you have a look at http://build.ros.org/view/Mbin_uB64/job/Mbin_uB64__moveit_ros_perception__ubuntu_bionic_amd64__binary/23/console? I think this time, the build farm failed for a reason unrelated to MoveIt.

[2018-11-02 01:44] clalancette commented on #1083
Yeah, there's been a bunch of timeouts on the buildfarm recently; I re-kicked the job, looks like it passed now.

[2018-11-02 07:11] rhaschke commented on #1083
Thanks a lot. Looks like the Melodic release finally made it as well.

[2018-11-02 07:11] #1083 closed

[2018-11-02 13:07] tiexuedanxin commented on #697
hey,i get the output "libcurl.so.4 => /usr/lib/x86_64-linux-gnu/libcurl.so.4 (0x00007f6ae7650000)",
but when i continue to catkin build,it shows the same mistakes as same,so how to solve the problem,is there someone could help me,thanks for advance

[2018-11-02 14:20] rhaschke commented on #697
Probably you have the includes found from another curl installation. As stated above, please check your (multiple) curl installations.

[2018-11-02 14:38] tiexuedanxin commented on #697
could you tell me your email address,i have a email to you

[2018-11-02 15:43] v4hn commented on #967
Thank you @kkufieta !

[2018-11-02 15:43] #967 closed

[2018-11-02 22:03] v4hn commented on #169
@wjwwood I just checked and even the melodic package in `ros-melodic-ompl`
is still built without `-DOMPL_VERSIONED_INSTALL=ON`.
Could we please change that?

[2018-11-03 10:34] rhaschke commented on #697
@tiexuedanxin As I said multiple times, this error is related to _your_ particular system. We cannot help you on this. Try to do a clean install. As you can see [here](https://travis-ci.org/ros-planning/moveit/branches), MoveIt builds from source without any issue - on a clean system.

[2018-11-03 10:34] #697 closed

[2018-11-04 02:53] abhileshborode opened #1186 "Moveit_msgs has no member named planing_time"
### Description

I tried building the Moveit package using catkin_make, it threw a make error with the message

/home/turtlebot/moveit_try/src/moveit/moveit_ros/manipulation/move_group_pick_place_capability/src/pick_place_action_capability.cpp: In member function ‘void move_group::MoveGroupPickPlaceAction::executePickupCallback_PlanOnly(const PickupGoalConstPtr&, moveit_msgs::PickupResult&)’:
/hom

[2018-11-04 12:59] tiexuedanxin commented on #697
Do you means to reinstall the ubuntu system?!

[2018-11-04 16:00] umhan35 opened #1187 ""Failed to fetch current robot state" when running getCurrentPose"
### Description

I want to get the pose of the UR5 end effecor using moveit's method `getCurrentPose`, but moveit complains `Failed to fetch current robot state` even though `rostopic echo -n 1 /joint_states` outputs

[code]

Here is the code (see how to reproduce for more detail):
[code]

moveit suggests `Check clock synchronization if your are running ROS across multiple machines!`, but I am sur

[2018-11-04 16:09] umhan35 commented on #1187
Solved by `
    ros::AsyncSpinner spinner(1);
    spinner.start();
`

[2018-11-04 16:09] #1187 closed

[2018-11-05 07:46] jacoblim20 opened #1188 "Does Moveit support incrementally built Octomap?"
I am unable to build an octomap incrementally, by setting "octomap_frame = odom" in husky_ur5_moveit_sensor_manager.launch.xml.

### Your environment
* ROS Distro: [Indigo]
* Ubuntu 14.04
* Binary build 0.7.13-Alpha

### Steps to reproduce
I followed this [perception tutorial](http://docs.ros.org/indigo/api/moveit_tutorials/html/doc/pr2_tutorials/planning/src/doc/perception_configuration.html)

##

[2018-11-05 13:45] v4hn commented on #1183
SONAMES have *nothing* to do with the version number of the whole framework.
Think of them as independent version numbers of the individual libraries.
We pretty much abuse this system by forcing this relationship in kinetic+, because we need it to make ABI-breaking changes easily.

There is absolutely nothing wrong with the indigo release.

[2018-11-05 13:45] #1183 closed

[2018-11-05 14:16] jrggaldamez opened #1189 "Joystick teleop control"
### Description

Hello everyone.
So I wanted to use my PS3 controller in order to move my robot through Rviz / MoveIt!. I followed the steps on the MoveIt tutorial for this. But when it came to launching the joystick_control.launch file I get an issue with the moveit_joy.py apparently. My error is as following:
[FATAL] [1541427087.528021]: Check if you started movegroups. Exiting.
Traceback (most

[2018-11-08 04:01] mambawockeez opened #1190 "The kinematics plugin (arm) failed to load. and Kinematics solver could not be instantiated for joint group arm."
### Description

The kinematics plugin (arm) failed to load. and Kinematics solver could not be instantiated for joint group arm.

### Your environment
* ROS Distro: [Kinetic]
* OS Version: e.g. Ubuntu 16.04

Hi,
im a beginner of kinova, and right now im trying to make a virtual robot arm work. The installation works fine. And when i try to run: **_roslaunch j2n6s300_moveit_config j2n6s300_virtual

[2018-11-08 08:15] gavanderhoorn commented on #1190
I'm going to close this, as it's a cross-post of [The kinematics plugin (arm) failed to load. and Kinematics solver could not be instantiated for joint group arm](https://answers.ros.org/question/307850) on ROS Answers.

[2018-11-08 08:15] #1190 closed

[2018-11-08 20:51] mambawockeez commented on #1178
@BryceStevenWilley Do you have time to check my new issue? it seems like i got problem with gazebo simulation. https://github.com/Kinovarobotics/kinova-ros/issues/180

[2018-11-10 01:11] ajsmilutin opened #1191 "Jacobian for PRISMATIC joint is wrong"
I've been trying to get Jacoiban matrix for a robot that has a `PRISMATIC` joint in the kinematic chain. When I've printed out the matrix obtained, I've seen  for a prismatic joint is `[-0.1133; -0.003852;  1.49086 ; 0; 0; 0]`
According to the theory, that can't be the case, since the norm of the top half ( -0.1133; -0.003852;  1.49086), has to be 1.  I've digged deeper into the code and found an

[2018-11-11 16:38] rhaschke commented on #1191
Resolved by #1192. Thanks for your efforts!

[2018-11-11 16:38] #1191 closed

[2018-11-12 11:15] simonschmeisser commented on #1188
So according to the tutorial the octomap frame should be fixed ie "world_frame" or similar. Your PointCloud/DepthMap should have "odom" (the tf frame of the mobile robot) set as its reference frame.

If you still don't succeed please post more of your config or an example package link.

[2018-11-12 11:20] simonschmeisser commented on #1184
There is a configuration option for voxel size. Also Octomaps can be "compressed", ie if all subcells of a cell are occupied then the whole cell can be marked as occupied (and thus the memory usage goes down). I'm not sure if that needs to be triggered manually (in octomap updater plugin)?

[2018-11-12 11:47] S-Fichtl opened #1195 "Class vs Struct definition"
### Description

Inconsistent usage of class and struct for the same data type.
https://github.com/ros-planning/moveit/blob/melodic-devel/moveit_core/collision_detection/include/moveit/collision_detection/world.h#L77
here in line 77 `Object` is defined as a class but in the line 80 right below it is defined as a struct. This leads to issues when compiling a project that uses moveit with llvm/clang

[2018-11-12 19:12] atyshka commented on #1184
@simonschmeisser I know moveit does compression, but it's very minimal. Flat surfaces usually only have one layer of cells in the octomap so it's rarely compressed. I know octomap offers a configuration for voxel size, but can this be adjusted in moveit through params or dynamic reconfigure or do I need to build from source? I haven't found anything yet.

[2018-11-12 20:56] jonbinney commented on #1195
Interesting - seems like we could either change `Object` to a class or add a `MOVEIT_STRUCT_FORWARD` macro that handles structs appropriately.

[2018-11-13 08:48] S-Fichtl commented on #1195
The above is not the only place where this happens:

Should I create a separate issue for that or is this here fine? @rhaschke ?

[2018-11-15 05:51] raghavendersahdev commented on #1136
sorry for missing in action here, I will try to finish this up on the coming weekend by end of day Nov 18 (Sunday) . .

[2018-11-15 16:07] ManojGuha commented on #1062
I got this issue. Tried many things but nothing worked. Finally uninstalled and reinstalled ROS. Now everything is fine

[2018-11-15 17:33] #512 closed

[2018-11-16 14:46] #881 closed

[2018-11-16 15:45] peci1 opened #1204 "Remove sensor_origin arguemnt from point_containment_filter::ShapeMask::maskContainment"
In https://github.com/ros-planning/moveit_ros/pull/371 , all implementation code using the `sensor_origin` argument in `point_containment_filter::ShapeMask::maskContainment` disappeared. But the argument is still there, possibly misleading people into believing it has some purpose.

Removing it will definitely break ABI.

So what about marking it deprecated in existing releases and completely remo

[2018-11-16 16:20] v4hn commented on #890
As just pointed out [here](https://github.com/ros-planning/moveit/pull/1196) clang is more restrictive than gcc in many cases, so I would even like to see it succeed with clang as compiler.

[2018-11-16 16:39] S-Fichtl commented on #1195
@v4hn There is already PR #1196 created by @rhaschke
He opted for the other direction and turn the structs into classes, though.

[2018-11-16 18:33] rhaschke commented on #1195
Indeed, I did. But I didn't look either for it. Would be the better solution... I will change this.

[2018-11-19 12:08] boonflies opened #1206 "No such file or directory"
### Description

I tried to add a new planner by including in the file, planning_context_manager.cpp
#include <ompl/geometric/planners/rrt/newRRT.h>
but when i build, catkin build, i get the following error
Errors     << moveit_planners_ompl:make /home/dyana/catkin_ws/logs/moveit_planners_ompl/build.make.015.log
/home/dyana/catkin_ws/src/moveit/moveit_planners/ompl/ompl_interface/src/planning_cont

[2018-11-19 13:46] BryceStevenWilley commented on #1206
How are you building OMPL with this new RRT? OMPL and catkin have historically had issues in the past, and if you still have a system installed OMPL as well as an OMPL from source, it could cause include/linking errors see https://github.com/ros-planning/moveit/issues/169 and the linked issues from that.

[2018-11-19 15:02] #1195 closed

[2018-11-19 22:21] davetcoleman opened #1208 "Improve KDL Solver"
The [trak_ik](https://personal.traclabs.com/~pbeeson/papers/Beeson-humanoids-15.pdf) paper states that "Some simple enhancements can be made to KDL’s pseudoinverse Jacobian solver that increase its performance dramatically."

It then says to change:
- How the max number of iterations is calculated... instead loop for a maximum time rather than a max number of counts
- How local minima are detected

[2018-11-20 09:37] rhaschke commented on #1208
I already implemented many improvements to the KDL solver: #725. Anybody tackling this issue should start from there.

[2018-11-20 12:47] peci1 opened #1209 "point_containment_filter::ShapeMask: Find a way to enable OpenMP again"
This is a continuation of https://github.com/ros-planning/moveit_ros/issues/563 .

As a workaround, openmp pragma was disabled in the referenced bug. However, it seems that having the for loop over scan rays parallelized would make sense.

I did some tests, however, all were unsuccessful.

The commented out line is
`#pragma omp parallel for schedule(dynamic)`

I tried different schedules (static a

[2018-11-20 23:38] samterra opened #1210 "PanadaArm triggers self_collision_avoidance_violation"
### Description

Frequently when I am using moveit to plan paths, the execution fails due to
`libfranka: Move command aborted: motion aborted by reflex! ["self_collision_avoidance_violation"]`. I was under the impression that moveit should provide paths that avoid self collisions (especially since this arm is used in the tutorials)?

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu

[2018-11-21 05:33] davetcoleman commented on #202
I think this is very needed improvement. The [tesseract fork](https://github.com/ros-industrial-consortium/tesseract) actually implemented this because of this MoveIt! shortcomings. It would be ideal to get this improvement ported back in.

[2018-11-21 07:29] martiniil opened #1212 "Duplicate point in concatenated trajectory."
Consider two trajectories traj1 and traj2, where the start state of traj2 matches the end state of traj1.
The result of appending traj2 to traj1 has a duplicate point. Unfortunately, there is no way of sanitizing a robot_trajectory::RobotTrajectory by e.g. removing duplicate points.

Our goal is to concatenate multiple trajectories given in the form of robot_trajectory::RobotTrajectory objects: ht

[2018-11-21 09:08] rhaschke commented on #1210
Is libfranka even stronger in collision checking (e.g. adding more padding)?

[2018-11-21 11:02] rhaschke commented on #1142
Addressed in #1149.

[2018-11-21 11:02] #1142 closed

[2018-11-21 12:21] RDaneelOlivav commented on #1186
Having same issue here, trying to compile in a Python3 Environment and gives these errors:

`/home/user/ai_ws/src/moveit/moveit_ros/manipulation/move_group_pick_place_capability/src/pick_place_action_capability.cpp: In member function ‘void move_group::MoveGroupPickPlaceAction::executePickupCallback_PlanOnly(const PickupGoalConstPtr&, moveit_msgs::PickupResult&)’:
/home/user/ai_ws/src/moveit/movei

[2018-11-21 12:39] rhaschke commented on #1186
Looks like you are trying to compile the `melodic-devel` branch on a `Kinetic` installation.
To do so, you need to also update/build [`moveit_msgs` from melodic-devel](https://github.com/ros-planning/moveit_msgs).

[2018-11-21 16:43] mannerpots commented on #1210
That's possible. Libfranka defines a way to [alter the collision behavior](https://frankaemika.github.io/libfranka/classfranka_1_1Robot.html#a168e1214ac36d74ac64f894332b84534) but since those values are torque and force, I think that is only for collisions with other objects.
The self collision avoidance happens before the robot actually hits itself (or even looks like it will hit itself, I had it

[2018-11-21 16:58] samterra commented on #1210
That's possible. Libfranka defines a way to [alter the collision behavior](https://frankaemika.github.io/libfranka/classfranka_1_1Robot.html#a168e1214ac36d74ac64f894332b84534) but since those values are torque and force, I think that is only for collisions with other objects.
The self collision avoidance happens before the robot actually hits itself (or even looks like it will hit itself, I had it

[2018-11-21 21:11] jkarimi91 opened #1217 "Attached collision objects are not collision checking"
### Description
Attached collision objects are not collision checking.

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Binary build
* If binary, which release version? 0.9.15

### Steps to reproduce
  1. Setup the [MoveIt! Tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/getting_started/getting_started.html).
  2. `roslaunch panda_moveit_config demo.laun

[2018-11-22 00:49] davetcoleman commented on #1168
Based on our last maintainer meeting, there seems to be consensus to migrate towards using a ``master`` branch. In this case, the chance of PRs into the now-inaptly named *-devel branches will go down.

I'm not convinced we should create additional branches for the release process, this is more what tags are for.

[2018-11-22 05:48] HelloDusty opened #1218 "goal was canceled after reset simulation world and ros controllers"
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04

Hi, all. I use vrep as simulation and manipulate UR5 by ROS with moveit. My project has to reset the simulation world frequently. Here is my steps. 1.restart vrep sim world 2.stop and then start joint_state_controllers and arm_controller. When used moveit_commander coding the robot, I got the error

[ WARN] [1542864035.887414197, 170.600006104]:

[2018-11-22 13:44] boonflies opened #1219 "plot benchmarking results"
### Description

I am not able to generate pdf plots for moveit benchmarking.

### Your environment
* ROS Distro: [Kinetic]
* OS Version:  16.04
* Source build
* kinetic-devel

### Steps to reproduce
I ran moveit benchmarking and  processed the log with,

**rosrun moveit_ros_benchmarks moveit_benchmark_statistics.py /tmp/moveit_benchmarks/TrialQuery1_ar_drone_state_1_Query1_dyana-Inspiron-3542_201

[2018-11-22 13:50] mzwang828 opened #1220 "No octomap in Perception Pipeline Tutorial"
### Description

I try to use use a kinect for perception when I'm controlling my own arm, but it didn't work. I then come back to review the perception pipeline tutorial, when I run the _obstacle_avoidance_demo.launch_, I found there was no octomap shown in RViz either.

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Binary build
* kinetic

### Steps to reproduce
I just r

[2018-11-25 10:32] 130s opened #1225 "201811 release"
Pending PRs / issues:
- [x] #1096
- [x] #1104
- [x] #1136 / #1251
- [x] #1146
- [x] #1198
- [x] #1228

Coordinated releases:
- [x] rviz_visual_tools: https://github.com/ros/rosdistro/pull/19532
- [x] geometric_shapes: https://github.com/ros/rosdistro/pull/19661
- [x] moveit: https://github.com/ros/rosdistro/pull/19662, https://github.com/ros/rosdistro/pull/19667, https://github.com/ros/rosdistro/p

[2018-11-25 11:40] boonflies commented on #1206
I followed the steps as in the attached text file.
[moveit_ompl_installation.txt](https://github.com/ros-planning/moveit/files/2613023/moveit_ompl_installation.txt)

[2018-11-25 13:56] BryceStevenWilley commented on #1206
From the steps you followed, I think the issues is near the bottom, where you manually copy `libompl.so` to `opt/ros/kinetic/lib/k86_64-linux-gnu`. I'm not sure how the new way of overlaying system-installed OMPL (`sudo apt-get install ros-kinetic-ompl`) with catkin OMPL is supposed to work, but it shouldn`t involve manually moving libraries around.

Notable, when trying to reproduce this, after b

[2018-11-26 08:50] rhaschke commented on #1225
I'm waiting for the sync of [tf2_eigen on Nov, 27th](https://discourse.ros.org/t/preparing-for-melodic-sync-2018-11-13/6832/3). Which open issues / PRs (other than #1096) should be merged?
[ ] #1104
[ ] #1146
[ ] #1198

[2018-11-26 08:55] rhaschke commented on #1136
@raghavendersahdev Do you have time to proceed on this anytime soon? Would be great to include this into the next release #1225.

[2018-11-26 14:03] v4hn commented on #642
No, the concept of "feasibility" is not defined within moveit.
It just [verifies against some predicate the user provided](https://github.com/ros-planning/moveit/blob/melodic-devel/moveit_core/planning_scene/include/moveit/planning_scene/planning_scene.h#L805).

[2018-11-26 17:37] v4hn opened #1229 "[[deprecated]]"
Mentioned in https://github.com/ros-planning/moveit/pull/1146#issuecomment-441727608

Horray, we got C++14. Do we want to use [`[[deprecated]]`](https://en.wikipedia.org/wiki/C++14#The_attribute_[[deprecated]]) instead of [our own macros](https://github.com/ros-planning/moveit/blob/melodic-devel/moveit_core/macros/include/moveit/macros/deprecation.h)?

We never allowed for comments in our macros,

[2018-11-26 17:37] v4hn commented on #1225
Yes please! :confused:

[2018-11-26 19:10] moucrob opened #1230 "How does the sequential BenchmarkExecutor.cpp program stop instances planning computations if they exceed the countdown?"
### Description

Hello,

in here https://github.com/ros-planning/moveit/tree/kinetic-devel/moveit_ros/benchmarks/src,

one should call RunBenchmark.cpp,

which itself calls BenchmarkExecutor.cpp (especially the method runBenchmark**s**(), and then runBenchmark() ).

My worry is that eventhough RunBenchmark.cpp inputs the moveit_ros_benchmarks::BenchmarkOptions to BenchmarkExecutor.cpp when calling

[2018-11-26 21:21] zkingston commented on #1230
Within `RunBenchmark.cpp`, a `BenchmarkOptions` class is created which reads the desired timeout from "benchmark_config/parameters/timeout" (see [this line](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/benchmarks/src/BenchmarkOptions.cpp#L187)). Then, inside `BenchmarkExecutor`, these benchmarking options are distilled into a `moveit_msgs::MotionPlanRequest` in `BenchmarkEx

[2018-11-26 23:34] davetcoleman commented on #1229
+1 to switching to the standard deprecated approach and removing custom macros!

[2018-11-27 07:12] raghavendersahdev commented on #1136
@rhaschke unfortunately I am not certain about my time commitments right now. Haven't gotten a chance to address the yet. But if I don't open a PR addressing this by 11:59 pm on Tuesday (Nov 27) AoE (anywhere on Earth) time, I will work on Saturday (Dec 1) which will be the hard deadline for me to do this, else I do realize that I might lose the opportunity to contribute in this chomp_cleanup issu

[2018-11-27 08:42] fatihirim commented on #1058
Any plan to get this feature included in moveit soon?

[2018-11-27 09:45] rhaschke commented on #1136
@raghavendersahdev Thanks for taking care of this. As stated in the main issue description, it's all about moving the code into a common folder moveit_planners/chomp and have separate packages for individual components.

[2018-11-27 15:55] #1069 closed

[2018-11-27 16:21] AIWintermuteAI opened #1235 "IK without "Allow Approximate IK Solutions" checked is too strict?"
### Your environment
* ROS Distro: |Kinetic]
* OS Version:  Ubuntu 16.04
* Binary build
* If binary, which release version? moveit_core 0.9.15

### Steps to reproduce
I have tried this both on my robotic arm for which I wrote urdf myself(https://github.com/AIWintermuteAI/ros-moveit-arm) and another robotic arm(https://github.com/jesseweisberg/moveo_ros). Without "Allow Approximate IK Solutions" ch

[2018-11-27 17:40] rhaschke commented on #1235
Usually that's not an issue with MoveIt, but with your specific arm kinematics.
Looks like you start in a singular configuration, which might pose an issue. Do things change if you start from another configuration?
How many DoFs has your arm? I observed the described behaviour in the past for arms with only 5 DoF.

[2018-11-28 00:24] samterra opened #1236 "Pick function ignoring constraints/planning sceene objects"
### Description

I have been following along with the [MoveIt tutorials](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pick_place/pick_place_tutorial.html) in Python, but I'm having an issue with the pick function.
It seems to be ignoring obstacles I have added to the planning scene and the `max_velocity_scaling_factor`.

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu

[2018-11-28 01:42] AIWintermuteAI commented on #1235
The arm has 5 DOF. If that's an issue, are there any known workarounds for that?
Can you elaborate on singular configuration issue? I am not sure if I understand what do you mean by that.

[2018-11-28 04:52] rhaschke commented on #1225
As @davetcoleman already started the release-cycle with rviz-visual-tools, the ROS build farm is breaking:
http://build.ros.org/view/Mbin_uB64/job/Mbin_uB64__moveit_visual_tools__ubuntu_bionic_amd64__binary

For this reason, I suggest to continue with the release process. This way, we have enough soaking time before the next sync. I think, it's better to test those changes in a larger community (o

[2018-11-28 08:34] rhaschke commented on #1229
+1 from me too.

[2018-11-28 08:50] rhaschke commented on #866
Will be fixed by https://github.com/ros-planning/moveit/pull/1104.

[2018-11-28 08:50] #866 closed

[2018-11-28 16:34] simonschmeisser commented on #1212
This can now be closed, right?

[2018-11-28 18:39] siksal commented on #739
I'm having the same issues as @amrith1007 but on ubuntu 18.04 with ros melodic. I've sourced my workspace but still getting the error below:

Also having errors while installing rosdep:

to system dependencies:
franka_visualization: Cannot locate rosdep definition for [libfranka]
franka_control: Cannot locate rosdep definition for [libfranka]
franka_hw: Cannot locate rosdep definition for [libfran

[2018-11-28 19:34] rhaschke commented on #1212
At least #1213 implements a clean solution to concatenate these solutions.
However, there is no general method available to remove duplicate points from trajectories.

[2018-11-28 19:40] rhaschke commented on #739
ROS Melodic doesn't yet have `libfranka` released. Did the workspace build successfully in first place?
Do you have a `move_group_interface_tutorial` binary in your WS?

[2018-11-28 23:37] davetcoleman commented on #1225
Seems a little rushed to me to make a release since we just did one...

[2018-11-29 07:40] rhaschke commented on #739
This is a contradiction. Could you please provide the actual compiler errors from the build?
Otherwise, I cannot help you.

[2018-11-29 07:50] siksal commented on #739
This is the output from the terminal:
![image](https://user-images.githubusercontent.com/16906347/49206770-6260b280-f3b3-11e8-8dab-4031c848fd46.png)

Continuation:
![image](https://user-images.githubusercontent.com/16906347/49206812-88865280-f3b3-11e8-9bb6-bd5dc4366b27.png)

This:
![image](https://user-images.githubusercontent.com/16906347/49206850-a9e73e80-f3b3-11e8-8917-9887bc4e43e1.png)

And fi

[2018-11-29 07:57] rhaschke commented on #1225
This release comprises many API changes and we should release them as early as possible - before many people have adopted Melodic in a production environment and then would face API changes in the middle of a stable release. I think, we agreed that big API changes like these should be merged (and released) asap before freezing API again (by the end of the year?)

2nd argument is, that the MoveIt j

[2018-11-29 08:06] rhaschke commented on #739
This shows multiple errors: First of all, libfranka is not yet released to MoveIt, which is why the franka_ros related packages fail to build. Do you really need them? AFAIK, for the MoveIt tutorials they are not required.
Second, building the latest melodic-devel branch of MoveIt, needs updates to several MoveIt-related packages. Please ensure, all repositories are up-to-date. If necessary, repea

[2018-11-29 09:07] siksal commented on #739
Thanks @rhaschke, I've repeated the steps from the provided link, yet, the error persists.

![image](https://user-images.githubusercontent.com/16906347/49210818-529a9b80-f3be-11e8-8284-9c5fe2681377.png)

This is really challenging.

[2018-11-29 10:07] rhaschke commented on #739
You always need to show the first error. What you posted is only the final summary.
Why do you want to build MoveIt from source when you don't seem to be familiar with the ROS building process? You can also use prebuilt binary packages using the package management of the OS.

[2018-11-29 11:55] v4hn commented on #1229
Although I don't believe this is a big problem, I want to point out that this will explicitly change our *header*-based standard requirement (in contrast to our own package-build dependency).
All user-based packages that include the headers will have to compile with c++14 support enabled.

[2018-11-29 12:55] v4hn commented on #1058
As soon as someone writes a patch for it and files a pull-request.

Please feel invited to do that!

It is rather straightforward to add functions for this in
`moveit_core/kinematic_constraints/src/utils.cpp`
and
`moveit_ros/planning_interface/move_group_interface/src/move_group_interface.cpp`

[2018-11-29 16:11] samterra commented on #1236
As a workaround, I've decided to implement my own simple pick function. If anyone wants to do the same, the steps are as follows:
1. Use MoveIt to plan a path to a pose ~10 cm away from the object.
2. Use MoveIt to plan a cartesian path to the object.
3. Use whatever API the robot provides (in my case, franka_ros for the panda arm)  to close the gripper to the specified width (in my case they even

[2018-11-29 17:33] v4hn commented on #1236
It should definitely not ignore collision objects. If that happens, there is probably an error in your code.

It is true that the pick pipeline does not know about the scaling factors.

That being said, you are obviously free to implement a similar motion sequence yourself, but you need a quite complex system to get comparable features.
Your current approach (1) does not consider alternative grasp

[2018-11-29 17:33] #1236 closed

[2018-11-30 06:15] rhaschke commented on #1217
I was not able to reproduce the problem.

`moveit_tutorials` doesn't provide a python script `attach_object_async.py` (maybe tutorial maintainers can provide more insight?), so I'm not sure what you actually did. Please provide the script.
Attaching an object myself, doesn't pose any issues with collision checking during planning.

[2018-11-30 08:15] rhaschke commented on #1217
Thanks! Now, I was able to reproduce your issue. I think there is an issue in the PlanningSceneInterface (or its python wrapper). Unfortunately, I don't have time today to dive into this.

Please consider using an alternative approach to attach the object: use `scene.add_*()` to instantiate the object and `group.attach_object("tool", "panda_link8")` to attach it.

Full (working) example: [test.py]

[2018-11-30 19:35] sjhansen3 commented on #1217
Thank you @rhaschke we will take a look at this and get back to you if its not fixing it on our end.

I'd be curious to know what might be causing this issue. We have been considering removing the use of the python move_group and instead publishing the ros messages ourselves. Publishing messages directly to the move_group node didn't seem to fix the issue either.

[2018-11-30 19:35] sjhansen3 commented on #1217
@davetcoleman - This is the issue we were discussing earlier :)

[2018-12-03 02:54] davetcoleman commented on #1225
These are good arguments, sounds good to me.

Notably, you are the one who [asked me to make that release](https://github.com/PickNikRobotics/rviz_visual_tools/pull/105#issuecomment-441560202) :-)

[2018-12-03 07:16] davetcoleman commented on #1217
I've replicated this issue on my side as well, thanks for this easy to follow script!

To aid in debugging, I made a [quick utility tool](https://github.com/ros-planning/moveit/pull/1239) that verifies the objects are being properly added / attached: *this isn't an issue with how collision objects are added*

After further debugging I'm finding that the goal state properly prohibits collisions wit

[2018-12-03 13:06] jschleicher commented on #639
The first link to moveit_task_constructor is dead, permalink probably mentions the line to use [isValid callback in setFromIK](https://github.com/ros-planning/moveit_task_constructor/blob/1b1a82f7c8634d3b7f704d8ec22e624ef4c3c431/src/subtasks/generate_grasp_pose.cpp#L168).

+1 for adding a simple to use overload together with documentation.

[2018-12-03 17:39] davetcoleman commented on #639
Anyone is welcome to contribute to the tutorials! its not very difficult ;-)

[2018-12-04 08:12] SergSpb81 opened #1240 "moveit_setup_assistant collisions_updater ignores --always if --default is not specified"
**Your environment**

ROS Distro: |Kinetic]
OS Version: Ubuntu 16.04
Binary build
ros-kinetic-moveit-setup-assistant           0.9.15-0xenial-20181117-052737-0800

**Steps to reproduce**
1. Create robot model that have two not adjacent links that always in collision.
For example:
kinematik chain is: link1 -----> link2 -----> link3  (link are fixed)
Geometry of links is such that link1 and link3 ar

[2018-12-04 09:41] v4hn opened #1242 "setup_assistant panel for joint_limits.yaml"
The `joint_limits.yaml` file is generated by the setup assistant, but there is no way to edit the file from the assistant.

It would simplify setting limits if we could have sliders for optional position limits that move around the robot visualization too (just as for adding named states).
Joint velocity / acceleration limits could be simple edit-fields with checkboxes to enable/disable them.

To

[2018-12-04 09:56] v4hn commented on #1235
5 DOF arms cannot reach *almost all* 6D-Pose targets.
As a result, moving the 6D interactive marker around fails usually.

To solve this, use a dedicated IK solver (e.g. an IKFast plugin) that explicitly ignores the DOF it cannot reach, or use a generic optimizer (e.g. [bio_ik](https://github.com/TAMS-Group/bio_ik)) and rely on "good enough" solutions with Approximate IK.

Either way, *pose* reque

[2018-12-04 09:56] #1235 closed

[2018-12-06 13:51] rhaschke commented on #1217
@sjhansen3 I cannot reproduce the issue anymore! Your gist example actually contains several python syntax (indentation) errors. Last time, I "fixed" it the wrong way, returning `False` in the first loop of `wait_for_state_update()`. Now, having fixed this, the code works like a charm.
Previously, I guess python was quitting to soon, to be able to actually send the PlanningScene change.

[working.

[2018-12-06 16:31] jkarimi91 commented on #1217
@rhaschke I will take a look into this and get back to you today.

[2018-12-07 08:16] fatihirim commented on #19
I have found that this property (minimum_waypoint_count) is a ros parameter and its default value is 10. If you look on your ROS param server for the parameter /move_group/ompl/minimum_waypoint_count, you will see that it is set to 10. I haven`t found a way to change this value during runtime. Changing the value on ROS param server is possible, however I do not want to do this manually everytime I

[2018-12-07 13:02] BryceStevenWilley commented on #19
@fatihirim the `minimum_waypoint_count` variable is declared in https://github.com/ros-planning/moveit/blob/aac8c0de00d5f01c2c3e908b8f4028c84756a920/moveit_planners/ompl/ompl_interface/cfg/OMPLDynamicReconfigure.cfg#L8. If you want to change this value permanently, look into changing that file.

I don't think your question is related to this issue though: if you have questions that aren't bugs in

[2018-12-08 02:34] rhaschke commented on #1225
I would like to the release on the weekend. Any objections?

[2018-12-08 10:59] rhaschke commented on #1136
I will tackle this now.

[2018-12-08 11:57] MohmadAyman commented on #894
I've opened a PR for the Plugin based SA #1243 , would be nice to have your input.

[2018-12-09 07:44] 130s commented on #1225
No objections. Just noticed there are still a few open items in the list https://github.com/ros-planning/moveit/issues/1225#issue-384066739

[2018-12-09 07:48] rhaschke commented on #1225
Please feel free to review them ;-)
If I don't get reviews, I will merge them anyway.

[2018-12-09 11:07] MohmadAyman commented on #1242
I could do that, after we get  #1243  merged.

[2018-12-10 16:16] v4hn commented on #1220
@mzwang828 Thanks for the report.

@Ridhwanluthra could you have a look please?

[2018-12-10 16:22] rhaschke commented on #1225
Release build was successful: [Melodic build status](http://repositories.ros.org/status_page/ros_melodic_default.html).
However, as pointed out in https://github.com/ros-planning/moveit/pull/1251#issuecomment-445873674, removing `moveit_experimental` from the set of released packages, doesn't automatically uninstalls this package. Thus, when updating to 0.10.6, we get a clash:
`E: /tmp/apt-dpkg-in

[2018-12-10 18:05] rhaschke commented on #1225
OK, I will try this approach. Looks like the easiest one.

[2018-12-10 18:08] clalancette commented on #1225
Yeah, I agree with @v4hn that we should release moveit_experimental as an empty package, that way upgrades will be smooth for users.

[2018-12-10 22:30] BrettHemes opened #1255 "Bad IK results/issues via setFromIK AND RViz Motion Planning interactive marker (failures and/or joint flips)"
### Description
Since migrating to Melodic existing code base has started failing with bad trajectories returned from custom interpolators leveraging RobotState::setFromIK calls.  See RosAnswers question [here](https://answers.ros.org/question/310062/incorrectunexpected-behavior-from-trac-ik-with-calls-to-moveitcorerobotstatesetfromik/) when I thought it was a Trac-IK issue.  After playing with mu

[2018-12-10 22:36] BrettHemes commented on #1255
![image](https://user-images.githubusercontent.com/9865385/49765953-85377480-fc99-11e8-84f5-c3af9da706bd.png)

Here is the KDL response of the marker just flying away from the flange while stuck...

[2018-12-10 22:38] BrettHemes commented on #1255
Trac-IK example when translating the marker a small distance through a highly dexterous portion of the workspace showing a flip.
![screenshot from 2018-12-10 16-36-46](https://user-images.githubusercontent.com/9865385/49766164-05f67080-fc9a-11e8-82e6-09f7232fba67.png)
![screenshot from 2018-12-10 16-37-06](https://user-images.githubusercontent.com/9865385/49766170-0abb2480-fc9a-11e8-9f7b-a51e2b460

[2018-12-10 22:42] rhaschke commented on #1255
Thanks for reporting this issue, which I can confirm. I also noticed recently that the tutorials' Panda arm is not smoothly following the rviz marker. I didn't have time yet to look into this and I'm not aware of any changes to the solvers. Did we changed any accuracy thresholds since Kinetic?

[2018-12-11 09:52] rhaschke commented on #1225
Although, upgrading worked in principle, we have still an issue due to the wrong upgrade order (moveit-experimental being upgraded last):
https://hub.docker.com/r/moveit/moveit/builds/bxgqrlckusgbj9ta4a4ktr9

I prepared a new release, defining a (temporary) dependency from moveit-core to moveit-experimental:
https://github.com/ros/rosdistro/pull/19677

[2018-12-11 14:50] gavanderhoorn opened #1257 "enhancement: support loading multiple planner plugins"
### Description

It would be nice if MoveIt supported loading multiple planning plugins into a single instance of `move_group`.

This is currently not possible, requiring users to start multiple `move_group`s or use other tricks (like loading planner plugins directly into their own application).

[2018-12-11 14:55] rhaschke commented on #1257
Which interface/API do you suggest to choose a specific plugin for planning?
Should we augment [MotionPlanRequest](http://docs.ros.org/melodic/api/moveit_msgs/html/msg/MotionPlanRequest.html) with a new field `planner_plugin` or should we hijack the existing `planner_id` and prepending the plugin name there, i.e. `<plugin name>/<planner id>`

[2018-12-11 14:56] gavanderhoorn commented on #1257
I've done the last in the implementation that I linked.

I don't believe it's actually "hijacking": the semantics are exactly the same, as it specifies the specific planner to use. It just includes an additional "namespace".

[2018-12-11 15:00] davetcoleman commented on #1257
I'm watching Gijs write this issue on his laptop from behind him, its amusing.

I like this proposal. In particular, I like the possibility that we could use a simple "local" planner first and if that fails, fall back to a "global" planner like RRT. This would require multiple planners be loaded at once. For example, I've been talking to the team behind [pilz_industrial_motion](https://github.com/

[2018-12-11 15:03] gavanderhoorn commented on #1257
Main issue with it right now -- part from the fact that it doesn't do any checking for anything -- is that it doesn't deal with the planning adapters.

Personally I'd like to have multiple sets of planning adapters loaded, one for each of the loaded planner pipelines.

Unfortunately that's a bit more involved than this simple meta planning plugin loader.

And most likely of course multi-planning p

[2018-12-11 15:05] gavanderhoorn commented on #1257
I remember SwRI telling us that they've done something similar. Perhaps @Levi-Armstrong, @Jmeyer1292 and/or @jrgnicho can tell us something about that (in general, I imagine some things may be confidential)?

[2018-12-11 18:12] rhaschke commented on #1225
With this latest release, both [DockerHub](https://hub.docker.com/r/moveit/moveit/builds/besz5vpufumiwyyrxihthht/) and [Travis](https://travis-ci.org/ros-planning/moveit/branches) are fine again. Release finished.

[2018-12-11 18:35] rhaschke opened #1259 "Flaky unittests"
Since recently, we have some flaky unittests at Travis:

[code]

I wasn't able to reproduce this locally though. Any feedback is welcome!
Maybe it's related to #1104, using `createUniqueInstance()` for plugins.

[2018-12-11 22:46] davetcoleman commented on #1225
Thanks @rhaschke !

[2018-12-12 09:52] rhaschke opened #1262 "Migrate IK Fast template to new KinematicsPlugin API"
In #1166 a new API to initialize KinematicsPlugins directly from a RobotModel was introduced (instead of parsing urdf and srdf again). While most MoveIt-provided plugins are already adapted to the new API,
the IKFast template is still pending.
In https://github.com/ros-planning/moveit/pull/1166#issuecomment-440614141 I asked @mlautman to handle this, as he has recently touched IKFast (#1014).

[2018-12-12 17:09] #1259 closed

[2018-12-12 20:40] gavanderhoorn commented on #1255
Do you suspect it, or did you actually figure out that the migration is the cause?

[2018-12-12 20:46] rhaschke commented on #1255
I only suspect this. Tomorrow, I will try to test Melodic under Kinetic.

[2018-12-12 22:57] jav-solo opened #1263 "controllers.yaml not loading properly"
### Description
When modifying the controllers.yaml I cannot get both controllers to load
Overview of your issue here.

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04

### Steps to reproduce
Use this controllers.yaml and load the controllers list.

`controller_list:
 - name: ''
   action_ns: joint_trajectory_action
   type: FollowJointTrajectory
   default: true
   joints:

[2018-12-13 01:51] liuxin00738 commented on #743
@davetcoleman @mamoll @zkingston
Hi, This problem appears again on my system. Basically I use PRMstar, no problem and find one solution. But when I use RRTstar or RRT, it always fails to generate any solution. I tried other planners and they all seems fine and able to solve it.

I am using kinetic with moveit. The ros-kinetic-ompl has a package.xml with ompl version 1.2.3.
I run sudo apt-get updat

[2018-12-13 02:11] Yosukee opened #1264 "CHOMP can't plan path avoid obstacle if using mimic joints"
I tried CHOMP using mimic joints, but CHOMP can't plan path avoid obstacle.
By the way CHOMP can do it if obviously there are no obstacles around.
To use 6dof robot as 4dof, I change 2 joints to mimic joint.
If I use robot(6dof) used not mimic, CHOMP can plan avoid obstacle.

When planning, CHOMP shows these error messages.
![default](https://user-images.githubusercontent.com/45807461/49909412-290

[2018-12-13 06:54] gavanderhoorn commented on #1263
You appear to be loading two controllers with the same name -- which is also an empty name.

Try to give your controllers different names. That should make things work.

[2018-12-13 09:15] rhaschke commented on #1264
A 4dof robot cannot solve the IK problem anymore (which is 6dof)! This is not chomp-related, but a design-problem on your side.

[2018-12-13 09:15] #1264 closed

[2018-12-13 10:07] Yosukee commented on #1264
I think this is not the case.
OMPL (with LMAKinematicsPlugin kinematics solver) works perfectly with 2 mimic joints for my 6DOF robot. It can avoid obstacles, and no errors at all. Mimic joints are used in order to plan in 4DOF with OMPL, but in the end 6DOF robot is displayed in RViz. Maybe I can post a video later, too.
If the planner is changed to CHOMP, simple motion planning is successful, bu

[2018-12-13 10:33] v4hn commented on #1255
@BrettHemes Could you possibly provide feedback on whether moveit's `melodic-devel` branch still works for you on ROS kinetic (Ubuntu 16.04) too? (You will have to compile trac-ik locally too to test it)

Debugging this is painful, so the more information we have from the outside, the better.

[2018-12-13 11:03] v4hn commented on #1255
Joint flips in Cartesian interpolation is a general problem of the method.

In theory the IK plugin should be informed about the path-planning application to avoid random-restarts methods in solving that create these flips.

I believe it is entirely possible that scheduling/timing in the individual components changed due to minor changes in the OS and it became (slightly) more likely that TracIK f

[2018-12-13 11:07] rhaschke commented on #1264
OMPL usually uses joint-space sampling. Thus, because no IK is involved, it can handle underactuated situations - as long as the goal is feasible.
I'm not sure about the approach in CHOMP, but from your screenshot I infer that CHOMP is using IK.
Maybe @bmagyar can provide more insight.

[2018-12-13 11:11] rhaschke commented on #1255
This issue is not only related to TracIK, but also present in the KDL plugin.
I agree with @v4hn that the Cartesian interpolation is not nicely designed in general, but it worked somehow in Kinetic. Now, it's more or less completely broken in Melodic.

To narrow it further down, I plan to build in a melodic-environement, but with KDL downgraded to 1.3.
However, I will only have time for this in th

[2018-12-13 14:58] jav-solo commented on #1263
So, for some reason it could not find the controllers if I simply added a different name to each. However what did work is swapping the name with the action_ns I was using for each as such:

`controller_list:
 - name: joint_trajectory_action
   action_ns: ''
   type: FollowJointTrajectory
   default: true
   joints:
     - joint_1
     - joint_2
     - joint_3
     - joint_4
     - joint_5
     -

[2018-12-13 14:58] #1263 closed

[2018-12-13 15:15] AndyZe commented on #743
I just updated/upgraded my packages and it seems like this issue is definitely solved. Closing it - thanks @BryceStevenWilley & @zkingston

[2018-12-13 15:15] #743 closed

[2018-12-13 15:42] rhaschke commented on #1255
I built in a Melodic environment with KDL 1.3. The good news is: It's not related to KDL, because the problem persists with KDL 1.3. Hence, it's some other 3rd-party lib in Bionic/Melodic causing the trouble.

[2018-12-13 16:43] BrettHemes commented on #1255
@v4hn I tried a bit this morning getting a Kinetic Docker container going with nvidia support to no avail... got to where it "should" work but end up with segfaults from RViz...  My native installs are all now Melodic so I will have to get a VM going or find another machine with Kinetic on it.

[2018-12-13 16:50] rhaschke commented on #1255
@BrettHemes Do you know about the [gui-docker script in the MoveIt source tree](https://github.com/ros-planning/moveit/blob/melodic-devel/.docker/gui-docker)? I used this to run rviz from docker. However, I used an Intel GPU, because I don't have [nvidia-docker](https://github.com/NVIDIA/nvidia-docker) installed.

[2018-12-13 17:31] rhaschke commented on #1255
@BrettHemes I think, it's not necessary that you validate again that the melodic-branch works well on ROS Kinetic. I can reproduce the error and we just need to figure out which 3rd-party library is to blame.

[2018-12-13 19:11] BrettHemes commented on #1255
Sounds good;  I appreciate the effort in looking into this quickly!

I was not aware but used a similar approach based off stuff [here](https://github.com/osrf/docker_templates/issues/33) and other places.  I got everything working for Melodic but Kinetic needs extra steps to get libglvnd which I think is the culprit of my failure...

[2018-12-13 20:09] rhaschke commented on #1255
I removed the image comments as they distracted me from finding relevant comments.
Let's summarize my rviz tests, i.e. loading `moveit_resources/fanuc_moveit_config/launch/demo.launch`,
disabling collision-aware IK, and moving the arm around

| MoveIt             | on Kinetic     | on Melodic  |
| ------------------- |:----------------:| ---------------- |
| kinetic-devel      | OK             | s

[2018-12-13 21:48] rhaschke commented on #1225
Triggered a new release, https://github.com/ros/rosdistro/pull/19714, to fix regression #1259 / #1261.

[2018-12-14 10:54] rhaschke commented on #1255
Working on unit tests now...

[2018-12-14 14:07] christian-rauch opened #1266 "RobotState RViz crashes when sending joints that are not in the description"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: melodic
* OS Version: Ubuntu 18.04
* Binary build: 0.10.5

### Steps to reproduce
Activate the `RobotState` RViz plugin and send a `DisplayRobotState` message which contains joints that are not available in the robot description. E.g. "fubar"

Btw, the `Robot State Topic` field gives as hint: `The topic on which the

[2018-12-14 14:39] BrettHemes commented on #1255
Also, in case it helps I have noticed that if an end effector is defined in the move group it turns "pinkish" when the chain gets stuck (versus its normal green color).  I looked through the visual tools code and only found constants for RED and GREEN.  Do you know what this pinkish color for the end effector designates or where it is getting set from?

[2018-12-15 05:45] adam-vonderviszt opened #1268 "Reconfiguring planner parameters online"
### Description

In short, I need to change planner parameters like longest_valid_segment_fraction online. Using "set_planner_params" service I can change it, and with "get_planner_params" service I can also verify the change, but after sending a planning request the following message appears:

`[ INFO] [1544851647.956426953]: Planning request received for MoveGroup action. Forwarding to planning

[2018-12-15 06:33] liuxin00738 commented on #1100
I got the same issue. Could anyone pointing to a direction to solve it?

[2018-12-15 11:07] davetcoleman opened #1269 "Dramatically Reduce Memory Copy with OMPL"
@v4hn requested I create an issue on a optimization I did in graduate school that has never made it back into the mainline MoveIt!. The reason is because it depends on the robot being used and whether the joint model group used (the planning group) has its joint values in a continuous array. And also I guess its not a fully complete idea, as I can't remember all the details at this point.

MoveIt!

[2018-12-15 11:10] gavanderhoorn commented on #1269
Might be worth it to see whether we can create some sort of "view" structure / intermediate mapping that allows one to *always* have contiguous allocation of structures but then whenever needed allows for arbitrary access / mapping of accessors to this underlying structure.

That would -- conceptually at least -- seem to always support this sort of optimisation instead of only in particular cases.

[2018-12-16 23:06] rhaschke commented on #1269
@davetcoleman Unfortunately, the links you provided are broken.

[2018-12-16 23:46] adam-vonderviszt commented on #1268
Yes, the parameters are not applied at all.
If the longest_valid_segment_fraction parameter is changed to a very low value in the config file before launching Moveit, motion planning takes a lot of time as it should, but if it is changed only after launching Moveit using the set_planning_params service, the change is not applied, and the planning is fast as usual.

[2018-12-17 03:37] sharronliu opened #1273 "Potential out-of-bounds access at moveit setup assistant"
### Description
1. moveit/moveit_setup_assistant/src/widgets/robot_poses_widget.cpp:
RobotPosesWidget::loadJointSlider()
"&init_value" is passed to "getVariableDefaultPositions()" which uses it as an array, potential out-of-bounds access.

2. moveit/moveit_setup_assistant/src/widgets/robot_poses_widget.cpp:
RobotPosesWidget::showDefaultPose()
"&init_value" is passed to "getVariableDefaultPositions

[2018-12-17 03:47] sharronliu opened #1274 "Potential out-of-bounds access at moveit core"
### Description
moveit/moveit_core/robot_trajectory/src/robot_trajectory.cpp:
RobotTrajectory::unwind()
"&reference_value" is passed to function "enforcePositionBounds()" which uses it as an array, potential out-of-bounds access.

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04

### Steps to reproduce
code review

[2018-12-17 03:53] sharronliu opened #1275 "Potential out-of-bounds access at moveit ros trajectory execution manager"
### Description
moveit/moveit_ros/planning/trajectory_execution_manager/src/trajectory_execution_manager.cpp:
TrajectoryExecutionManager::validate()
1, "&cur_position" passed to function "enforcePositionBounds()" which uses it as an array, potential out-of-bounds access

2, "&traj_position" passed to function "enforcePositionBounds()" which uses it as an array, potential out-of-bounds access

###

[2018-12-17 03:57] sharronliu opened #1276 "Potential memory leak at moveit planner"
### Description
moveit/moveit_planners/chomp/chomp_motion_planner/src/chomp_planner.cpp:
ChompPlanner::solve()
"optimizer" was created but not freed before return.

optimizer = new ChompOptimizer(&trajectory, planning_scene, req.group_name, &params_nonconst, start_state);
if (!optimizer->isInitialized())
{
...
return false;
}

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04

[2018-12-17 04:04] sharronliu opened #1277 "Potential memory leak at moveit setup assistant"
### Description
1. moveit/moveit_setup_assistant/src/widgets/robot_poses_widget.cpp:
RobotPosesWidget::doneEditing()
"searched_data" was created, and its contents copied and pushed to "onfig_data_->srdf_->group_states_", but not freed before return.

searched_data = new srdf::Model::GroupState();
if (isNew)
{
config_data_->srdf_->group_states_.push_back(*searched_data);
}
...
_EMIT isModal(false);

[2018-12-17 04:35] sharronliu opened #1278 "MoveGroupInterface::pick() always failed at IKConstraintSampler::callIK() due to random seed is used"
### Description
Use MoveGroupInterface::pick() and the motion planning always failed at IKConstraintSampler::callIK(), due to "FALSE" is always passed via the last param "use_as_seed".

As comparison, when the same target pose passed to MoveGroupInterface::setPoseTarget(), the motion planning always success.

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04

### Steps to rep

[2018-12-17 04:39] sharronliu commented on #1278
Additional inputs, if "use_as_seed", the last param of IKConstraintSampler::callIK(), was set as "TRUE", the motion planning become success.

It deserved to investigate why "FALSE" is always passed when doing a "MoveGroupInterface::pick()".

[2018-12-17 06:36] felixvd commented on #1278
Could you link the part in the code where the parameter `use_as_seed` passes the wrong value, as you say?

[2018-12-17 06:55] sharronliu commented on #1278
https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/constraint_samplers/src/default_constraint_samplers.cpp#L587
if (callIK(ik_query, adapted_ik_validity_callback, ik_timeout_, state, **project && a == 0**))

[2018-12-17 07:10] felixvd commented on #1278
Could you also link where `project` is passed through, for `pick()` and `setPoseTarget()` respectively? I haven't dealt with this part of the program a lot. Thanks.

[2018-12-17 07:19] sharronliu commented on #1278
"project" is not passed from user app, instead it was internally handled by the moveit core. See here https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/constraint_samplers/src/default_constraint_samplers.cpp#L526

Changing the "project" (which looks like specific for "sample" purpose) may not be a safe fixing. A possible workaround that verified OK on my side is to have "FALSE"

[2018-12-17 07:36] felixvd commented on #1278
I'm not sure that I understand where the difference is right now, so that would be great. Are you sure that there is no other reason for `pick()` failing except for this parameter? Different planning times, for example?

[2018-12-17 07:42] sharronliu commented on #1278
No other reason. In my investigation, the only change that may have "pick()" success is to pass "TRUE" to "use_as_seed"

[2018-12-17 07:56] felixvd commented on #1278
How did you test that precisely? And is the solution that is found by `pick()` correct and feasible when you set `use_as_seed` to `True`?

[2018-12-17 08:02] sharronliu commented on #1278
I once change the following params, which do not help:
- increase the time out
- increase the attempt counts

The motion planning can be executed successfully when setting "use_as_seed" to true from this way:
if (callIK(ik_query, adapted_ik_validity_callback, ik_timeout_, state, project **||** a == 0))

The "||" makes "use_as_seed" true when "a==0", which is the initial attempt. That implies, use

[2018-12-17 08:36] rhaschke commented on #1268
I just verified the behaviour, both in Kinetic and Melodic, and it works like a charm: Changing the parameter `longest_valid_segment_fraction` from the rviz MotionPlanning panel, I can adjust the smoothness of the generated trajectory - as expected. To validate this on your side, please install package `ros-kinetic-moveit-resources` and run:
`roslaunch /opt/ros/kinetic/share/moveit_resources/fanuc

[2018-12-17 09:07] felixvd commented on #1278
Could you explain how that happens and where? `sampleHelper` is internal to the `IKConstraintSampler` class. How do `pick()` and `setPoseTarget()` interact with the constraint sampler differently?

Note that `pick()` does not fail systematically, it only seems to have a low success rate. The [tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pick_place/pick_place_tutorial.html) c

[2018-12-17 09:50] simonschmeisser commented on #1100
Hi @liuxin00738
I haven't committed anything of the above yet. You might want to have a look at the code and start fixing some small and obvious bugs and see if that leads you anywhere. There are many small and obvious bugs! Maybe it then actually starts working already. Maybe you fix all of the obvious bugs and it still does not work. My trust in this algorithm working out in the end is limited.

[2018-12-17 10:15] rhaschke commented on #1225
@clalancette Could you please hold back the upcoming ROS Melodic sync a few more days?
The recent MoveIt release introduced some regressions: https://github.com/ros-planning/moveit/pull/1271, https://github.com/ros-planning/moveit/issues/1255, which I would like to get merged / fixed before.

[2018-12-17 12:25] christian-rauch opened #1279 "RobotState RVIz plugin only shows current state after de-/activating the plugin"
### Description

The RobotState RVIz plugin does not show the state of the robot in the published `moveit_msgs::DisplayRobotState`  message, if RViz is started with the plugin enables. The plugin only shows the state if it gets enabled via the tick-box.

### Your environment
* ROS Distro: melodic
* OS Version: Ubuntu 18.04
* Source or Binary build? Binary, 0.10.5

### Steps to reproduce
1. Publish

[2018-12-17 13:58] adam-vonderviszt commented on #1268
You are right, changing the parameter and planning in Rviz works for me, too.

The problem happens, if planning is executed in python code using Moveit Commander group.plan() function. Even if `longest_valid_segment_fraction` is setted in Rviz or `set_planner_params`, the change is not applied to python motion planning. Dont know what I am missing... Even though, the change can be verified by `get

[2018-12-17 14:03] rhaschke commented on #1268
Is it possible that the python wrapper reset the parameters? Could you check before and after planning with `get_planner_params`?

[2018-12-17 18:38] clalancette commented on #1225
@rhaschke That's fine, I'm still waiting on the pilz_industrial_motion release before I go into freeze anyway.  If that gets done this week, but you still aren't ready, I'll start the freeze with an explicit exception for MoveIt.

[2018-12-18 00:33] adam-vonderviszt commented on #1268
The parameter before and after planning is the same, so python wrapper doesnt reset it, just somehow not applied.

[2018-12-18 00:46] adam-vonderviszt commented on #1268
Ok, I managed to make it work!
The trick was I need to call group.set_planner_id() before planning to apply the changes made by Rviz or the python code.

[2018-12-18 01:05] adam-vonderviszt commented on #1268
To avoid these kind of problems in the future, I think it would be reasonable to set the planner id to the default planner at initialization stage.

[2018-12-18 05:17] Napoleon-BlownApart opened #1280 "What IDE can I use to open the MoveIt repository as a whole project?"
I'm curious as to what IDEs are in use within the community who are working on MoveIt, and if there are any project definitions already in existence that would enable me to open the MoveIt code in a meaningful and organised manner?

I know CMake can generate projects for various IDEs and Make systems, but I haven't had much luck with this option thus far.  If this is a viable approach, a succinct

[2018-12-18 09:32] rhaschke commented on #1280
Please ask such questions on ROS answers. Here, we should focus on real issues only.

Regarding your question: This is primarily a matter of taste, isn't it?
I am using qtcreator with a generic project and catkin tools for building.
I also looked into Microsoft's Visual Studio Code, which comes with plugins for ROS.
The java-based Eclipse/Netbeans is - for me - way to slow to process a code base l

[2018-12-18 09:32] #1280 closed

[2018-12-18 11:18] bmagyar commented on #1264
I agree with @rhaschke , I think there is a feasibility issue here. There may still be a solution to the problem even in the 4DoF case but probably the problem is very hard and thus CHOMP fails to optimize it's way out of it - after all, any optimization-based solution is prone to local minimas.

[2018-12-19 09:06] gavanderhoorn opened #1281 "Using rosdep (rdmanifests) to install a "devel" build of moveit"
This came up in yesterday's maintainer meeting and I thought I'd posts some info here.

I remember I asked a question on ROS Answers about the status of `rdmanifests` (the 'official' name for what @jonbinney referred to): [#q255238](https://answers.ros.org/question/255238).

See the question itself for more details, but @tfoote answered with this:

[2018-12-19 13:59] rhaschke commented on #1279
I cannot reproduce this issue: On my side, after restarting rviz, the robot is first shown in zero-pose shortly, but the next frame update immediately shows it in the published pose.
What confuses me about your video, is that the robot is shown in several poses in sequence. Why? Who publishes all these poses?

[2018-12-19 18:19] rhaschke commented on #1266
Closed via #1267. Thanks a lot for reporting and initial fix!

[2018-12-19 18:19] #1266 closed

[2018-12-19 19:32] jonbinney commented on #1281
We've been using an rdmanifest rule to install the Basler pylon camera library on our dev computers and robots, and it has worked pretty well. It actually just downloads and installs a deb, but used to download and unpack a targall. The rule is here https://github.com/magazino/pylon_camera/blob/indigo-devel/rosdep/pylon_sdk.rdmanifest

[2018-12-19 21:02] gavanderhoorn commented on #1281
yes, I guessed you ran into them with the Pylon package.

That is also the package I used as an example in the ROS Answers question I linked to in the OP.

sure.

yes. And all as root iirc. Not sure that is something we'd want to use for distribution of moveit.

[2018-12-19 21:21] jonbinney commented on #1281
Agree that it's a bit sketch to run random stuff as root. A deb we build isn't strictly better though, is it? Can't debs have arbitrary post install scripts that get run as root by dpkg?

[2018-12-20 06:37] Kr1sYe commented on #1187
Solved by ros::AsyncSpinner spinner(1); spinner.start();

[2018-12-20 10:38] gavanderhoorn commented on #1281
true. Technically that could do the same things, although I believe the assumption is that debs go through something of a review process -- but that could of course also be the case for `rdmanifest`s.

[2018-12-20 15:21] christian-rauch commented on #1279
I am generating random robot configurations. It's basically a stream of `moveit_msgs::DisplayRobotState` messages.
I can reproduce the issue with this bag file [robot_states.bag.txt](https://github.com/ros-planning/moveit/files/2699348/robot_states.bag.txt) and this robot URDF [robot.urdf.txt](https://github.com/ros-planning/moveit/files/2699354/robot.urdf.txt) (full robot rescription is available

[2018-12-21 00:54] tfoote commented on #1281
The trust is approximately the same for adding the rdmanifest into your rosdep sources as adding a new apt repository. They both can have a requirement to trust that maintainer. We do at least force the md5sum check for the rdmanifest but that's definitely not foolproof these days. And with extra network resources there's other possible compromises. Though yes, some debs do things like pull extern

[2018-12-21 04:34] davetcoleman commented on #1070
@RoboticsYY I like this idea to make calibration easier to setup in the MoveIt! Setup Assistant! Thoughts:

- @MohmadAyman put a lot of effort into expanding the feature set of the MSA last summer, see [blog post](http://moveit.ros.org/moveit!/ros/2018/12/11/gsoc-2018-perception-pipeline.html). Perhaps he can provide some assistance.
- @MohmadAyman's recent efforts to [make all the screens plugin-

[2018-12-21 04:39] davetcoleman commented on #1273
Good catch! Do you have a suggested solution?

[2018-12-21 12:54] v4hn commented on #1150
I'm undecided here.

This would be a big semantic change affecting *many* demos without warning in the name of "cleaner" interfaces. A migration note helps, but everyone still has to patch their demos...

`ATTACH` is an operation that requires more information (the link to attach it to) and `DETACH` is its complement. It does not seem very clean to me to have only one of them in the `CollisionObje

[2018-12-21 13:05] v4hn commented on #1151
I did not see this before... :/

WHAT? Personally I consider this a rather severe error.
Checking limits is efficient and I see no reason to skip it here.

Could you submit a patch for this @simonschmeisser?

[2018-12-21 13:41] v4hn commented on #1168
@130s I believe everyone agrees that we do not need the release branches upstream, but that they are useful during releasing. Can this be closed? Did you update the documentation as you proposed?

[2018-12-21 13:54] v4hn commented on #1188
No feedback, closing.

[2018-12-21 13:54] #1188 closed

[2018-12-21 14:59] v4hn commented on #1217
@jkarimi91 is this still relevant?

[2018-12-21 23:54] davetcoleman opened #1284 "Migrate moveit_tutorials into main moveit repo"
I think our documentation would be much easier to maintain if feature changes could be combined with documentation changes in the same PR. For example, we often see comments like [this](https://github.com/ros-planning/moveit/pull/1253):

This is a perfectly natural comment for anyone to make who is focused on delivering good code and features for their project. However, this is not ideal for the d

[2018-12-22 15:38] gavanderhoorn commented on #1284
I'm not entirely sure I understand how merging the documentation into the main repository makes it easier to keep things in-sync: if someone submits a PR without updating documentation, it doesn't really seem to matter whether the PR to `ros-planning/moveit` is missing the doc updates, or there isn't one against `ros-planning/moveit_tutorials`.

And similar to what we discussed in the last maintai

[2018-12-23 10:43] RoboticsYY commented on #1070
@davetcoleman Thanks for your feedback!
* I have seen @MohmadAyman has made a lot of efforts to add new features to the MSA. I'm designing the handeye calibration screen following his convention of adding the perception screen.
* I noticed @MohmadAyman 's effort to make all screen plugin-based. I think it is a good idea. Once his work is merged, I can also make the handeye calibration screen plugi

[2018-12-24 07:59] rhaschke commented on #1279
Sorry, but even using a non-standard topic name, I cannot reproduce this issue. Maybe this was fixed in #1199? Could you validate this against MoveIt 0.10.7 please?

[2018-12-24 11:19] rhaschke commented on #1225
Triggered a new release 0.10.8: https://github.com/ros/rosdistro/pull/19825

[2018-12-25 16:50] v4hn commented on #1284
This proposal needs to be discussed at a maintainer meeting.

Also, thank you for quoting me @davetcoleman :stuck_out_tongue:

I mostly agree with @gavanderhoorn. I don't think it is an acceptable hurdle to require tutorial patches when people don't have the enthusiasm or time available to do them.

Also, I don't like the idea of using gitlfs for our main repo, although I quite like the tool for l

[2018-12-29 15:51] rhaschke commented on #1225
0.10.8 released and synced.

[2018-12-29 15:51] #1225 closed

[2018-12-29 18:22] rhaschke opened #1285 "KinematicsBase API"
To be honest, I cannot understand the current KinematicsBase API.

First of all, there are **`getPositionIK()`** and various versions of **`searchPositionIK()`**.
As pointed out in https://github.com/ros-planning/moveit_core/issues/153 by @davetcoleman
* The distinction between these two methods is not very clear.
* MoveIt never uses `getPositionIK()`.
  Actually that's not true (anymore). In [omp

[2018-12-31 05:36] davetcoleman commented on #1070
This is pretty impressive progress! I'm curious what input @drchrislewis might have given he's worked on similar stuff recently as [presented at ROSCon 2018](https://vimeo.com/293526149).

The one big architectural question I have is... does this advanced functionality belong in the MSA or should it be a standone application? The fact that it generates a ``.yaml`` file indicates to me that yes, it

[2018-12-31 14:05] drchrislewis commented on #1070
@davetcoleman  @RoboticsYY This is quite interesting to me. I just recently refactored my calibration routines into something with a very similar look and feel. One of the calibrations available is the eye-hand or what I've called wrist-cal. I created two rviz plugins, a bit crude, but similar to the operation of what is presented here. My calibration nodes are now service call operated. This allo

[2018-12-31 22:18] davetcoleman commented on #1269
I've fixed the deadlinks @rhaschke

[2019-01-01 23:40] davetcoleman commented on #1168
+1 closing this

[2019-01-02 09:55] rhaschke commented on #1284
I agree to @gavanderhoorn: Merging the tutorials into the main repo doesn't facilitate the need to prepare corresponding documentation changes for a code PR. Maybe, it's a little bit easier to keep track of these coordinated PRs. However, this doesn't justify all the cons you already listed.
I think having a policy, as suggested by Gijs, to have a documentation PR before a code PR can be accepted

[2019-01-02 10:23] rhaschke commented on #1187
Just as an explanation: `MoveGroupInterface::getCurrentPose()` relies on ROS spinning being active.
Hence, the spinning needs to be started _before_ this call. The only standard way to accomplish this (without blocking) is to use an `AsyncSpinner`. There is no issue in using more than one thread for the asynchronous spinner - despite the fact that message processing order is not guaranteed anymore

[2019-01-02 11:12] rhaschke commented on #1273
It's [checked in advance, that the joint uses only a single variable](https://github.com/ros-planning/moveit/blob/4d25c3a8e9de614afa28b234dcc6c83648bc47f4/moveit_setup_assistant/src/widgets/robot_poses_widget.cpp#L519), i.e. a one-element array.

[Same here](https://github.com/ros-planning/moveit/blob/4d25c3a8e9de614afa28b234dcc6c83648bc47f4/moveit_setup_assistant/src/widgets/robot_poses_widget.cp

[2019-01-02 11:12] #1273 closed

[2019-01-02 11:14] rhaschke commented on #1274
This function works on continuous (rotational) joints, that only use a _single_ joint variable.

[2019-01-02 11:14] #1274 closed

[2019-01-02 11:17] rhaschke commented on #1275
This method only checks the single-dof trajectory. Hence, there is only a single joint variable.

[2019-01-02 11:17] #1275 closed

[2019-01-02 11:33] rhaschke commented on #1277
There are potentially many leaks in MSA. Best option to track them down is using [AddressSanitizer](https://github.com/google/sanitizers/wiki/AddressSanitizer):
`LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libasan.so.4 rosrun moveit_setup_assistant moveit_setup_assistant`.
As MSA is only called once in a while, we didn't care too much about these leaks in the past.

[2019-01-02 11:36] rhaschke commented on #1276
This one was fixed in e658cafaf8f0e88c4ca6ad499f05753f36e30878 /  106e7782875fd75bba41002ef6816d942c1d91e8. Potentially there are more leaks in this new code.