[2020-09-03 09:24] v4hn opened #2292 "MSA: cancel components dialog for new planning group"
In the "Planning Groups" tab of the MoveIt Setup Assistant, users can add new planning groups to their configuration:

![dialog](https://user-images.githubusercontent.com/680358/92096378-1851ff80-edd7-11ea-815f-deb4e3d173cc.png)

As the last step of this process, the user should click any of the four buttons on the bottom to assign an actual structure to the robot.
(Someone should really add the "

[2020-09-03 09:26] #1990 closed

[2020-09-03 09:28] v4hn commented on #1778
Resolved in 1bfa63f0aa8475d7d9343070592fc4ef15de9d81 some months ago.

[2020-09-03 09:28] #1778 closed

[2020-09-03 09:30] v4hn commented on #1229
Fixed by @NFiedler last year.

[2020-09-03 09:33] v4hn commented on #2291
Duplicate of #780 .

[2020-09-03 09:33] #2291 closed

[2020-09-03 09:34] v4hn commented on #780
It's somewhat frustrating to find issues I wrote two years ago about the same thing after I just wrote a new issue...
Anyway, here's my alternative proposal for a fix as written in #2291 :

[2020-09-03 09:36] v4hn commented on #638
Implemented in https://ros-planning.github.io/moveit_tutorials/doc/planning_with_approximated_constraint_manifolds/planning_with_approximated_constraint_manifolds_tutorial.html for a long time now.

[2020-09-03 09:36] #638 closed

[2020-09-03 13:59] MohmadAyman commented on #1527
Yes, sadly I couldn't realize an implementation that would work with the last set of requirements we've talked about with @rhaschke

[2020-09-03 14:12] pbeeson commented on #1673
This is still the case in MoveIt master branch as of 09/03/2020.  Unsure if this is by design or not.

[2020-09-03 14:18] tylerjw opened #2294 "Drop kinetic from CI testing (can't build geometric_shapes)"
CI is failing for kinetic in geometric_shapes:

[code]

If we can't build geometric_shapes in kinetic, should we stop testing kinetic in CI?

[2020-09-03 16:08] rhaschke commented on #2294
I already dropped Kinetic testing in geometric_shapes. For the main MoveIt repo we should do the same.

[2020-09-03 16:35] RealWilliamWells commented on #2289
Oh I wasn't aware actually thanks! I just tested with `Universal_Robots_ROS_Driver` instead, and it produced the same results.

[2020-09-03 17:38] gavanderhoorn commented on #2289
[The notice](https://github.com/ros-industrial/ur_modern_driver#deprecation-notice) is rather hard to miss:

Besides that the package manifest also marks it as `deprecated`, so you should see warnings when building your workspace.

I did not expect anything to change.

[2020-09-03 18:03] simonschmeisser commented on #2284
Fully support that idea!

Considering the visualization, a filename/ resource url would be way faster as OGRE caches it. For collision meshes we currently reupload/reparse all on every geometry change in the planning scene (adding/removing/attaching/... any collision object). I have an open issue discussing this but cannot link it due to being on campground on mobile :)

A filename would also allo

[2020-09-03 18:12] gbcarlos commented on #2287
Thanks anyways @gavanderhoorn. What I am trying to create is a robot with 4 arms that simulates an improved process of additive manufacturing. The goal of reducing the manufacturing process time is the reason that all of the 4 arms need to be working at the same time. If they have a delay of a few seconds behind each other that won't be a problem but obviously if there is only 1 arm working at all

[2020-09-03 20:28] #2294 closed

[2020-09-04 05:51] karshtharyani opened #2296 "White paper/references with pseudo code for the iterative spline parametrization"
I have been trying to understand some of the drawbacks of the parameterization strategy here. Is there a white paper or reference with some pseudo-code explaining what is happening here?

At a high-level I understand stretching of the time intervals to attain max_velocity and max_acceleration and fitting a smooth curve, but don't quite grasp the implementation details here(especially the for `atfa

[2020-09-04 06:24] gavanderhoorn commented on #2296
Afaik there is no resource such as you ask for.

This was written a very long time ago by @kennethanderson (as is the spline-based version), but other than the comments in the files I don't believe there is any additional documentation.

[2020-09-04 07:03] rhaschke commented on #2284
I agree with @simonschmeisser, that a filename/resource url would be better.

[2020-09-04 09:23] felixvd commented on #2296
Personally I'm in favor of more in-line documentation at this level of detail (although "Use tridiagonal matrix algorithm" is surely more sensible than a wikipedia link), so I'd welcome a PR. If you make a good summary for yourself that you would like to share, it can live in the [developer concepts](https://moveit.ros.org/documentation/concepts/developer_concepts/) as well.

[2020-09-04 12:28] felixvd commented on #2287
Well, not "wrong", but you won't be able to run 4 robots asynchronously with that setup. I assume this is what happened:

- You have 8 different planning groups set up inside your moveit_config (one for each Panda and one for each hand)
- You roslaunch `moveit_planning_execution.launch` or `move_group.launch`, which creates one `move_group` instance
- Your script node creates 4 instances of the `M

[2020-09-04 15:31] tylerjw commented on #2240
Pinging @AndyZe to see what he thinks of your challenges.

When you say "RT for active compliance" what do you mean?  Is this gravity compensation or something similar?

[2020-09-04 15:38] #2175 closed

[2020-09-04 15:47] AndyZe commented on #2240
Yep, moveit_servo is in a good state. It can easily handle 100 Hz.

For multiple arms, you'll have to launch multiple Servo nodes and give each one a namespace. See the parameter_ns in the launch files, e.g. here:   https://github.com/ros-planning/moveit/blob/2ac4db94ffee73933deda961a71262d3a893acb1/moveit_ros/moveit_servo/launch/cpp_interface_example.launch#L5

You'll probably want to launch a ro

[2020-09-04 15:50] tylerjw opened #2297 "Moving code that depends on QT out of the MoveIt repo"
As much of our compile time is as a result of qt elements it would be nice to move those into a separate repo.  The advantages I see in doing this are:

* Less untested code in the moveit repo (we don't currently test any gui elements)
* People who use moveit without qt won't have to install that dependency
* Speed up CI

Disadvantages:

* It would break existing setups that depend on master (woul

[2020-09-04 15:59] AndyZe commented on #2240
In MoveIt2, Servo works well already. It actually has more unit tests and is probably more performant overall. So yeah, upgrading to MoveIt2 Servo sounds like a good idea at some point.

[2020-09-04 16:12] AndyZe commented on #2240
I'm going to close the issue, reopen it or start a new issue if you have any questions.

[2020-09-04 16:31] mikeferguson commented on #2297
A possible alternative would be a script that places appropriate CATKIN_IGNORES for a "headless" build without QT - they are already separate ROS packages, right? Or has QT leaked into things like moveit_core over time?

I think the MoveIt CI is based on Industrial CI, right? Industrial CI already supports testing downstream repos, FYI.

Final thought: perhaps do this in MoveIt2 and then decide wh

[2020-09-04 16:57] tylerjw commented on #2297
They seem to be loosely based on each other a long time ago.  The code has diverged quite a bit and we are not using industrial_ci here.  That would be one feature we would gain by moving to industrial_ci.

Good point.  That is probably the best approach to any large restructuring efforts anyway.

[2020-09-04 17:04] tylerjw opened #2298 "Tests failing for moveit_core on Noetic in Travis"
### Description

Here is the travis run: https://travis-ci.com/github/ros-planning/moveit/jobs/381214917

I'm going to work on reproducing this locally and try doing a git bisect of recent merges on dependencies to see if I can find the source.  Nothing was merged into master here since this started failing.  Any help would be appreciated.

[2020-09-04 17:06] tylerjw commented on #2298
[code]

[2020-09-04 17:39] gavanderhoorn commented on #2240
Doesn't the discussion hinge on what definition of *real-time* @tianshiz uses?

Servo is not deterministic, which would be the classic definition of real-time. Neither in ROS 1, nor ROS 2.

That's also impossible, as we typically don't use a real-time transport. But apart from that it hasn't been written with determinism in mind.

If real-time means *fast enough* here, then it current ROS+MoveIt+s

[2020-09-04 17:44] gavanderhoorn commented on #2297
@mikeferguson wrote:

Or explicitly list the packages which should / shouldn't be built?

Both Catkin and Colcon support that.

Wouldn't require splitting up nor fiddling with `CATKIN_IGNORE` files.

[2020-09-04 18:11] tianshiz commented on #2240
thanks for the input guys.
gavanderhoorn is right, ultimately I'm analyzing the realtime capabilities of ROS2 + Moveit Servo on Ubuntu w/ Xenomai or  RT_PREEMPT

From my understanding, Xenomai is considered hard realtime and RT_PREEMPT is soft. For my requirements, at minimum a soft realtime is necessary when moving the wheels/arms/gripper. But, it would be good to know what the limits are. Is a r

[2020-09-04 18:23] AndyZe commented on #2240
You are right. We used to be able to claim it was realtime (as presented at ROSCon) but @tylerjw 's big reshuffling PR nuked that capability. Now, it just runs as fast as it can if it can't keep up with the desired rate.

I probably should have been more critical in reviewing that big PR.

[2020-09-04 18:27] AndyZe commented on #2240
Well, if hard realtime is really important, you could work from a commit prior to this one: https://github.com/ros-planning/moveit/pull/2103

Or open a PR to restore that functionality.

[2020-09-04 18:59] tylerjw commented on #2240
To be more specific, what I did was change the main processing from happening in threads to happening in ROS timers.  I've since been reconsidering that decision.  I did this mostly because it would play nicer with the rest of a ROS system in a more performant way.  It has the drawback though that I gave up the ability to specify the threads that those parts of the system ran on.  If we restored r

[2020-09-04 19:05] gavanderhoorn commented on #2240
Timers are events, handled by CallbackQueues.

CallbackQueues can be managed by your own spinners, which can be run in a thread of your choosing.

It's well possible that doing this in a thread with RT priority (under RT preempt) will make things a lot more deterministic.

For one thing, you wouldn't be handling timers and topics and services (etc) with the same callback queue.

[2020-09-04 19:08] tylerjw commented on #2240
That's awesome, I should try to get a demo of that working.  That would be awesome to have an example for how to do that.  I didn't realize you could create your own spinners.

[2020-09-04 19:10] gavanderhoorn commented on #2240
The [roscpp/Overview/Callbacks and Spinning](http://wiki.ros.org/roscpp/Overview/Callbacks%20and%20Spinning) page has a good overview of some techniques.

Especially the later sections.

[2020-09-04 19:10] AndyZe commented on #2240
Probably mostly an academic exercise. We should find out what kind of control rate it can hit these days.

And Tyler - I think the performance gains were worth it.

[2020-09-04 19:11] gavanderhoorn commented on #2240
What is?

Reducing jitter would seem pretty advantageous.

Not every controller has the massive filtering URs have.

[2020-09-04 19:13] tylerjw commented on #2240
I think what @gavanderhoorn is saying that the way it now is could be made RT by creating our own spinners that are on RT threads.

In the end I think it is probably more valuable to show that we can hold a good control rate for common robots with servo very deterministically.  I think that could even be really good for some of our current projects.

[2020-09-04 19:16] gavanderhoorn commented on #2240
Well .. it'll probably be possible to reduce jitter by handling your timer events separately.

It's similar to how many `ros_control` drivers work: start a thread with RT priority and let that thread call `hw_iface.read(); ctrlr_mgr.update(); hw_iface.write();`.

[2020-09-04 19:24] tylerjw commented on #2240
For performance reasons I also want to make servo a nodelet (the ros2 port of this is a composable node) and backport some of the other improvements Adam made in his port.

[2020-09-04 19:57] tylerjw commented on #2240
I'm going to reopen this because I want this conversation to stay around and be easy to find so I can refer to it until I have some time to work on trying some of the stuff we discussed here.  @tianshiz, if you get a chance to try any of these ideas for your project please give us feedback.

[2020-09-04 21:29] tylerjw commented on #2298
[code]

[2020-09-04 21:40] tylerjw commented on #2298
[code]

[2020-09-04 21:50] tylerjw commented on #2298
My suspicion is that this is caused by the robot model builder's call into libsrdfdom and that somehow we are now hitting this line: https://github.com/dlutguobin/RC/blob/9bdc2c08e9b29e514ff2858726b1ea5f44fb6ffe/srdfdom/src/srdf_writer.cpp#L111

I'm going to build with debug symbols to see if I can figure it out.  Also, did something change in the srdfdom project from melodic to noetic that might

[2020-09-04 23:40] tylerjw commented on #2298
I checked out srdfdom and the problem went away on the melodic-devel branch.  That means it probably has something todo with the tinyxml2 library port.

[2020-09-05 04:54] rhaschke commented on #2297
This approach counteracts previous approaches to merge closely related packages into a single repo.
Using ccache, building time is not the major issue for Travis, but testing is!
What about a mechanism to limit tests to packages that have seen changes in a PR?

[2020-09-05 05:52] tylerjw commented on #2297
In this build: https://travis-ci.com/github/ros-planning/moveit/jobs/381214917

Even with ccache the build time is 220s and the test time is 268s.  I think there are probably things we should do to decrease test time (like fixing those tests I wrote that use normal execution to use the jump to the last position execution) but disabling them will make it take even longer to find the bugs like the o

[2020-09-05 05:53] tylerjw commented on #2297
This was just an idea for how we could reduce the CI time (it does have real drawbacks and probably isn't worth it).

[2020-09-05 05:53] #2297 closed

[2020-09-05 19:12] tylerjw commented on #2298
Using gdb I've found that this block of code:

https://github.com/ros-planning/srdfdom/blob/6a9c757f0e8b5268c0887ecc396b140de7add775/src/model.cpp#L627-L634

Is not doing what it used to.  With the old library `FindFirstChildElement("robot")` returns a non-zero result and in this case it returns 0.  Here is some gdb output from breaking inside the if statement (on the debug print):

[code]

_I am

[2020-09-05 19:25] tylerjw commented on #2298
@rhaschke do you have any thoughts or advice on this?  I'm frustrated by gdb's lack of symbols for the tinyxml library but I think I figured out the exact place where the two seem to differ.  I'm not sure how to ask why they differ at this point.  Not being able to look inside the tiny xml object is making this difficult.  I've gone around looking at the variables I can see in the model.cpp and fo

[2020-09-06 15:25] rhaschke commented on #2298
Thanks for your detailed analysis. I will have a look into this right now.

[2020-09-06 15:43] gbcarlos commented on #2287
Ok I understand a bit better now what the problem is, thanks! You are right, I am launching 1 move_group but 4 MoveGroupCommanders. I have launched the move_group launch file in 4 different namespaces now, however I had to also namespace the joint_state_publisher and robot_state_publisher. The controller_spawner node inside the ros_controllers launch file does not work for now due multiple nodes n

[2020-09-06 17:55] rhaschke commented on #2298
The culprit was the SRDFWriter, which failed to populate the XML document with the root <robot> tag.
I fixed this issue locally. I am adding a unittest to srdfdom now and will re-relase subsequently.

[2020-09-06 18:32] rhaschke commented on #2298
srdfdom release request opened: https://github.com/ros/rosdistro/pull/26470

[2020-09-06 18:32] #2298 closed

[2020-09-06 23:13] YuhengZhi commented on #697
I am having a similar problem. I am building Moveit from source on Ubuntu 20.04, which has to use ROS distro Noetic. The errors I got are almost the same as the original description except that the references missing have a suffix of CURL_OPENSSL_4 instead of CURL_OPENSSL_3. A possible clue:
[code]
note how the referee and referrer are different by the number of '@'s.

[2020-09-06 23:35] tylerjw commented on #2298
Sweet, thank you for fixing this.  I didn't really know what I was looking for (other than it not working the way it used to).

[2020-09-07 02:23] felixvd commented on #2287
I don't know if the `<group ns=...` parameter can be nested and if it works for launch files, although I assumed/hoped it would. You should not have to namespace the controllers though. Keep them wherever they were, and try namespacing only the `move_group` nodes. I'm not sure you need to launch `joint_state_publisher` and `robot_state_publisher` in the namespace either if you use `remap`.

As far

[2020-09-07 06:47] rhaschke commented on #697
Sorry, we cannot help on this issue: it's a problem with your system installation (of `libcurl`). It works for us on a clean Ubuntu system install as Travis CI proofs.

[2020-09-07 09:35] rhaschke commented on #2015
Finally, the release PR is out: https://github.com/ros/rosdistro/pull/26484

[2020-09-07 09:35] #2015 closed

[2020-09-07 10:45] v4hn commented on #2284
I agree to filenames as well.
By core functionality nothing changes if the mesh files cannot be accessed for some reason, but adding the actual meshes in the message would create a lot of overhead. I just don't think that's worth it.

It should be possible to pass [`resource_retriever`](http://wiki.ros.org/resource_retriever) URLs though.

[2020-09-07 10:55] v4hn commented on #1673
This is likely an artifact due to code layout. It's definitely not meant to be like that by design.

[2020-09-07 12:06] rhaschke commented on #2284
Sure!

[2020-09-07 12:13] gbcarlos commented on #2287
The problem with the controllers is that it seems to be looking for the /move_group action server, which is now called /move_group1/move_group/[...] , /move_group2/move_group/[...] etc. due to the namespaces. Remapping all the topics and the action server back to /move_group from inside the move_group launch file so that the controller client can find it is unefficient but remapping the /move_grou

[2020-09-07 12:31] felixvd commented on #2287
The controllers advertise `follow_joint_trajectory` actions, which `move_group` uses to execute trajectories. Why would they be looking for a `/move_group` action server? Can you paste the error? Have you tried launching the controllers in each namespace as well?

Yes, you will still need 4 `move_group` nodes if you want to execute 4 trajectories simultaneously (although it would be nice if this l

[2020-09-07 12:44] gbcarlos commented on #2287
[ INFO] [1599482396.609129695, 3.730000000]: Failed to call service get_planning_scene, have you launched move_group or called psm.providePlanningSceneService()?
[ INFO] [1599482396.609518646, 3.730000000]: Constructing new MoveGroup connection for group 'printer_arm1' in namespace ''
[ WARN] [1599482402.573232859, 5.233000000]: Waiting for printer/printer_arm1_controller/follow_joint_trajectory t

[2020-09-07 13:03] felixvd commented on #2287
Yes, try that. And note that you can format code with \```, if you paste more terminal output.

[2020-09-07 13:22] rhaschke opened #2299 "master vs. noetic-devel branches"
With today's release, the `master` and `noetic-devel` branches got synced (and should stay synced until we decide for an API freeze by the end of the year). This poses a new issue with our docker images: While the `master` branch was built against ROS Melodic so far, `noetic-devel`, obviously, should be built against Noetic. Now, that both branches got synced, master's docker image is building aga

[2020-09-07 16:22] v4hn commented on #2299
Just to keep expectations straight: We agreed to *discuss* an API freeze end of the year, not "decide for" straight away.

Concerning the actual issue: I am not yet fully convinced we have a problem here. Right now, we are in a transition period to have downstream projects support building on Ubuntu 20.04. / noetic.
I believe the build you cited fails because the release is not yet synced, right?

[2020-09-07 16:27] rhaschke commented on #2299
Sure, downstream projects need to be adapted to support 20.04 / Noetic (as well).
The problem is that we cannot test downstream projects against the `master`=`noetic` branch of MoveIt on both, Ubuntu 18.04 and 20.04, because, with the current config, we only have 20.04 images available.

[2020-09-07 17:17] simonschmeisser commented on #2289
Do you have `rviz_visual_tools` installed? That should solve the first error

For the second, something seems to be wrong with your joystick?

[2020-09-07 17:51] #1184 closed

[2020-09-07 18:11] simonschmeisser commented on #2268
Anecdotally it sometimes also moves from inside a bin to the outside ... through the wall ... as there is no check for things not getting worse inbetween. I disabled it afterwards for our setups as that was with a grown up Kuka, not an iiwa.

When we ignore collisions like this, we check that the penetration depths does not exceed a certain limit on the way.

+1 for killing it and having people co

[2020-09-07 18:20] simonschmeisser commented on #2280
Yes, it uses the convex hull for 'self filtering'. You might want to check if all updaters act the same. (point cloud/depth map)

You could add some complex decomposition to the updater or split your meshes by hand. Please keep us up to date on how that goes and provide a PR.

[2020-09-07 18:40] felixvd commented on #2284
Thanks for the input!

I assume the mesh is cached when we use [loadMeshFromResource](https://docs.ros.org/diamondback/api/rviz/html/namespacerviz.html#a7be90172209f6fc23df5de8447c7fa58), but that returns an `Ogre::MeshPtr`. The [renderShape](https://github.com/ros-planning/moveit/blob/master/moveit_ros/visualization/rviz_plugin_render_tools/src/render_shapes.cpp) function that's called for the [w

[2020-09-07 19:31] rhaschke commented on #2284
`rviz::Robot` handles both collision and visual geometries in the same fashion as mere Ogre `entities`:
https://github.com/ros-visualization/rviz/blob/2b31dc4be241e3ebd3a92c0f94d56fdb71391d51/src/rviz/robot/robot_link.cpp#L693-L694
https://github.com/ros-visualization/rviz/blob/2b31dc4be241e3ebd3a92c0f94d56fdb71391d51/src/rviz/robot/robot_link.cpp#L767-L768

`rviz::MeshShape` (used by MoveIt's `Re

[2020-09-07 19:34] simonschmeisser commented on #2284
Sorry for not spending the time to look that up ... #2079 is the one about the mesh msgs of CollisionObjects being translated into Ogre data structures too often in PlanningSceneDisplay

[2020-09-08 01:35] felixvd commented on #2079
I am not familiar with this part of the code, but B seems more sensible to me.

[2020-09-08 06:01] VictoriaBentell commented on #2298
@rhaschke If it's helpful at all, I'm encountering a similar issue using moveit_setup_assistant. I'm using the [UR5 urdf file](https://github.com/ros-industrial/universal_robot/blob/kinetic-devel/ur_description/urdf/ur5_robot.urdf.xacro) to create a new configuration package, but just after adding a planning group (tested with Add Joints, Add Links, & Add Kin. Chain) and hitting Save, the window c

[2020-09-08 06:07] rhaschke commented on #2262
I can confirm this issue in your example. However, I never observed this issue in other setups. Also, the issue seems to occur only in the placing phase, but not in the grasping phase, which is weird. I suspect your mesh model (having e.g. wrong normals).

To narrow the problem, I ask you to further simplify your example, just realizing a motion from A to B with a simple MTC task (`FixedState - Co

[2020-09-08 06:09] felixvd commented on #2284
Thanks.

When I [made a prototype last week](https://github.com/felixvd/moveit/commit/4fa15ed980ec1d20304104ad385ab21bb7bf2c36), I noticed that the objects are drawn without considering the Visual/Collision switch, so I added the logic to [planning_scene_render](https://github.com/felixvd/moveit/commit/4fa15ed980ec1d20304104ad385ab21bb7bf2c36#diff-8f1dc572b985dca832c536bd7ae3ff7cR132) and [robot_s

[2020-09-08 06:20] rhaschke commented on #2298
@VictoriaBentell, please try to update to the latest release of srdfdom (which is only available via [ros-testing](http://wiki.ros.org/TestingRepository) right now, because it's not yet synced.). Alternatively, you can build this package from source.

[2020-09-08 07:54] YannickRiou commented on #2262
Ok I updated the pr2_test_scene branch and simplified the setup, now the planning scene load automatically (added node in the launch file). I used only MoveTo and MoveRelative stages that don't generate multiple solution, so the execution should be the same every time. We checked earlier the mesh and everything seemed fine.

[2020-09-08 20:45] VictoriaBentell commented on #2298
Fixed after reinstalling MoveIt! from ros-testing.

[2020-09-08 21:40] pbeeson opened #2301 "PlanningSceneInterface in master seems to ignore header frame and pose"
### Description

In the current MoveIt master branches, there has been added a top level pose for letting multiple meshes and primitive poses be based off another frame's pose, but nowhere in the planning monitor inside moveit is this ever used.

### Your environment
* ROS Distro: Melodic
* OS Version: e.g. Ubuntu 18.04
* Source or Binary build?
source
* If source, which branch?
master

### Steps

[2020-09-08 22:02] pbeeson commented on #2301
The description was edited as I recalled the changes backwards.  The header/pose were added recently to the CollisionObject message (mesh_poses[] were always there), but seem to have not been fully integrated.  Unsure if moveit supports the header and Pose, but PlanningSceneInterface certainly does not know about these values in its copying of message data.

[2020-09-09 00:44] VictoriaBentell opened #2302 "MoveIt Setup Assistant fails while generating .srdf"
Environment: Noetic; Ubuntu 20.04; binary install from ros-testing (ros-noetic-moveit) on Sep 8 2020

Using MoveIt Setup Assistant with the [UR5 robot](https://github.com/ros-industrial/universal_robot/blob/kinetic-devel/ur_description/urdf/ur5_robot.urdf.xacro), I click "Generate Package" and it gets to 8% and then there's a popup saying
`Failed to generate folder or file: 'config/ur5.srdf' at lo

[2020-09-09 00:47] VictoriaBentell commented on #2302
My workaround is to generate it the first time, and after it fails, move ur5.srdf into a higher folder and delete the rest of the generated files. Then under `Files to be generated` uncheck `config/ur5.srdf` and hit "Generate Package". Then move the original ur5.srdf back into the config folder.

[2020-09-09 01:29] felixvd commented on #2301
This is because #2037 is not merged yet. If you would like to use the feature, you can speed it up by adding your review :)

[2020-09-09 02:52] pbeeson commented on #2301
Oh great.  Thanks for the pointer.

On Tue, Sep 8, 2020 at 8:29 PM Felix von Drigalski <notifications@github.com>
wrote:

[2020-09-09 05:00] gapbridger commented on #2262
hi just to give my self's input on this issue. we used RobotState::attachBody to attach the object rather than PlanningSceneInterface::applyAttachedCollisionObject and our collision problem is solved. not sure why...

[2020-09-09 05:55] felixvd opened #2303 "Motion Planning plugin crashes if planning group changed during execution"
If the user changes the selected planning scene while a motion is being executed, the plugin crashes with a mutex error:

[code]

My guess is that [this is the offending line](https://github.com/ros-planning/moveit/blob/master/moveit_ros/visualization/motion_planning_rviz_plugin/src/motion_planning_frame.cpp#L382), but I don't have the time to look into it.

If that is the problem, an alternative

[2020-09-09 07:40] v4hn commented on #2262
@gapbridger I'm not sure how to interpret your statement. `RS::attachBody` operates on a local C++ class, but `PSI::applyAttachedCollisionObject` adds the object to the planning scene/robot state in the `move_group` node.

[2020-09-09 11:44] gapbridger commented on #2262
@v4hn ok, so if you do `RobotState robot_state = move_group->getCurrentState();` , you can have a RobotState instance that is related to this particular move_group node right? then if you do attachBody, the attached body will change this particular RobotState instance which will (i assume) reflect the changes into this particular move_group node (we can see the attached body in RViz) since I'm not

[2020-09-09 14:04] pbeeson commented on #2301
Actually, while #2037 is related to my issue, it's not actually the "because [it] is not merged yet".  Adding pose to the CollisionObject message in moveit_msgs repo, and stating that this pose is the base pose used, when that's not true is really bad practice.   I don't understand why moveit_msgs is adding in message fields and comments in those messages that state things that are simply not the

[2020-09-09 14:40] pbeeson commented on #2301
This is not a bug in moveit, but more of an issue with how moveit_msgs is allowed to merge unsupport message changes into master well before moveit functionality for those changes is merged.  Moving gripe to https://github.com/ros-planning/moveit_msgs/pull/69

[2020-09-09 14:40] #2301 closed

[2020-09-09 14:52] v4hn commented on #2262
It's a local *copy* and can in no way affect the PlanningScene in the respective `move_group` node.

No, it will not propagate back to the move_group by itself.

Definitely not because of the method calls you describe in your post. If you can see it in RViz, you either publish the local `RobotState` yourself or you also call some ROS interface in the resp. move_group node.

you are definitely conf

[2020-09-09 21:05] rhaschke commented on #2302
Thanks a lot for reporting. That was yet another issue introduced by the transition of `srdfdom` to `tinyxml2`. Sorry about that.
Will be fixed with the 0.6.2 release: https://github.com/ros/rosdistro/pull/26508

[2020-09-09 22:01] beingkartik commented on #2292
Hey, I would like to take this up. However, this will be my first time working on Moveit issues and need some help getting started. I guess we need to make the changes [here](https://github.com/ros-planning/moveit/tree/4611219b472719d8163b856c8fbc6f9eed09b2a4/moveit_setup_assistant/src). But I can't find this in the moveit installation in my system. Do I need to build from source to be able to do

[2020-09-09 22:04] rhaschke commented on #2292
Yes, you need to build from source. But you can limit your build to moveit_setup_assistant only, e.g. using catkin tools like this:
`catkin build --no-deps moveit_setup_assistant`

It would be great if you could provide a patch against the Melodic branch though.

[2020-09-09 22:26] RealWilliamWells commented on #2289
Hey thanks for the reply! I was able to solve the first error by installing `rviz_visual_tools`, but I wasn't able to solve the second one even when using a different controller. The FPS issue with Rviz still persists even after solving the first error.

[2020-09-09 23:11] rhaschke commented on #2289
I cannot reproduce the second issue, because I don't have access to a joystick... Without a joystick attached, there is not drop in performance when _allowing external comm_.

[2020-09-10 00:49] MartensCedric commented on #2289
Yes this is the same behaviour. But the moment a joystick is plugged the FPS goes to 0-1 FPS, but once unplugged it goes back to 30+. Really weird

[2020-09-10 02:44] gapbridger commented on #2262
following is the code snippets where we happened to solve the problem in our project.
state is the name of RobotState instance, and it is instantiated by move_group->getCurrentState()
not sure if by this way, somehow the change to RobotState instance can be propagated to move_group instance which in turn reflects the attach of rigid body in RViz.

I am not really familiar with how moveit actually

[2020-09-10 09:20] v4hn commented on #2262
@gapbridger  Last comment on your issue here, this is independent from @YannickRiou's issue which seems to be more fundamental.

This line makes `move_group` use the start state you provide (and its attached object) instead of the robot state it maintains on its own when `move_group_->plan` triggers planning.
Be aware that this uses the attached object **only** for this one request, it will overwr

[2020-09-11 03:10] gapbridger commented on #2262
@v4hn how is my issue not fundamental? if PSI::apply* can work why don't we use it? we've tried it. the problem is just that this approach doesn't work and RobotState::attachBody works.
you don't need to reply to my comments if you don't want to, i am here just to raise questions and i am replying your response simply because i think you are one of the maintainers.

[2020-09-11 07:09] rhaschke commented on #2299
@davetcoleman: I'm waiting for your feedback on this issue.

[2020-09-11 08:47] v4hn commented on #2262
I'm sorry. Apparently I came across as very rude and you misunderstood what I meant.
Reports on broken functionality are of course always important.

Please file a new issue for your problem giving some more details on your use of `PSI::apply*` in your use-case.
The other issue discussed in the thread is most likely unrelated (by "fundamental" I meant involving lower-level methods in MoveIt).
You

[2020-09-12 01:56] saihv opened #2308 "When would moveit be available in the Ubuntu package repositories for Noetic?"
According to https://github.com/ros-planning/moveit/pull/2304, it looks like moveit was officially released for noetic. When can we expect the binaries to be available in the Ubuntu package repositories?

[2020-09-12 05:55] VictoriaBentell commented on #2308
The binaries are available using [ros-testing](http://wiki.ros.org/TestingRepository)

[2020-09-12 08:27] rhaschke commented on #2308
The packages will become available with the next sync. See the above link for more details on this.

[2020-09-12 08:27] #2308 closed

[2020-09-12 22:25] alexisgaziello commented on #2111
Hello @JeroenDM, just saw the message.

The way I finally made path planning for floating robots (6DoF) was with the joint model group instead of the position of the end effector.

The joint model group has the property that the first joints are the virtual joints of the robot, which correspond to the 6DoF (3 of position, 4 of rotation).

The code looks something like:

[code]

To create a cartesi

[2020-09-13 05:35] AndyZe commented on #2240
btw I did some benchmarking today. It looks like the control loop period varied from about 4.95kHz to 10.1 kHz.

[2020-09-13 05:58] AndyZe commented on #2240
There are occasional spikes as slow as 98.6 Hz, from what I saw. I'm guessing that's due to the extra calculations near a singularity

[2020-09-13 07:32] gavanderhoorn commented on #2240
Sustaining a 10kHz rate on a real-time kernel is already non-trivial, let alone on a regular one.

[2020-09-14 05:55] ARC-cobot opened #2311 "Traceback (most recent call last): File "/home/movo/YW_Kinova/yw_demo_v3_py2servers.py", line 392, in <module> arc=ARC_ACTION_LIB_NODE() File "/home/movo/YW_Kinova/yw_demo_v3_py2servers.py", line 192, in __init__ self._init_movo_groups() File "/home/movo/YW_Kinova/yw_demo_v3_py2servers.py", line 274, in _init_movo_groups self.movegroup_larm_group = moveit_commander.MoveGroupCommander("left_arm") File "/opt/ros/kinetic/lib/python2.7/dist-packages/moveit_commander/move_group.py", line 52, in __init__ self._g = _moveit_move_group_interface.MoveGroupInterface(name, robot_description, ns) RuntimeError: Unable to connect to move_group action server 'pickup' within allotted time (5s)"
### Description
`Traceback (most recent call last):
  File "/home/movo/YW_Kinova/yw_demo_v3_py2servers.py", line 392, in <module>
    arc=ARC_ACTION_LIB_NODE()
  File "/home/movo/YW_Kinova/yw_demo_v3_py2servers.py", line 192, in __init__
    self._init_movo_groups()
  File "/home/movo/YW_Kinova/yw_demo_v3_py2servers.py", line 274, in _init_movo_groups
    self.movegroup_larm_group = moveit_command

[2020-09-14 12:17] ipa-rwu opened #2312 "Can't connect to MoveGroupAction server by using getMoveGroupClient"
### Description
 I want to execute a trajectory asynchronously so that I can monitor the execution and maybe abord it at the same time.
Quite similar to @ #1215
### Your environment
* ROS Distro: [Melodic]
* OS Version:Ubuntu 18.04
* Source or Binary build?
* binary: ros-melidic-moveit

### Steps to reproduce
a part of my code is like:
[code]
### Actual behaviour
I got `move_action_client: LOST`

[2020-09-14 21:35] davetcoleman commented on #2213
moveit 2 is now using "main" as its default branch:
https://github.com/ros-planning/moveit2

I think this issue can be closed.

[2020-09-14 21:35] #2213 closed

[2020-09-15 03:17] 207900368 opened #2316 "errors occur after putting MFC and kinova controling code together"
### Description
Before I put the MFC  application and kinova controlling application together,I have generated the kinova controlling application sucessfully,and it can control the robot sucessfully.In the VS MFC appliction,I cited the generated kinova controlling application. Then many errors occur.Most of them are error 3254 and error 2838
![微信图片_20200915111330](https://user-images.githubusercon

[2020-09-15 14:28] henningkayser commented on #2281
This error doesn't seem too familiar to me, but I wouldn't rule out that there are still some boost modules missing that could result in issues. However, `moveit_planners_ompl` didn't require additional modules.

[2020-09-15 16:47] felixvd commented on #2316
I fail to see the connection to MoveIt. Maybe you should take this question to a Kinova support platform or to ROS Answers, with more detail.

[2020-09-15 19:12] sonelu opened #2317 "install moveit on noetic binaries fails"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: Noetic
* OS Version: e.g. Ubuntu 20.04
* Source or Binary build? Binary
* If binary, which release version? Last one?
* If source, which branch?

### Steps to reproduce
Follow instructions from [https://moveit.ros.org/install/](https://moveit.ros.org/install/):

- install ROS Noetic as described in [http://wiki.ros.o

[2020-09-15 19:19] gavanderhoorn commented on #2317
I believe this is a duplicate of #2308.

[2020-09-16 04:37] felixvd commented on #2311
There are tests using the MoveGroupCommander which pass on Kinetic, so it sounds like it is an issue with your setup. If you want someone to reproduce this, please provide your setup as a repo or Docker image with clear instructions.

Otherwise, sanity checks:
- Does `roslaunch your_moveit_config demo.launch` work?
- Can you do `roslaunch panda_moveit_config demo.launch` and then connect a MoveGro

[2020-09-16 12:26] felixvd commented on #2287
Did you manage to get this running or were there more difficulties?

[2020-09-16 12:29] felixvd commented on #2225
Closing for inactivity. Please reopen if your problem persists.

[2020-09-16 12:29] #2225 closed

[2020-09-16 21:04] tylerjw commented on #2317
I'm sorry if you found this confusing.  We probably announced the release too early.  The binaries are available in the testing repos and will be available for install using the normal repos after the next noetic sync.

[2020-09-17 15:53] sonelu commented on #2317
Ok, thanks for the notice. I managed to install from the testing repository.

[2020-09-17 15:53] #2317 closed

[2020-09-18 12:44] LoyVanBeek commented on #1673
I think I fixed this in https://github.com/ros-planning/moveit/pull/2319

[2020-09-19 09:19] gbcarlos commented on #2287
I have not been able to test it yet because of an unrelated error that popped up but I will come back to this as soon as it's fixed.

[2020-09-21 08:31] YannickRiou commented on #2262
@rhaschke did you managed to run the updated pr2_test_scene branch setup ? Can you reproduce the same error ?
On my side, still not sure that the problem isn't about how objects are attached by Moveit Task Constructor (because if we do everything manually in Rviz (move to start, attach object, publish scene, move to end), everything is fine.

[2020-09-21 09:33] jayalatn commented on #683
Is someone working on self collision padding atm or is it already added ?

[2020-09-21 09:41] v4hn commented on #683
[peci1 spent a lot of time fixing issues with the underlying `geometric_shapes` package](https://github.com/ros-planning/geometric_shapes/pulls?q=is%3Apr+author%3Apeci1), but to the best of my knowledge nobody worked on better higher-level integration in MoveIt.

[2020-09-21 10:02] rhaschke commented on #2262
Sorry, I did have time yet to look into this again.

[2020-09-22 09:10] jayalatn commented on #683
thanks for the update.

[2020-09-22 16:00] JStech commented on #2112
We ran into this problem again, and floats were the culprit. Double precision is overkill for most applications, why is it required?

[2020-09-23 01:55] felixvd commented on #2062
Fixed in #2310

[2020-09-23 01:55] #2062 closed

[2020-09-24 05:13] felixvd commented on #2316
This doesn't look like a MoveIt problem. Please reopen and add more detail if you think it is.

[2020-09-24 05:13] #2316 closed

[2020-09-24 07:02] nihalar opened #2321 "Error in moving to the desired position"
### Description

I want to move the robot only in the X-direction. I gave velocity 10 units in x-direction, but it caused the robot to move in all three direction (slight movement of less than 2cm, but I need very accurate movements). Is there something we can do to solve this.

### Your environment
* ROS Distro: [Melodic]
* OS Version: e.g. Ubuntu 18.04
* Source

### Steps to reproduce
1. Create

[2020-09-24 13:51] AndyZe commented on #2321
My first thought is that twist.linear.x of 10 m/s is probably too fast.

Is there a chance the robot is starting near a singularity?

What kind of robot is it? Can you post the servo_settings.yaml file you're using?

[2020-09-24 16:16] AnlageM opened #2322 "IKfast plugin not working"
### Description

Hi, I installed the new version of Moveit for Noetic, but can't make IKFast plugin work.
Running the package as it is I get this error:

[code]

I imagined it was due to the compatibility with python3 so I tried changing the shebang line of the scritps `create_ikfast_moveit_plugin.py `and `round_collada_numbers.py` to `#!/usr/bin/env python3` and now I get:

[code]

Which is the c

[2020-09-24 16:27] rhaschke commented on #2322
Testing IKFast plugin generation is part of our Travis CI jobs and [does work on Noetic](https://travis-ci.com/github/ros-planning/moveit/jobs/386874924). So, the issue is probably with your specific environment.
`ImportError: No module named yaml`: This indicates that you are missing the package `python3-yaml` - and we didn't declare this dependency.

What is your default python version? For ROS

[2020-09-24 16:57] AnlageM commented on #2322
Thanks for your help: it seems the problem is not the yaml package missing, because it was already installed and at its newest version. Python version is 3.8.2. If you can provide any other suggestion, they are really wlecome.

Suggestion about alternatives to IKfast working in Noetic, for generating a file that describes the inverse kinematics of a robot? I need it for teleoperation purposes so t

[2020-09-24 17:42] rhaschke commented on #2322
Do you have both, python2 and python3 installed? What is the default in your ROS environment?
#2323 just declares the missing package dependency, this won't directly affect the execution of the script and you stated that python3-yaml is installed already.
I don't have further ideas then. Sorry.

[2020-09-24 20:12] nihalar commented on #2321
Thank you for the reply. The settings file is below

###############################################
# Modify all parameters related to servoing here
###############################################
use_gazebo: true # Whether the robot is started in a Gazebo simulation environment

## Properties of incoming commands
robot_link_command_frame:  world  # commands must be given in the frame of a robot

[2020-09-24 20:30] AndyZe commented on #2321
`Just to add a question. If I want to move the robot +0.2m in the +x direction, what value should be given to twist.linear.x? I'm a bit confused on how the twist message is converted to position.`

Ah, there's the fundamental problem. Twist is a velocity command. Servo doesn't really handle position commands yet, so there's no easy way to send it to a certain position.

This PR adds position-track

[2020-09-24 20:32] #2321 closed

[2020-09-24 20:33] nihalar commented on #2321
Couldn'nt find the pose_tracking_example.cpp file, could you please share the link?

[2020-09-24 20:33] AndyZe commented on #2321
https://github.com/ros-planning/moveit/blob/30abf49533df905c8fc99888bec77828f9ffe2f6/moveit_ros/moveit_servo/src/cpp_interface_example/pose_tracking_example.cpp

[2020-09-24 20:59] #2322 closed

[2020-09-25 09:53] AnlageM commented on #2322
Yes I think I have both, may this affect? The default one is 3.8.2.

[2020-09-25 13:09] rhaschke commented on #2322
Having python3-yaml installed, you should not see `ImportError: No module named yaml`. So, something is screwed in your config.
I suggest checking, which python is actually executed by create_ikfast_moveit_plugin.py. Do you have conda or virutalenv versions as well? Next, check your python system path. Are the correct paths in there? I.e. what are the results of the following cmds:
[code]

[2020-09-25 13:52] AnlageM commented on #2322
I decided to remove Python2 from the PC so now I have only Python3. It now behaves exactly as it was when I forced the shebang line, this means removing Python 2 I overcome the yaml error but **still get the `write() argument` error** I reported when I raised the issue.

What I get from the command you suggested is (please note I get no output from the first command.):
[code]
Don't know if it can

[2020-09-25 15:52] rhaschke commented on #2322
Probably you have a broken (or too new) version of `lxml` installed in `/home/<myPCname>/.local/lib/python3.8/site-packages`.
Could you please remove this folder, at least temporarily, and see what changes? (Note, pip installs packages into this folder.)
Also, do you have the system package `python3-lxml` installed?

[2020-09-25 21:30] nihalar commented on #2321
Hi, thanks for the share.
I tried moving 10cm in the x direction using the pose tracker. The distance moved was sometimes off by around 1cm. Any reason for it? Is there anything I can do to reduce the error?

[2020-09-25 21:30] nihalar commented on #2321
Hi, thanks for the share.
I tried moving 10cm in the x direction using the pose tracker. The distance moved was sometimes off by around 1cm. Any reason for it? Is there anything I can do to reduce the error?

[2020-09-28 02:17] PeterMitrano commented on #800
Is this still true? I'm also not able to set the end effector of a "both_arms" group, seeing the same error msg. See the attached SRDF file for definitions of my groups (there could be an issue there I suppose)

[victor.srdf.txt](https://github.com/ros-planning/moveit/files/5289603/victor.srdf.txt)

[2020-09-28 06:22] rofgmd commented on #1361
Hello, I'd like to ask if your moveit is installed with source code. I can’t execute the trajectory while using baxter or Baxter simulation

[2020-09-28 14:08] AnlageM commented on #2322
Yes, I have `python3-lxml` installed. Unfortunately, the same `write() `error comes out also after removing the `site-packages` folder you mentioned.
How can I downgrade the lxml version?
Does the fact that I am following [this tutorial ](https://ros-planning.github.io/moveit_tutorials/doc/ikfast/ikfast_tutorial.html) helps in hypothesizing which is my problem?
Thanks for your help

[2020-09-29 11:02] AnlageM commented on #2322
Please can you tell me exactly which versions of all the involved packages you used to test that IKfast works? Maybe reproducing your environment I can make it work too...
Moreover, may [this ](https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/646) be related to my issue? It states that the `write() argument `error is due to the encoding, and it seems to be a consequence of the switchin

[2020-09-29 11:46] bbhgyyy87 opened #2326 "can't find collision_world_fcl.h, thank you."
### Description
can't find collision_world_fcl.h   in the package,    when building, as follows.
(unfortunately , i also find currently there is not this file in this package. whether it had been deleted? thank you.)
Thank you！
yang.

*** Error description:
[ 63%] Building CXX object
C:\moveit_ws\src\moveit_tutorials\doc\visualizing_collisions\src\visualizing_collisions_tutorial.cpp(47): fatal err

[2020-09-29 11:52] v4hn commented on #2326
You build incompatible versions of the `moveit` and the `moveit_tutorials` repository.
Either pick `master` or `melodic-devel` for both.

[2020-09-29 11:52] #2326 closed

[2020-09-29 12:00] bbhgyyy87 commented on #2326
I have find the reason.  Because my **moveit_tutorials** package is not the latest one.
So the solution is that i should update **moveit_tutorials**

Sorry, this is not a bug.   I just install according to the “https://ms-iot.github.io/ROSOnWindows/GettingStarted/UsingROSonWindows.html”

BR
yang

..\src\moveit_tutorials\doc\visualizing_collisions\src\visualizing_collisions_tutorial.cpp

[2020-09-29 19:10] rhaschke commented on #2322
Sorry, I was misled by our Travis CI. But Travis was testing against Melodic, not Noetic. I can reproduce the issue and will have a look.

[2020-09-29 20:39] rhaschke commented on #2322
I filed a PR that hopefully fixes your issue: #2327. Please review and test it.

[2020-09-30 07:04] JeroenDM opened #2329 "Setup Assistant not visualizing URDF in start screen"
### Description
The MoveIt Setup Assistant does not visualize a loaded URDF by default anymore. I seem to remember it did a couple of months ago. I went through the latest changes in the source code on Github, but cannot find the cause for this.

### Your environment
* ROS Distro: Melodic
* OS Version: Ubuntu 18.04
* Binary install version `1.0.6-1bionic.20200828.222638`

### Steps to reproduce
La

[2020-09-30 07:09] rhaschke commented on #2329
This was already fixed in #2245, but not yet released.

[2020-09-30 07:15] JeroenDM commented on #2329
Ah, ok. Thank you!

[2020-09-30 07:15] #2329 closed

[2020-09-30 14:11] gavanderhoorn opened #2330 ""This project is licensed under the terms of the LGPL v2.1 or later" ?"
Not sure what's happening here (from [this Fossa scan](https://app.fossa.com/projects/git%2Bgithub.com%2Fros-planning%2Fmoveit/refs/branch/master/6eeee4b7a46c80d95323a929d3570e8690d0f47b/preview), part of the checks run for 6eeee4b):

![Screenshot_2020-09-30 moveit - Projects FOSSA](https://user-images.githubusercontent.com/4550046/94696304-2ee86980-0337-11eb-82a9-bdb5b0bf0f34.png)

Note the:

Not

[2020-09-30 14:27] gavanderhoorn commented on #2330
Oh and I tagged this `ci` only because the Fossa scan is part of the CI config.

Not because there is something obviously broken in the CI setup.

[2020-09-30 20:02] tylerjw opened #2332 "setup assistant collision detection issues"
### Description

I'm not sure if this is an issue with the franka description or the setup assistant.  These issues were discovered when trying to use the setup assistant according to the tutorial instructions for creating an update to `panda_moveit_config` based on the latest version of MoveIt master on Noetic in preparation for a Noetic release of the tutorials.

Here is a simple launch file to

[2020-10-01 03:37] brandonlawrence1996 commented on #2286
@rhaschke i am still facing the issue where the robot model doesn't load in the setup assistant. May I know what is the fix to this problem?

[2020-10-01 06:28] rhaschke commented on #2286
As we didn't yet re-released in Melodic, you need to build melodic-devel branch from source to get this fix.

[2020-10-01 06:52] rhaschke commented on #2332
Hi Tyler,
I'm not sure yet what issue you are exactly complaining about. Yes, the collision geometry of franka_description has changed with the new release 0.7 (which is only available in Noetic). We know that since https://github.com/ros-planning/panda_moveit_config/pull/35#pullrequestreview-390715967.

Obviously, we need to adapt several poses in panda_moveit_config, which are used in the tutori

[2020-10-01 08:46] Villanut0 opened #2333 "IKFast TranslationXY2D weird behavour"
### Description

Using IKFast with TranslationXY2D, I get a solution from "compute_ik" with an offset of 36cm on the X axis compared to my actual goal. It's not because of IKFast, the problem appears in the IKFast MoveIt plugin.

### Your environment
* ROS Distro: Melodic
* OS Version: Ubuntu 18.04
* Binary: 1.0.6-1bionic.20200828.222641

### Steps to reproduce
Generate an IKFast solution with Tra

[2020-10-01 12:37] henningkayser commented on #2287
AFAIK, there is no way to do this with MoveGroup for several reasons:
* The MoveGroupAction is run by a SimpleActionServer only supporting one request at a time
* The TrajectoryExecutionManager only runs a single execute thread at a time
* The MoveGroup's planning scene is read locked for each planning request because changes like motions of other groups could invalidate the computed trajectory
*

[2020-10-01 14:48] tylerjw commented on #2332
I'm mostly complaining about the "robot is in collision" warning not making much sense to me.  The extended pose for example is hard to achieve a similar pose.  I didn't realize this was a known issue.

[2020-10-01 14:50] tylerjw commented on #2332
For example that "default pose" is not in collision and you can twist joint7 a bit without it becoming in collision.  It does look like from the collision model that no change in joint7 should get it out of collision.

[2020-10-01 17:19] v4hn commented on #2332
I guess #780 is related.

I don't think we always want to show the colliding collision geometries in these cases though.

[2020-10-01 19:22] rhaschke opened #2338 "dev build on ROS build farm with timeouts"
Hi @clalancette,
there was a build timeout for MoveIt's dev job on the ROS build farm:
http://build.ros.org/job/Mdev__moveit__ubuntu_bionic_amd64

Would it be sensible/possible to increase the allowed build time for this (large) job?
Are the ccache files stored anyway, such that the build will be faster next time?

[2020-10-02 17:33] felixvd commented on #2287
Thanks for posting here as well, after the discussion in the meeting. This is a very interesting topic and this post got sort of long. Sorry in advance.

You mentioned that the TrajectoryExecutionManager only runs a single thread. I have read some of the code today, and it is true that only one thread is launched at a time - in [pushAndExecute](https://github.com/ros-planning/moveit/blob/master/mo

[2020-10-02 18:20] tylerjw opened #2339 "[moveit_setup_assistant] larger default window size"
Here is a minor UI tweak that would be nice.  The `Default Planning Groups` needs to be adjusted to have more vertical space.  This is easy enough to resize the window by dragging the bottom of the window, but if the default size of the window was slightly taller it would make this look nicer.

Another page that could help with a larger default size is the `Define Robot Poses` when you are editing

[2020-10-02 19:00] tylerjw commented on #2056
Closing because the segfault was fixed.

[2020-10-02 19:00] #2056 closed

[2020-10-02 19:21] tylerjw opened #2341 "MoveIt Noetic Release (1.1.1)"
# MoveIt Noetic Release (1.1.1)

[_moveit.ros.org release documentation_](https://moveit.ros.org/documentation/contributing/releases/)

### Other packages

- [x] geometric_shapes (0.7.2)
- [x] srdfdom (0.6.2)
- [x] [moveit_msgs (0.11.1)](https://github.com/ros-planning/moveit_msgs/issues/92)
- [x] [moveit_resources (0.7.1)](https://github.com/ros-planning/moveit_resources/issues/46)
- [x] [moveit_

[2020-10-02 20:23] rhaschke commented on #2339
I noticed this issue as well, but I'm not sure why the minimal widget size is not correctly propagated up the window hierarchy.

[2020-10-02 20:28] felixvd commented on #2339
I wouldn't mind taking a look if someone can tell me how to open this in QtCreator. I don't see a .ui file.

[2020-10-02 20:31] rhaschke commented on #2339
Unfortunately, Dave didn't use .ui files when programming this, but manually coded all the gui elements.
It's a long-standing task to migrate to .ui files...

[2020-10-03 15:26] rhaschke commented on #2341
@tylerjw, for when do you plan the next release? What are open PR, we should tackle beforehand?

[2020-10-03 15:41] tylerjw commented on #2341
This is the first release on the new schedule (linked above in the moveit.ros.org page).  The plan for now is to release every 6 weeks.  Specifically the date I'm hoping to run bloom is next Friday (the 9th).

As to new features I want to work on, getting the panda config updated and the tutorials released for noetic is my goal for this release.  Along with that I'd like to release each of the pac

[2020-10-03 20:06] tylerjw opened #2344 "[msa] missing finter joint"
### Description

When configuring default poses, if I try to add one for the end effector the last joint doesn't have a slider.  See the images.  Something else I noticed is that if I try to edit the joints for the arm the last joint is a fixed joint and doesn't show up in the list (that's probably fine) but might be why we didn't notice this before.

![missing_finger_joint](https://user-images.gi

[2020-10-03 20:14] tylerjw commented on #2344
Looking at the code that creates these sliders I noticed that it skips mimic joints.  I went and looked at the xacro and it doesn't look like they are mimic joints (from franka_description):

[code]

[2020-10-03 20:35] tylerjw commented on #2344
At this point I'm just confused, I used my old friend `gdb` to look at what is happening and it looks like the second finger is a minic joint.  That being said, if it is a minic joint the position of the second finger doesn't seem to be updated as you move the first finger.  That might just be a small cosmetic detail but it might confuse others.

[code]

[2020-10-03 21:18] tylerjw commented on #2341
I think we should if possible just release the state of master yesterday on the `noetic-devel` branch (and whatever the noetic release branch is on the other repos).  Then we can continue to review and merge changes into master like we normally do and release those changes in the next release in 6 weeks.

The work I'm trying to do on `panda_moveit_config` and the tutorials should not block this re

[2020-10-04 08:55] felixvd commented on #2344
I remember that mimic joints are not being updated in that view. There’s an
issue about it I believe. It would certainly be smoother if they were.

On Sun, Oct 4, 2020 at 5:35 Tyler Weaver <notifications@github.com> wrote:

[2020-10-04 12:17] OmkarKabadagi5823 opened #2345 "Rviz panel of movit_setup_assistant not loading."
### Description

I am new to ros and trying to learn moveit. In the moveit setup assistant, I tried to load the panda_arm_hand.urdf.xacro part of franka_description package. It shows that the file has been loaded successfully but the rviz panel on the right in the assistant is blank for me. This is for any model I am trying to load. How do I fix this?

### Your environment
* ROS Distro: Melodic
*

[2020-10-04 14:57] rhaschke commented on #2345
This is a duplicate of #2286. See fix there.

[2020-10-04 14:57] #2345 closed

[2020-10-04 18:04] OmkarKabadagi5823 commented on #2345
So do I need to uninstall the existing package or can I build the source over the existing?

[2020-10-05 02:43] PeterMitrano opened #2346 "python planning scene interface incorrectly handles namespacing"
### Description

Naive concatenating of strings breaks ros namespacing in `planning_scene_interface.py`. Just doing `ns + '/myname'` doesn't work because if `ns=''` then you get a leading slash which prevents ROS_NAMESPACE & `rospy.resolve_name` from working.

I can submit a PR if you want, although this should be an extremely simple fix:

something like this would work
[code]

### Your environmen

[2020-10-05 02:44] PeterMitrano commented on #2346
I'll also add that I've found everyone re-implementing this "append namespace" function... maybe we need this in rospy

ex: https://github.com/ros-controls/ros_control/blob/12ef7a4fe11636ccbfcbdd97edcd37ba41dc9c87/rqt_controller_manager/src/rqt_controller_manager/controller_manager.py#L449

[2020-10-05 05:33] rhaschke commented on #2345
Just build the source package. It will shadow the existing binary package.

[2020-10-05 09:05] v4hn commented on #2346
Turns out this already exists, even though not in rospy:
[code]
I love how well-structured and accessible the ROS python API is... *sigh*

Please provide a pull-request with a fix against `master`.
We usually honor the contributor who found&fixed the issue in our commit history.

[2020-10-05 12:20] OmkarKabadagi5823 commented on #2345
I don't know if I should post this here but, my laptop is crashing every time while building moveit.

Steps followed:
cd ~/catkin_ws/src
git clone -b melodic-devel https://github.com/ros-planning/moveit.git
cd ~/catkin_ws
catkin_make -DCMAKE_BUILD_TYPE=Release

Issue:
My laptop hangs when compilation reaches about 90% and recompiling after a manual shutdown still doesn't give any progress.

[2020-10-05 12:30] JafarAbdi commented on #2345
This probably means that your laptop out of RAM, try increasing your swap space

[2020-10-05 12:41] rhaschke commented on #2344
@tylerjw: The urdf snippet you provided in https://github.com/ros-planning/moveit/issues/2344#issuecomment-703159399 clearly states that `joint2` mimics `joint1`. So, joint2 there shouldn't be a slider for joint2.
I will handle the problem, the joints not updating correctly...

[2020-10-05 13:35] rhaschke commented on #2345
First try to limit the number of parallel build jobs:
`catkin build --jobs 1`

Heavy swapping isn't a good idea...

[2020-10-05 14:59] OmkarKabadagi5823 commented on #2345
Thank you @rhaschke, sir, you made my day. I have been trying to run moveit since the last 4-5 days and finally, I built the moveit from the source by limiting the ram usage and the models are also now loading properly in rviz. You have been quite a help.

[2020-10-05 15:00] rhaschke commented on #2345
You are welcome.

[2020-10-05 15:41] gbcarlos commented on #2287
Thanks for answering to this. I think in my case sending preplanned trajectories directly to the controllers seems very viable as I am able to split the space for the arms into 'workspaces' so that they won't collide with each other ideally. I think I even saw a function to define these workspaces in the MoveGroupCommander. However, the purpose is to 'print' filament by adding flat boxes along the

[2020-10-05 16:23] #2346 closed

[2020-10-05 16:47] #2344 closed

[2020-10-05 19:16] tylerjw commented on #2341
I want to point out that I don't plan on blocking this (or any of the other releases I'm hoping to do on Friday) with the work on the tutorials.  I am doing that hoping to finish it in time but it is a lot more work than I thought it would be (so it probably won't be included in this release).  Thank you @v4hn for educating me about some of the config files, @rhaschke for fixing an issue in MSA, @

[2020-10-06 22:26] #2339 closed

[2020-10-06 22:50] #780 closed

[2020-10-07 11:10] AnupamaRajkumar opened #2353 "move_to_start.launch dies with an error!"
### Description

Hello,
I am trying to execute some existing examples in franka_ros like elbow_example_controller. On running the launch file, I get an error that i must run move_to_start.launch first. However, when I do that, I get the following error message:

roslaunch franka_example_controllers move_to_start.launch robot_ip:=172.16.0.2 load_gripper:=false

SUMMARY
========

PARAMETERS
 * /fran

[2020-10-07 20:23] #2353 closed

[2020-10-07 20:24] AnupamaRajkumar commented on #2353
Solved the issue. Just reinstalled moveit and it started working :)

[2020-10-07 22:53] PeterMitrano commented on #1966
I actually found this because I _want_ to use get_current_state_bounded, and saw it wasn't fully implemented. Did you ever finish this?

[2020-10-08 03:55] rhaschke commented on #1966
The Python API by far isn't complete. If you are missing something, please file a corresponding PR.

[2020-10-09 13:11] felixvd commented on #900
I'll expand on this old issue, since I just read so many dealing with the Python interfaces ( #1947, #1966 (#2356), #2356, #2271...): Does anyone have insight about the design choices behind the interfaces, and if something in the last 8 years has changed in this regard?

I also saw that [Tesseract uses](https://github.com/ros-industrial-consortium/tesseract_ros/tree/master/tesseract_ros_python) [

[2020-10-09 13:35] PeterMitrano commented on #900
In my experience, pybind11 is the way to go. Perhaps @mamoll can say a bit about his experience switching from boost python to pybind11. I have used pybind11 and rely on moveit python for my research, so I could help.

I agree with everything William said. Adding or changing bindings should not affect C++, and should not require changing things in multiple places.

One challenge is that uses will

[2020-10-09 14:15] Levi-Armstrong commented on #900
The nice thing about leveraging swig is it not only provide python but also other language like matlab, C#, etc.. Since ROS is now supported on Windows there may be future interest in these other language going forward. @johnwason was the one who created the ones for Tesseract and may have addition context related to swig advantages.

[2020-10-09 15:40] rhaschke commented on #900
I can only second @PeterMitrano, pybind11 is the spiritual successor of `boost::python` and provides a very pythonic API experience. I have already implemented a pybind11-based wrapper for MTC, which has all of the core features implemented that were proposed here initially. I looked into `swig` back then as well and wasn't that convinced...
I see, though, the benefits of handling multiple languag

[2020-10-09 16:21] rhaschke commented on #2341
@tylerjw, IMO this release is currently blocked by https://github.com/ros/rosdistro/pull/26706.
We agreed to upgrade to FCL 0.6 [here](https://github.com/ros/rosdistro/issues/26527#issuecomment-702013343) to handle some open issues in the current release.
If you insist on releasing today, please sync master and noetic-devel as discussed in https://github.com/ros-planning/moveit/pull/2342#issuecomm

[2020-10-09 16:26] tylerjw commented on #2341
Because that was my attempt to simplify adding changelogs to both master and noetic (they come from the same origin branch).  I realize now that submitting changelogs into master and syncing noetic-devel would do the same thing and be more straight forward as there isn't a chance of the history being a different order.  I'll close the one to noetic-devel.

[2020-10-09 16:31] tylerjw commented on #2341
@rhaschke how quickly do you think the FCL rosdistro PR will be resolved?  Any chance we can convince them to merge that today?  I planned on pushing out a release today because I was given the time to do this every 6 weeks on this schedule.  My hope was that the regular releases would be an improvement over the current process as they'd reduce the amount of work for each release and get the work

[2020-10-09 16:38] gavanderhoorn commented on #2341
This is exactly the reason why "releasing" is not a simple process of just pushing some buttons.

The goal to release more often is laudable, but especially on a new platform like Focal it's just non-trivial.

I hope we all appreciate the *enormous* amount of work @rhaschke is taking on every release ("let's create a `ros-noetic-fcl`"), and the maintainers before him who have done this.

[2020-10-09 16:51] JStech opened #2357 "Native save/load file dialogs don't display when Gazebo is also running"
### Description

This originally came up in MoveIt Calibration (ros-planning/moveit_calibration#24), but it seems to be more general than that. If Gazebo is running, any time `QFileDialog::getOpenFileName` or `QFileDialog::getSaveFileName` is called, an entry is created in the dock, but no window is drawn. Meanwhile, the rest of the GUI freezes until the ghost dialog is closed (by right-clicking t

[2020-10-09 16:59] rhaschke commented on #2341
As you say, @gavanderhoorn, it's a lot of effort to ping people before a release and to check that everything worked well after a release. The colleagues at OSRF are busy with way more projects and I don't want to put pressure on them because I don't like to have pressure on me as well. However, I will do a friendly ping.

[2020-10-09 19:07] tylerjw commented on #2341
Thank you for the ping.  It looks like it will be done.  Do you think we should wait on releasing this repo until then?  I've done most of the trivial smaller repo releases today.  I'll wait to hear from you @rhaschke.  Would blooming moveit before the FCL package change is accepted into rosdistro put us in a worse state than we are now on Noetic?

[2020-10-09 23:31] johnwason commented on #900
SWIG is a faster to use and more flexible than solutions like PyBind11, but it has a much higher learning curve. Both solutions will probably be obsolete once C++20 modules become more common. The modules should contain enough metadata for Python bindings to be generated with much less work.

[2020-10-10 03:33] PeterMitrano commented on #900
FWIW I just read that tensorflow is switching from swig to pybind11, no idea why though

[https://github.com/tensorflow/tensorflow/releases/tag/v2.2.0](https://github.com/tensorflow/tensorflow/releases/tag/v2.2.0https://github.com/tensorflow/tensorflow/releases/tag/v2.2.0)

[https://github.com/tensorflow/community/blob/master/rfcs/20190208-pybind11.md](https://github.com/tensorflow/community/blob/

[2020-10-10 06:51] felixvd commented on #900
Interesting. Specifically this quote:

If I understand correctly, the cons for both `boost::python` and pybind11 are the manual maintenance (new/updated functions are not exposed automatically) and being limited to Python. Auto-generating code for MATLAB and other languages (Julia, Scratch...) is definitely charming though.

I also agree that our current Python code being spread over multiple pack

[2020-10-10 08:43] rhaschke commented on #2341
fcl is released: https://github.com/ros/rosdistro/pull/26706. I created the PR to switch to this version: https://github.com/ros-planning/moveit/pull/2359. With this, I think, you (@tylerjw) can proceed with prerelease tests. Ensure that you don't see linker warnings about conflicting fcl / octomap libs anymore (particularly in Debian Buster).

[2020-10-10 09:45] rhaschke commented on #2341
There is also an issue with `ros-noetic-spacenav-node` on Buster, which should be fixed before a new release: http://build.ros.org/job/Ndev_db__moveit__debian_buster_amd64/14/display/redirect

[2020-10-10 11:38] v4hn commented on #900
I don't know any strong reason for either approach.
It makes sense for the bindings to stay with their respective C++ module.

But given that all our official Python interfaces are exposed through `moveit_commander`, we could keep the bindings there as well..

All assuming we had sufficient test coverage for the python bindings to notice breakage in a central python-interface package.

[2020-10-10 21:49] PeterMitrano commented on #900
If we did distributed, I _think_ that would mean the python user would be writing `from moveit_ros_planning import ` and `from moveit_other_module import`. That might obey the principle of least surprise for new users, although existing users probably expect everything under `moveit_commander`.

Tensorflow seems to do it under `tensorflow/python` which seems akin to `moveit/moveit_commander` here.

[2020-10-11 17:44] tylerjw commented on #2341
This is the spacenav issue (from the link you posted):

[code]

[2020-10-11 17:48] tylerjw commented on #2341
The problem is the daemon for spacenav: https://packages.debian.org/sid/spacenavd is not in buster.

[2020-10-11 19:21] gavanderhoorn commented on #2341
On recent kernels the daemon should not be necessary. The spacenav will register as a regular HID joystick.

[2020-10-11 19:42] tylerjw commented on #2341
Then maybe the ros project should remove the daemon from the requirements for Noetic?

[2020-10-11 19:59] rhaschke commented on #2341
Thanks for this hint @gavanderhoorn. @tylerjw, yes I think you should try to run the demos without this daemon installed.
If that works, we can go with https://github.com/ros-drivers/joystick_drivers/pull/186.

[2020-10-11 20:18] tylerjw commented on #2341
Unrelated to the spacenav, I ran the prerelease testing (Noetic on master branch) locally and it passed (ran on 18.04 as the `python3-ros-buildfarm` isn't available on Noetic, I believe it does the testing in a docker image though).

[2020-10-11 23:43] marcoesposito1988 opened #2364 "Can't connect to a MoveGroup in the global namespace from a node in a deeper namespace through MoveGroupCommander"
### Description

`moveit_commander.MoveGroupCommander` takes a `move_group_namespace` argument, which allows to connect from any namespace to a `MoveGroup` located within a namespace, e.g. `/iiwa/move_group`. However, from a node located in `/my_namespace` I did not manage to connect to a `MoveGroup` in the global namespace, i.e. `/move_group`.

I tried using `""` and `"/"` as namespaces. I also t

[2020-10-12 07:33] gavanderhoorn commented on #2341
@tylerjw wrote:

"the ros project" -> that's an odd thing to say?

[2020-10-12 17:28] tylerjw commented on #2341
@gavanderhoorn :disappointed: I edited your comment, I meant to click "quote".  I didn't know it was possible to edit someone else's comment.  I'm sorry.

[2020-10-13 05:04] felixvd commented on #2364
Hi Marco,

I am not sure how the `NodeHandle` and its argument works, so I'd take a closer look at that first. It might be easier to debug if you take the `move_group_interface` out of the equation. Can you connect a `SimpleActionClient` in your node to a `move_group` action in the higher namespace?

You could use [this line](https://github.com/ros-planning/moveit/blob/3cc363372a6e52d378e690709697

[2020-10-13 08:18] marcoesposito1988 commented on #2364
Hi Felix,

thanks for chiming in!

glad that I didn't miss something trivial. I will then try to build a minimal example to pinpoint the problem.

[2020-10-13 08:21] v4hn commented on #2364
Doing that right now.

[2020-10-13 08:32] v4hn commented on #2364
Turns out this is an inherent shortcoming in roscpp and I am utterly confused about how I've never heard of this one before or why I can't find a workaround either.

`ros::NodeHandle{}` and `ros::NodeHandle{""}` are supposed to create a handle in the namespace of the node (not its private namespace) and that's what they do. However, `ros::NodeHandle{"/"}` behaves the same way and I do not see how

[2020-10-13 08:42] gavanderhoorn commented on #2364
Not getting `/` remapped makes sense to me: it's an absolute name, and those don't get remapped ([source](https://github.com/ros/ros_comm/blob/089dd64a6c2d7769d2d8d3b10808eec621a3acf3/clients/roscpp/src/libros/node_handle.cpp#L266-L269)).

[2020-10-13 09:02] v4hn commented on #2364
You are right, I was just trying to find a workaround and this approach does not work.
(nor does `{ ros::this_node::getNamespace().substr(1), "" }`)

It's noteworthy to point out that
[code]
successfully remaps the absolute topic though.

[2020-10-13 09:12] v4hn commented on #2364
Thanks for the reference @gavanderhoorn It looks like `NodeHandle { "/" }` is handled as a special case for some reason.
Using `NodeHandle { "/new_ns" }` actually works as expected (the resolved namespace is `/new_ns` instead of `/foo/new_ns`), but `/` still ends up with `/foo` although it follows the same logic (the first character is `/`).

[2020-10-13 16:23] tylerjw commented on #2341
I've tested this Buster and 20.04 and believe the current state of the master is good.  I merged my changelogs into master.  Here is the PR for sync into noetic-devel: https://github.com/ros-planning/moveit/pull/2365

[2020-10-13 16:47] tylerjw commented on #2341
:tada: https://github.com/ros/rosdistro/pull/26938

[2020-10-13 16:55] tylerjw commented on #2341
Closing this for now, it has been bloomed.

[2020-10-13 16:55] #2341 closed

[2020-10-13 21:12] mamoll opened #2367 "robot padding parameter default_object_padding is never used"
### Description

The planning scene monitor can be configured to use a default object padding parameter through the parameter `robot_description + "_planning/default_object_padding"`. The padding should increase the clearance but is currently ignored.

### Your environment
* ROS Distro: Melodic
* OS Version: e.g. Ubuntu 18.04
* Source or Binary build? Source
* If binary, which release version?
* I

[2020-10-14 04:10] felixvd commented on #2364
So to use a `move_group_interface` in a node that's in a lower namespace while the `move_group` is in the global namespace, you would have to remap [these](https://github.com/ros-planning/moveit/blob/master/moveit_ros/move_group/include/moveit/move_group/capability_names.h) topics/services? E.g.:

[code]

[2020-10-14 04:21] simonschmeisser commented on #2357
As you are probably running gnome (the ubuntu default), the native file dialog would indeed be Gtk based. So this message might be related. Maybe gazebo does something 'clever' with environment variables? I think native dialogs are started by running some xdg-... command internally?

[2020-10-14 06:46] rhaschke commented on #2299
I have created the branch [`docker-master`](https://github.com/ros-planning/moveit/tree/docker-master) to provide the master docker images, based on Melodic. This branch should be rebased onto master from time to time.

[2020-10-14 06:57] rhaschke opened #2369 "Melodic release"
Dear @tylerjw, will you also tackle a new Melodic release? In my eyes, this is even more important than a Noetic release, because we have fixed several bugs since 1.0.6 and [people are waiting for a release](https://github.com/ros-planning/moveit/issues/2286#issuecomment-701855289). Of course, we should consider back-porting new commits from master since `reviewed-for-backport`.

[2020-10-14 15:00] tylerjw commented on #2369
I am happy to help with a Melodic release.  Generally backporting bug fixes and quality of life improvements to Melodic seem like good low hanging fruit and we should do that atleast once more though as there have been a decent number of them that should be trivial to do.

While all of our ROS1 customers are still on Melodic, none of them are using the version in the apt repositiories because ther

[2020-10-14 15:51] tylerjw commented on #2369
My points are just anecdotal too.  I take your word for it and I'm happy to help make this happen.  I will at my next opportunity this week to work on maintenance tasks prepare the list of possible backports.

I'm curious, what are the reasons they can't migrage to Noetic easily?  Are there still large amounts of python2 code that they would have to port or is it some other ROS dependency that isn

[2020-10-14 15:56] tylerjw commented on #2330
These are the two offending files:

[code]

What should we do about this?  How broken would it be to remove these files from the repo?  Are they avalible elsewhere or should we factor them out into a separate repo we can link against?

[2020-10-14 16:43] JStech commented on #2357
Thanks for the info--I'm completely lost when it comes to GUI stuff. Is there an approach to debugging this that I should try? I attached to the process with GDB but quickly realized I didn't know what to look for (or even what thread was relevant).

[This post](https://stackoverflow.com/questions/47847739/qfiledialog-gtkdialog-mapped-without-a-transient-parent) made me think that Gtk warning was

[2020-10-15 01:01] felixvd commented on #2312
Sorry that this has been left sitting for so long. Have you been able to solve this? It looks like your roscore process might have restarted and your nodes can't find each other.

[2020-10-15 01:38] felixvd commented on #2369
I know a few groups using the Melodic binaries as well, and I suspect that Melodic will remain the most used distribution for a while. It's barely halfway to its EOL, and judging by how many systems are still on Kinetic, many of those will probably do a lazy move to Melodic rather than the jump to Noetic.

[2020-10-15 03:27] felixvd commented on #2289
If you could try `rostopic echo`ing [these topics](https://github.com/ros-planning/moveit/blob/master/moveit_ros/visualization/motion_planning_rviz_plugin/src/motion_planning_frame.cpp#L267) and the topics under `/rviz/moveit/move_marker/` when you plug in your joystick, that would help debug this issue.

[2020-10-15 15:44] kevinshchang opened #2373 "MoveGroupCommander TrajectoryConstraints uses undeclared functions from C++ wrapper"
### Description

The pipeline to potentially support TrajectoryConstraints was added in
https://github.com/ros-planning/moveit/pull/793

However, it seems like some of these functions were removed in
https://github.com/ros-planning/moveit/pull/835/files
(ex: set_trajectory_constraints_from_msg, clear_trajectory_constraints)

When currently attempting to use any of the python functions that use the

[2020-10-15 18:10] abhyudit309 opened #2374 "Unable to extract cylinder from point cloud"
I'm following the move-it tutorials for melodic. In the Perception pipeline tutorial, on running:
roslaunch moveit_tutorials detect_and_add_cylinder_collision_object_demo.launch
I get the Octomap in Rviz, but its not able to extract the cylinder from the point cloud.
Expected output:
![Screenshot from 2020-10-15 23-31-55](https://user-images.githubusercontent.com/71165429/96169076-3d41a280-0f3f-11

[2020-10-18 12:46] gavanderhoorn commented on #2369
*Other* code which depends on components which have introduced breaking changes between Bionic and Focal.

This is larger than just MoveIt.

[2020-10-20 00:55] drewhamiltonasdf opened #2376 "Problems with RVIZ on Windows using Melodic"
### Description
OPENGL errors running RViz on Windows with Melodic. I've found solutions to similar issues on Ubuntu, but not for Windows. I'm prepared to hear the inevitable, "install it on Linux", but I'm posting here hoping there is an easy solution.

### Environment
* ROS Distro: [Melodic]
* OS Version: Windows 10
* Installed yesterday with: choco upgrade ros-melodic-moveit -y --execution-time

[2020-10-20 01:06] drewhamiltonasdf commented on #2376
As a followup. I was able to reproduce the 2nd behavior, in which the window doesn't show up, or shows up off-screen. And this is the last of the command-line output:

[ INFO] [1603155652.552929800]: MoveGroup context using planning plugin ompl_interface/OMPLPlanner
[ INFO] [1603155652.553232000]: MoveGroup context initialization complete
[92m
You can start planning now!

[0m[ INFO] [1603155653.

[2020-10-20 06:21] shirazbaig opened #2377 "robot model not visible in moveit after loading urdf file, using melodic and Ubuntu 18.04"
When I launch moveit to create a new config file, it asks me to load the files. I use /opt/ros/melodic/share/franka_description/robots/panda_arm_hand.urdf.xacro  file
It loads successfully but not show robot.
This issue existed in older versions of ros and it was fixed as #786.  And in the solution it was also mentioned that this issue does not appear in melodic. But it is still appearing in melod

[2020-10-20 07:13] rhaschke commented on #2376
The console messages for the 2nd behavior are normal. The error messages above are new to me. In any case, this issue isn't related to MoveIt, but to Windows rviz. Please direct your questions to https://answers.ros.org as stated on the [ROS for Windows installation page](http://wiki.ros.org/Installation/Windows).

[2020-10-20 07:13] #2376 closed

[2020-10-20 07:20] rhaschke commented on #2377
I guess, when referring to MoveIt, you actually mean MoveIt Setup Assistant. The problem was fixed in source (2ba284275cb1dd99d53bb9cd01e143a1fd6211da), but not yet released. @tylerjw, we should really aim for a new Melodic release asap.

[2020-10-20 07:20] #2377 closed

[2020-10-20 17:02] DLu opened #2379 "Attached Collision Objects can collide with regular collision objects"
### Description

In updating [the moveit tutorials](https://github.com/ros-planning/moveit_tutorials/pull/542#issuecomment-712941017), I discovered that attached objects can collide with regular collision objects.

![example of theoretical collision](https://user-images.githubusercontent.com/11284393/96614081-593d9f00-12c5-11eb-9c49-d1d10bb6d179.gif)

(the attached cylinder would collide with the

[2020-10-20 17:05] AndyZe commented on #2379
This PR will at least point us toward the right area of code:  https://github.com/ros-planning/moveit/pull/2355/files

[2020-10-20 17:22] AndyZe commented on #2379
Also, @JafarAbdi noticed that there is no collision if planned via the GUI plugin. That could be another hint.

[2020-10-20 18:22] DLu commented on #2379
@JafarAbdi figured it out.
A) The object needed to be attached to the hand.
B) The start state needed to be updated.

See https://github.com/ros-planning/moveit_tutorials/pull/542/commits/3dda4a010f200dd60fda0eb0d66c747cae907177#diff-a5c0141aeeaa8ad7836f3b230e2e8cfa49fd26ea3dcfe3496b83478f58d7a265L401

[2020-10-20 18:22] #2379 closed

[2020-10-21 03:26] felixvd commented on #2379
I didn't know that `setStartStateToCurrentState` is required after attaching/detaching too, although it makes sense. It might be worth outputting "Starting planning from a state that is not the current state (attached objects differ)" or similar when necessary. Most users probably assume that the "real" robot is used by default.

[2020-10-21 14:25] felixvd commented on #2110
In #160 @rbbg mentioned that they forked that and worked on it [here](https://github.com/rbbg/moveit_topp). Quoting from there:

[2020-10-21 15:08] felixvd commented on #2183
I took some example videos with a UR5e today. For the longest time I thought that the jerky movements I sometimes see were network lag spikes, but it actually seems like they are due to the time parameterization. You can download and investigate the trajectories yourself (shoutout to [this rqt plugin](http://wiki.ros.org/rqt_joint_trajectory_plot)).

The oscillating effect is clearest for the down

[2020-10-21 15:59] gavanderhoorn commented on #2183
Did you not test the spline-based one for a reason? We use it with our KR210 sometimes and it doesn't *sound* too bad (you can actually hear it pretty easily when a trajectory isn't smooth with KUKAs and RSI).

[2020-10-22 02:03] makangzhe commented on #1576
@zouguonideshiguang  do you fix it ?  can you tell me how to resolve the problem?

[2020-10-22 03:36] corot opened #2381 "Crash on RobotTrajectory::getWayPointCount"
### Description

Trying to execute a place in an unreachable location, I get a crash on checking waypoints_.size():

[code]

I suppose RobotTrajectory is accessed by all the planning threads (4 by default), but there's no mutual exclusion mechanism in place. In the crash above looks like one thread is changing the waypoints from 14 to 37, while another is reading the size.

Is that the case? it's

[2020-10-22 04:24] felixvd commented on #2183
Only because IPTP was the default in the [cartesian path planning service](https://github.com/ros-planning/moveit/blob/master/moveit_ros/move_group/src/default_capabilities/cartesian_path_service_capability.cpp#L162) and I didn't have the time. I updated the last post with ISP and TOPP-RA.

[2020-10-22 17:44] AndyZe commented on #2183
I'm interested in this because PickNik has a similar product (except it smooths one level further - to jerk).  https://picknik.ai/products/tracksuite/

If the algorithms were truly time-optimal, either velocity or acceleration would be maxed at every time step. Those limits for shoulder_pan_joint of the UR5e (that Felix tested with) are (vel limit = 3.14, accel limit = 3.14). https://github.com/ro

[2020-10-22 17:49] AndyZe commented on #2183
@felixvd Are you only moving one joint? That would be the best test case. Otherwise we can't tell if joint synchronization is to blame.

[2020-10-22 18:19] #1411 closed

[2020-10-22 18:56] tylerjw opened #2383 "Convert use of new to std::make_unique in background_processing"
## Background

As pointed out in [this issue](https://github.com/ros-planning/moveit/issues/1411) using `new` in the constructor for smart pointers is less performant (it has to do two dynamic memory allocations vs just one) than using the methods `std::make_shared` or `std::make_unique`.  This issue is for updating one of those uses in moveit_core.

## Instructions
Hi, this is a `first-timer-only

[2020-10-22 19:10] tylerjw opened #2384 "first-timer-only issues"
## Background

This idea was inspired by a talk I listened to from GSoC.  Here is a link to a [blogpost](https://kentcdodds.com/blog/first-timers-only) that discusses the idea.  Here is a link to a [github issue](https://github.com/publiclab/plots2/issues/8646) from the author of the talk.

The basic idea of this is to lower the barrier of entry to contributing for people who are new to moveit and

[2020-10-22 21:02] AndyZe opened #2386 "Jump in moveit_servo velocity command"
[servo_config.yaml.txt](https://github.com/ros-planning/moveit/files/5425782/servo_config.yaml.txt)

### Description

When moveit_servo is configured to publish velocity commands, we occasionally see a jump in the outgoing command (from moveit_servo to the ros_control velocity command topic). It's not 100% clear if this is a moveit_servo problem but I figured I will create the issue and see if any

[2020-10-23 00:43] felixvd commented on #2183
No, it's a cartesian motion as shown in the video. You can download the zip files and publish the trajectories to regenerate the graphs and check the other joints, but they aren't moving very fast either.

I figured that's why PickNik would be more interested in selling that than fixing this ;)

[2020-10-23 01:48] tylerjw opened #2387 "Melodic backports"
Here is the list of changes since reviewed-for-backport on master:

 - [x] Start new joint_state_publisher_gui on param use_gui (#2257)
 - [x] add soname version to moveit_servo (#2266)
 - [x] Move constraint representation dox to moveit_tutorials (#2147)
 - [x] Update last_sent_command_ at ServoCalcs start (#2249)
 - [x] Add a utility to print collision pairs (#2275)
 - [x] fix some spelling erro

[2020-10-23 02:31] RicoJia commented on #2015
I got the same error too. I got rid of it by adding a home pose in the setup_assistant. Was that the same issue for you? @mikeferguson Is it mandatory to add a home pose in the Noetic distro?

[2020-10-23 03:34] felixvd commented on #2387
What's the best way to do this? A separate branch from `melodic-devel` on the main repo to test commits on, and then fast-forwarding `melodic-devel` to it after the necessary commits were cherry-picked?

[2020-10-23 04:41] felixvd opened #2390 "Bugs and issues in MotionPlanning plugin's "Stored States" tab"
I tried using the Stored States tab today, and noticed a few problems:

- The "Remove" button does not work
- Adding a state always prompts an extra message if no database is connected (I've always thought that a database file would be preferable over a database server (easier to set up, especially cross-platform), but that's a different issue related to #1659 )
- Moving between states requires ch

[2020-10-23 04:58] felixvd commented on #1659
IMO it would be much nicer if the database access was abstracted to a class which can either connect to MongoDB or to a file in the `moveit_config`'s `config` folder. That file could hold both the saved joint configurations that are currently in the `srdf`, as well as `PoseStamped` targets, which are currently extremely inconvenient to record.

My reasoning is that practically no one seems to use

[2020-10-23 05:07] tylerjw commented on #2387
I got started on it and will submit a pull request with a handful of these that are easy to backport with some notes about the ones that I couldn't figure out.  Basically what you do is create a new branch (like you would for any pull request) that is based on melodic-devel and then start cherry-picking these commits onto that branch.  You can then submit a normal PR except you target melodic-deve

[2020-10-23 05:15] tylerjw commented on #2387
I find it helpful to have a second checkout of moveit on master so I can look through the git log of it easily to find the commit hashes and then cherry-pick those commits into the melodic-devel setup I'm testing with.

[2020-10-23 07:14] tylerjw commented on #2387
Here are a set of backports I found straightforward to apply: https://github.com/ros-planning/moveit/pull/2391

[2020-10-24 14:13] RoboticsYY commented on #1659
I rarely used MongoDB in the past. From my point of view, I feel that MongoDB seems too large for such tasks, usually only a few robot states are saved to the database instead of thousands or millions. Maybe MongoDB is a better choice for some applications that need to record big data (such as AI training) or more suitable for data sharing between multiple robots.

[2020-10-25 15:38] gleichdick commented on #1659
What do you think about a sqlite adapter for warehouse_ros?

[2020-10-28 07:13] felixvd opened #2396 "Kinematics plugins cannot be loaded with multiple parameters"
I don't know if I should tag this as bug or enhancement, but it looks like the UR kinematics package cannot be used for multiple robots in the scene, because it is only loaded once, so only one of the robots' prefixes can be set.

See https://github.com/ros-industrial/universal_robot/issues/247

[2020-10-28 08:18] corot commented on #2381
I found the issue: I was calling move_group while a pick action was in course.

[2020-10-28 08:18] #2381 closed

[2020-10-28 20:46] tylerjw commented on #2330
Maybe a good solution for this would be to move the kdl plugin outside of the moveit repo?  Thoughts @gavanderhoorn?

[2020-10-29 15:17] michelepenzo opened #2399 "MoveIt setup assistant"
Hi, I'm trying to create a new definition of my robot with MoveIt wizard.
The robot definitionis ok bu the EE has an hand and two prismatic fingers. If I use the "prismatic" tag in urdf.xacro definition this error appears:

**The complete state of the robot is not yet known.  Missing finger_joint1**

The same error appears if I set it as revolute joint, but If it's a fixed joint this error doesn't

[2020-10-29 16:03] felixvd commented on #2399
That is not an error that occurs when running `moveit_setup_assistant`, so I suspect this is a usage problem and not a bug. If it is not an actual bug in the software, would you mind posting this (with more detail, e.g. by including your URDF and error messages) over at [ROS Answers](https://answers.ros.org/questions/ask/) instead? Thanks.

[2020-10-29 16:16] michelepenzo commented on #2399
Thanks @felixvd !

[2020-10-29 16:16] #2399 closed

[2020-11-02 15:01] simonschmeisser commented on #2396
Could you add/link an example that doesn't work?

[2020-11-02 15:49] felixvd commented on #2396
Can't guarantee that the example fails out of the box (I am not on an Ubuntu machine), but if you load [this URDF](https://gist.github.com/felixvd/74b9deb220227b055fb3b9601680c599) with a setup assistant and try setting the URKinematics package for both of them, the issue should occur.

I adapted it from [an old setup](https://github.com/o2as/ur-o2as/blob/master/catkin_ws/src/o2as_scene_descriptio

[2020-11-03 09:30] gavanderhoorn commented on #2396
Could well be the problem / a contributing cause is in `ur_kinematics`. It hasn't been updated in some time. There are a few outstanding PRs, but I'd like someone with some insight into kinematics to go over them before merging.

[2020-11-03 10:44] simonschmeisser commented on #2396
@gavanderhoorn please tag me in the one you'd like to merge first (or link it here or whatever). We had some not quite convincing results from it recently so I should have a look anyway

[2020-11-03 12:40] gavanderhoorn commented on #2396
Thanks for the offer @simonschmeisser.

There is actually an entire project board for IK issues and PRs: [ros-industrial/universal_robot/projects#1](https://github.com/ros-industrial/universal_robot/projects/1).

[2020-11-03 17:51] wlawler45 opened #2400 "Retiming trajectory after compute cartesian path"
### Description

I have been having trouble getting the move group interface to replan trajectory with time optimal parameterization. Im using compute cartesian path in the python interface and the plan that results has inconsistent velocity at the end effector and I'm trying to then replan the trajectory using the generated waypoints so that it will then have the time parameterization I want from

[2020-11-04 13:24] felixvd commented on #2400
Why not use [retime_trajectory](http://docs.ros.org/en/api/moveit_commander/html/classmoveit__commander_1_1move__group_1_1MoveGroupCommander.html#a5fb1d772b6d248a6c4113412eacb4330)?

[2020-11-04 15:56] wlawler45 commented on #2400
I tried, it didn't change the behavior of the robot or the timing of the trajectory at all.

[2020-11-05 01:37] felixvd commented on #2400
Can you paste how you are using it in your code?

[2020-11-05 10:26] rfeistenauer commented on #2096
Just wanted to state, that I still can reproduce this with the newest melodic-devel branch
commit: ff552bf861609f99ca97a7e173fcbeb0
just repeated your msg with positive and negative y value.
As soon as the arm comes close to the outer arm extend it starts adding unwanted transition or rotation

[2020-11-05 11:45] rafaelrojasmiliani opened #2405 "Questions about PlanningSceneMonitor: can this improve the code?"
I'm currently studying the class `PlanningSceneMonitor` and I think I have found two elements that may be a bug.

1. In [lines 193-195](https://github.com/ros-planning/moveit/blob/47884198c2585215de8f365a7ff20479f8bb4b51/moveit_ros/planning/planning_scene_monitor/src/planning_scene_monitor.cpp#L193) the variable `PlanningSceneMonitor::scene_` is used passed to `CollisionPluginLoader::setupScene`.

[2020-11-05 13:28] gleichdick commented on #1659
I had some spare time: https://github.com/gleichdick/warehouse_ros_sqlite
Any feedback and maybe some help is very welcome :smiley:

[2020-11-05 14:15] rhaschke commented on #2405
Thanks for this feedback. Indeed, looking at the code, it doesn't seem to be very clear. For 1. I would like to see a PR that cleans up the code, first initializing the scene and only in the end assigning it once to `scene_const_` and configuring the collision loader.

Regarding 2. feel free to add a warning message.

3. The `robot_model_` copy is required to keep the shared pointer alive as long

[2020-11-05 14:27] rafaelrojasmiliani commented on #2405
Hello @rhaschke , I have just seen another use of `PlanningSceneMonitor::robot_model_`, it is returned by `PlanningSceneMonitor::getRobotModel` and is used in `MoveGroupContext` to initialize the `TrajectoryExecutionManager` and `PlanningPipeline`. So this variable is really required.
I will do the PR as soon I have time.
Regards

[2020-11-05 16:35] wlawler45 commented on #2400
for i in range(len(dxf_points)):
            pose_goal = Pose()
            rpy=[math.pi,0.0,sines[i]-math.pi/2]
            print(rpy)
            R_result=rox.rpy2R(rpy)
            quat=rox.R2q(R_result)
            print(quat)
            pose_goal.orientation.w=0.0
            pose_goal.orientation.x=quat[1]
            pose_goal.orientation.y=quat[2]
            pose_goal.orientation.z=0.0

[2020-11-05 16:37] gavanderhoorn commented on #2400
@wlawler45: where do you request MoveIt to use a different time-parameterisation from its default?

[2020-11-05 18:25] wlawler45 commented on #2400
I tried changing the retime line to this but it gave me an error for too many arguments
plan=self.move_group.retime_trajectory(moveit_robot_state,plan,1.0,1.0,"iterative_spline_parameterization") did I do that wrong?

[2020-11-05 19:49] wlawler45 commented on #2400
Is that version of retime_trajectory not in the branch I'm using? If so is there a moveit branch for kinetic that would use that version of retime_trajectory?

[2020-11-05 21:03] gavanderhoorn commented on #2400
If you are on Kinetic it's likely that functionality is not available to you.

I haven't checked in which version that first appeared. I'd recommend using a more up-to-date version of MoveIt in any case. There have been *many* improvements added to MoveIt since the last Kinetic release.

[2020-11-05 21:13] AndyZe commented on #2400
The best time parameterization algorithm right now is `time_optimal_trajectory_generation`. It looks like it is not available on Kinetic. Sorry.

If you do upgrade to, say, Melodic, here are some slides about using TOTG:  https://picknik.ai/docs/moveit_workshop_macau_2019/TOTG.pdf

[2020-11-05 21:14] AndyZe commented on #2400
Once you specify the use of TOTG in the yaml file, you shouldn't need to manually re-time anything.

[2020-11-05 21:18] gavanderhoorn commented on #2400
@AndyZe: does `computeCartesianPath(..)` use the planning request adapter? Afaik it's hard-coded to use the IPTP?

[2020-11-05 21:25] AndyZe commented on #2400
I guess I don't know. OK, disregard -- it may be necessary to retime the path.

I stand by TOTG being the best available, though.

[2020-11-06 15:49] davetcoleman commented on #2210
Can we close this issue in favor of #2237 ?

[2020-11-06 17:08] hariharan382 opened #2407 "'tuple' object has no attribute 'joint_trajectory in _Display_trajectory"
## Background

i am trying to launch the code to control universal robot via python node
([link](https://answers.ros.org/question/318963/beginner-question-on-ur5-robot-simulation-on-gazebo-with-rviz-visualization/))

## Instructions
i executed and ran the the my python file which is stored ur_driver folder
rosrun ur_driver manipulator.py

### 📋 Step by Step
but getting error

[code]
please help me

[2020-11-06 18:19] felixvd commented on #2407
1. Usage questions should be posted at [ROS Answers](https://answers.ros.org). Please put some more effort into formatting your question and show what you have tried.

2. `plan` [now returns a tuple](http://docs.ros.org/en/api/moveit_commander/html/classmoveit__commander_1_1move__group_1_1MoveGroupCommander.html#a79a475263bffd96978c87488a2bf7c98). If your original line was this:

[code]

then you

[2020-11-06 18:19] #2407 closed

[2020-11-06 19:45] hariharan382 commented on #2407
thank you sir worked well,but i want to understand all these can you
suggest any article or book

On Fri, Nov 6, 2020 at 11:50 PM Felix von Drigalski <
notifications@github.com> wrote:

[2020-11-06 21:20] tylerjw opened #2409 "Add support for master-source docker container running clang-tidy commands from the instructions"
## Background

Make the environment variables like CATKIN_WS work in the [master-source docker container](https://github.com/ros-planning/moveit/blob/master/.docker/source/Dockerfile) so clang-tidy commands can be copy-pasted directly [from the instructions](https://moveit.ros.org/documentation/contributing/code/#clang-tidy-linting).

@felixvd you gave me the idea for this issue.  Could you edit t

[2020-11-06 21:24] tylerjw commented on #2384
@felixvd I created a couple of issues using the new template.  One was based on issues you listed as problems for first-time users: https://github.com/ros-planning/moveit/issues/2409

Would you mind contributing similar issues using the templates for the two other issues you brought up:
1. add convenience scripts like bash aliases to run clang-format/clang-tidy in the docker container
2. add simpl

[2020-11-06 21:43] wlawler45 commented on #2400
I did update my workspace to melodic and now I can't use the retime trajectory command because it gives the error Validation failed: Missing valid timestamp data for trajectory pt 1. What should I do about that?

[2020-11-08 09:05] felixvd commented on #2407
I have nothing specific to recommend but the [ROS](http://wiki.ros.org/ROS/Tutorials) and [MoveIt tutorials](http://docs.ros.org/en/melodic/api/moveit_tutorials/html/index.html), but since this was not complicated to debug with some Python knowledge, maybe you would do well to look into Python some more as well.

[2020-11-09 02:41] Sission commented on #2377
Hi! Actually, I modified those 3 files in source (2ba2842), but it still does not work.

[2020-11-09 06:03] rhaschke commented on #2377
@Sission, are you sure you are actually using your modified MoveIt?

[2020-11-09 06:06] Sission commented on #2377
I did modify all 3 files in the MoveIt install path... Any other thing I need to do to "activate" it?

[2020-11-09 06:40] rhaschke commented on #2377
@Sission: First of all which files you are talking about exactly?
Just changing source files in the _install_ path doesn't help at all. You need to setup a catkin workspace and compile from source. Please follow the [MoveIt build instructions](https://moveit.ros.org/install/source).

[2020-11-09 09:32] gavanderhoorn commented on #2330
There are two sides to this:

 1. whatever conclusion Fossa reaches and displays
 1. the legal implications of having (L)GPL licensed sources hosted in a repository

The first is essentially a marketing problem: according to the license scan/test MoveIt itself runs *on its own repository* (ie: the Fossa test), it's (L)GPL licensed. Just seeing those words may scare off potential users/contributors

[2020-11-09 13:41] s-trinh commented on #797
I have stumbled on this IK jumps issue for a very long time before actually understanding what was happening. I will try to describe the issue to help novice user understanding the IK jumps issue.

---

### IK jumps issue visualization

In my mind, IK jumps were only big jumps in joint space like elbow up/down configuration or big jumps for redundant joints, while it is not necessary the case.

Th

[2020-11-09 13:47] gavanderhoorn commented on #797
Those are in general called "configuration changes".

[2020-11-09 16:11] Sission commented on #2377
Thanks, fixed after installing from source.

From: Robert Haschke <notifications@github.com>
Reply-To: ros-planning/moveit <reply@reply.github.com>
Date: Monday, November 9, 2020 at 1:40 AM
To: ros-planning/moveit <moveit@noreply.github.com>
Cc: Sission <cao.schen@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [ros-planning/moveit] robot model not visible in moveit after loading urd

[2020-11-09 16:55] felixvd commented on #2400
Did your plan succeed? It sounds like the plan failed and the trajectory you're trying to retime is empty.

[2020-11-10 15:59] s-trinh commented on #797
For what it's worth.

I don't want to use the `jump_threshold` parameter from the MGI because:

- it does not make the distinction between prismatic and revolute joints that can have different motion ranges
- it uses the mean distance that is not robust for me

For someone with almost no experience with MoveIt codebase, using `RobotState::computeCartesianPath()` (to use `jt_revolute` and `jt_prism

[2020-11-12 14:31] abhyudit309 commented on #2374
Can anyone please help me resolve this issue ? I'm really stuck because of this and it's been nearly a month I posted this issue.

[2020-11-12 19:29] felixvd commented on #2374
Sorry for the long silence. I can't confirm this error. Does it happen if you run everything inside a docker container [as described here](https://moveit.ros.org/install/docker/)? What if you start with a clean install? If the error persists, have a good look at why the point cloud preprocessor is dying. I don't work with point clouds, so I am not very familiar.

[2020-11-12 20:29] LegoYoda112 commented on #2383
Hey! Super interested in getting involved in open source robotics projects. Always been a bit worried about just jumping into an open source project, but this seems like a wonderful way to start, Ill claim this issue! 😄

[2020-11-12 20:59] AndyZe opened #2410 "CollisionRequest min_cost_density arg isn't used"
I grepped for `min_cost_density` and it only appears in a [header file](https://github.com/ros-planning/moveit/blob/master/moveit_core/collision_detection/include/moveit/collision_detection/collision_common.h). So I think the data member could be deleted.

Here's the description from (http://docs.ros.org/en/melodic/api/moveit_core/html/structcollision__detection_1_1CollisionRequest.html):

`When c

[2020-11-13 05:38] abhyudit309 commented on #2374
Thanks for your reply. I went through this: https://moveit.ros.org/install/docker/ , but I could not follow it. Could you please guide on how to do it ?

[2020-11-13 05:50] felixvd commented on #2374
This is not a forum for user support, so please ask a concrete question on
ROS answers instead if you’re stuck.

On Fri, Nov 13, 2020 at 14:39 abhyudit309 <notifications@github.com> wrote:

[2020-11-13 13:55] LegoYoda112 commented on #2383
Some questions / notes after working through this:

#### rosdep
More of a note for the guide at https://moveit.ros.org/install/source/, rosdep does not appear to be included in a ROS desktop install, so `rosdep install -y --from-paths src --ignore-src --rosdistro ${ROS_DISTRO}` failed initially. (this might have just been user error on my part through)

#### Forking
I was unsure of how to properly

[2020-11-13 14:10] gavanderhoorn commented on #2383
No, this is not user error. `rosdep` was removed from the default set of installed packages some time ago. So if you're running Noetic, you'll have to install it manually.

[2020-11-13 15:38] abhyudit309 commented on #2374
I was able to run it inside a docker container. But the error still persists. I get the same error message saying: [point_cloud_preprocessor-11] process has died.

[2020-11-13 18:37] tylerjw commented on #2383
One approach I've used when I don't want wstool the complain at me is to edit the .rosinstall file and remove whatever repo I'm working on.  Then you can use wstool for the rest of the packages and use git directly to interact with the repo you have forked and are working on.

[2020-11-13 18:40] tylerjw commented on #2383
`master` is the correct branch to target for PRs.  Would you mind creating a `first-timer-only` issue using the issue template (click new issue) and include a diff to the file `.github/ISSUE_TEMPLATE/first_timers_only.md` to clarify this in the instructions.  That would help as you can provide a similarly curated issue for someone else and help make it clearer for them.

Thank you for joining us a

[2020-11-13 21:50] LegoYoda112 opened #2413 "Update First Timers Only Issue template"
## Background
Update the `first-timers-only` issue template to include clearer instructions about forking and submitting a pull request (as mentioned in the comments of #2383 ), as well as fixing some typos. Feel free to suggest further edits (or edits to these edits) to improve the clarity of the guide.

## Instructions
Hi, this is a `first-timer-only` issue. This means we've worked to make it mo

[2020-11-14 11:34] davidhjp commented on #2179
I also hope this get fixed soon.

[2020-11-14 22:21] gleichdick commented on #123
Oh, I just noticed that I'm not the first one implementing a sqlite backend for warehouse :sweat_smile:
My solution does not use BSON, it stores the metadata in columns for each collection. You can find it [here].(https://github.com/gleichdick/warehouse_ros_sqlite)
There is also some discussion in #1659

[2020-11-18 02:16] davetcoleman opened #2416 "Improve Install Instructions for rosdep"
## Background

@LegoYoda112 reported in https://github.com/ros-planning/moveit/issues/2383#issuecomment-726777938 👍

## Instructions
Hi, this is a `first-timer-only` issue. This means we've worked to make it more legible to people who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

We're interested in helping you take the first s

[2020-11-18 02:17] davetcoleman commented on #2383
@LegoYoda112 I've converted your rosdep catch into a first timer issue :-)
https://github.com/ros-planning/moveit/issues/2416

[2020-11-18 03:00] davetcoleman commented on #2383
Also, this issue should be closed as https://github.com/ros-planning/moveit/pull/2412 is merged

[2020-11-18 03:02] davetcoleman commented on #2384
This is an awesome progam @tylerjw !!

I'm working on the new website pages to make it easier for new users. I'd appreciate your feedback, then @auman66 will be leading the design and development of the pages.

- [Get Involved](https://docs.google.com/document/d/1_5g9bpWYgZmtnxVtRX8x5VPkWtsL_mlYFrwx50djYkI/edit) page
- [Contributing](https://docs.google.com/document/d/1DOnKpSVU9zZrHvCXr8bRbbLf3dpN

[2020-11-18 04:44] Jidnyasa-git commented on #2416
Hi, I am new to open source community and want to work on this issue. Can you assign it to me ?

[2020-11-19 12:19] harshgupta246 commented on #2413
I would like to take this issue up. I am relatively new to open source contributions and not sure if this is the right way to approach this.

[2020-11-19 16:51] tylerjw commented on #2413
@harshgupta246 I assigned this to you, have fun!

[2020-11-20 03:06] RuochenQi opened #2420 "dynamics_solver symbol lookup error: undefined KDL symbol"
### Description
When I tried to launch a ur_moveit_config demo.launch,
this error showed up when rviz started:
 /opt/ros/noetic/lib/rviz/rviz: symbol lookup error: /opt/ros/noetic/lib/libmoveit_dynamics_solver.so.1.1.0: undefined symbol: **_ZNK3KDL6Vector4NormEv**

then rviz quit and its process died.

I confirm that this symbol is not defined by my KDL library: liborocos-kdl1.4,
which is the link

[2020-11-20 03:23] #2420 closed

[2020-11-20 03:25] RuochenQi commented on #2420
Sorry to bother, I link the wrong version of KDL library.
The right one does have this symbol.
Thank you all the same.

[2020-11-20 06:30] tylerjw commented on #2383
closing as this is done, congrats 🥇

[2020-11-20 06:30] #2383 closed

[2020-11-20 06:31] archonixX commented on #2409
i got this

[2020-11-20 06:48] tylerjw opened #2421 "More first-timer-only issues"
Is there a simple thing you've noticed that annoys you?  Do you care about inviting new people into contributing to moveit and open source?  If so please create `first-timer-only` issues.  All the current ones are claimed by various new people, we could use some more.

[2020-11-20 13:42] harshgupta246 commented on #2413
I have sent a pull request. As per the final instruction I request someone to review it. Thanks.

[2020-11-20 15:54] tylerjw commented on #2369
This is happening today.  I'm sorry this took so long to make happen.  I'll try to make this a regular part of our releasing.

[2020-11-20 16:01] tylerjw commented on #2387
This is now done, I will release these changes today onto melodic and move the reviewed-for-backport tag after the release.

[2020-11-20 16:01] #2387 closed

[2020-11-20 17:32] tylerjw commented on #2413
Thank you!  I merged your PR.

[2020-11-20 17:32] #2413 closed

[2020-11-20 18:07] tylerjw commented on #2369
I updated changelogs and package versions and pushed a new tag (1.0.7), I'm now running the pre-release test locally.

[2020-11-20 19:09] harshgupta246 opened #2424 "Update the First Timers Only Issue Template"
## Background

The `first-timers-only` issue template needs to be updated to add simple and clear instructions on how to ping someone. Additional suggestions are welcomed to improve the template. To get a better understanding of what it means to ping someone, you can refer to - https://github.com/ros-planning/moveit/pull/2419#issuecomment-731276590

## Instructions
Hi, this is a `first-timer-only`

[2020-11-20 19:49] tylerjw opened #2425 "Fix typo in first-timer-only issue template"
## Background

The `first-timer-only` issue template has a typo.  `timers` vs `timer`.  This has had the side-affect of new `first-timer-only` issues not receiving the 'first-timer-only' label when they are created.

## Instructions
Hi, this is a `first-timer-only` issue. This means we've worked to make it more legible to people who either **haven't contributed to our codebase before, or even folk

[2020-11-20 19:53] tylerjw opened #2426 "Pick/place test failing on master with `ros-shadow-fixed` and clang"
### Description

Travis is failing on master testing with `ros-shadow-fixed` and on `clang` in the pick/place test: https://travis-ci.com/github/ros-planning/moveit/jobs/444552780

This is blocking the Noetic release.

[2020-11-20 20:39] Aman-Makkar commented on #2425
Hello, I am relatively new to open source and haven't worked on any large projects in the past. I would like to make a start now and want to claim this task :D

[2020-11-20 21:09] tylerjw commented on #2425
It is yours, enjoy!

[2020-11-20 22:16] Prakhar030 commented on #2424
Hi, I am new to open source community and I would like to work upon this issue.

[2020-11-21 09:45] Aman-Makkar commented on #2425
Thanks Tyler, I am having an issue with downloading and installing ROS. I am not sure why, I have followed all the steps.

[2020-11-22 21:30] tylerjw commented on #2424
I assigned it to you, enjoy!

[2020-11-22 23:51] Prakhar030 commented on #2424
Thank You @tylerjw for assigning me this issue. I have made the required change and made a pull request. It is showing that reviews are needed for the pull request to be merged. Please do give your review upon it and also please can you clarify that review is always required before a pull request is accepted or are my changes not matching any required criteria that is why such a thing is happening

[2020-11-23 10:43] Prakhar030 commented on #2425
Hi @Aman-Makkar ,
What issue are you facing in downloading and installing ? I maybe able to help you as I recently completed an issue which resembled this issue. Please can explain the issue.

[2020-11-23 20:25] Aman-Makkar commented on #2425
Hello @Prakhar030 ,
Thank you for your reply, please find the error the issue that I am having below:
C:\Windows\System32>mkdir c:\opt\chocolatey

C:\Windows\System32>set ChocolateyInstall=c:\opt\chocolatey

C:\Windows\System32>choco source add -n=ros-win -s="https://aka.ms/ros/public" --priority=1
Chocolatey v0.10.15
Directory 'c:\opt\chocolatey\lib' does not exist.
Added ros-win - https://aka.ms

[2020-11-23 20:28] tylerjw commented on #2424
All PRs have to be reviewed before they can be merged, that is a policy across the whole repo.  I'll go look at it now.

[2020-11-23 22:18] Prakhar030 commented on #2424
Thank you @tylerjw for reviewing my pull request and clearing my doubt :-)

[2020-11-24 06:41] #2302 closed

[2020-11-25 16:24] tylerjw opened #2431 "MoveIt Melodic Release (1.0.7)"
# MoveIt Melodic Release (1.0.7)

[_moveit.ros.org release documentation_](https://moveit.ros.org/documentation/contributing/releases/)

### Checklist
- [x] Merge backports
- [x] Run ROS buildfarm prerelease test
- [x] Update changelogs
- [x] Bloom
- [x] Write discourse post
- [x] Move `reviewed-for-backport` tag

## Meta

This issue is to capture the discussion that is happening over various issu

[2020-11-25 16:25] tylerjw commented on #2369
I created a new issue to track the work on the melodic release.  I'm closing this issue as it was asking for a release to be done for melodic and that work is underway.  We can continue discussion in the new issue.

[2020-11-25 16:25] #2369 closed

[2020-11-25 16:29] tylerjw commented on #2425
Hello @Aman-Makkar,

Workspace setup issues can be frustrating, I'm sorry you are having issues.  However, none of the maintainers here use Windows as their primary development enviroment so we'll have difficulty helping you with the issues you are experiencing.  Windows support (and those isntructions you found) is something that was contributed by Microsoft some time ago, however I don't believe

[2020-11-25 18:04] tylerjw commented on #2431
I built a workspace for `jsk_pcl_ros` and tried running the failing tests and I'm having a bunch of "Error opening file" issues with them when I use rostest to run them.  I wasn't able to run them with either the released version of moveit on melodic or the latest in melodic-devel.  @knorth55 do you have instructions for how I could validate that the latest changes in moveit are not breaking thing

[2020-11-25 20:38] knorth55 commented on #2431
@tylerjw How can I reproduce your build error? Do you just build `jsk_pcl_ros` with latest `moveit@melodic-devel`? Can you share `.rosinstall` of your checking workspace?

[2020-11-25 20:57] tylerjw commented on #2431
Here is the .rosinstall:

[code]

I'm probably not setting up my enviroment correctly to test your repo.  I didn't dig into your testing infrastructure configs, I just tried to build and test that one package with all the tests that are angry in the pre-release using catkin.

[2020-11-26 07:20] Sunshengjin commented on #2289
Hi, I have same problem ..WHen i running xxx_moveit_config/launch/joystick_control.launch , rviz FPS drop to 0..
Is anyone have any solutions?

[2020-11-26 07:59] #2409 closed

[2020-11-26 09:20] rhaschke commented on #2416
Closed via https://github.com/ros-planning/moveit.ros.org/pull/525.

[2020-11-26 09:20] #2416 closed

[2020-11-26 10:14] felixvd commented on #2425
[ROS Answers](https://answers.ros.org/questions/) may help if you can't switch to Ubuntu. That would be the easier option, however.

[2020-11-26 14:38] knorth55 commented on #2431
@tylerjw
we need to carefully install several packages `gdown`, `wget`, `chainer<7.0.0` and build the package to download sample data for the test.
I tried with your `.rosinstall` and check all the test passed.

[code]

[2020-11-26 23:09] Chick92 opened #2432 "Moveit using wrong namespace when looking for rosservice"
### Description

Issue with namespace.

I'm using a simulation package, which is simulating the real world counterpart - a manipulator in a cell. The simulation is all working fine, but because it replicates actual hardware, that i am not able to tinker with settings on, i'm having a problem. The robot has the namespace "iiwa".

I've gone through the tutorials and got all that working -
http://doc

[2020-11-27 00:20] #2432 closed

[2020-11-27 01:58] felixvd commented on #2432
Can you post how you fixed your problem, for the benefit of whoever searches this in the future?

[2020-11-27 06:16] tylerjw commented on #2431
Thank you for your response and for testing that, that was really helpful.  Now I just need to figure out the other tests and I'll be ready to release for melodic.

[2020-11-27 09:55] Chick92 commented on #2432
Hi,

Yeah sorry, i'd kinda fixed that problem, but it caused more so was waiting till i'd sorted that first. Which i've now done.

The `move_group = moveit_commander.MoveGroupCommander(group_name, ns='/iiwa')` has a name space argument, which i've used here. However, that then caused problems with it not being able to find the group name, which was again caused by lack of name space.

A more elega

[2020-11-27 10:32] felixvd commented on #2432
Is this an issue with the iiwa_stack documentation or the moveit tutorials?
Either way if you submit a PR now while your suffering is still fresh on
your mind I’ll review it right away. I had issues with namespaces when I
started using both packages but didn’t write anything before i forgot what
gave me trouble.

On Fri, Nov 27, 2020 at 18:55 Anon <notifications@github.com> wrote:

[2020-11-27 10:37] gavanderhoorn commented on #2432
`rosrun` can also be used to start nodes in a namespace:

[code]

you should not need to use a `.launch` file for that alone.

See [ROS/EnvironmentVariables: ROS_NAMESPACE](http://wiki.ros.org/ROS/EnvironmentVariables#ROS_NAMESPACE).

[2020-11-27 16:24] aoligeihahah opened #2433 "Action client not connected: /follow_joint_trajectory. Ask for help"
My system is:
ubantu16.04+ros-kinetic

My code is:
cd catkin_ws && source devel/setup.bash
	roslaunch ur10_moveit_config ur10_moveit_planning_execution.launch limited:=true

he@he-OptiPlex-5040:~$ cd catkin_ws && source devel/setup.bash
he@he-OptiPlex-5040:~/catkin_ws$ roslaunch ur10_moveit_config ur10_moveit_planning_execution.launch limited:=true
... logging to /home/he/.ros/log/264e77a0-30c9-11

[2020-11-28 09:47] impet14 opened #2435 "Speed up motion planning time using GPU"
Hi,
Is there a way to speed up motion planning using GPU or parallel computing?
I would like to speed up my planning time. Please suggest to me.

Thank you.

[2020-11-28 21:13] dudasdavid opened #2436 "Linear Y twist command with MoveIt Servo and 4DoF arm"
### Description

I'm trying to use the MoveIt Servo with an OpenMANIPULATOR-X which is a 4DoF manipulator from ROBOTIS.
I modified the open_manipulator_controller to listen to the JointTrajectory messages from moveit_servo so communication works properly. When sending linear x or z commands the manipulator works as expected. When sending linear y twist command moveit_servo cannot move the arm. Wit

[2020-11-29 01:45] AndyZe commented on #2436
I took a shot at reproducing the issue but got this error upon `roslaunch moveit_servo spacenav_cpp.launch`:

[code]

Do you see any warnings in terminal about singularities? If so, decrease `lower_singularity_threshold` in the yaml.

You can also allow one or more dimensions to "drift" with a service call like this. I would recommend allowing two drift dimensions because the robot is underactuate

[2020-11-29 01:47] AndyZe commented on #2436
I can see from the Gazebo sim that it's just not possible for the robot to translate along Y without some rotation. I'm not sure how Cartesian planning gets around that. Maybe loose tolerances? Or allowing a joint jump from one waypoint to the next?

![robot](https://user-images.githubusercontent.com/11284393/100530004-7c0b7f00-31b2-11eb-8cc0-79c2cab670b7.png)

[2020-11-29 08:52] dudasdavid commented on #2436
Thank you for your answer! I've no idea why do you have the above error, it was tested on more systems, I installed open_manipulator_gazebo with apt-get, only the controller and a few other nodes are running from my fork. The colors are also missing on your model:
![Screenshot 2020-11-29 094919](https://user-images.githubusercontent.com/18377235/100537378-58831b80-3228-11eb-9bb1-ba9dd14616a5.png)

[2020-11-29 14:19] AndyZe commented on #2436
Well, unfortunately there's nothing to be done other than what I already wrote. Increase the singularity thresholds or make the service call to enable drift. I think you will be pleasantly surprised by how "drift" helps.

[2020-11-29 14:20] AndyZe commented on #2436
Try enabling drift for all three degrees of rotation +till, pitch, and yaw).

[2020-11-29 15:24] dudasdavid commented on #2436
Interestingly, setting the drift on x rotation solved the singularity issue. It's great that moveit_servo can work with such a low DoF arm after setting the drift, thanks for the help, I close this issue!

[2020-11-29 15:24] #2436 closed

[2020-11-29 15:28] AndyZe commented on #2436
Cool video!

[2020-11-30 00:15] gleichdick opened #2437 "Replace eigen_conversions with tf2_eigen in moveit_core"
## Background

The `eigen_conversions` library (part of TF1) is deprecated. Users are encouraged to switch to the successor, `tf2_eigen` in this case. Both libraries are used to convert different representations of Vectors, Quaternions etc. into each other.
The patch attached below shows how to replace the deprecated library in one of the moveit packages, `moveit_core`.

## Instructions
Hi, this i

[2020-11-30 07:17] #2433 closed

[2020-11-30 09:41] #2262 closed

[2020-11-30 09:54] felixvd commented on #2433
It would be kind if you could describe for future readers how you solved your problem.

[2020-11-30 18:38] felixvd opened #2438 "Check that attached collision objects do not share names with robot links"
I hadn't thought of this mistake, but attaching a collision object with the same name as a robot link [causes collision checking to fail](https://answers.ros.org/question/363462/how-to-attach-an-object-for-collision-check-in-motion-planning/), so it's probably worth checking for this during the `CollisionObject`/`AttachedCollisionObject` handling.

[2020-12-02 17:45] tylerjw commented on #2431
Bloom is done for this: :tada:

[2020-12-02 17:51] tylerjw commented on #2431
I moved `reviewed-for-backport` from `ed3e196d2` to `e337c0808`.

[2020-12-02 18:23] #2075 closed

[2020-12-02 18:25] tylerjw commented on #2431
Posted to discourse: https://discourse.ros.org/t/moveit-melodic-1-0-7-release/17712

[2020-12-02 18:25] #2431 closed

[2020-12-02 18:41] simonschmeisser opened #2442 "RobotState::setJointGroupPositions: Check for matching size of JointModelGroup and passed vector"
https://github.com/ros-planning/moveit/blob/bdd4bde4938c7bdac3a57a791cf738146c8834e0/moveit_core/robot_state/include/moveit/robot_state/robot_state.h#L625

would be nice to have an assert here and might have hinted to https://github.com/ros-planning/moveit_visual_tools/issues/82  and/or similar bugs in our products code

Will open PR

[2020-12-02 18:46] simonschmeisser commented on #2435
Please ask questions on https://answers.ros.org/ :smile: This issue tracker is more for discussing concrete bugs, tasks and sometimes ideas.

Short answer: Motion planning uses all cores of your CPU but there is no support for GPU yet (possibly via bullet collision checking but I don't think this has been tried yet)

[2020-12-02 18:46] #2435 closed

[2020-12-02 19:23] davetcoleman commented on #202
I think we should add this to MoveIt's 2021 roadmap, assuming @felixvd wants to lead the charge. We've been chatting internally at PickNik (@mamoll @henningkayser @AndyZe) after talking with Felix and weren't interested in supporting @felixvd .

[2020-12-02 19:31] AndyZe commented on #202
**were** interested!

[2020-12-03 10:22] FrancoisTeyssere commented on #1807
@mremson
@antbiv

I faced the same problem when trying to run UR5 demo. I was simply missing the package gazebo_ros_control, in case it can help anyone. Not related to the initial issue though.

[2020-12-03 12:41] pawanw17 commented on #2425
Hello, I'd like to work on this issue, I haven't contributed to moveit until now and I think this would be a good starting point.

[2020-12-03 14:31] pawanw17 commented on #2425
Hey @tylerjw I have submitted a PR.

[2020-12-04 09:20] sjahr opened #2444 "Fix typos in plan_execution.cpp and plan_with_sensing.cpp"
## Background
Two source files of the moveit_plan_execution package contain small typos which need to be fixed.

## Instructions
Hi, this is a `first-timer-only` issue. This means we've worked to make it more legible to people who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

We're interested in helping you take the first step,

[2020-12-04 13:31] pawanw17 commented on #2442
Hey I'd like to work on this issue, can you guide me for the same?

[2020-12-04 13:46] simonschmeisser commented on #2442
A small improvement would be to have an `assert` just like you can find it in a few places in the file I linked already.

The real solution would be to create a new function `setActiveJointGroupPositions` that takes the values for only the active joints as this would make the API a lot less error-prone.

[2020-12-04 14:43] pawanw17 commented on #2442
Hey @simonschmeisser should I add both the assertions?
i.e from the link you provided
``
if (ee_jmg == nullptr)
`` if (!ee_joint_pos.empty())
and
``
 if (!ee_joint_pos.empty())
``
and should I make the pull request to melodic-devel?

[2020-12-04 15:11] davetcoleman commented on #1800
@jschleicher did this get backported to Melodic as desired?

[2020-12-04 15:15] felixvd commented on #202
Thanks for the clarification :)

Yes, I'm happy to do what I can. I updated the future projects [here](https://github.com/ros-planning/moveit.ros.org/pull/530).

[2020-12-04 17:06] MrPengR commented on #2234
Hello myFree, I met the same problem. Have you solved it?

[2020-12-04 17:28] tylerjw opened #2445 "Moveing fast and breaking moveit, meeting summary"
This issue is for discussing what the summary of our meeting about the future of MoveIt is and what we should post to discourse.  Here is my draft of the summary.  Please correct what I've missed, misworded, etc:

MoveIt has grown in many ways, some good and some bad.  We are worried that this growth has resulted in some stagnation and difficulty in making large changes that would add value.  To t

[2020-12-04 17:40] myFree commented on #2234
No; I have not been able to resolve it. Seems quite likely related to running with a Radeon GPU

[2020-12-04 17:43] nbbrooks commented on #2445
I think this is a great summary, although I would add a more explicit bullet for discussing removal of features that are sufficiently superseded by newer features.

[2020-12-05 16:39] MrPengR commented on #2234
Hi. I investigated it the whole day and I found the solution. But for the deeper reason behind, I'm still confused. I would like to share it, maybe you know the answer.

**Error reason:**
The problem comes from the file "cylinder_segment.cpp" under the src folder of perception_pipeline. There is a private variable with a data type of structure pointer called "cylinder_params", which is also mentio

[2020-12-06 00:00] awied1404 opened #2446 "No interpolation is made in RViz"
Hello guys,

I have a little problem. I am using the Kuka YouBot and want to calculate a trajectory.
I created a catkin package with MoveIt setup assistant and after setting a goal pose via RViz GUI and
calculating the trajectory I look at the path and see the following:
![collision_detection_failed](https://user-images.githubusercontent.com/67168322/101253485-bfb83880-371e-11eb-9043-8e293abafda0.

[2020-12-06 20:08] MrPengR commented on #2234
Sorry I think my solution isn't right. The solution did remove the errors but did not realize the function. Because in my solution, if not  using a pointer, the value won't be changed in the callback function. And as a result, the expected cylinder won't show up in RViz because its radius and height both are not correctly assigned with a value.

Best regards!

[2020-12-07 09:05] myFree commented on #2234
Thank you for the input regardless; seems like you are really digging into finding a solution. Do you have a Radeon or NVIDIA graphics card?

[2020-12-07 09:22] deep0105 opened #2447 "setGoalTolerance() does not work in ros-noetic the way it worked in melodic."
### Description

I recently upgraded my robotic application based on moveit to ros-noetic. The same planner that worked earlier and planned seamlessly in melodic is now failing in ros-noetic. On debugging further, I found that  **setGoalTolerance()** of move_group node is making the moveit planner failed. It was set to _1e-6_ in melodic for better accuracy, but the same value does not work in noet

[2020-12-07 10:32] MrPengR commented on #2234
Mein is NVIDIA. And I installed cuda last week. Not sure if it's related.

[2020-12-07 14:55] tylerjw commented on #2445
Without any objections I'm going to post this to discourse later today.  Then we can move onto the fun stage of actually doing these things.

[2020-12-07 16:18] rhaschke commented on #2445
For me, the central point is not removing features to reduce complexity. But, rather to define (and document!) cleaner interfaces that allow to decouple different API layers of MoveIt thus facilitating understanding of each of them.

[2020-12-07 19:44] vlasove commented on #2444
Hi, there. Can I start working on this fix?

[2020-12-07 21:20] tylerjw commented on #2445
I adjusted the points to reflect both points.  I'll post it now.

[2020-12-07 21:20] #2445 closed

[2020-12-08 07:20] tylerjw opened #2449 "pick place flaky test"
### Description

Sometimes the test fails to plan to the initial grasp:
![20201208_001658](https://user-images.githubusercontent.com/2490389/101452519-0490ca80-38eb-11eb-9081-4e54f11f7506.png)

Here is the output when this happens:
[code]

Other times it fails the place as can be seen here: https://travis-ci.com/github/ros-planning/moveit/jobs/454548884

[2020-12-08 07:24] tylerjw commented on #2449
Is there a way to ask it to sample more states, increase the timeout for sampling states, or increase the thresholds?

[2020-12-08 07:38] rhaschke commented on #2449
Hi Tyler, looking into the build history on Travis, I think that this test isn't flaky but really broken since #2414.
Before: https://travis-ci.com/github/ros-planning/moveit/builds/201856055
After: https://travis-ci.com/github/ros-planning/moveit/builds/202392619
Note the failing test on Noetic. The clang-tidy-fix just times out, which is unrelated.

[2020-12-08 07:42] rhaschke commented on #2449
It is strange that the test succeeds on the same source in Melodic, but (consistently) fails on Noetic. Can you reproduce this locally?

[2020-12-08 07:54] Lokesh-Jawale commented on #2444
I am new to open source and will like to contribute this issue.
I will like to work on this.

[2020-12-08 08:02] #323 closed

[2020-12-08 08:18] tylerjw commented on #2449
I can reproduce this failure about 10% of the time on Melodic locally.

[2020-12-08 08:22] ShotaAk opened #2451 "Default velocity and acceleration scaling factor do not affect RViz interface"
### Description

The values of `default_velocity_scaling_factor` and `default_acceleration_scaling_factor` in the `joint_limits.yaml`
do not affect RViz interface.

### Your environment
* ROS Distro: Noetic
* OS Version: Ubuntu 20.04
* Binary build
* If binary, which release version? `ros-noetic-moveit-core : 1.1.0-1focal.20200930.003439   amd64 `

### Steps to reproduce

1. Edit `joint_limits.yam

[2020-12-08 08:22] tylerjw commented on #2449
Good point about that PR.  I'll submitted a PR that seems to work around the problem locally for me.  However, if it is the pose that should be adjusted, it should be adjusted in the tutorials too as this example was pulled from the tutorials.

[2020-12-08 08:40] rhaschke commented on #2449
As this regression was introduced by #2414, I would like @stuart-fb to have a look at this problem.
Your PR #2450 is just a workaround. A unit test should succeed deterministically! For the time being, I would prefer disabling the test over such a patch.

[2020-12-08 08:49] Lokesh-Jawale commented on #2444
Can anyone please guide me on how to build from source in fedora.
There's no documentation about it.

[2020-12-08 09:28] rhaschke commented on #2451
The problem is your joint_limits.yaml. You need to define the scaling factors at the top level:
[code]

[2020-12-08 09:45] ShotaAk commented on #2451
@rhaschke Thank you for your comments.
This solution is good for RViz but not for `moveit_commander`.
RViz's motion plan be fast, `moveit_commander`'s motion plan be slow.

I checked this PR ( https://github.com/ros-planning/moveit/pull/1890/files ) ,
It seems the `move_group_interface` gets `robot_description_planning/joint_limits/default_velocity_scaling_factor` ,
but the `motion_planning_frame`

[2020-12-08 10:13] rhaschke commented on #2451
Oops. Thanks for this hint. This is a real bug! Could you prepare a PR removing `joint_limits` in the `move_group_interface`, please?

[2020-12-08 10:16] ShotaAk commented on #2451
Sure. :+1:

[2020-12-08 12:34] AndyZe commented on #2449
#2434 should fix this

[2020-12-08 12:55] rhaschke commented on #2449
Thanks @AndyZe, will have a look...

[2020-12-08 14:11] stuart-fb commented on #2449
Took a look - #2434 looks like the right way to fix this to me as well.  Thanks for the detective work @JafarAbdi .

[2020-12-08 19:26] sjahr commented on #2444
Hi @Lokesh-Jawale,
great to hear that you are interested in contributing!
You should be able to build MoveIt 1 from source, when you follow the [usual instructions from the MoveIt page](https://moveit.ros.org/install/source/), although (depending on your Fedora version) it is likely that you also need to build ROS from source. Unfortunately, I have no experience with Fedora so in case you get stuc

[2020-12-09 05:06] felixvd commented on #2447
Could be related to https://github.com/ros-planning/moveit/pull/2434

[2020-12-11 06:16] StutiV commented on #2444
Hello @sjahr , can you assign me this issue? I'd like to contribute.

[2020-12-13 06:05] Udbhavbisarya23 commented on #2444
Hey @sjahr I would like to take this issue if its still open. Could i be assigned to this issue?

[2020-12-13 17:01] FabianSchuetze opened #2458 "Build problem due to linker problems with `shapes::createMeshFromVertices` and `ros::NodeHandle::NodeHandle`."
### Description

I am trying to build moveit from source on noetic but the packages `moveit_setup_assistant` and `moveit_tutorials` fail both for the same reason. Both packages complain about undefined references, like so:

[code]
I found this error curious because the `geometric_shapes` package build successfully and I have build with reference to `ros::NodeHandle` previously. I was following the

[2020-12-14 04:53] drewhamiltonasdf commented on #453
Would anyone care to offer up a "temporary solution" that would be the most useful while we wait for someone more competent to tackle the bigger picture issues? I've been enjoying the process of playing with MoveIt's guts lately, and I feel like I might as well contribute what I can. My last pull request was pretty similar: just adding access to variables via parameters.

I'd be interested in tack

[2020-12-15 00:22] tianshiz commented on #2240
Just wanted to check in on this, is the plan still for MoveIt2(on ROS2) to support realtime given a RT kernel? I just want to know if this is on the roadmap or being pushed back by the team.

[2020-12-15 09:07] sjahr commented on #2444
Hi @StutiV, sure feel free to open a PR :) If you need any help just mention me in your PR or you could ask @Udbhavbisarya23 to support you.

[2020-12-16 09:25] machinekoder opened #2459 "pilz_industrial_motion_planner: does not use IK timeout parameters"
### Description

We recently switched to `pilz_industrial_motion_planner` in combination with `bio_ik` for our setup. In most cases the system works perfectly fine. However, sometimes we noticed IK solution not found errors, especially on slower systems.

Digging into the Pilz industrial motion planner code, I found that there is a hardcoded timeout for the IK. Instead, MoveIt's IK timeout paramet

[2020-12-16 11:46] Udbhavbisarya23 commented on #2444
That sounds great @sjahr! @StutiV Please let me know if you need any help

[2020-12-16 16:25] AndyZe opened #2460 "Confusing documentation on setToIKSolverFrame()"
I think the documentation [here](http://docs.ros.org/en/melodic/api/moveit_core/html/classmoveit_1_1core_1_1RobotState.html#a34d8fc133b4a21527ea0875fdb423e25) on setToIKSolverFrame() must be wrong. Here's what it says:

[code]

If that were correct, how would we know what the original frame of `pose` is? I think it should say:

[code]

[2020-12-17 02:02] tylerjw opened #2462 "Changes to improve CI"
## Proposed docker image changes for faster CI
CI timeouts and build/runtimes are an ongoing problem with moveit.  After reading the documentation for the nav2 ci system (https://github.com/ruffsl/navigation2/tree/ci-docs/doc/continuous_integration) I have come to appreciate a handful of things that they are doing with their docker images we could also do to improve our ci system.

In order to avo

[2020-12-17 08:59] rhaschke commented on #2462
Hi Tyler,
thank you very much for this detailed analysis. If I understand your initial paragraph correctly, you want to shift building time from Travis to dockerhub, such that PR builds in Travis can reuse build artifacts generated in a docker image previously. Indeed, currently, we are only utilizing ccache but essentially rebuilding from scratch every time.
I think, before proceeding we should f

[2020-12-17 09:34] gavanderhoorn commented on #2462
I have contacted them about this (for other projects).

The response was that the OSS allotment was put on hold until further notice.

[2020-12-17 15:19] tylerjw commented on #2462
I will reach out to Travis today to see if I can get an answer for us.  After reading that blog post you linked I am less hopeful we can avoid having to migrate away.  In the meantime, I'll try to put together a list of pro/con for where we could go and various approaches so we can start to discuss and make decisions.  I want to have a plan we agree on as a next step.  If the author of that blog i

[2020-12-17 16:01] rhaschke commented on #2462
Fully agree. I'm inclined towards github actions. As far as I understand they allow for caching of intermediate stages. But I didn't look deeper yet. I'm afraid I need to migrate all our (university) repos as well...

[2020-12-17 17:01] #2460 closed

[2020-12-17 17:21] nbbrooks commented on #2462
Based on the information presented in the maintainer meeting today, I lean towards migrating to circleci, collaborating with nav2.

I've used industrial_ci on a couple projects and had a good experience. However, as Tyler mentioned, if industrial_ci's goal is to be simple to use and spin up (which I found to be true), it will inherently lose some power and be oriented towards projects smaller than

[2020-12-17 21:10] tylerjw commented on #2462
# CircleCI
These are my thoughts regarding the option of switching to CircleCI and collaborating with and learning from nav2's solution.

## Performance
Here is a link to their latest runs on circle_ci: https://app.circleci.com/pipelines/github/ros-planning/navigation2
You can see that their CI runs are taking about an hour to run for their nightly ci run.  One thing to note is that as a ros2 proj

[2020-12-17 21:45] rhaschke commented on #2462
If I understand you correctly, `industrial_ci` running on github actions is still a rather monolithic script. I wouldn't go for this.
As far as I have seen, github action allows modularization based on actions hosted at github as well. Hence, we could benefit from other people providing actions and we could provide our own set of actions. This seems quite similar to the concept of orbs.
There are

[2020-12-17 22:07] tylerjw commented on #2462
I'll respond to your third points for judging regarding CircleCI and then I'm going to research using github actions more and see if I can give you a good evaluation of that approach.  I am really liking the idea of moving away from the monolithic script for performance reasons.

## open-source support
CircleCI is currently offering a lot of ci runtime for open source projects.  I'll look into com

[2020-12-17 22:15] rhaschke commented on #2462
That's exactly what I meant: how many parallel jobs we can run, how many free minutes we have per week/month.
I didn't find clear numbers for github actions yet. I'm curious to see what they offer as well...

You are probably right on this. On the other hand there is a growing set of freely available github actions as well.

I was primarily concerned about us configuring and maintaining the CI scr

[2020-12-17 23:54] tylerjw commented on #2462
How many parallel jobs can we run?
* CircleCI: 5 per repo
* Github actions: 20 per repo

How much time per month?
* CircleCI: ~40k minutes / month (~666 hours).  This can be increased if we ask.
* Github actions: supposedly unlimited for now
Both have documentation language that says it can change at any time.

How does caching compare?
* CircleCI: caching can be between jobs (whole workspaces), b

[2020-12-18 01:11] rhaschke commented on #2462
Thanks for this great summary. Looks like CircleCI is the way to go. Indeed the ssh feature would be great to have.
Regarding caching: 5GB per repo might be fine. I wanted to check our Travis cache usage, but it's [not reported anymore](https://travis-ci.com/github/ros-planning/moveit/caches)!
I'm not sure Docker Layer Caching is a relevant feature for us. That's only important if we are building

[2020-12-18 03:21] tylerjw commented on #2462
I agree that docker layer caching might not matter so long as we can avoid building moveit timing out on dockerhub.  I think it's ok now with our source image so maybe it's fine.

We would be cashing build/devel folders.  That's what nav2 does.

20 jobs seems better however one thing I've noticed on GitHub on the one client project we are using it on is jobs seem to sit in queue waiting for a whil

[2020-12-18 03:50] tylerjw commented on #2462
I think the way they are counted are the same as they are on Travis.  We would indeed be starting many per job but because we will be doing multi stage runs they should each run for much less time and some maybe not at all if they can recall a cache that would create the same output.

[2020-12-18 03:53] tylerjw commented on #2462
I think the ssh feature sounds awesome.  The number of concurrent jobs sounds like a good argument for GitHub unless there caching limits mean we'd have concurrent jobs invalidating eachothers caches.

[2020-12-18 05:22] felixvd commented on #2462
True, but at least it looks like [both CircleCI (since recently)](https://circleci.com/blog/our-cloud-platform-your-compute-introducing-the-circleci-runner/), [and Github Actions](https://docs.github.com/en/free-pro-team@latest/actions/hosting-your-own-runners/about-self-hosted-runners) support self-hosted runners (which don't require hosting the whole CI; they just execute jobs), so there will be

[2020-12-18 08:47] mail-man26 commented on #2444
Hi! @sjahr  I am new to open source and would like to get started with this issue, would you like to assign me this issue?

[2020-12-18 10:25] gavanderhoorn commented on #2462
@tylerjw wrote:

just pointing out that someone else having done a lot of work for you to reuse != greater ease of use.

How easy a service is to use would be an inherent characteristic of the service.

It's nice @ruffsl has done a lot of work already, but that doesn't mean circleci is easy to use. It just means we don't have to figure those things out ourselves. Adapting/changing things could sti

[2020-12-18 18:25] tylerjw commented on #2462
That is a fair point.  I don't have enough experience with using either enough to say one is better than the other in this regard.  They both seem to have complete enough documentation, a similar specification language (yaml files), and similar features (as you might expect seeing as they are solving the same problem).

Maybe @ruffsl can speak to the "ease of use" of circleci as a service.  Ideall

[2020-12-19 00:48] ruffsl commented on #2462
Hey folks, great discussion! It’s nice to see Nav2 isn’t the only large ROS project exploring advanced container based CI services. I’ll try and respond inline to clarify points made throughout the discussion so far, but I’ll assume you’ve skimmed through the documentation I’ve written for Nav2 or at least watched the lightning talk I created for ROSWorld 2020:

- https://github.com/ros-planning/n

[2020-12-19 14:22] simonschmeisser commented on #2446
Sorry, I don't understand your issue and cannot deduce from the gif. Could you provide some more details?

[2020-12-19 21:09] tylerjw commented on #2462
clang-tidy is a static analysis tool and afaik needs the compile commands json files similar to lcov.  We are currently running after doing a build and test with the clang compiler.  I do agree that it would make sense to make into a separate stage though.

It currently depends on some environment variables from Travis to work.  I think a more generic script would also make it much easier for peop

[2020-12-19 21:40] tylerjw commented on #2462
Relating to building with colcon, the mixin argument seems to be missing on the version of colon you can install with apt on 18.04.

[2020-12-20 00:28] tylerjw commented on #2462
On the current state of master, you can build just fine with colcon but some of the tests fail (it just runs ctest).   Note that these tests do not fail with catkin run_tests in a workspace built with catkin.

[code]

I'm looking into understanding why these tests are failing.  Here are the next steps (and plan for now) I'm going to work through:

1. Adapt docker image builds
2. Begin testing on c

[2020-12-20 00:52] tylerjw commented on #2462
Another problem I just realized is if a user wanted to extend a catkin workspace from one of these colcon built ones they can't:
[code]

[2020-12-20 11:45] awied1404 commented on #2446
Thank you for answering but I now understand a little better how moveit/RViz is working. My problem was that moveit in my setup only has a discrete collision detection and I need a continuous to detect collision between two trajectory points.
I solved it by validating my motion plan in gazebo. As it is no issue I will close this now.

[2020-12-20 11:45] #2446 closed

[2020-12-21 08:56] oridong opened #2465 "the following packages/stacks could not have their rosdep keys resolved"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: [Noetic]
* OS Version: VMware16.0.0 build-16894299 + Ubuntu 20.04
* Source  build
* If source, which branch?
when I try to install according to  "https://moveit.ros.org/install/source/"
every step succeeds until
this step "rosdep install -y --from-paths src --ignore-src --rosdistro ${ROS_DISTRO}"
produces
 rosdep ins

[2020-12-21 09:01] rhaschke commented on #2465
Did you follow the "Install ROS" instructions? All these packages should be known after `rosdep init` + `rosdep update`.

[2020-12-21 09:08] oridong commented on #2465
yes,as it is

[2020-12-21 09:45] sjahr commented on #2444
@Udbhavbisarya23 you can also start a PR if you want :) and request @StutiV's help in case you need any.

[2020-12-21 11:20] Udbhavbisarya23 commented on #2444
Sounds great @sjahr! I'll get started on it!

[2020-12-22 04:44] #2465 closed

[2020-12-22 17:20] tylerjw commented on #2462
On my debug test when it does the step where it moves the cache into the ramdisk I'm getting a bunch of these:

[code]

I wonder if your limiting the cache to 200mb is the ccause of your low hit rate on debug.  That is if by setting that it is deleting a useful part of your cache so that it can fit it in ram.

[2020-12-22 17:43] tylerjw commented on #2462
cmake (and make under it) doesn't work correctly for this?  Do we not all develop locally with incremental builds?  I'm trying to understand the corner cases where incremental builds won't work.  Do you have any examples of what these might be?

[2020-12-22 20:24] #2444 closed

[2020-12-23 09:36] tylerjw commented on #2462
@ruffsl and others an update on what I've tried and where I'm at with trying to use your circleci config for moveit:

Building and running tests with `colcon` vs `catkin` is not trivial.  There are a handful of edge cases where cmake configs in moveit depend on inner workings of catkin and I haven't been able to figure any of them out.  The one I've spent the last few hours on is `_moveit_roscpp_i

[2020-12-23 09:41] tylerjw commented on #2462
yes, sadly, yes. :'(

[2020-12-23 20:44] saikishor commented on #1700
Did you find the solution?. I am having this issue now with a robot which has a couple of mimic joints

[2020-12-24 05:22] rhaschke commented on #1700
@saikishor, could you become more precise: Are mimic joints considered for:
- planning, i.e. the plan preview correctly shows their motion?
- fake execution
- real execution?

[2020-12-24 08:14] saikishor commented on #1700
@rhaschke I had issues with the planning itself.  I will give it a try again post Xmas and get back to you with the proper log.

Thanks for such an imminent response

[2020-12-25 13:47] simonschmeisser opened #2467 "Missing dependency in Pilz planner"
https://github.com/ros-planning/moveit/blob/cf218879dbc23aadf88dd56b8abe7970b7d61030/moveit_planners/pilz_industrial_motion_planner/include/pilz_industrial_motion_planner/joint_limits_extension.h#L38

this seems to require `joint_limits_interface` (http://wiki.ros.org/joint_limits_interface) but I cannot see that being mentioned as a dependency in either CMakeLists.txt or package.xml

[2020-12-28 10:40] #2238 closed

[2020-12-28 19:11] Dharmesh78 commented on #2425
Hey @tylerjw  is this issue still open. I would like to contribute as this would be my first attempt in contribution.

[2020-12-28 20:05] simonschmeisser commented on #2458
Did you try a clean rebuild of your whole workspace?

[2020-12-29 14:30] FabianSchuetze commented on #2458
Thanks for your reply, @simonschmeisser! I did try this but to no avail so far. To circumvent the problem I do not build the `setup_assistant` and the `tutorials` on `noetic`.

[2020-12-31 15:25] #2442 closed

[2021-01-01 21:15] simonschmeisser commented on #2458
Just to be certain, you deleted both `build` and `devel`? Doing this typically get's you rid of inexplicable linker errors ...

[2021-01-02 10:07] Devansh0106 commented on #2425
Hello
Is this issue still open? I would like to claim this task.

[2021-01-05 16:28] tylerjw commented on #2462
An update on this.  I've been trying to factor out the fuctionality of our clang-tidy test from moveit_ci with these goals:

* Standaone script that can be run locally, and therefore CI provider/system agnostic
* Has options for filtering clang-tidy tests to packages in a repo
* Has options for filtering clang-tidy tests to packages with changes since some point in git
* Collaberate with others in

[2021-01-06 04:28] ruffsl commented on #2462
Could you link to some examples here specifically?

Could you link to that PR as well?

[2021-01-06 04:58] ruffsl commented on #2462
For Nav2, the ccache size is on the order of 100MB, but you are right in that the debug builds never had as high of a hit rate:

* https://app.circleci.com/pipelines/github/ros-planning/navigation2/4459/workflows/82fb7439-2feb-433e-bf18-44b604da8261/jobs/16666/parallel-runs/0/steps/0-122
* https://app.circleci.com/pipelines/github/ros-planning/navigation2/4459/workflows/82fb7439-2feb-433e-bf18-44b

[2021-01-06 14:01] tylerjw commented on #2462
Here are my instructions for a local source install of the ament linters for use by moveit: https://github.com/ros-planning/moveit/pull/2470
Here is my PR to ament_lint: https://github.com/ament/ament_lint/pull/280

Here is the cmake file that I've been having trouble with in colcon: https://github.com/ros-planning/moveit/blob/master/moveit_ros/planning_interface/py_bindings_tools/CMakeLists.txt

[2021-01-06 14:27] bjsowa opened #2475 "Wrong gripper commands for parallel gripper with mimic joint"
### Description
I have a parallel gripper where 2 opposite fingers are mechanically connected, so I define 2 prismatic joints where the second one mimics the first one. I also have a controller which implements the GripperCommandAction, which expects to receive the gap between the fingers (sum of finger joint positions) as its goal.
On the moveit side, I define the group for the gripper with some

[2021-01-07 14:50] tylerjw commented on #2462
More details on the issue with the planning_interface py_bindings_tools.  The issue is the use of the variable `CATKIN_DEVEL_PREFIX` as colcon doesn't have the concept of a devel space.

[2021-01-07 21:33] tylerjw opened #2476 "OMPL Constrained State Space Planning Review"
This is a meta issue for getting the [OMPL Constrained State Space Planning](https://github.com/ros-planning/moveit/pull/2273) PR passing CI and accepted.

[2021-01-08 14:37] sevangelatos opened #2477 "RobotState::dropAccelerations() actually drops velocities."
### Description
Calling RobotState::dropAccelerations() actually sets has_velocity_ to false instead of has_acceleration_.
Ditto for RobotState::dropEffort().

Overview of your issue here.

### Your environment
* ROS Distro: Noetic
* OS Version: Ubuntu 20.04
* Binary build 1.1.0-1focal.20201207.153650
### Steps to reproduce
Tell us how to reproduce this issue. Attempt to provide a working demo, pe

[2021-01-08 15:54] tylerjw opened #2479 "Noetic Release"
@tylerjw: The ROS build farm is complaining about missing pilz packages, e.g.: moveit_resources_prbt_moveit_config
http://build.ros.org/job/Ndev__moveit__ubuntu_focal_amd64/20/display/redirect

Didn't you already release those?

_Originally posted by @rhaschke in https://github.com/ros-planning/moveit/issues/2423#issuecomment-742114523_

Putting this here to set a task for myself to get this relea

[2021-01-08 15:57] tylerjw commented on #2479
I meant to put this in moveit_resources, here it is: https://github.com/ros-planning/moveit_resources/issues/50

[2021-01-08 15:57] #2479 closed

[2021-01-08 16:30] AndyZe commented on #1646
I've come around to believing we should remove DistanceRequest from the MoveIt API, as @j-petit suggested. You can get the distance information from a CollisionRequest so DistanceRequest seems redundant.

Plus now there's the added confusion that DistanceRequest doesn't make any sense for Bullet.

[2021-01-08 20:19] tylerjw commented on #2462
I needed this for the perception test:

[code]

For the rest of them, I was able to change the one line in the python interface that used the devel space to just point at the install space, and that fixed those issues.

[2021-01-10 22:13] YijiongLin opened #2482 "Failed to import pyassimp, see https://github.com/ros-planning/moveit/issues/86 for more info"
### Description

Hi gentlemen,

I tried to run the moveit tutorial posted [here](http://docs.ros.org/en/melodic/api/moveit_tutorials/html/doc/move_group_python_interface/move_group_python_interface_tutorial.html). And I have set up a Conda environment with python 2.7 and then ran it. I could successfully run the first command which showed up the RViz with a Panda arm, however, when I ran the secon

[2021-01-10 22:19] #2482 closed

[2021-01-10 22:31] YijiongLin commented on #2482
Something weird happened. I just comment out all the "print" statement in this file, and it would run successfully without Conda but unsuccessfully with Conda (popped out the aforementioned error). However if I keep all the "print" statements, it both run successfully.

(The reason why I commented out the "print" was that I first ran it with python 3 and it not worked. Then I commented them out bu

[2021-01-11 07:24] rhaschke commented on #2482
The Conda version of python sets up its own module path, which might comprise modules that are incompatible with the standard system ones. Either stay with the system installation or install all required modules yourself.

[2021-01-11 12:59] Samiatrix commented on #2425
I'm new to Open Source Contribution, I would like to claim this task

[2021-01-11 14:29] tylerjw commented on #2425
This issue is already claimed and there is a PR that fixes this issue.  The reason this and the PR is still open is issues with our CI.  Once those are resolved that PR will be accepted and this will be closed.  I encourage @Dharmesh78 @Devansh0106 @Samiatrix to reach out on Discord and I can try to help you find something else to contribute.

[2021-01-11 14:52] Dharmesh78 commented on #2425
@tylerjw how to find you on discord??... i would love to put my hands on in contributions :)

[2021-01-11 16:00] #2477 closed

[2021-01-12 21:29] AndyZe opened #2485 "Segfault from the PlanningScene after allocating for Bullet collision detection"
Attempting to allocate for Bullet collision detection like this:

[code]

or like this:

`
  {
     planning_scene_monitor::LockedPlanningSceneRW ls(planning_scene_monitor_);
      ls->setActiveCollisionDetector(collision_detection::CollisionDetectorAllocatorBullet::create());
  }
`
Causes a seg fault. Per gdb:

[code]

[2021-01-13 06:58] simonschmeisser commented on #2475
I had some issues and discussions wrt gripper opening vs finger joint positions as well before. Without having looked in detail at the  GripperAction I still think it would be hard (and therefore error prone) to calculate the gripper opening in all cases (there are for example grippers with one active joint and five mimic ones). Therefore I assume the action only cares about joint positions and th

[2021-01-13 07:56] onskateboard commented on #1556
@keeganharris Thanks for your implementation. It works good, but be aware that you are limiting the speed to a desired speed factor. The speed of the endeffector isn't constant for waypoints where the acceleration limits of the individual joints leading to lower speeds then the desired one. To make it really constant you have to first  loop through all waypoints to find the minium possible speed f

[2021-01-13 10:16] jschleicher commented on #2449
#2434 was merged - so can this issue be closed?

[2021-01-13 11:16] ly19264 opened #2486 "Joint Limits not showing in the joint_limits.yaml"
### Description

After creating the moveit package using moveit setup assistant, the joints_limits.yaml does not show the joint limits present in the URDF. Does moveit consider the joint limits if yes, then where does it store them, if no, do we manually have to add them to joints_limits.yaml

### Your environment
* ROS Distro: Melodic
* OS Version: Ubuntu 18.04

Steps to reproduce
Creating a move

[2021-01-13 11:24] #2451 closed

[2021-01-13 12:18] bjsowa commented on #2475
I understand that calculating the gripper opening from joint positions can be difficult in some cases but my case is the most basic and common for these types of grippers (or at least I through so).

![image](https://user-images.githubusercontent.com/23124539/104450350-4115ad00-55a0-11eb-8d3b-c83f55cdfb62.png)

I have two parallel fingers where the position on the second one is mimicked from the f

[2021-01-13 16:45] #2449 closed

[2021-01-13 17:16] AndyZe commented on #2485
Note: Bullet woks on the tutorial (a standalone Panda manipulator) and another dual-arm mobile robot we have. There is something particular to this setup.

[2021-01-13 19:43] simonschmeisser commented on #2475
please run a `rostopic echo` on the gripper action goal topic. I guess it will just contain one joint if you set the second to mimic. And this makes sense from my POV. So the code here https://github.com/ros-planning/moveit/blob/023b11def6329b165ed7509e5de9aec4c1e29c6c/moveit_plugins/moveit_simple_controller_manager/include/moveit_simple_controller_manager/gripper_controller_handle.h#L130  might b

[2021-01-13 19:55] bjsowa commented on #2475
The gripper command does not contain the list of joint, it only sends the desired gripper opening and max effort. Here's the output of `rostopic echo`:
[code]

[2021-01-14 21:43] tylerjw commented on #2476
@bostoncleek fixed up two of the tests to make them more reliable when run in CI with these PRs in the path of helping to get this done.  Linking the PRs here.

https://github.com/ros-planning/moveit/pull/2484
https://github.com/ros-planning/moveit/pull/2488

[2021-01-16 06:45] simonschmeisser commented on #2486
If you have position limits set for a joint in `joint_limits.yaml` then those will override the ones from URDF. If you don't specify them in `joint_limits.yaml` then the ones from URDF will be used.

So it appears to me that you would like to have the values from URDF copied to `joint_limits.yaml` for convenience? Please open a PR for it if that is what you intend. Don't hesitate asking questions

[2021-01-16 11:55] YijiongLin commented on #2164
Hello @a-z-e-r-i-l-a ,

Did you successfully use moveit in python3 with Melodic (or Kinectic)? Could you please share the implementation with us?

All the best,

[2021-01-16 14:57] ly19264 commented on #2486
@simonschmeisser ,

Thanks for the help, a quick query ,

Does the moveit package stores the joint limits from the URDF or does it reads those limits from the URDF during execution ?

[2021-01-16 21:35] simonschmeisser commented on #2486
The package you create by using MoveIt setup assistant contain launch files that load config files (including joint_limits.yaml) as well as the SRDF and URDF to the parameter server (rosparam). The URDF is typically part of a robot package that you can install (from source or deb). MoveIt (class `RobotModel`) first reads the joint limits from the URDF (from parameter /robot_description) and then o

[2021-01-20 08:24] Thieso opened #2491 "[Question] Getting all inverse kinematics solutions"
Hi guys,

I am working with a UR10e robot and am planning a path in cartesian space. If the start and end points are close to each other it works mostly fine but I they are rather far away I have a lot of issues with the inverse kinematics solutions. It keeps finding very extreme positions (some joints close to their limits) and if I add the floor as an obstacle to avoid those solutions, it does n

[2021-01-20 08:39] Anurag331 commented on #2425
I am Completely new to open source and i would love to claim this task??
can i start working on it without claiming it?

[2021-01-20 08:43] gavanderhoorn commented on #2425
@tylerjw explained in [his comment](https://github.com/ros-planning/moveit/issues/2425#issuecomment-757987162) (two above yours):

so it would seem this particular issue has already been dealt with.

I'd encourage you to find something else. There should be more issues available on the tracker.

[2021-01-20 18:18] tylerjw commented on #2425
The "Get Involved" button on our website has links to all the various ways to contact us, including our Discord server.  https://moveit.ros.org/about/get_involved/

The invite link to the discord server is: https://discord.gg/RrySut8

[2021-01-20 18:57] #2459 closed

[2021-01-21 15:17] rhaschke opened #2493 "New CI issues: pull rate limit on docker"
@tylerjw: I just observed a [new issue on Travis](https://travis-ci.com/github/ros-planning/moveit/jobs/473771081):

This raises the question how a user is identified when pulling from Travis?!
Looks like we should login to dockerhub at least to get a limit of 200 instead of 100:
https://blog.travis-ci.com/docker-rate-limits

[2021-01-21 15:34] gavanderhoorn commented on #2493
It's not *that* new actually, see [Read-through caching container registry](https://discourse.ros.org/t/read-through-caching-container-registry/17477) fi on ROS Discourse.

[2021-01-21 17:16] BenjaminNavarro opened #2495 "Time optimal trajectory generation may fail if returning to starting position"
### Description

When using the time optimal trajectory generator, a failure can occur if the last point is close, but not equal, to the starting point. The actual deviation that triggers the problem seems to depend on the max_deviation setting.

### Your environment
* ROS Distro: Noetic (but shouldn't matter)
* OS Version: Ubuntu 20.04
* Source build: master branch

### Steps to reproduce

I crea

[2021-01-22 12:30] Kazfyx commented on #160
Is there any publication that describes the algorithm of IPTP?

[2021-01-22 18:50] AndyZe commented on #2485
Starting to track where exactly this crashes...

It is in `planning_scene_monitor_->providePlanningSceneService();`

[2021-01-22 19:25] AndyZe commented on #2485
I think what's happening is, we set the CollisionDetector to Bullet for the child scene, but it's still FCL for the parent scene.

[2021-01-24 01:32] d-dixon commented on #2424
Trying to get a pull request

[2021-01-25 01:41] lov-1234 commented on #2424
Hi, Is this issue still open? I just dived into Open-Source today and would like to contribute to a project in any way I can. I figured this might be a good starting place, and therefore, I would like to request to work on this issue. May I be assigned this issue if it's still available?

[2021-01-27 08:52] rishabh900 opened #2503 "OCTOMAP doesn't let Rviz plugin connect to move_group node"
### Description

I have build MoveIt and the my moveit package in catkin. When i am launching my robot model in gazebo including the kinect camera and in Rviz via separate launch according to the MoveIt's melodic branch tutorial the Octomap isn't just letting the move_group node/action server to connect.

### Your environment
* ROS Distro: [|Melodic]
* OS Version: Ubuntu 18.04
* Moveit build from

[2021-01-27 18:50] #2467 closed

[2021-01-27 19:03] AndyZe opened #2504 "Bullet: attached collision objects are not detected"
Ubuntu 18.04, building from master branch.

There is a branch of moveit_tutorials [here](https://github.com/AndyZe/moveit_tutorials/tree/andyz/bullet_two_links_collision) that attaches a 1m cube to the base of the robot. Run the tutorial like normal to reproduce the problem:

`roslaunch moveit_tutorials bullet_collision_checker_tutorial.launch`

[2021-01-27 23:15] JafarAbdi commented on #2504
I tested the branch locally and this's what I got, are you getting a different output .?

[code]

[2021-01-27 23:37] AndyZe commented on #2504
That part is OK. It's just checking that the object was attached. In RViz, if you drag the robot around, there won't be any collision with the box near the base of the robot.

Also, I believe the attached box won't be displayed.

[2021-01-28 00:04] JafarAbdi commented on #2504
That's because the robot state of  `g_planning_scene` isn't the same as the one in `interactive_robot` (which is what we see in RViz) to sync them you can do the following after that you should be able to see the `attached_cube` object

[code]

[2021-01-28 03:02] felixvd commented on #2400
Friendly ping @wlawler45

[2021-01-28 03:03] felixvd commented on #1711
Related: https://github.com/ros-planning/moveit/issues/2183

[2021-01-28 04:13] AndyZe commented on #2504
Thanks @JafarAbdi. It appears to work as it should (on master branch, at least).

[2021-01-28 04:13] #2504 closed

[2021-01-28 17:43] PeterMitrano opened #2505 "Make parameters for python get_joint_names more explicit"
It's odd to me that `get_joint_names` returns fixed/mimic joints when you do not pass a group name, and simultaeously does not let you get fixed or mimic joints when you do. There's no way to get "all" non-fixed or non-mimic joints without making a group for all joints and passing that group name.

It seems to me this could be simplified by including new parameters, `include_fixed` and `include_mi

[2021-01-28 17:56] mpowelson commented on #2495
Crosspost from the Tesseract issue:
I'm not sure of the root cause, but it seems that a workaround is to append an extra joint that just increments such that no point ever repeats. Not sure if this causes other issues.

This passes
[code]

[2021-01-29 19:56] rishabh900 commented on #2503
Sorry it was my foolishness, I was using "DRI_PRIME=1" as argument to roslaunch my files which itself was not a great thing to do.

[2021-01-29 19:57] #2503 closed

[2021-01-30 00:12] AdilGM commented on #2424
Hey guys, thank you for creating a space for beginners! I would like to claim this issue but as lov-1234 has asked prior to my comment maybe I can help them if needed?

[2021-02-02 16:41] AdamPettinger commented on #2096
I pulled the `ff552bf` commit from the most recent comment and have a few comments.

I was unable to reproduce the exact problem shown. This issue was opened a few months before #2151 which fixed a bug where the rotation about the z-axis was always considered a "drift dimension". Thus, I believe that could have led to the image above (deviation only appears to be around the z-axis).

Regardless, I

[2021-02-02 20:05] captain-yoshi opened #2506 "Noetic source build error with FCL"
### Description

There are undefined refrerences to FCL methods when doing `catkin build` to compile moveit from source. I have added the FCL package (See Steps to reproduce). Cannot compile Moveit Noetic at the moment.

### Your environment
* ROS Distro: Noetic
* OS Version: e.g. Ubuntu 20.04
* Source or Binary build? Source
* If source, which branch? master

### Steps to reproduce
[MoveIt instal

[2021-02-02 20:12] AndyZe commented on #2506
Can you please take a look at the deleted notes here:

https://github.com/ros-planning/moveit.ros.org/pull/546/files

Especially the part re. manually installing `ros-noetic-fcl`. Does that help?

[2021-02-02 20:26] captain-yoshi commented on #2506
Weird... I did a `catkin clean` when I read about this [PR](https://github.com/ros-planning/moveit/issues/1491) and now it compiles fine. Is installing FCL from https://moveit.ros.org/install/source/dependencies/ the official way, or is the deleted notes the proper way? Tanks for your help.

[2021-02-02 20:29] AndyZe commented on #2506
I don't think you need the "deleted notes" but wanted to bring it up, just in case. Sounds like your problem is solved, then?

[2021-02-02 20:40] captain-yoshi commented on #2506
Yes problem solved!

[2021-02-02 20:40] #2506 closed

[2021-02-03 10:20] JafarAbdi commented on #2410
Close by https://github.com/ros-planning/moveit/pull/2411

[2021-02-03 10:20] #2410 closed

[2021-02-03 10:21] JafarAbdi commented on #2447
@deep0105 Could you please check if this still an issue .?

[2021-02-03 10:25] JafarAbdi commented on #2374
@abhyudit309 Look like the `cylinder_segment` executable is segfaulting, could you please provide us with the stack trace using gdb .?

[2021-02-03 10:40] JafarAbdi commented on #2228
I'm pretty sure this's related to https://github.com/ros-planning/moveit/issues/374 which is if I recall correctly due to a bug in Mesa, this can be fixed by exporting the following env variable before running the tests `export LIBGL_ALWAYS_SOFTWARE=1
`

[2021-02-03 10:42] JafarAbdi commented on #2150
Fixed in https://github.com/ros-planning/moveit/pull/2327

[2021-02-03 10:42] #2150 closed

[2021-02-03 10:50] JafarAbdi commented on #1775
@jschleicher Could you please check if this still an issue .?

[2021-02-04 12:08] dnandha commented on #697
Thanks @arrfou90! After deactivating the conda base environment it worked!

[2021-02-04 13:18] ADHIKSHA commented on #2425
Hey even I would love to contribute.

[2021-02-04 14:50] jschleicher commented on #2228
Yep, duplicate of #374 - closing here.

[2021-02-04 14:50] #2228 closed

[2021-02-04 17:23] jschleicher commented on #1775
Sorry, I cannot reproduce that. We're no longer using the pilz_teach repo and there have been too much changes to the moveit_servo config files to make the old config work. Thus closing here.

[2021-02-04 17:23] #1775 closed

[2021-02-04 19:43] AndyZe commented on #2096
@AdamPettinger if it is a slow sag due to gravity, I would suggest pausing Servo when possible. `servo_-setPaused(true);`

[2021-02-04 21:56] #2425 closed

[2021-02-05 14:01] ly19264 commented on #2486
@simonschmeisser , Is there a way to fetch/read the joint limits from the moveit package during runtime. I would like to access those values to check the solution is in limit or not.

[2021-02-05 14:07] AndyZe commented on #2486
Hello Nitish, long time no see!

Yep, you can do that. [Here's](https://github.com/ros-planning/moveit/pull/2471/files) an example.

[2021-02-05 14:21] ly19264 commented on #2486
Hello @AndyZe , thanks for your help.

In the example, I beleive the values being fetched from this command,
const auto& bounds = joint->getVariableBounds(joint->getName());
Is the command correct ?

would it fetch all the bounds or the one specified in joints_yaml file ?

[2021-02-05 14:23] AndyZe commented on #2486
joint_limits.yaml. That takes precedence in MoveIt, if it's non-empty

[2021-02-05 14:28] ly19264 commented on #2486
Ok, for the joint limits the file initially has empty values and as per my understanding from Simon's help that the values are read from the URDF during execution.

So will the command mentioned above be able to fetch those values and do we have a python implementation of the same ?

[2021-02-05 14:29] AndyZe commented on #2486
That sounds correct.

It looks like there is [not](http://docs.ros.org/en/noetic/api/moveit_commander/html/classmoveit__commander_1_1move__group_1_1MoveGroupCommander.html) a Python way to retrieve it. Sorry. Make a pull request, if you can.

[2021-02-05 14:34] ly19264 commented on #2486
Thanks for the help I will make a pull request.

Also unrelated to the current thread. Is there a way to update the current position of the robot arm end_effector in moveit using python? I know how to fetch the current position in moveit but the real position and moveit current position are different for my case.

[2021-02-05 16:25] rjtsingh commented on #2424
I want to work on this project for practice

[2021-02-05 18:11] captain-yoshi opened #3622 "Bullet compatibility"
Is the Bullet collision library compatible with MTC?

From my understanding by following the moveit tutorials, only this line of code is needed to choose Bullet over FCL in MTC. With this line, is FCL replaced completly with Bullet?
[code]

When planning with MTC, it plans for a certain amount of time before running in a segfault:
[code]

Also tried patching MoveIt with this [PR](https://github.co

[2021-02-06 09:52] simonschmeisser commented on #2491
Ah so you asked https://github.com/ros-industrial/universal_robot/issues/561 as well and had a look at https://github.com/ros-industrial/universal_robot/pull/358  very good!

The officially right place would be answers.ros.org but it's a known issue that questions often lay around unanswered there for a while ...
As you can see in the PR it adds this function:
[code]
You just need to call this and

[2021-02-08 05:17] rjtsingh commented on #2424
Review it.

[2021-02-09 10:50] ly19264 opened #2511 "Manually updating robot_state"
Hi,

I am using a bio_ik_service to compute the inverse kinematics solution and the solution is published to the robot controller topics to move the robot. Is there a way to update the inverse kinematics solution to the robot state so that robot.get_current_state refers to the achieved solution of the inverse kinematics. Also, if possible is there a python implementation of the same ?

I am using

[2021-02-09 18:44] simonbogh commented on #2237
There are several issues here, and some related to moveit setup assistant. (If you just want a working Franka robot with moveit and Gazebo, see at the bottom where you can download it.)

### Moveit setup assistant and the tutorial
Here are the problems I found and how to fix it. Optimally, some of this should be fixed in moveit setup assistant.
1. In `demo_gazebo.launch`, you have to set the flag

[2021-02-09 18:50] simonbogh commented on #2210
@kodie-artner no, `controller_list` should not be empty. Check my answer here and see if it helps you: https://github.com/ros-planning/moveit/issues/2237#issuecomment-776155882

[2021-02-09 19:05] simonbogh commented on #1425
How does the `gazebo_ros` dependency play out if you actually use a different Gazebo version than the standard e.g. Gazebo 11 under Melodic, which would mean the dependency is `gazebo11_ros`, hence installing according to the dependency would remove Gazebo 11 and install Gazebo 9 instead?

[2021-02-09 19:25] simonbogh opened #2512 "gazebo.launch does not use xacro to load robot_description or respects 'load_robot_description' arg"
### Description
When running `demo_gazebo.launch` for an MSA generated moveit_config package, `gazebo.launch` is called. Here I experience two issues:
1. The robot model XACRO is not loaded using `xacro`but `textfile` hence a proper URDF is not generated on the parameter server: https://github.com/ros-planning/moveit/blob/6512d987b8379519146193267906ee957586c4e8/moveit_setup_assistant/templates/mo

[2021-02-10 10:55] ranjitkathiriya opened #2513 "Errors when build moveit from souce"
### Description

Hey there,

I am not able to build moveit package from the source, and while retrying I keep getting errors.

### Your environment
* ROS Distro: Noetic
* OS Version: Ubuntu 20.04
* Source

### Steps to reproduce
I followed this tutorial: http://moveit.ros.org/install/source/
I have also followed this tutorial: https://ros-planning.github.io/moveit_tutorials/doc/getting_started/get

[2021-02-10 11:38] rhaschke commented on #2513
This seems to be a duplicate of https://github.com/ros-planning/moveit/issues/697. The reason is that you have a non-standard version of curl in your system. Please see comments in #697.

[2021-02-10 11:38] #2513 closed

[2021-02-10 11:40] ranjitkathiriya commented on #2513
Thanks!

[2021-02-10 12:34] ranjitkathiriya commented on #697
Thanks, @arrfou90!!!

[2021-02-11 04:23] felixvd commented on #2237
@simonbogh Did you have a read through [this PR](https://github.com/ros-planning/moveit_tutorials/pull/499)? An extra review would be helpful. Most of the maintainers don't seem to touch Gazebo a lot, and I don't have the cycles to take a closer look right now either.

[2021-02-11 10:40] Avdbergnmf commented on #1962
Ran into the same bug today in ROS Melodic!

[2021-02-11 13:20] aravinho opened #2514 "libmoveit_kdl_kinematics_plugin.so: undefined symbol: _ZNK3KDL6Vector4NormEv"
### Description

Hi!  Until recently, my moveit installation has been working fine.  I recently did a fresh build of ROS, and now notice problems when running the `move_group_python_interface` tutorial.  Particularly, there seems to be an issue with the KDL plugin.  I have tried several times, tried building moveit both from binary and source, and the problem persists.  Details below.

Note that o

[2021-02-11 14:45] aravinho commented on #2514
I've just spun up a fresh Ubuntu 20.04 Google Cloud Platform instance.  Installed ROS noetic totally from scratch, following [the instructions here](https://wiki.ros.org/noetic/Installation/Ubuntu).  Currently in the process of building `moveit` from source, following [the instructions here](https://ros-planning.github.io/moveit_tutorials/doc/getting_started/getting_started.html).

The moveit buil

[2021-02-11 16:04] aravinho commented on #2514
Even with a fresh ROS install, the error persists.  Here is a detailed list of commands to reproduce:
[code]

[2021-02-12 20:55] gleichdick commented on #2514
Hey, could you try to link the KDL library explicitly?
Like this
[code]

[2021-02-12 21:26] #2210 closed

[2021-02-12 23:33] aravinho commented on #2514
I didnt' try that @gleichdick suggestion directly, but that suggestion led me to find what I believe to be the root cause of the error.

`moveit` seems to require `liborocos-kdl.so.1.4.0` at runtime.  I had two versions of the `.so` file installed, `1.4.0` and `1.4.1`.  I believe I got `1.4.1` when I built `orocos_kdl` and `python_orocos_kdl` [from source](https://github.com/orocos/orocos_kinemati

[2021-02-13 02:41] felixvd opened #2516 "Add "good first issue" label"
I got this message:

![Screen Shot 2021-02-13 at 11 31 22](https://user-images.githubusercontent.com/4535737/107839416-07c69c00-6def-11eb-87af-cfc2aa1b65a6.png)

Seems like it would be a good addition or replacement for the "first timers only" label.

[2021-02-13 04:43] felixvd commented on #2511
If you use a `move_group_interface`, you can [set the start state](http://docs.ros.org/en/noetic/api/moveit_core/html/classmoveit_1_1core_1_1RobotState.html#afd01134540eb6ccc57e75d1f8c4f48d5) for planning, but the "actual" (current) state of the robot is determined by the `current_state_monitor`, e.g. your robot driver. It makes sense that you can't just overwrite that, since this interface is sup

[2021-02-13 06:38] felixvd opened #2517 "Make error message in PositionIKRequest less confusing"
### Description

As described in [this ROS Answers post](https://answers.ros.org/question/371571/found-empty-jointstate-message/), calling the `compute_ik` service with an empty `robot_state` field displays the error `Found empty JointState message` because the field is parsed in [_robotStateMsgToRobotStateHelper](http://docs.ros.org/en/api/moveit_core/html/conversions_8cpp_source.html#l00375) aft

[2021-02-13 15:12] gleichdick commented on #2514
Ah, these infos helped me a lot. There was a [breaking change](https://github.com/orocos/orocos_kinematics_dynamics/commit/a6fbd38c509ed7d00db0110fb0bf69afa879ad24) in KDL: `Norm()` now has a parameter `eps`, that's why the name mangling changed. Unfortunately, they haven't bumped their SOVERSION yet. To solve this in general, remove the precompiled KDL (e.g. apt-get remove) and compile everything

[2021-02-16 12:02] ValerioMa opened #2518 "Could NOT find OpenMP (clang, building from source)"
### Description
When compiling from source on Ubuntu 18.04 ROS melodic using clang OpenMP can not be found and this generate a compilation error

### Your environment
* ROS Distro: [Melodic]
* OS Version: Ubuntu 18.04
* Building from source
* If binary, which release version? release
* If source, which branch? melodic-devel

### Steps to reproduce
compile from source using clang compiler

### Back

[2021-02-16 12:03] ValerioMa commented on #2518
I found a relevant discussion [here](https://github.com/fospald/fibergen/issues/5).

A valid solution for my case was to add  these lines in the `moveit_ros_perception` CMake file :
[code]

[2021-02-16 14:56] #2518 closed

[2021-02-17 13:01] simonschmeisser opened #2522 "Disabling and hiding parts of an robot ... implementing tool changers"
We have projects and requests coming up from time to time that plan to use multiple different end-effectors via a tool changer, let's say a suction cup and a parallel gripper. Given that `RobotModel` is intended to be static there is not really a way to notify anyone about changes in it(?).

One hacky way to implement this is to add all possible end-effectors to the URDF and connect them via linea

[2021-02-17 13:10] gavanderhoorn commented on #2522
#202?

[2021-02-17 13:21] simonschmeisser commented on #2522
#202 would solve this as well, yes, but my "proposal" aims for something implementable in one or two weeks

[2021-02-17 14:58] JafarAbdi opened #2523 "Detaching object from the robot causes wrong transformation for the sub-frames"
### Description

I'm having a bug where if I do the following it causes the subframe transformation to be incorrect

1- Add an object with a subframe to the planning scene
2- Move the robot
3- Detach the object

https://user-images.githubusercontent.com/16278108/108221320-b6007780-7148-11eb-90e3-ad4de0490fd4.mp4

I don't see the issue when using this [PR](https://github.com/ros-planning/moveit/pul

[2021-02-17 15:03] AndyZe commented on #2522
The general idea sounds nice to me but it seems like the type of large, breaking change that should go in MoveIt2. If we target MoveIt2, then maybe it makes sense to do the extra work to implement a scene graph.

[2021-02-17 15:45] felixvd commented on #2522
Creative workaround. I might do that if you really need to be done with it within 1-2 weeks. Actually, instead of making it

Exchanging end effectors is a necessity. I see a few ways to implement it:

1) A scene graph as discussed in #202
2) Forcing a reload of the `robot_description`
3) Enabling/disabling links/joints as you described

I haven't looked into the lower level classes enough to know

[2021-02-19 04:08] felixvd commented on #2400
I'll close this for lack of activity. Feel free to reopen if this is a bug.

[2021-02-19 04:08] #2400 closed

[2021-02-19 04:10] felixvd commented on #2458
Is this solved? Have you tried running `rospack list` and confirming that `geometric_shapes` points to your workspace and not the `/opt/ros` one?

[2021-02-19 04:56] felixvd commented on #2421
I think we should discuss what the desired effect and the scope of these first timer issues should be. I am not sure that it's meaningful to provide the whole diff as in #2424 (what is the learning effect?), or that lowering the complexity that far attracts people who are likely to contribute in the future (no offense, I am not targeting anyone who submitted before). And if it doesn't feel time-co

[2021-02-19 04:57] felixvd commented on #2491
@Thieso Did that answer your question?

[2021-02-19 04:58] felixvd commented on #2405
@rafaelrojasmiliani Friendly ping :)

[2021-02-19 05:00] felixvd commented on #2384
_(Pasting my post from the other issue)_

Now that we have tried this for a few months, I think we should take stock and discuss what the desired effect and the scope of these first timer issues should be. I am not sure that it's meaningful to provide the whole diff as in #2424 (what is the learning effect?), or that lowering the complexity that far attracts people who are likely to contribute in

[2021-02-19 05:02] felixvd commented on #2034
Closing because of inactivity.

[2021-02-19 05:02] #2034 closed

[2021-02-19 05:04] felixvd commented on #2161
This probably isn't the best issue for newcomers, but someone with experience could probably get something working within a day.

[2021-02-19 06:19] Thieso commented on #2491
Ah yes sorry for the late response. I couldn't really try it yet. But how can I reach the function through `RobotModel`? That is not quite clear to me.

[2021-02-19 07:45] simonschmeisser commented on #2491
You're welcome! Please feel very invited to add a short tutorial or a pull request (PR) for a more convenient way if you know a good place to put it

[2021-02-19 07:45] #2491 closed

[2021-02-19 08:02] simonschmeisser commented on #2384
I agree with what Felix very politely expressed and think that we should stop adding more first time issues that can be "solved" by two clicks and copy-paste in the github web interface. This just adds work on our side.

What could be a lot more rewarding is to better support intrinsically motivated newcomers (ie graduate students with a project of their own) in getting the hurdles they encounter

[2021-02-19 14:21] FabianSchuetze commented on #2458
Thank you, @simonschmeisser and @felixvd  for being persistent and for providing good advice! The issue is resolved but I have not confess that I do not understand why the problem vanished.

[2021-02-19 14:21] #2458 closed

[2021-02-19 21:49] DanielSchimpf opened #2524 "Perception Pipeline Tutorial: No transform available between frame 'temp_link' and planning frame '/world'"
Hello,

Kinetic Ubuntu 16

I was running the Perception Pipeline Tutorial tutorial (obstacle_avoidance_demo.launch) and got the following error messages:

[code]

Solution was to add a static transform between temp_link and /world in the obstacle_avoidance_demo.launch file.

`  <node pkg="tf2_ros" type="static_transform_publisher" name="to_temp_link2" args="0 0 0 0 0 0  temp_link /world" />`

[2021-02-19 21:49] #2524 closed

[2021-02-22 01:06] gy2256 commented on #2289
I have the same issue. The rviz is so laggy and the entire things become not usable. I thought it was taking too long to run the IK solver but apparently that was not the issue.

[2021-02-22 10:05] felixvd opened #2526 "Issues with MotionPlanning plugin"
I have been struggling to isolate a bug that causes Rviz to segfault on my system when a collision object is added to the scene and a MotionPlanning plugin is active. It is very strange, because if a PlanningScene display was added before the MotionPlanning plugin, Rviz does *not* crash, just the interactive marker of the collision object is not displayed.

I think I managed to reproduce the secon

[2021-02-22 12:12] felixvd commented on #2526
After pinning all the versions in my Dockerfile and rebuilding everything for the fifth time, I am not able to reproduce the bug at all anymore. Isn't it great when your problem disappears and you learned nothing?

The bug described in the first post occurs because Rviz' default frame "map" isn't part of the model. The interactive marker appears when you select another frame that is.

Thanks for c

[2021-02-22 12:12] #2526 closed

[2021-02-22 17:11] AndyZe opened #2527 "JointModel interpolate() -- time argument is a misnomer"
The [interpolate()](http://docs.ros.org/en/noetic/api/moveit_core/html/revolute__joint__model_8cpp_source.html#l00191) function takes an argument called `t`:

`  void RevoluteJointModel::interpolate(const double* from, const double* to, const double t, double* state) const`

The [description](http://docs.ros.org/en/noetic/api/moveit_core/html/classmoveit_1_1core_1_1RevoluteJointModel.html#a8ced1a1

[2021-02-23 15:35] felixvd commented on #2511
I guess this is solved.

[2021-02-23 15:35] #2511 closed

[2021-02-23 19:58] #2527 closed

[2021-02-24 13:53] #1673 closed

[2021-02-25 16:54] tylerjw commented on #2516
Done!

[2021-02-25 16:57] #2516 closed

[2021-02-26 09:19] mikaelarguedas opened #2529 "[noetic] ros-noetic-moveit-kinematics depends on python2"
### Description

On Ubuntu Focal, the deb ros-noetic-moveit-kinematics depends on python2 due to lxml

### Your environment
* ROS Distro: [Noetic]
* OS Version: Ubuntu 20.04
* Binary build
* If binary, which release version? 1.1.0

### Steps to reproduce
[code]

### Expected behaviour
Should not list any python2 dependency

### Actual behaviour
Lists python-lxml as a dependency

### Additional inf

[2021-02-26 10:03] v4hn commented on #2529
That's how old our last noetic release is?! :sob:

@tylerjw said yesterday at the maintainer meeting that he is working on the `noetic` release.
Tyler, could you create an issue to track the release?
As I argued yesterday as well, I support switching to autogenerated changelogs if we also have a blog post/ short description in the repository summarizing important changes.
It's unacceptable to keep

[2021-02-26 14:57] tylerjw opened #2531 "Changing our CHANGELOG formatting requirements to support more frequent releases"
Some are wondering why there hasn't been a Noetic release since October of last year when we said we were going to do releases every 6mo.  The short answer is the reason is that I've been busy working on other things when I have time to work on moveit (specifically the mess that is ci and some cmake/ros2 issues in moveit2).  The largest blocker to doing a release is how much time it takes to curat

[2021-02-27 15:37] gy2256 commented on #2289
I work around the problem by directly controlling the manipulator in gazebo environment. It works ok.

[2021-02-28 11:55] felixvd commented on #900
@rhaschke Could you point me to the wrapper? Also, how much work do you reckon it would be to write the Python bindings with pybind11 in the same manner? About 175 hours, by any chance?

Our current Python bindings only cover the `MoveGroupInterface`, a tiny fraction of the `PlanningSceneInterface` and (strangely) the `RobotState`, and I think the latter doesn't use the Pimpl pattern unlike the ot

[2021-02-28 14:50] rhaschke commented on #900
Hi @felixvd, actually pybind11 bindings are not too far from boost::python. A good starting point might be the python binding I created for MTC: https://github.com/ros-planning/moveit_task_constructor/tree/wip-python-api. As I started from boost::python there as well, you should have a look at the [migration commit](https://github.com/ros-planning/moveit_task_constructor/commit/c97b46202433cd0f7d1