[2016-07-29 15:19] davetcoleman opened #1 "Add coveralls testing coverage badge"
The FCL project has this cool badge that indicates what percent of the project has unit tests:

![screenshot from 2016-07-29 09 16 30](https://cloud.githubusercontent.com/assets/561060/17253288/46dacc12-556d-11e6-88f6-4b0f53f62140.png)

You can also set a minimum required coverage percent so that new pull requests require unit tests be written for significant pieces of new code. *Turning on this f

[2016-07-29 16:15] davetcoleman opened #2 "Cleanup old HTML in markdown-based website"
The MoveIt! website was migrated from a Wordpress site, and much of the formatting is still in HTML blocks that are not ideally formatted. We would like to convert this information to cleaner markdown, and move images to the proper locations. For example the [install page](https://raw.githubusercontent.com/julienking/julienking.github.io/master/install/index.markdown).

[2016-07-29 16:17] davetcoleman opened #3 "Migrate and deprecate moveit_docs"
This package was once the location for various documentation, images, and PDFs. It is no longer used by some content still remains. We'd like to move that content to the current moveit website to the appropriate places and then label this old repo as deprecated

https://github.com/ros-planning/moveit_docs

Ask @davetcoleman for more details

[2016-07-29 16:48] davetcoleman opened #4 "Move existing IK tests"
@jrgnicho did a great job of [creating KinematicsBase tests](https://github.com/ros-planning/moveit_kinematics_tests), but they have not been integrated into the main MoveIt! project and they are not run by travis. We would like to pull this whole repo into the main moveit codebase and have them triggered by travis/catkin every time

Things to consider:
- Do we need to import both robots or can we

[2016-07-29 17:05] davetcoleman opened #5 "[ros_robot_interaction] Fix warning"
In the kinetic build there is [currently a warning](https://travis-ci.org/ros-planning/moveit/builds/148209367):

[code]

After fixing need to ensure interactive markers still work with MoveIt! in Rviz

[2016-07-29 17:44] davetcoleman opened #6 "Migrate remaining Pull Requests from old repos"
There are still a lot of pull requests in various old MoveIt repos, especially moveit_ros:

https://github.com/ros-planning/moveit_core/pulls
https://github.com/ros-planning/moveit_ros/pulls
https://github.com/ros-planning/moveit_plugins/pulls
https://github.com/ros-planning/moveit_commander/pulls
https://github.com/ros-planning/moveit_ikfast/pulls

If you are up to it - rebase, cleanup, and reope

[2016-07-29 17:59] davetcoleman opened #7 "Switch Install instructions to catkin_tools"
Copy similar to https://github.com/ros-planning/moveit/blob/kinetic-devel/README.md onto the moveit website

[2016-07-29 18:39] jrgnicho commented on #4
@davetcoleman
 - There's already tests for the PR2 so no changes should be required there.  Adding a new robot into the unit testing would involve creating the ikfast solver for it and a moveit config package.  All of that is certainly doable
 - In addition to the URDFs we'd also need to move the moveit_config packages into moveit_resources
 - All tests run in about 20s and the output is roughly 7

[2016-07-29 18:57] davetcoleman commented on #4
I thought your tests already work, essentially. They just need to be moved...

[2016-07-29 19:03] jrgnicho commented on #4
@davetcoleman yes, if you were to just move that whole repo it should just work.

[2016-07-30 13:07] VictorLamoine opened #8 "Build from source instructions do not work"
Ubuntu 16.04, ROS Kinetic desktop full installed from `ros-shadow-fixed`:

[code]

[code]

[2016-07-30 17:58] dbolkensteyn commented on #2
The site's repo is here: https://github.com/julienking/julienking.github.io

[2016-07-30 18:43] dbolkensteyn commented on #8
The build indeed is failing, and it looks like there are 2 immediate ways to fix it:

1. build fcl from sources: you need to add a `package.xml` as described here: https://github.com/ros-planning/moveit_core/issues/313
2. install the pre-released fcl 0.5.0 debian package as done here: https://github.com/davetcoleman/moveit_kinetic_cpp11/blob/master/.travis.before_script

The debian package seem to

[2016-07-30 18:58] VictorLamoine commented on #8
I installed the pre-compiled debians and there seems to be more missing:

[code]

[2016-07-30 20:25] davetcoleman commented on #8
@dbolkensteyn answers are correct. If you mimmick the way travis is setting up the kinetic moveit code, it will work: https://github.com/davetcoleman/moveit_kinetic_cpp11

You can ignore that for now, but see https://github.com/ros-planning/moveit_core/pull/321. This depends on how fcl is added to ROS ecosystem

Either you didn't do shadow-fixed, didn't apt-get update, or didn't rosdep update

[2016-07-30 20:31] davetcoleman commented on #4
So do you think its a good idea to add this to our standard test coverage?

Post-repo merge I think we should make a pull request to review and add this. The tests themselves should probably go into either moveit_core, moveit_ros, or moveit_ikfast

[2016-08-01 15:52] davetcoleman commented on #8
I updated the build instructions on the README.md yesterday, they now use the experimental debians. Let me know if they don't work for you

[2016-08-01 15:56] dbolkensteyn opened #10 "move_group segfaults after multiple planning requests"
I have a [simple URDF for a robotic arm](https://github.com/ros-planning/moveit/files/394210/arm.urdf.txt) for which I generate a MoveIt setup.

Then I run the demo using

[code]

From there, if I run several times [usually less than 20] "Plan & Execute" to a random valid state, I end up seeing the move_group process segfault.

Thanks to the `debug:=true` argument, I am able to see some details (o

[2016-08-01 16:01] davetcoleman commented on #10
This is the best place for new issues - we should start consolidating now.

Can you update your description above with a gdb backtrace? Just type in "bt" in the prompt after it segfaults

Also - compile your whole workspace in debug mode to get the best feedback

[2016-08-02 10:24] dbolkensteyn commented on #10
The package I run is the one generated by the MoveIt setup assistant, so it only consists of a bunch of launch and config files.

On Indigo using Docker and so a release build, there is nothing of interest:
[code]

On Kinetic with the backtrace output:
[code]

[2016-08-02 11:00] dbolkensteyn commented on #10
Looks like it might relate to the `boost::shared_ptr` vs `std::shared_ptr` story discussed in https://github.com/ros-planning/moveit_core/issues/315

If so, it'd mean that the Indigo crash has a different root cause.

[2016-08-02 14:57] dbolkensteyn commented on #10
Argh ompl looks like a pain to work with :)

An official repo using Mercurial on Bitbucket... a 150MB repo git mirror on Github, a `TODO` file and a documentation website in the repo.

I'm wondering at the moment how I could rebuild the `ros-kinetic-ompl` package in Debug configuration to get more informations.

I had a look at https://github.com/ros-gbp/ompl-release but it's not very clear how th

[2016-08-02 15:04] v4hn commented on #10
On Tue, Aug 02, 2016 at 07:57:00AM -0700, Dinesh Bolkensteyn wrote:

Where's the problem? You can download the tarball [here](http://ompl.kavrakilab.org/download.html) and
build the project via cmake with `-DCMAKE_INSTALL_PREFIX=<somewhere safe> -DCMAKE_BUILD_TYPE=Debug`, right?

[2016-08-02 15:48] dbolkensteyn commented on #10
Indeed @v4hn - I've just built ompl like that and uninstalled `ros-kinetic-ompl` just to be sure the local build would be used.

I've grabbed the latest 1.2.1 release sources. I could build the project, but some 2 tests are failing:
[code]

I happily ignored that, and proceeded with the MoveIt test :) There is now a ton more info in gdb:
[code]

[2016-08-02 16:03] v4hn commented on #10
Looks like you hit a bug in OMPL's kpiece algorithm.
I do not think this has anything to do with c++11.
@davetcoleman is our expert for this, so I'll leave this to him.

I suppose it would be a good idea to send that backtrace to the ompl devs and ask there for hints.

[2016-08-02 16:14] davetcoleman commented on #10
Looks like you've entered THE GRID ;-)

Great debugging, thanks. Do you get the same kind of problem if you change solvers to something like RRT? Testing this will help determine if the error is how we are using OMPL or within OMPL itself.

[2016-08-02 16:58] davetcoleman opened #11 "Switch Sphinx Documentation Visual Theme"
Current one is visually outdated, would be nice to use something similar to how ReadTheDocs appears. A great starting point would be to copy Fetch's version of the ReadTheDocs theme https://github.com/fetchrobotics/docs/tree/master/source/_themes/sphinx_rtd_theme

The MoveIt! logo uses color #2ab2e6 so would be nice to sprinkle that in.

A huge bonus is that it would give us the "Edit On Github" b

[2016-08-02 17:58] davetcoleman commented on #10
I created a moveit_config package for your robot and tested it on 16.04/Kinetic... it worked fine for me!

![screenshot from 2016-08-02 11-56-12](https://cloud.githubusercontent.com/assets/561060/17339232/3c834d14-58a8-11e6-8a16-ff9a71601dd8.png)

Perhaps the way you are installing OMPL is wrong - I added some [documentation](https://github.com/ros-planning/moveit_planners/pull/80/files#diff-7de22

[2016-08-02 18:07] v4hn commented on #10
@davetcoleman installation of the upstream tarball should work equally well, although in-workspace-installation does have its advantages.
I also experienced move_group segfaults due to ompl before, but they where never reproducible.
If you have a more-or-less deterministic bug @dbolkensteyn it would be great if you could track it down and report to the responsible party :)

[2016-08-02 20:25] davetcoleman commented on #10
One new way of reporting bugs that I haven't tried yet but would be really cool: create a reproducible setup in a Docker, push the container to your own Dockerhub account, then share with us. You can build the original container off of MoveIt's pre-configured ones...

[2016-08-02 20:43] dbolkensteyn commented on #10
I'll try to do that tomorrow @davetcoleman

I've tried various algorithms as you suggested, and I'm only able to reproduce the crash when I leave it on `<unspecified>`:
![ompl_unspecified](https://cloud.githubusercontent.com/assets/1132601/17344390/271a8a64-5902-11e6-8e78-d6cfbf3ef8f9.png)

In that case, in the console I see messages in this form:
[code]

If I explicitly select the `LBKPIECEkConfi

[2016-08-02 20:52] v4hn commented on #10
Now that sounds like we should review the "default planner" implementation,
that should probably be streamlined anyway.
I believe the feature to specify a default planner via yaml was added quite late
and might not even be respected everywhere...

Sounds like you made good progress on isolating the issue!

[2016-08-03 18:20] v4hn opened #12 "Create an overview page over plugin mechanism"
MoveIt has quite a number of plugin mechanisms.
They _should_ be the primary interface for new work in a number of sub-fields handled by MoveIt,
but we are missing documentation on them.
These are (In no particular order):
- [ ] `move_group::MoveGroupCapability`
- [ ] `occupancy_map_monitor::OccupancyMapUpdater`
- [ ] `planning_request_adapter::PlanningRequestAdapter`
- [ ] `kinematics::Kinematics

[2016-08-03 18:54] v4hn opened #13 "make MoveIt's RViz display properly resizable"
One of the most annoying everyday MoveIt issues many people experience is that the [motion_planning display](https://github.com/ros-planning/moveit_ros/tree/indigo-devel/visualization/motion_planning_rviz_plugin) in RViz has a huge minimal size.
While everyone using RViz in fullscreen mode on a 24'' monitor does not notice this problem,
this can be a serious annoyance when working on a laptop scre

[2016-08-03 20:01] davetcoleman commented on #10
Sounds like an issue with the Rviz plugin...

[2016-08-03 21:09] v4hn opened #14 "add "<previous>" robot state to RViz motion display"
In some situations it would be nice to have a "<previous>" entry in the Update Start/Goal State drop-down list, to set the start/goal state of the display to the previous pose the robot was in (before the latest motion). This can be used e.g. to look for alternative paths for the latest robot motion.

This could be implemented by adding a new `robot_state::RobotState previous_state_` member to the

[2016-08-04 02:10] davetcoleman commented on #12
+1!!

[2016-08-04 08:21] ksatyaki opened #15 "Porting CHOMP to latest MoveIt"
I recently started trying to port the CHOMP planner to the latest moveit API.
I have worked a bit on (https://github.com/jhu-lcsr-forks/moveit_planners). For now, the moveit plugin for planning compiles and runs with moveit. Please find my fork here: https://github.com/ksatyaki/moveit_planners

However, I need some insight to figure out why I get this error.

Could not initialize hybrid collision

[2016-08-04 08:42] v4hn opened #16 "moveit_setup_assistant should require author details"
catkin requires a maintainer and mail address to be specified in each package.xml.
Up to now the setup assistant does not ask for that information during setup, but just adds "assistant@moveit.ros.org" there. This is clearly wrong and people forget to change that value later on.
An issue for this was filed [here](https://github.com/ros-planning/moveit_setup_assistant/issues/110).

[This commit](ht

[2016-08-04 10:01] rhaschke opened #17 "Consolidate moveit_resources for integration tests"
According to the discussion in https://github.com/ros-planning/moveit_ros/pull/729, we should:

- [x] Rename `test` folder in `moveit_resources` to `pr2`
- [x] Add a simple robot arm (e.g. test_robot alias Fanuc), including a `moveit_config`, for testing
- [x] Add integration tests in `moveit_ros/test`

The existing PR stuff is used in several locations:
[code]

UPDATE:

Opened PRs
- [x] https://g

[2016-08-04 11:33] dornhege commented on #13
Huge +1!

[2016-08-04 13:52] ksatyaki commented on #15
### Update

I discovered that the "planning_scene->getCollisionWorld().get()" is returning a NULL pointer. I don't understand it completely. But, I could work around the problem by adding a new CollisionDetectorHybrid to the planning scene and calling the setActiveCollisionDetector() to set it to active.

However, now I encounter the following problem:

I am guessing that this has to do something

[2016-08-04 14:23] Ry0 commented on #15
I'm also facing that problem.
I just tried your `moveit_planner` (https://github.com/ksatyaki/moveit_planners).
The following errors are not happened.

[code]

But, The following description is output.

[code]
After the output, `move_group` process died.

I have a question.
Do you use `ros-planning/moveit_experimental` for using `collision_distance_field` package?
(https://github.com/ros-planning/

[2016-08-04 14:43] jrgnicho commented on #15
@ksatyaki are you implementing a [`planning_interface::PlannerManager`](http://docs.ros.org/indigo/api/moveit_core/html/classplanning__interface_1_1PlannerManager.html) and ```planning_interface::PlanningContext```. These classes define the planning workflow which involves initializing the planning scene before calling the __solve__ method on the planner.  Take a look at the [stomp_planner_manager

[2016-08-04 16:48] davetcoleman commented on #15
@jbohren has worked with CHOMP and moveit_experimental, see https://github.com/davetcoleman/moveit/pull/2

Would be great to get that PR or your work merged into MoveIt soon

@jrgnicho can probably advise on this subject also

[2016-08-04 16:49] davetcoleman commented on #17
+1!

[2016-08-04 18:27] davetcoleman opened #18 "Kinetic Release"
Discussion moved from old repo: https://github.com/ros-planning/moveit_ros/issues/695

Discuss here issues related to releasing Kinetic. We can track remaining issues in this new milestone: https://github.com/ros-planning/moveit/milestone/1

I don't think we can add milestones for issues in other repos. Creating that list here:
- [x] Cleanup extra [rosinstall instructions](https://github.com/ros-p

[2016-08-04 19:00] anderwm opened #19 "Number of states in OMPL planned trajectory not being reduced"
I am working with a servo system that cannot accept new commands while one is already in progress.  Due to this, I would prefer to have the minimum number of segments in my trajectory. As a test, I plan a simple path that just moves a prismatic joint .1 meters or so.  This always results in a trajectory with 10 segments.  It seems as if 10 is the minimum number of segments, any idea where this com

[2016-08-04 20:26] v4hn opened #20 "support path constraints in computeCartesianPath of MoveGroup interface"
[This request](https://github.com/ros-planning/moveit_ros/pull/414) has been around for quite a while and it is still relevant.
However, it fails to merge at the moment and needs a helping hand to merge it into our `kinetic-devel` branch.

This is a special case of https://github.com/ros-planning/moveit/issues/6 .

[2016-08-04 22:52] ksatyaki commented on #15
@jrgnicho Thanks so much. I will get back soon after I look at the stomp. :)

@davetcoleman Thanks again!

@Ry0 I am using @jrgnicho's moveit_experimental ... This one is ported to the new moveit API. And to catkin ...

[2016-08-05 00:19] davetcoleman opened #21 "Cleanup subfolder README.md in merged repo"
- Remove all Travis badges, these are now all located in the parent folder
- Improve descriptions of what each package or group of packages do

[2016-08-05 01:03] anderwm commented on #19
As suggested, it is happening in the interpolate.  I added some more print statements and resulted in this:

ros.ompl: Beginning sampling thread computation
ros.ompl: base[RRTkConfigDefault]: Created 35 states
ros.ompl: Solution found in 0.011115 seconds
ros.ompl: Stopped goal sampling thread after 3 sampling attempts
ros.rosconsole_bridge.urdfdom: There were 34 valid motions and 6 invalid motions

[2016-08-05 02:00] davetcoleman commented on #19
I'd check what is the value of ``minimum_waypoint_count_`` and where does it get set within moveit?

[2016-08-05 02:02] anderwm commented on #19
I printed all the values, not sure where they get set yet

[2016-08-05 02:06] davetcoleman commented on #19
looks like 0.5 is to make it round up? still this evaluates to 1 AFAIK so it shouldn't change the number of states..

[2016-08-05 02:19] anderwm commented on #19
True enough, almost has to be something inside the actual pg.interpolate() function in ompl, or how we are using it.  Because I printed the number of states on both sides of that function like this:

[code]
and it resulted in the following:

ros.rosconsole_bridge.urdfdom: length: 0.066027, max_solution_segment_length_: 0.068000, minimum_waypoint_count_: 1.000000
ros.rosconsole_bridge.urdfdom: Retu

[2016-08-05 02:34] anderwm commented on #19
Even stranger it looks like [pg.interpolate(1)](https://bitbucket.org/ompl/ompl/src/89d609c29e6caed0ebb684c044361b9597f0636a/src/ompl/geometric/src/PathGeometric.cpp?at=default&fileviewer=file-view-default#PathGeometric.cpp-312) should be returning immediately.
[code]

[2016-08-05 09:49] ksatyaki commented on #15
While setting up a planning scene, is it enough to set it up for the planner like it is done in Stomp? Or should one use the PlanningSceneMonitor read-write class? What is the difference?

[2016-08-05 13:57] v4hn commented on #15
On Fri, Aug 05, 2016 at 02:49:53AM -0700, Chittaranjan Srinivas Swaminathan wrote:

See http://moveit.ros.org/documentation/concepts/ on Planning Scene.
If you like to have the scene updated with the robot's joint states, etc. you will need a monitor.

[2016-08-05 14:34] jrgnicho commented on #15
@ksatyaki There is a [stomp_test_kr_moveit_config](https://github.com/ros-industrial/industrial_moveit/tree/indigo-devel/stomp_test_kr210_moveit_config) package that you can use for your testing.  It's already configured to load the stomp planner instead of ompl.  Essentially, you must create a planning_plugin for your planner using the pluginlib library as shown [here](https://github.com/ros-indu

[2016-08-06 00:33] davetcoleman opened #22 "Jade Release"
@130s I think we need to release the jade packages again to bring in https://github.com/ros-planning/moveit_ros/pull/699, right?

At that point, after the next ROS sync, I think we can consider jade released right? We'll want the new ``ros-jade-moveit`` metapackage. the moveit_pr2 packages will still not be available though https://github.com/ros-planning/moveit_pr2/issues/71

@v4hn had called  ht

[2016-08-06 00:47] davetcoleman commented on #7
Completed: http://moveit.ros.org/install/source_install.html

[2016-08-06 00:47] #7 closed

[2016-08-06 13:50] v4hn commented on #22
On Fri, Aug 05, 2016 at 05:33:02PM -0700, Dave Coleman wrote:

I talked to @dornhege about the respective pr2 packages and we might have a way to resolve these problems soon.
(It's on my todo list...)

+1 Nevertheless we need fixes for the safety issues soon.

[2016-08-06 18:06] 130s commented on #22
Sorry for being very slow (family issue).

Ok.

Just want to get a confirmation. We want to make a new Jade release from https://github.com/ros-planning/moveit, correct?

[2016-08-06 18:17] davetcoleman commented on #22
Sorry for the family issue :-/

Correct.

fyi the new jade installation instructions: https://github.com/ros-planning/moveit.ros.org/pull/31/files#diff-19947c649c1c205bf153f135fc8cd954R58 (and feel free to review and merge)

[2016-08-07 09:53] scottpaulin opened #23 "Proposal: Adding a CMakeModules directory"
There doesn't seem to be a common CMakeModules directory for this repo. This would be useful for storing CMake files that are required for multiple packages e.g. the [Coveralls cmake modules](https://github.com/JoakimSoderberg/coveralls-cmake) that will be required for issue #1. One place to put this would be moveit/CMakeModules, that is at a higher level than all of the packages in this repo.

Ha

[2016-08-07 11:22] v4hn commented on #23
I'm not sure it is good practice to have a non-ros-package folder in the repo if it only contains folders with ros packages up to now. Do you know of any other ros-project that does it that way?

coverall actually sounds like it might make sense to add it to [cmake_modules(https://github.com/ros/cmake_modules) instead?

[2016-08-07 19:04] davetcoleman commented on #23
I was going to start a similar discussion for where to put moveit's docker files. They belong in this repo so that they will be auto-triggered to build when there is a change. So I was thinking of either adding a ``/docker`` folder or perhaps ``/util/docker`` folder. A ``/util`` folder (or similar name) could also be used for common scripts and tools for moveit, such as auto code formatting, travi

[2016-08-07 20:13] davetcoleman commented on #8
New install instructions are now live on the website: http://moveit.ros.org/install/source_install.html

I've tested the Kinetic instructions multiple times on my laptop, via Travis, and via Docker. Closing, reopen if issues persist

[2016-08-07 20:18] davetcoleman opened #24 "Improve MoveIt! Quick Start guide"
Would like to expand upon our current Rviz Motion Planning plugin tutorial with the PR2 to make it streamlined for new users:
- Improve ordering of tutorials so that they are cohesive for new users
- Should new users first learn the [PR2 with Setup Assistant](http://docs.ros.org/indigo/api/moveit_setup_assistant/html/doc/tutorial.html) or do we want them to be able to immediatly plan in Rviz with

[2016-08-07 20:24] davetcoleman opened #25 "Benchmarking: Finish switching moveit to PlannerArena"
A pull request was started to deprecate moveit's old benchmarking capability with a new web-based system used by OMPL: https://github.com/ros-planning/moveit_ros/pull/616

It needs to be rebased, tested at runtime, and have the [documentation](https://github.com/ros-planning/moveit_ros/blob/be704ab36edec0c586a11e3f623c7887b690ffc5/benchmarks/README.md) checked

Also closes https://github.com/ros-p

[2016-08-07 20:30] davetcoleman opened #26 "Integrate Fermi GUIs into moveit"
Original topic: https://github.com/ros-industrial-consortium/fermi/issues/26

@rkojcev has done a great job of adding a new method for using MoveIt! via a GUI with interactive markers. Perhaps we want to merge this functionality into moveit

![screenshot from 2016-08-07 14 27 24](https://cloud.githubusercontent.com/assets/561060/17465099/4cade260-5cab-11e6-84bc-cdd11f0c89c8.png)

- Have outside de

[2016-08-07 20:59] ksatyaki commented on #15
I have tried using the config. I still get a similar error.

I have tried commenting the return statement when a link state is not found. It appears that not all links have a corresponding link state. I am not entirely sure why this is the case or how this works. But when I do that, I get the error:

I am wondering if the code in [collision_robot_distance_field.cpp](https://github.com/jrgnicho/mov

[2016-08-08 04:07] CMobley7 opened #27 "Execution of Cartesian Path Fails Due to Differing Current and Start State"
To Whom It May Concern,

I'm using the code below to demonstrate sealing a window using Moveit's python interface. When I test it on both Clearpath Robotics' Husky with UR5 and Fetch Robotics' Fetch, I get either an error or erratic behavior that appears to be due to current pose and the start_pose not matching. However, they are set one after each other.

When the code is run on the UR5, the UR5

[2016-08-08 08:00] v4hn commented on #23
If we go for adding new top-level folders, maybe it would make sense to have hidden folders? E.g. ".docker" and ".cmake"? Not sure.

[2016-08-08 08:43] v4hn commented on #27
Hey @CMobley7 ,

it looks like you stumbled over a well-known bug in MoveIt.
It has been around for years and we recently tried to fix it in
https://github.com/ros-planning/moveit_ros/pull/728

However, as you can see, we had to revert the proposed fixes because they broke the PlanningSceneMonitor.
We are currently trying to fix it.

The most simple workaround is to add sleeps between the differen

[2016-08-08 10:49] dornhege commented on #22
@v4hn : Do I remember it correctly that the shorthand solution is to somehow get pr2_kinematic released?

[2016-08-08 10:52] dornhege commented on #24
Definitely +1 for expanding the Rviz motion plugin tutorial. I was quite confused, when I used that the first time, but it all makes sense!

I'd remove the setup assistant from the basic tutorials. It's not necessary for using MoveIt! and ideally that's already done for the robots of new users. New MoveIt! users with their own robot can still refer to that tutorial, but also learn, how to use Move

[2016-08-08 11:05] v4hn commented on #22
Yes. https://github.com/PR2/pr2_kinematics/issues/6

[2016-08-08 11:11] scottpaulin commented on #8
I'm getting (different) build errors following the source instructions.

Ubuntu 16.04
Kinetic binaries

I had permissions issues with some of the instructions in .travis.before_script. I 'fixed' them by putting sudo in front of all apt-get and dpkg commands.
[Modified travis before script](https://github.com/ros-planning/moveit/files/406575/travis_before_script.txt)

The before script then has iss

[2016-08-08 12:49] v4hn commented on #24
I somewhat agree with @dornhege. The assistant shouldn't be the first thing to learn about.
Still, it *is* important and "ideally that's already done" is simply not the usual use-case of MoveIt...

[2016-08-08 14:35] davetcoleman commented on #8
Good point about the sudo, mind making a PR for that? Docker is already root so doesn't require it. For my personal laptop I actually installed FCL from source, so I actually didn't fully test the Kinetic instructions for that.

From your logs it looks like ``libfcl-0.5-dev`` is still installed despite the command ``apt-get -qq remove libfcl*``. Manually uninstall it.

There are three wget because

[2016-08-08 14:43] davetcoleman commented on #24
Another benefit of the SA is that, even if you already have a config package for your robot, it teaches you about some of the components and how they are configured and it gives you a sense of ownership over the setup.

[2016-08-08 14:51] dornhege commented on #24
I agree that the SA is relevant, but I don't think that this is something that beginners should face first.

[2016-08-08 14:51] jrgnicho commented on #15
@ksatyaki the code in moveit_experimental was copied into [industrial_moveit](https://github.com/jrgnicho/industrial_moveit/tree/indigo-devel/moveit_experimental) where it went through some further development. You should try switching to that repo instead.  It be helpful if you were to provide a more detailed description of the workflow that you follow that exposes these issues.

[2016-08-08 15:25] ksatyaki commented on #15
@jrgnicho Oh, thanks. It looks like the last commit on the other repo pertains to my error.

I am starting the "demo.launch" for the config you gave me, but with the chomp plugin. Then I issue a simple goal using rviz. Once the planner receives the goal, the error occurs.

[2016-08-08 15:40] jrgnicho commented on #15
@ksatyaki yes it looks like the commit may address that "No link body decomposition ... " issue you saw.  See if you still get it after switching to the newer `moveit_experimental' code.

[2016-08-08 16:25] mikeferguson commented on #23
@davetcoleman -- I can see having a docker folder (as it is something we would not release into Ubuntu/Fedora/etc), however, the cmake folder is totally different.

If we depend on some cmake in a top level folder (or anything outside of the ROS packages), we will have to release it as a ROS package as well. I'm not opposed to this, just pointing out that we would need to release it, maybe as "mov

[2016-08-08 18:12] davetcoleman opened #28 "Apply clang-tidy code linter"
OMPL has been upgrading its code to be faster, follow best practices, and use C++11 by using the automated tool [clang-tidy](http://clang.llvm.org/extra/clang-tidy/). Would be great to use this linter tool here too.

It consists of lots of individual checks that will propose or even alter the code. I think each check should be run separate with individual pull requests to the codebase.

[2016-08-08 18:21] davetcoleman opened #29 "Add continous FCL collision checking for speedup"
MoveIt! currently only collision checks motions/segments/edges by discretizing the segment at some resolution into individual states that are then sent one-by-one to FCL. This is also how MoveIt! plans with OMPL. Switching to FCL's powerful continuous collision checking will likely result in an important speedup (CC is the slowest part of planning).

Currently there are [unimplemented functions](h

[2016-08-08 18:29] v4hn commented on #23
On Mon, Aug 08, 2016 at 09:25:40AM -0700, Michael Ferguson wrote:

I just noticed that otherwise we would break builds that use the release repositories (this is the default with rosinstall_generator).
Thus full :-1: on a top-level cmake folder that is not a ROS-package.

I'm not sure the overlap between current moveit modules justifies such a separate module though.
So I would propose to check if

[2016-08-08 19:23] mamoll commented on #29
In OMPL.app, discrete collision checking is actually significantly faster than continuous collision checking (see [CollisionCheckers.cpp](https://github.com/ompl/omplapp/blob/master/demos/SE3RigidBodyPlanning/CollisionCheckers.cpp) for a comparison program. Of course, this depends on the collision checking resolution and most likely depends on the type of robot (OMPL.app only does rigid body motio

[2016-08-08 19:32] CMobley7 commented on #27
@v4hn and @davetcoleman,

Thank you for your help. I really appreciate it. After posting the issue last night, I reread through my code and noticed that I hadn't added rospy.sleep() commands as I have typically seen done and thought that might have been the problem. Thanks for validating this. I was able to get everything working this morning.  Should I close this ticket since this is a known bug

[2016-08-08 20:41] v4hn commented on #27
closed as "resolved"

[2016-08-08 20:41] #27 closed

[2016-08-08 21:16] davetcoleman commented on #23
I don't like the idea of having to maintain yet another moveit package. Instead we could for the short term keep it in moveit_core (all moveit packages depend on it) and hopefully eventually move it to cmake_modules.

Do you prefer ``/docker`` or ``/util/docker``?

[2016-08-08 21:19] v4hn commented on #23
`/.docker` ?

[2016-08-08 21:21] davetcoleman commented on #29
MoveIt! only does rigid body motion planning, but they key difference (I hope) is that we are doing large URDF robot models rather than simpler OMPL mesh models

[2016-08-08 21:22] v4hn commented on #29
is 50-60 links "large" in terms of ompl?

[2016-08-08 21:30] mamoll commented on #29
@davetcoleman, by rigid body motion planning I meant planning in SE(2) and SE(3) and not articulated mechanisms.

@v4hn, yes, but not outrageous :-). We have used OMPL to [model the flexibility of large macromolecules](http://www.kavrakilab.org/publications/gipson.moll2013sims-hybrid-method.html) which have thousands of degrees of freedom. Typically, when the number of DOFs gets large, the number

[2016-08-09 01:29] scottpaulin commented on #8
Nailed it! Builds fine. I managed to remove libfcl-0.5-dev with
`sudo apt-get remove libfcl*`
 so I am wondering if the -qq option impeded it somehow?

From the [man-pages](http://linux.die.net/man/8/apt-get) (bolding mine):

Maybe some sort of no-action modifier is required in the command?

As a side note I still get the unable to locate package errors listed above.

[2016-08-09 11:37] v4hn commented on #22
I talked to @TheDash and he just released the module for jade https://github.com/ros/rosdistro/pull/12303 .
Thus, `moveit_pr2` and `moveit_full_pr2` can be released into jade as far as I can see.

[2016-08-09 18:39] davetcoleman commented on #8
Maybe it needs the ``-y`` or ``-f`` command?

[2016-08-09 19:56] davetcoleman commented on #22
awesome!

[2016-08-10 12:35] scottpaulin commented on #8
Yip! Just tested it with -y and it worked. There were also no error messages. I have made a PR.

[2016-08-10 15:50] v4hn opened #33 "get rid of "catkin_package() exports non-package include path""
`moveit_core` currently exports the header file "devel/include/moveit/version.h".
Because this is not a path specifically for `moveit_core`, `catkin_lint .` in the `moveit_core` source folder (rightfully) complains:

The file should probably be generated in "devel/include/moveit_core/moveit/version.h" (using appropriate catkin-variables for the prefix).

[2016-08-10 16:08] Levi-Armstrong commented on #29
@davetcoleman; I started implementing this into MoveIt and I don't think it would take much to finish but I would like to discuss one aspect of the implementation. For the FCL CCD you need to define the motion of the object between two transforms and since it is a robot this is not straight forward because one link motion can be affected by another links motion. FCL provides four types of [motion]

[2016-08-10 16:22] v4hn opened #34 "`catkin_lint` packages"
In an initial attempt (e.g. https://github.com/ros-planning/moveit_core/pull/305) I ran [`catkin_lint`](https://github.com/fkie/catkin_lint) on `moveit_core`, `geometric_shapes` and some other repos and cleaned up many issues spotted by the linter.

Many of MoveIt's ROS-packages still produce a number of errors.
This is your chance to change that and prevent future problems with broken dependencie

[2016-08-10 20:56] davetcoleman commented on #33
+1

[2016-08-10 21:04] davetcoleman commented on #29
I think we should use the option that most closely mimics how interpolation is already being done inside OMPL with MoveIt!. For joint-based planning, currently every edge is defined as the [straight line interpolation of each joint between the two states](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/robot_model/src/revolute_joint_model.cpp#L127). It might be more complicat

[2016-08-10 21:22] jrgnicho opened #35 "Integrating STOMP"
Given the recent [interest](https://github.com/davetcoleman/moveit/pull/2) in STOMP and [CHOMP](https://github.com/ros-planning/moveit/issues/15#issuecomment-238108132) planners  I'll be working on adding [stomp](https://github.com/ros-industrial/industrial_moveit) from industrial_moveit as another MoveIt planner.  The current plan is to copy all relevant packages from **industrial_moveit** into t

[2016-08-10 21:34] davetcoleman commented on #35
Would be ideal if the collision detection could be adapted for moveit's collision plugin interface - [example of how fcl extends it](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/collision_detection_fcl/include/moveit/collision_detection_fcl/collision_robot_fcl.h#L45). @mikeferguson can advice on how to do this

Testing resources should live in [moveit_resources](https://gi

[2016-08-10 22:11] jrgnicho commented on #35
@davetcoleman

- The [CollisionRobotIndustrial](https://github.com/ros-industrial/industrial_moveit/blob/indigo-devel/industrial_collision_detection/include/industrial_collision_detection/collision_robot_industrial.h) already implements the *CollisionRobot* interface.  What it incorporates in addition to CollisionRobotFCL is some speed improvements and some distance calculation functionality.

- I

[2016-08-10 22:38] mamoll commented on #29
@davetcoleman, I am not sure how FCL is integrated in MoveIt!, but I imagine it performs CCD between every rigid body of the robot (i.e., every link) and the rest of the robot and environment. The SE(3) motion of each link when performing straight line interpolation in joint space will not be a straight line in SE(3) (nor a ScrewMotion).

All of the options still introduce some approximation error

[2016-08-10 23:14] davetcoleman opened #36 "Consolidate moveit tutorials and other sphynx documentation"
Currently our non-moveit website documentation lacks a common navigation side bar or central location for finding it. This makes understanding how documentation works, where stuff belongs, etc difficult.

I've consolidated all of the *.rst sprinkled across the moveit repo and moveit_pr2 and updated the theme. Note I have not spent the time fixing inline code or images yet because this is just a pr

[2016-08-11 10:17] ksatyaki commented on #15
After trying to use the moveit_experimental package from industrial_moveit, I still get the error

[2016-08-11 10:20] v4hn commented on #36
On Wed, Aug 10, 2016 at 04:14:08PM -0700, Dave Coleman wrote:

Personally, I very much prefer the current layout as it looks more simple.
But if you find someone who agrees with you here, I don't mind.

This would be a severe regression! Some pages basically become empty!
Compare http://docs.ros.org/indigo/api/pr2_moveit_tutorials/html/planning/src/doc/move_group_interface_tutorial.html to http://

[2016-08-11 14:01] v4hn opened #37 "rename planning_interface::MoveGroup to planning_interface::MoveGroupInterface"
An often observed source of confusion in MoveIt is the class ["MoveGroup"](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/planning_interface/move_group_interface/include/moveit/move_group_interface/move_group.h#L69).

While everyone instantly believes to recognize this as the node that encapsulates most of MoveIt's functionality in ROS, this class actually lives in "planning_

[2016-08-11 15:39] v4hn opened #38 "make PlanningSceneInterface add/remove CollisionObjects synchronously"
I would very much like to adjust [`PlanningSceneInterface::{add/remove}CollisionObjects`](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/planning_interface/planning_scene_interface/include/moveit/planning_scene_interface/planning_scene_interface.h#L86)
to use the new `ApplyPlanningScene` service such that it performs synchronous updates to the planning scene.
This is what mos

[2016-08-11 15:59] v4hn commented on #13
while dornhege implemented this in the referenced request. The changes have to be ported to the new repo, tested, a screenshot should be added, and the patch possibly improved (see the comments there).

[2016-08-11 17:32] davetcoleman commented on #36
I am certainly going to fix that, that was what I meant by "Note I have not spent the time fixing inline code or images yet because this is just a proposal"

[2016-08-11 17:42] v4hn commented on #36
Ah, ok.

How do you plan to handle the PR2 dependency of the tutorials?
I don't think it is an option to have (runnable) tutorials in the moveit repo if that makes it depend on the pr2-packages.

I'm not entirely sure I understand your approach here..

[2016-08-11 17:49] davetcoleman commented on #37
I want to clarify what you are saying because it was hard to follow. The problem is that there are two classes with the name ``move_group.cpp`` and one is confusing.

The node ``moveit_ros/move_group/move_group.cpp`` **is** the node that encapsulates most of MoveIt's functionality in ROS. When it is launched it creates a bunch of ROS-msg/service/action interfaces that allow you to do planning, etc

[2016-08-11 18:01] v4hn commented on #37
Thanks, I'm a bit under the weather today. I see that my explanation was hard to follow...

You got it right. Two minor corrections:

- There is only *one* class `MoveGroup`. It's just that the loose term "move group" is generally associated with the node and therefore the class should actually be called `MoveGroupInterface`.
(`moveit_ros/move_group/move_group.cpp` actually uses the name `MoveGrou

[2016-08-11 18:24] davetcoleman commented on #36
Did you mess up copy/paste? This seems like a random quote.

No dependency will be added. I was planning on having a copy of the necessary include code files in the documentation folder. I would not add any package.xml dependency but, as the tutorials already say, you would just run ``apt-get install ros-indigo-moveit-pr2`` and you would have all your deps.

This copy would be exactly the same as

[2016-08-11 18:29] davetcoleman commented on #37
Good points. I've updated my previous comment to be a bit more semantically correct.

[2016-08-11 18:37] v4hn commented on #36
Yes, I fixed it above, sorry. :)

Wrong, I changed something in there a short time ago to explain ApplyPlanningScene. :)

I do see the benefits of actually having the documentation around in the repo.
This doesn't solve the two-pull-requests for one change issue though, because the `moveit_pr2` repo will still have to be updated (in order to check the correctness of any change) presumably *before*

[2016-08-11 18:49] wjwwood opened #39 "Regressions on Jade"
I'd like to sync Jade, but moveit has regressions. It looks like Trusty has a regression for `moveit_ros_warehouse`:

http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_warehouse__ubuntu_trusty_amd64__binary/72/console

[2016-08-11 18:51] wjwwood commented on #39
Sorry, accidentally hit `<tab>` then `<space>`...

---

I'd like to sync Jade, but moveit has regressions. It looks like Trusty has a regression for moveit_ros_warehouse:

http://build.ros.org/view/Jbin_uT64/job/Jbin_uT64__moveit_ros_warehouse__ubuntu_trusty_amd64__binary/72/console

If someone could look into that, I'd appreciate it. I think all of the moveit related regressions stem from this fa

[2016-08-11 19:15] v4hn commented on #39
The problematic code has more or less recently been replaced by a plugin mechanism after long discussion:
https://github.com/ros-planning/moveit_ros/pull/699
A release is more or less on its way: https://github.com/ros-planning/moveit/issues/22

@130s, Sorry for the ping.. What's the state of this? We should probably aim to increase our bus-factor for releases.

[2016-08-11 19:30] 130s commented on #22
Sorry for the delay. I still feel like asking for confirmation for a few things. @davetcoleman @v4hn

- Do we want to make Jade release only for now? Or IJ at the same time?
- Assuming K is not ready yet for FCL issue. Correct?
- From https://github.com/ros-planning/moveit, we want to release the following packages, under a new `moveit` metapackage?

[code]
- Can someone create `moveit-release` re

[2016-08-11 19:40] 130s commented on #22
And just for the record, more or less for myself, Jade can be released AFAIK.
- Blocker https://github.com/ros-planning/moveit_ros/pull/728, which was discussed at [the recent maintainer's mtg](http://discourse.ros.org/t/maintainer-meeting-recap-july-26th/366), is [dismissed](https://github.com/ros-planning/moveit_ros/pull/728#issuecomment-237686531).
- [warehouse_ros 0.9.0 was released](https://g

[2016-08-11 19:42] 130s commented on #39
Yeah, as I [left a comment](https://github.com/ros-planning/moveit/issues/22#issuecomment-239268837), once we make a new release of `moveit` (that contains the current `moveit_ros`), this particular regression should be fixed.

[2016-08-11 20:07] v4hn commented on #22
+1 from my side.
Please release the moveit repository in indigo and jade.

We planned to fix the safety issues before the release, but didn't get them fixed until now and everything related to them has been reverted.
It makes sense to have a release.

[2016-08-11 20:08] davetcoleman commented on #22
At the same time makes sense to me, unless there is a good reason not to

Correct

- AFAIK moveit_experimental has never been released, and it not even catkinized, so should not be on that list.
- Just to note: moveit_ikfast is new to the metapackage, but I think it should be included since its in the merged repo. It doesn't bring in any dependencies anyway
- A metapackage needs to be defined in a

[2016-08-11 20:09] davetcoleman commented on #39
I think we should move fast on releasing I/J so we don't hinder the sync

[2016-08-11 20:10] davetcoleman commented on #39
Side note: there's a pretty table of our Jade regressions in our README now: https://github.com/ros-planning/moveit

[2016-08-11 23:19] scottpaulin commented on #23
Ill try adding it to [ros/cmake_modules](https://github.com/ros/cmake_modules). Thanks for the heads up @v4hn, I didn't know that repo existed.

[2016-08-11 23:19] #23 closed

[2016-08-11 23:44] wjwwood commented on #23
Does the Coveralls cmake module need to get installed? I agree that cmake modules you need when releasing should not exist outside of the package directories, but if it is only used on travis for doing coverage testing then that's probably fine.

I don't think the Coverall's cmake module makes sense to go into ros/cmake_modules, but if there are other cmake modules that you guys commonly use and t

[2016-08-12 00:17] scottpaulin commented on #8
I think this can be closed if you are happy @VictorLamoine @davetcoleman

[2016-08-12 09:55] v4hn commented on #23
Why?

[2016-08-12 09:59] v4hn commented on #8
Closing. Feel free to comment below if you still experience problems.

[2016-08-12 09:59] #8 closed

[2016-08-12 18:02] davetcoleman commented on #23
this is a good point

[2016-08-12 18:05] mikeferguson commented on #36
I'm a big fan of docs in a separate repository -- while I haven't actually checked it out yet, I presume the post-merge moveit repo has a heavy history, and documentation *should* include lots of visuals, which makes the repository size bloat quickly. Also, we will inevitably still end up with moveit-related packages that are not part of the mainline -- ROS-industrial has been creating new things,

[2016-08-14 03:55] 130s commented on #22
- [x] Add meta package moveit #41
- [ ] Temporarily move `moveit_ikfast` https://github.com/ros-planning/moveit/pull/44

[2016-08-15 12:03] ksatyaki commented on #15
I have an update on where the error happens and why.

When I add a collision detector as mentioned in the previous post, it simply creates an empty [CollisionRobotDistanceField](https://github.com/ros-industrial/industrial_moveit/blob/indigo-devel/moveit_experimental/collision_distance_field/src/collision_robot_distance_field.cpp) using the first constructor. So the `link_body_decomposition_vector

[2016-08-15 12:21] v4hn commented on #22
I'm working on a fix for https://github.com/ros-planning/moveit/pull/43 .
This is a medium regression and should be part of the release.

[2016-08-15 14:11] v4hn opened #47 "commander: Segmentation fault on wrong or no robot model"
As we had to merge [this revert](https://github.com/ros-planning/moveit/pull/43) to fix PlanningSceneMonitor & RViz segfaults, [this issue](https://github.com/ros-planning/moveit_commander/issues/32) exists again.

https://github.com/ros-planning/moveit/pull/46 should fix it again, but it depends on an RViz bug fix (see the description there).

Quote of the original issue:

[2016-08-15 15:18] v4hn commented on #22
#43 is resolved

[2016-08-15 18:44] wjwwood commented on #23
Because, as far as I understand, it should only be used in CI, specifically on Travis. I try to minimize the things in that repository because it should only be a temporary solution until those modules get put somewhere else (in the dependency's binary package or upstream with cmake). I don't think this module would ever get removed from `cmake_modules`

[2016-08-15 18:47] wjwwood commented on #23
Sorry, I hit `<tab>` + `<space>` on accident before I was done with my previous post, so I edited it.

[2016-08-15 19:03] v4hn commented on #23
I didn't think of the package that way. That policy does make sense though.

I would prefer not to depend on some magical external cmake module for running all tests (including coverage), so +1 for a solution that stores the file in the repo.

[2016-08-15 19:07] wjwwood commented on #23
It should be possible to make the dependency on coveralls optional, so that it's only needed when running in travis. So it wouldn't be a prerequisite for running the tests. Most packages do not offer an option to run tests with coverage (often because of the impact on performance which can cause some tests to fail), so I don't think it's unreasonable to not offer coverage when running locally with

[2016-08-16 13:09] ksatyaki commented on #15
It now seems like `link_body_decomposition_vector_` is indeed initialized, but when the method
[code]

[2016-08-16 13:46] de-vri-es opened #48 "C++11ifying the public API for the kinetic release"
So, there has been some discussion about C++11ifying the moveit API. It would make sense to do that for the Kinetic release, or we're stuck with the old API for another 4 years until the next long-term support platform.

As far as I can see, C++11ifying the API basically comes down mainly to replacing `boost` types with the equivalent `std` types from C++11. From the top of my head the most likely

[2016-08-16 13:46] de-vri-es commented on #48
Note that this is a more general continuation of ros-planning/moveit_core#319

[2016-08-16 14:30] davetcoleman commented on #23
+1 to keeping the Coveralls CMake module local. I propose a ``.coveralls`` folder.

[2016-08-16 14:56] v4hn commented on #48
I'm unsure about whether we should move the API to `std`'s types.
This implies a lot of breakage that people would have to fix by converting their projects (especially for smart-pointers).
Maybe it makes more sense to try to encapsulate all usage of pointers into typedefs in kinetic and switch in lunar?
Are std::function and boost::function compatible? As long as one can pass in a boost type and w

[2016-08-16 15:38] davetcoleman opened #51 "Cleanup Code API page"
http://moveit.ros.org/code-api/

- Switch links to jade or kinetic (if available)
- Add missing links that could be helpful to users
- Remove hydro section

[2016-08-16 15:43] davetcoleman commented on #36
I think the discussion in this thread is getting murky because we are not being precise in separate concerns of **documentation** and **tutorials**. Currently MoveIt! has almost no **documentation** - just a few short .rst files sprinkled in different packages throughout the repos, and a single [concepts](http://moveit.ros.org/documentation/concepts/) page that lacks on outline or navigation pane.

[2016-08-16 15:57] v4hn commented on #23
if this is only relevant for coveralls +1.

[2016-08-16 16:00] davetcoleman commented on #48
+1 to switching our public headers to ``std`` types. According to the author of MoveIt! @isucan: "i would not code without c++11 now".

I think trying to do a phased conversion will only continue to give us headaches, as demonstrated by ROS Kinetic's "minimum requirements: C++11" but reliance on boost for public headers in ros-desktop.

We already have a nice encapsulation method for shared pointe

[2016-08-16 16:07] de-vri-es commented on #48
`boost::function` and `std::function` are rarely constructed explicitly. Normally, you just pass a functor which is  converted implicitly. Considering that both `boost::function` and `std::function` are functors, they should be implicitly convertible to each other.

For `shared_ptrs` I agree that using typedefs is the best way forward. The first step can be to eliminate the explicit mention of a s

[2016-08-16 16:28] davetcoleman opened #52 "Migrate docker to main repo"
Steps to complete migration:

- [x] merge first PR
- [x] Setup on dockerhub and verify it works: https://hub.docker.com/r/moveit/moveit/builds/
- [x] cherry-pick this to I/J with the keyword "kinetic" replaced.
- [x] Add documentation on moveit website
- [x] Switch moveit_ci to use this docker image
- [x] Document that moveit_docker is deprecated

[2016-08-16 17:31] v4hn commented on #48
On Tue, Aug 16, 2016 at 09:07:50AM -0700, Maarten de Vries wrote:

That was my idea too. My point was: if the API practically does not change because the user does not have to touch their code: go forward.
If the change would entail that a whole project has to switch to `std::shared_ptr`, that's something where we should be a bit more cautious..

+2 This is really important because we will have to

[2016-08-16 17:37] davetcoleman commented on #48
Just a note: its trivial to ask users to replace the word boost with std, and the C++ community has been doing it since 2011.

[2016-08-16 18:18] v4hn commented on #48
On Tue, Aug 16, 2016 at 10:37:41AM -0700, Dave Coleman wrote:

And they still haven't won. So it can't be that trivial :-)

[2016-08-16 18:49] v4hn commented on #36
I know this time my opinion is the wrong way around, but I would prefer a new packages `moveit_tutorials` instead. Nevertheless this could use `pr2_moveit_tutorials` as a basis. The rest sounds good to me.

I'm not sure which rst files you are talking about exactly.

[2016-08-16 19:09] davetcoleman commented on #36
In ``moveit`` with ``find . ! -name CHANGELOG.rst -name *.rst``:

[code]

We remove all of these and have no sphynx documentation in the code base, centralizing it all in either the tutorials package or the website (which is git-based so we can still modify it in our editors)

I like that. We would move and rename ``pr2_moveit_tutorials`` and have the new package depend on ``moveit_pr2``.

[2016-08-16 19:13] davetcoleman commented on #52
@v4hn if you or any other maintainers are interested, I would like to share the ``moveit`` account on dockerhub with others besides myself, so that I'm not the only one with access. To do this you'll need to create an account on dockerhub.com and tell me your username (hopefully the same as github)

[2016-08-16 19:18] v4hn commented on #36
On Tue, Aug 16, 2016 at 12:09:57PM -0700, Dave Coleman wrote:

As I have never seen some of these files +1

+1 Go ahead if you like.

[2016-08-16 19:20] v4hn commented on #52
On Tue, Aug 16, 2016 at 12:13:17PM -0700, Dave Coleman wrote:

I'm not interested as I don't use docker. I feel it brings about bad habits.
But yes, a bus factor >1 should be ensured, so it would be great if someone else could step up.

[2016-08-16 19:51] davetcoleman commented on #52
@130s ?

[2016-08-16 19:52] davetcoleman commented on #52
@rhaschke actually gave the the idea to use docker for testing and maintaining moveit - I know he uses them

[2016-08-16 19:58] rhaschke commented on #37
+1

[2016-08-17 09:58] wkentaro opened #61 "Params for trajectory execution are not correctly set currently?"
For https://github.com/ros-industrial/fanuc_experimental/pull/24

Using `moveit_setup_assistant` templates, parameters `allowed_execution_duration_scaling` and `allowed_goal_duration_margin` is set for `move_group` in `trajectory_execution.launch.xml`:
https://github.com/ros-planning/moveit/blob/7a3057a68927dfcc9bf2336c794597917cb9d2a6/moveit_setup_assistant/templates/moveit_config_pkg_template/la

[2016-08-17 10:23] gavanderhoorn commented on #61
More users seem to have encountered this, see [How do I disable execution_duration_monitoring ?](http://answers.ros.org/question/196586) on ROS Answers fi.

[2016-08-17 14:38] mat-l opened #64 "Cartesian Coordinate Planning"
Hello,
I want to use an kuka kr6 robot for a pick and place task. The coordinates come in Cartesian coordinates. All I want to do is write a little application that connects theses coordinates via paths that I want to create with MoveIt and sends that path to the real robot afterwards. Therefore I want to use the Move Group Interface with Python. I tried to use the pr_2 moveit documentation (http:

[2016-08-17 16:00] jrgnicho commented on #15
Make sure that the code ever reaches [this point](https://github.com/ros-industrial/industrial_moveit/blob/indigo-devel/moveit_experimental/collision_distance_field/src/collision_robot_distance_field.cpp#L1069) where it creates a _spherical decomposition_ of the link.
If it does then it could be that the link for which you are getting the bd (body decomposition) has no geometry in which case no bd

[2016-08-17 16:17] davetcoleman commented on #61
+1 to fixing this in the templates of the setup assistant

[2016-08-17 16:39] ksatyaki commented on #15
I can't do any planning yet. The execution does indeed reach that point. I have tried to print the size of the vector and map when that function `addLinkBodyDecompositions` ends. And it is not zero. It's profoundly confounding!

[2016-08-17 17:05] davetcoleman opened #66 "Move SRDFWriter functionality into srdf::Model"
Add methods to srdf::Model for writing to an SRDF file (copy and paste from SRDFWriter), and then remove the SRDFWriter class from the setup_assistant package.

Original issue: https://github.com/ros-planning/srdfdom/issues/3

[2016-08-17 17:09] davetcoleman opened #67 "Consolidate kinematics plugins into one folder, including ikfast"
Per @v4hn [recently](https://github.com/ros-planning/moveit/pull/44#issuecomment-239885875):

In my opinion it would make more sense to create a new top-level-folder/package ``moveit_kinematics_plugins`` in the repo and make it part of the meta-package. This should even be possible without breaking anything, because the plugin-descriptions do not reference the package name and the only way the plu

[2016-08-17 17:48] jrgnicho commented on #15
Which link is it complaining about? Does it have a geometry or is it an empty link?

[2016-08-17 22:11] de-vri-es commented on #48
Work-in-progress available for (p)review at #70

[2016-08-18 00:05] rhaschke commented on #61
It's not yet solved completely. See https://github.com/ros-planning/moveit/pull/68#issuecomment-240586343.

[2016-08-18 06:51] davetcoleman commented on #22
ping @130s - we need to release moveit-jade so ROS can sync

[2016-08-18 10:06] ksatyaki commented on #15
@jrgnicho It complains about the "workcell_bounds" link. I don't know how I could easily verify if it's an empty link.

[2016-08-18 10:10] wkentaro commented on #61
Fixed via https://github.com/ros-planning/moveit/pull/72 https://github.com/ros-planning/moveit/pull/73

[2016-08-18 10:10] #61 closed

[2016-08-18 10:15] ugocupcic opened #75 "Can't launch demo.launch with db:=true"
I'm trying to connect to the warehouse, and in jade and kinetic I'm not able to do so. warehouse_ros does not seem to contain the `mongo_wrapper_ros.py` which is listed in the launch file [here](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_setup_assistant/templates/moveit_config_pkg_template/launch/warehouse.launch).

Is anyone else using the warehouse?

[2016-08-18 10:25] ksatyaki commented on #15
Here is a "fork" of the moveit_experimental package from the ros_industrial that I am using now for testing. For simplicity I have only moved the moveit_experimental package and not the entire stack. https://github.com/ksatyaki/moveit_experimental

[2016-08-18 13:33] v4hn commented on #75
Heya,

the mongodb interface has been changed to a more generic database plugin interface in jade and kinetic.
However, at the moment we don't have a working mongodb plugin (or any other system for that matter) in the upstream repositories.
The work of @TheBrewCrew for this plugin can be found here, I believe:
https://github.com/TheBrewCrew/warehouse_ros_mongo/tree/jade-devel

This will need furth

[2016-08-18 14:48] ugocupcic commented on #75
thanks @v4hn I managed to get warehouse_ros_mongo to at least compile using these [instructions](https://github.com/mongodb/mongo-cxx-driver/wiki/Download-and-Compile-the-Legacy-Driver) - branch 26compat. Still have issues actually connecting to it but as you said it's not ready yet so I can move that part of the discussion over there.

[2016-08-18 14:52] jrgnicho commented on #15
You can look at the urdf and see if the link contains a **collision geometry**.  As far as I recall it should have one but it's been a while since I set that up.  Can you paste printout of the console output, it be helpful if you added some ROS_INFO for each body decomposition that it creates.

[2016-08-18 18:25] davetcoleman commented on #75
@ugocupcic would be great if you could take the lead on getting warehouse_ros_mongo cleanedup and merged back into MoveIt!. we've discussed it and none of the maintainers use that functionality in moveit and thus are not motivated to work on it.

[2016-08-18 19:38] 130s commented on #22
Sorry I'm on this now

[2016-08-18 21:46] davetcoleman commented on #36
I attempted to make the new tutorials package on my Ubuntu 16.04 / Kinetic laptop but I cannot build moveit_pr2 because it is not released. Rethinking things - I do not think we should have MoveIt!'s tutorials depend on a robot's extensive software working or not. I contacted Clearpath recently and they confirmed:

I know you said PR2 support will continue in the open source community, but I imagi

[2016-08-18 22:22] v4hn commented on #36
As @dornhege and I will probably gain access to the repositories/packages in https://github.com/PR2 in a short while according to my latest mail conversation with clearpath, we can hopefully release the  ROS packages required by `moveit_pr2` rather soon.

Moving the whole PR2 to kinetic will take more time, but that is a different story.

If you want to wait for the *four* pr2 packages required by

[2016-08-18 23:30] davetcoleman commented on #36
I'm worried it will be difficult for people to find and edit documentation next Tuesday - my [proposed restructure](http://dav.ee/dave/moveit/html/index.html) makes it super easy to see and edit the flow that people learn MoveIt! with (even has next buttons on the bottom of the page).

[2016-08-19 00:43] rhaschke commented on #52
That was a misunderstanding, actually ;-)
However, I like the idea of docker in principle. But I'm not really acquainted to it yet.
I just created a dockerhub account, named `rhaschke`.

[2016-08-19 03:53] 130s commented on #22
Taking longer due to the [changelog automation command (catkin_generate_changelog) not working](http://answers.ros.org/question/242004/catkin_generate_changelog-issue-with-a-repo-that-consolidated-multiple-repos/). Gave up automation for this time of release.

[2016-08-19 07:46] ugocupcic commented on #75
I managed to get the connection to the database working with warehouse_ros_mongo + a few changes in the default launch files from moveit:

in `warehouse_settings.launch.xml`, I added:

[code]

and I replaced `warehouse_ros` by `warehouse_ros_mongo` in `warehouse.launch` to be able to spawn the mongo_wrapper_ros.py.

The db connection is working nicely.

Regarding cleaning it up and merged back int

[2016-08-19 08:54] v4hn commented on #36
Does the package build when you add `rosinstall_generator --rosdistro jade pr2_description pr2_controllers_msgs pr2_arm_kinematics pr2_mechanism_msgs` to the workspace?

Is it a problem to have a documentation package that does not build due to dependencies at the moment?
You planned to have code that does not have to build at all in the docs, so from my perspective having a package that does not

[2016-08-19 09:32] v4hn commented on #75
On Fri, Aug 19, 2016 at 12:46:07AM -0700, Ugo Cupcic wrote:

Great!

Could you provide a pull-request for this for the `moveit_setup_assistent` templates?
Required-to-build-from-source is better than having no support at all for the database in jade and kinetic!

@130s @mikeferguson do we want to have `warehouse_ros` in moveit again?
As it provides a plugin interface, does not add database depende

[2016-08-19 09:37] ugocupcic commented on #75
On 19 August 2016 at 11:32, Michael Görner <notifications@github.com> wrote:

I'll submit the pr in a bit.

+1 on all those.

In the meantime, we could may be modify the kinetic source install in
docker to have a workable environment for the db?

--
Ugo Cupcic*Chief Technical Architect*+44 20 7700 2487

--
*We're hiring Software Developers! - visit our website for more details.*
------------------

[2016-08-19 10:12] v4hn opened #80 "database_grasp_planning service with moveit_msgs/Grasp.msg"
MoveIt's PickPlace pipeline [supports using external ros-services for Grasp-Planning](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/manipulation/move_group_pick_place_capability/src/pick_place_action_capability.cpp#L332).
This feature can be used to pick objects from client code via [`move_group_interface->pick("objectname")`](https://github.com/ros-planning/moveit/blob/kine

[2016-08-19 11:43] ugocupcic commented on #75
Also added a few instructions on how to install the mongo drivers here https://github.com/TheBrewCrew/warehouse_ros_mongo/pull/1

[2016-08-19 14:05] IanTheEngineer commented on #11
+1 for ReadTheDocs theme. It's modern, clean, and easy to navigate.

[2016-08-19 14:20] davetcoleman commented on #22
That makes sense but sounds like a pain, thanks for the progress

[2016-08-19 14:23] IanTheEngineer commented on #36
Sorry to jump in here late. Big +1 for the proposed documentation restructuring. I've always admired the ReadTheDocs themes for being clean and approachable, and I agree that Fetch and catkin_tools make great use of it. Looking at the old documentation, it feel static and scattered in its organization.

I care less about where the documentation is stored, whether separate repo or part of the large

[2016-08-19 18:01] 130s opened #84 "[jade] Invalid metapackage upon catkin_prepare_release"
Self-assigned so I'm not really asking for help so far, but if anyone has experienced before your advice is appreciated.

[code]

I ran `diff` to see if the "expected" and "Got" values are different, but nothing was returned.

I've experienced before but forgot how I managed to solve this.

[2016-08-19 21:13] rhaschke opened #86 "moveit_commander fails in Kinetic due to pyassimp regression"
In Xenial with pyassimp 3.2, importing moveit_commander fails with:

[code]

@davetcoleman Did you ever tried to run moveit from python in kinect?

[2016-08-19 21:14] rhaschke commented on #86
By the way, this was revealed by the new [integration_tests](https://github.com/ros-planning/moveit/pull/83) ;-)

[2016-08-19 22:07] rhaschke commented on #86
The bug is already filed on [launchpad](https://bugs.launchpad.net/ubuntu/+source/assimp/+bug/1589949) and a patch exists.

[2016-08-19 22:31] 130s commented on #84
#87 should fix this.

Meanwhile, I surely ran into this before... https://github.com/ros-infrastructure/catkin_pkg/pull/118

[2016-08-19 23:14] davetcoleman commented on #86
No, I don't use commander or any Python interfaces

[2016-08-19 23:15] davetcoleman commented on #86
Nice job with the integration tests!!

[2016-08-19 23:18] #84 closed

[2016-08-19 23:28] 130s commented on #22
https://github.com/ros-planning/moveit/pull/44#issuecomment-239902177

I almost had to take this back (but I wouldn't) -- `catkin_prepare_release` is a convenient tool to `tag` and handles incrementation, but it seems that the tool wants all packages in the repository (maybe only those at top-level directory) to be the same version.

Rather than finding a permanent solution I'm manually tagging an

[2016-08-20 07:06] rhaschke commented on #38
+1

[2016-08-20 09:36] 130s commented on #22
Now I'm stuck. Looks like version number of packages in a repository need to be the same.

[code]

`bloom` tries to grab all packages in the repo, not those listed in metapkg (looks like I've already faced this issue [3 years ago](http://answers.ros.org/question/60138/bloom-runtimeerror-two-packages-have-different-version-numbers/). Sorry I forgot that).

@wjwwood Some of packages' version in this

[2016-08-20 10:12] andreaskoepf commented on #67
@davetcoleman I would like to take this task for the WMD. Since I am no collaborator or member of the MoveIt organization I think I cannot assign myself directly in the task metadata. I am not sure if you can assign external people ... otherwise I suggest that we just state that we want to work on an issue in a comment. What do you think?

[2016-08-20 10:36] andreaskoepf commented on #38
+1, we at Xamla had trouble with the asynchronous (unreliable) nature of this too. @v4hn, @rhaschke  Does someone of you want to work on this during WMD? Otherwise I could review the code and the proposed solution over the weekend  to fix this on Tuesday.

[2016-08-20 11:34] jettan opened #92 "[kinetic] Missing dependency to moveit_msgs from move_group"
I'm getting errors trying to compile move_group in the kinetic branch because of some missing dependencies to moveit_msgs in the CMakeLists.txt.

Error:
[code]

[2016-08-20 12:11] de-vri-es commented on #92
`move_group` depends on `moveit_core` which pulls in `moveit_msgs` [1]. Maybe there's a missing `add_dependencies` on the generated files?

`GetPlannerParams.srv` seems to be available since this commit [2].

Note that I did encounter similar issues, but they seemed related to catkin. After cleaning my workspace, it compiled without problems. Odd, of course, and possibly worth investigating. Weird

[2016-08-20 13:18] v4hn commented on #22
Does `CATKIN_IGNORE` work? If yes, go forward with that solution.
Otherwise, feel free to remove the package from the repository for now.
https://github.com/ros-planning/moveit_ikfast still builds fine at the moment and there haven't been any changes yet that are not in there.

https://github.com/ros-planning/moveit/issues/67 will remove the problem hopefully next Tuesday.
(Or after further review

[2016-08-20 13:29] v4hn commented on #38
On Sat, Aug 20, 2016 at 03:36:22AM -0700, Andreas Köpf wrote:

I will be with you on WMD, so we can discuss things there and I can try to advise you.

As for all `simple enhancement` tickets, just add a note saying you will work on it.

[2016-08-20 13:36] v4hn commented on #67
On Sat, Aug 20, 2016 at 03:12:30AM -0700, Andreas Köpf wrote:

Yes, Dave probably missed that only maintainers can be assigned issues.

Hereby I proclaim this to be your issue for WMD :)

In general, if you're first to comment "I'll do this", then it's yours.

[2016-08-20 13:39] jettan commented on #92
It worked! I did add the add_dependencies thing while also cleaning my workspace so idk what exactly fixed it but it worked.

[2016-08-20 13:39] #92 closed

[2016-08-20 16:29] rhaschke opened #95 "cleanup move_group namespace"
The `move` action server's (providing planning and execution capabilities) and the `dynamic reconfigure`'s topics of the `move_group` node, reside in the same namespace, making it hard to distinguish them (see list below). I suggest to rename the `move` action from `move_group` to `move` or `plan`.
Furthermore, I think it might be useful to group all `move_group`-provided stuff into its own namesp

[2016-08-20 19:36] 130s commented on #22
I opened https://github.com/ros-planning/moveit/issues/96 to remove `moveit_ikfast` for now as a "safer" workaround (if that doesn't work that would be bad). I'm not entirely sure if `bloom` takes `CATKIN_IGNORE` into account.

[2016-08-20 20:25] v4hn commented on #95
On Sat, Aug 20, 2016 at 09:29:16AM -0700, Robert Haschke wrote:

+1 The current situation is totally confusing. Renaming the node (and thus the private topics) is out of question in my opinion, thus the only option is to rename the action.
However, this would likely break **a lot**, so if we are going to do this, a majority of maintainers should agree...
The next question is whether  we want this

[2016-08-21 14:37] de-vri-es commented on #48
Another one at #97, this time for `moveit_planners/*` and `moveit-experimental/*`.

[2016-08-21 15:44] jettan opened #98 "[kinetic] Undefined reference to setCollisionObjectUpdateCallback"
I'm getting another nasty undefined reference error in moveit kinetic while trying to compile something that used to work in indigo using moveit.

[code]

I already tried to rebuild moveit_ros_planning and planning_scene_monitor over and over again.
Any idea if anything changed that might have caused this issue?

I know the function exist as a grep command outputs the following:

[code]

[2016-08-21 16:15] de-vri-es commented on #98
What exactly are you building? I happen to know my system closely matches yours and I can compile the entire `moveit` repository with `catkin_make_isolated` without problem (or at least those parts that are picked up by `catkin_make_isolated`).

[2016-08-21 18:25] 130s commented on #22
With #96 `bloom` seems to be able to make a release. I still [had to remove existing entries from rosdistro](https://github.com/ros/rosdistro/pull/12431) before opening a PR for the new release.

[2016-08-21 18:33] wjwwood commented on #22
Sorry, I've been on a trip but you can use an ignore file in bloom to skip certain packages, for example: https://github.com/ros-gbp/ros_comm-release/blob/master/jade.ignored

[2016-08-21 18:55] jettan commented on #98
It's not the moveit repository that crashes, but building something that is linked against moveit.
Do you think gcc-6.1 is causing this problem? Or perhaps newer boost libraries?

The weird thing is that the moveit repository builds completely fine.

[2016-08-21 21:07] 130s commented on #22
Release request made, finally. https://github.com/ros/rosdistro/pull/12432

@wjwwood thanks, that seems useful. We can still used that technique for releasing other distros.

[2016-08-21 21:07] #22 closed

[2016-08-22 03:55] davetcoleman commented on #36
I have not tried this and assume there would be things that do not work in kinetic yet

It somewhat is...  I just realized ``rosdoc_lite .`` still works without any of the pr2 dependencies working but I'm not sure if the ROS buildfarm can generate the documentation if the dependencies don't work. But since it works in indigo still, we can just keep generating it there. You bring up a good point I

[2016-08-22 06:03] davetcoleman commented on #52
@rhaschke has been added. I also forgot but @ruffsl is an owner of the dockerhub team as well, since he made the OSRF images that moveit's builds on top of.

[2016-08-22 07:12] davetcoleman commented on #67
Yep, I didn't think to check that but its a long standing [feature request](https://github.com/isaacs/github/issues/100). I agree with @v4hn - you just need to say "I'll do this". I also just added an [assigned](https://github.com/ros-planning/moveit/labels) label that a maintainer can manually/optionally add to an issue once someone claims it.

Thanks @andreaskoepf

[2016-08-22 07:25] davetcoleman commented on #67
I've updated the procedures for WMD: https://github.com/ros-planning/moveit.ros.org/pull/39

[2016-08-22 07:32] davetcoleman opened #99 "Integrate moveit_python into main MoveIt! project"
I just discovered "Pure Python Bindings to ROS MoveIt!" and am interested in at minimum adding documentation for this package of @mikeferguson or perhaps even adding it to the main repo after further discussion.

@mikeferguson how much better is this than what we currently have?

[2016-08-22 07:39] davetcoleman commented on #22
:sparkles: Thanks for all the work @130s !

Its so green now:
![screenshot from 2016-08-22 01-37-53](https://cloud.githubusercontent.com/assets/561060/17847048/1b6d4f60-6809-11e6-9541-13840532b1f3.png)

[2016-08-22 08:14] rkojcev commented on #26
@davetcoleman any progress on this one?

[2016-08-22 09:51] JHoef commented on #95
Hi,

I plan to take care of this issue tomorrow.

[2016-08-22 11:27] v4hn commented on #95
@JHoef This is not actually a "simple improvement" tagged issue,
because we are not yet sure about the "when" and "how".

Still, if you like, you can provide a patch against kinetic-devel that
renames the action throughout moveit to something like `request_motion_plan`.
I prefer this generic name to "move" or "plan" because the action *can* but does not *have to* "move" the robot.

A working patch

[2016-08-22 12:40] v4hn commented on #36
On Sun, Aug 21, 2016 at 08:55:27PM -0700, Dave Coleman wrote:

+1 to do it that way and provide a central tutorials package tomorrow!

[2016-08-22 13:09] v4hn commented on #75
Addressed by #81 , thanks for resolving this!

[2016-08-22 13:09] #75 closed

[2016-08-22 13:56] v4hn commented on #99
(1.) What is it?

(2.) Where is it?

[2016-08-22 14:02] v4hn commented on #86
@rhaschke can we close this? It's a bug in the ubuntu package that should be fixed in a while (I presume).

[2016-08-22 14:05] v4hn commented on #39
Fixed. See https://github.com/ros-planning/moveit/issues/22

[2016-08-22 14:05] #39 closed

[2016-08-22 14:24] ksatyaki commented on #15
@jrgnicho Once again thanks for helping out.
[Here](https://docs.google.com/document/d/1BmUIij9Wp4g6Tz_1ELI0GSBpd7iam2crBpSqU7QTOE0/edit?usp=sharing) is the entire output from the current version of moveit_experimental and moveit_planners from my github.

If you look at the latest commit on the [moveit_experimental](https://github.com/ksatyaki/moveit_experimental) package, you should see what is p

[2016-08-22 14:29] ksatyaki commented on #15
Just to make things easier if you are trying to run the code on your computer, I set up this repo with the files modified to work with the chomp planner: https://github.com/ksatyaki/chomp_test

[2016-08-22 15:07] v4hn commented on #98
On Sun, Aug 21, 2016 at 11:55:35AM -0700, Jethro Tan wrote:

Most importantly: Does the same code still compile with current `indigo-devel`?
This might be a regression introduced in https://github.com/ros-planning/moveit/pull/70 .
At the moment I don't know if this is intentional, but as we also merged this into indigo,
we might have the problem there too. And we *shouldn't* have it in indigo.

@d

[2016-08-22 15:09] jettan commented on #98
I can't test with current indigo-devel atm since I don't have it setup.

[2016-08-22 16:40] v4hn opened #100 "Initial Indigo release from ros-planning/moveit repo"
- [x] Wait for public sync --> Done on Aug 25 http://discourse.ros.org/t/new-packages-for-indigo-2016-08-25/458
- [x] #121 (changes ABI)
- [x] #63 (changes ABI)
- [x] #187 (addresses unintuitive behavior of the new author feature in msa)
- [x] #221 (continuation of #187)
- [x] #188
- [x] #148
- [x] #144
- [x] #232 --> Closed
- [x] #273
- [x] #283 --> Closed
- Version should be bumped since there's

[2016-08-22 16:41] v4hn commented on #98
On Mon, Aug 22, 2016 at 08:09:32AM -0700, Jethro Tan wrote:

Could you try to give us a minimal code-example where this happens?
I could test it then.

[2016-08-22 16:52] davetcoleman commented on #26
@rkojcev this is a suggested project for World MoveIt! Day tomorrow, so I was hoping someone else might want to take this issue up and look into it. If you have the cycles to do it, feel free to go ahead and open said PR with good documentation

[2016-08-22 16:52] gavanderhoorn commented on #67
A bit late here perhaps, but imho it might not be a good idea to merge `moveit_ikfast` into a `moveit_kinematics` package.

In contrast to 'all' the other MoveIt kinematics plugins (KDL and the recently added LMA one), `moveit_ikfast` is not a plugin in itself, but only a set of template files and a Python script that generates C++ code *for* something that is a MoveIt compatible kinematics plugin

[2016-08-22 17:02] toliver commented on #25
We can deal with this task for the WMD.

[2016-08-22 17:07] toliver commented on #80
We can deal with this task for the WMD.

[2016-08-22 17:07] gavanderhoorn commented on #64
Triggered by (as the maintainer of `kuka_experimental`):

[code]

Did you just `git clone ..` those files? Have you made any changes?

Because I haven't had any reports about the manifest of `kuka_resources` being invalid, and I cannot reproduce this.

It would seem your manifest issue is unrelated to your MoveIt question.

[2016-08-22 17:21] toliver commented on #33
We can deal with this task for the WMD.

[2016-08-22 17:25] davetcoleman opened #101 "Revive Search Based Planning Library"
MoveIt! used to support the SBPL library but [that plugin](https://github.com/ros-planning/moveit/tree/kinetic-devel/moveit_planners/sbpl) was never catkinized. We would like to cleanup and get this plugin working again.

@aurone, @bcohen, and others at the Search-Based Planning Lab at CMU currently have had a working plugin, but it needs to be brought back into MoveIt!:

- https://github.com/auro

[2016-08-22 17:27] 130s commented on #100
Yeah, I'm about to work on this. I leave up to you guys about the mentioned concern, so please share any thoughts on it.
If everything goes fine we may have debs ready on shadow-fixed.

[2016-08-22 17:33] v4hn commented on #100
As we are currently unsure about the ABI stability of the release, I'm actually not keen to see this released by tomorrow...
Better safe than sorry.
Anyone else?

[2016-08-22 17:40] jettan commented on #98
It's taking me quite some time to trigger this bug in a minimal code example. I built the examples of moveit (the ones with planning scene and planning ros api tutorial) with success. So I'm trying to figure out what exactly triggers this behaviour.

[2016-08-22 17:44] v4hn commented on #67
On Mon, Aug 22, 2016 at 09:52:48AM -0700, G.A. vd. Hoorn wrote:

Your timing is perfectly fine. :)

Yes. We were available of that when this was proposed.

@davetcoleman merged it into the moveit repository and nobody complained in the rather longish process. Sounds like you should have. :)
I believe as ikfast is quite independent of the rest of the code, the only reason why it was added is "becau

[2016-08-22 17:49] jettan commented on #98
But it definitely has something to do with the changes introduced in #70 as you mentioned and as @de-vri-es mentioned.

https://github.com/ros-planning/moveit/pull/70/files#r75216429

[2016-08-22 18:05] davetcoleman opened #102 "ROS Lint Packages"
Cleanup the code base by using [roslint](http://wiki.ros.org/roslint):

Start with just one package (moveit_core?) so that you can get feedback from the maintainers and try to keep each PR small.

[2016-08-22 18:11] davetcoleman commented on #100
I agree with @v4hn that we've had no soak time and, if we were to release indigo today, there is a chance we'd break our stable LTS on a day when hopefully lots of people will be using them. Let's wait a few days.

[2016-08-22 18:11] v4hn commented on #102
duplicate of #34

[2016-08-22 18:12] de-vri-es commented on #98
The only way I can see that causing problems is if you're compiling with the new header and linking with an object compiled before the change. Do you have pre-compiled moveit packages installed?

The declaration and definition of 'planning_scene::PlanningScene::setCollisionObjectUpdateCallback' are consistent at any rate.

[2016-08-22 18:14] de-vri-es commented on #98
If you don't have precompiled moveit packages installed or if removing them (and cleaning your workspace for good measure) does not fix the issue, can you show the full linker command and output?

[2016-08-22 18:20] davetcoleman commented on #99
Ooops, forgot to add the link - fixed.

There have been a ton of Github emails I've been responding to this morning and last night, thank you!

[2016-08-22 18:21] davetcoleman commented on #86
Seems like this issue should be left open until fixed for other user's reference, or we should document it somewhere else like the moveit_command tutorial

[2016-08-22 18:24] v4hn opened #103 "ApplyPlanningScene should behave the same as all input topics"
This is currently not the case.

I'll try to take care of this myself.

[2016-08-22 18:24] v4hn commented on #98
On Mon, Aug 22, 2016 at 11:12:29AM -0700, Maarten de Vries wrote:

Might also be other packages that were/are linked to moveit, but to an older version.

This is called ABI breakage. Do we have this same problem in our indigo-devel branch, when compared to the latest release?
If we have, we should revert the problematic part (at least for now).

For stable releases, it is not about *consistency*,

[2016-08-22 18:25] v4hn commented on #86
On Mon, Aug 22, 2016 at 11:21:52AM -0700, Dave Coleman wrote:

Ok, let's leave it open then.

[2016-08-22 18:40] davetcoleman commented on #67
These are good points though indeed we have thought of them.

ikfast is a popular IK solution for MoveIt! and, if it works for your robot, arguably the best. I don't see the harm in grouping it with the other ik solvers (just two at this point) in MoveIt!, even if they only generate code.

The great benefit of having it together in this repo is that when we make API changes to KinematicsBase, such

[2016-08-22 18:41] v4hn commented on #38
@andreaskoepf do you claim this issue for tomorrow?

[2016-08-22 18:42] de-vri-es commented on #98
Could be, although in that case removing the binary package for moveit-* should also remove those (assuming they were installed with a package manager).

Well, the correction of `collision_detection::ObjectConstPtr` definitely changed the API at a number of places. So for indigo that should be reverted. I'll make a PR for that. What about Jade?

The point was, if they are inconsistent then that co

[2016-08-22 18:48] davetcoleman commented on #34
linting the entire code base would allow us to then create a continuous integration test to capture bugs like: https://github.com/ros-planning/moveit_ci/issues/11

[2016-08-22 18:50] de-vri-es commented on #100
Just a heads up, #77 (cherry-picked from #70) introduces one API change that should be reverted before the indigo release. See also #98.

The specific change was here: https://github.com/ros-planning/moveit/pull/77/files#diff-76b7a92f6aeeed9e7bba70df54cce8a7L101

The typedef `ObjectConstPtr` was fixed to actually be a pointer-to-const, but it appears in the public API in a number of places, so sho

[2016-08-22 18:50] v4hn commented on #99
On Mon, Aug 22, 2016 at 11:20:04AM -0700, Dave Coleman wrote:

I know, it's quite a ridiculous amout today, right? :-)
Don't blame me, I'm just responding too...
Thanks for the link. Definitely looks interesting!

[2016-08-22 18:50] jettan commented on #98
Got it compiling! It is indeed the ABI breakage. After uninstalling the prepackaged ros-kinetic-moveit_core and ros-kinetic-moveit_msgs and recompiling my moveit  overlay repository everything compiles as it should.

[2016-08-22 18:52] de-vri-es commented on #98
Quick note: those packages are coming from a personal Arch Linux repository I'm maintaining, in case anyone is wondering how there are binary packages before the actual release =]

[2016-08-22 18:56] davetcoleman commented on #102
``catkin lint`` and ``ros lint`` are two separate things! AFAIK the former only helps cleanup your CMake files, while the latter cleans up your code

[2016-08-22 19:00] gavanderhoorn commented on #102
@davetcoleman: yep. `catkin_lint` 'only' checks `package.xml` and `CMakeLists.txt`.

[2016-08-22 19:04] v4hn commented on #98
On Mon, Aug 22, 2016 at 11:42:39AM -0700, Maarten de Vries wrote:

Yes.

I wasn't sure back then whether *adding* const-ness is an ABI problem.
Turns out it is... I should have known better.
Could you please provide a minimal-invasive patch to revert to the old A{P/B}I in indigo, but keep the other cleanup changes you did?

During one of the maintainer meetings, we more or less agreed that jade is

[2016-08-22 19:06] v4hn commented on #98
On Mon, Aug 22, 2016 at 11:52:07AM -0700, Maarten de Vries wrote:

Awsome! Great to hear something like that exists!
Be aware though that quite a number of things might change before the release...

[2016-08-22 19:07] jettan commented on #98
No worries, it's on a private buildbot.
And I was just getting ready to test things so I could one day mirror it.

[2016-08-22 19:09] v4hn commented on #102
Ah, right, sorry I missed that. Haven't used roslint in quite a while, so I was primed to `catkin_lint`..

Sounds like a lot of work, that would improve MoveIt!

[2016-08-22 19:13] de-vri-es commented on #98
I was actually wondering the same thing. Turns out that name mangling makes sure it is a problem :) Just as well I suppose, as otherwise you might end up with a program calling non-const members on what you thought was a const object.

The PR contains only a pretty minimal patch, see #104.

Aye, but I'm running Arch, so I'm used to having to recompile half the repo because of ABI breakage (yay boo

[2016-08-22 19:19] v4hn commented on #98
The standard allows for that (hello `const_cast`), so why should the compiler care. ;)
But yeah, it's good that it does...

Tell me about it: https://github.com/lunar-linux
One of my favorites til today are gcc ABI changes: https://github.com/lunar-linux/moonbase-core/blob/master/compilers/gcc/POST_INSTALL#L10

This issue is resolved, so I'll close it.
Thanks for your support!

[2016-08-22 19:19] #98 closed

[2016-08-23 00:49] davetcoleman commented on #100
The revert has been merged, thanks @de-vri-es for the quick response

[2016-08-23 00:55] davetcoleman commented on #36
The new tutorials repo is ready: https://github.com/ros-planning/moveit_tutorials

Note: I'm on an airplane right now so haven't been able to upload the demo html website

It is similar and replaces [pr2_moveit_tutorials](https://github.com/ros-planning/moveit_pr2/tree/indigo-devel/pr2_moveit_tutorials) and it has the same linking of source code. I haven't tried building it because I'm on Kinetic,

[2016-08-23 06:12] andreaskoepf commented on #67
Ok, I think this needs more discussion? I will then move no to another task.

[2016-08-23 06:13] andreaskoepf commented on #38
@v4hn Yes, let's discuss this later. Would be happy to work on this.

[2016-08-23 06:14] mikeferguson commented on #36
LGTM +1

[2016-08-23 06:29] davetcoleman opened #110 "Update pr2 tutorials to work with Kinetic"
Our current [tutorials](http://docs.ros.org/indigo/api/moveit_tutorials/html/) only work with Indigo. We would like to have them tested and fixed for ~~Jade and possibly with~~ Kinetic - though this would require building the PR2 dependencies from source. For now a note has been added to the tutorials page.

[2016-08-23 06:47] 130s commented on #39
Jade DEBs are built and available from [shadow](http://wiki.ros.org/ShadowRepository) repository.

Now Jade regression is almost gone http://repositories.ros.org/status_page/ros_jade_default.html?q=REGRESSION.

[2016-08-23 06:49] davetcoleman commented on #39
what is not gone yet? ompl?

[2016-08-23 06:58] dbolkensteyn commented on #20
I'll give this one a try

[2016-08-23 07:01] davetcoleman commented on #20
great!

[2016-08-23 07:06] JHoef commented on #95
Okay I see that I have underestimated the issue. Maybe it would be better if I try to contribute to another issue.
Thanks.

[2016-08-23 07:09] davetcoleman opened #111 "Test Tutorials and add more visuals / screenshots"
The consolidated the [moveit_tutorials](https://github.com/ros-planning/moveit_tutorials) have many pages without any images - currently only the Rviz Plugin tutorial and Setup Assistant really have visuals. It would be great if someone could run through the tutorials and take more screen shots of progress for tutorials that have no images.

[2016-08-23 07:13] davetcoleman opened #112 "Expand the controller tutorial to include ros_control and fake_controllers"
The current tutorial on using [controllers with moveit](http://docs.ros.org/indigo/api/moveit_tutorials/html/doc/pr2_tutorials/planning/src/doc/controller_configuration.html) does not mention how to integrate with ros_control or the fake controllers. We need to consolidate the READMEs from:

https://github.com/ros-planning/moveit/tree/kinetic-devel/moveit_plugins/moveit_ros_control_interface
https

[2016-08-23 07:14] davetcoleman opened #113 "Create TracIK tutorials in moveit_tutorials"
We'd like to streamline the usage of TracIK in MoveIt by giving it its own tutorials in MoveIt!-format. A page has [already been created](http://docs.ros.org/indigo/api/moveit_tutorials/html/doc/trac_ik_tutorial.html) and we just need to test and bring in [this page](https://bitbucket.org/traclabs/trac_ik/src/HEAD/trac_ik_kinematics_plugin/)

[2016-08-23 07:30] davetcoleman opened #114 "[moveit_tutorials] Minor Cleanup"
Trivial laundry list of nice-to-haves that I wasn't able to get to today when refactoring moveit_tutorials:

- Edit on Github button is off center - bad css
- Warnings are generated when running ``rosdoc_lite .``
- Would be nice to move all ``pr2_tutorials`` from ``src/doc`` to just ``doc``
- Other cleanup items

[2016-08-23 07:36] alemme commented on #12
Hi,

I like to contribute here :)

Cheers,
Andre

[2016-08-23 07:37] JHoef commented on #12
I join you!

[2016-08-23 07:55] uwesterh commented on #111
I've already found some broken links in the tutorial pages. So I pick up this issue and will provide some screen shots for the tutorials in addition to the link fixes.

[2016-08-23 08:02] AndriyPt commented on #33
working on it

[2016-08-23 08:21] kirstyellis commented on #25
working on this issue

[2016-08-23 08:48] v4hn commented on #67
No matter whether `moveit_ikfast` is merged in the new package or not, we should have the package for the other (two) plugins.
Thus, this issue is still valid for today.

@andreaskoepf I removed the assigned again, as you said you'll work on a different task

[2016-08-23 08:48] dbolkensteyn commented on #51
I'll remove hydro and add jade and kinetic instead.

[2016-08-23 09:34] dbolkensteyn commented on #113
I'm taking care of this one

[2016-08-23 09:39] dbolkensteyn commented on #20
I've migrated the old PR

Note that it didn't change the Python bindings, so this feature is only available from C++. I'm not really comfortable with Python - so I won't add it there.

[2016-08-23 09:50] dbolkensteyn commented on #51
https://github.com/ros-planning/moveit.ros.org/pull/44

[2016-08-23 10:06] dg-shadow commented on #80
Hi. I'm about to start work on this. My plan is to fix it in Kinetic first then add the changes back into Jade and Indigo. Is there any reason not to do it that way? Thanks :)

[2016-08-23 10:45] uwesterh commented on #111
Most of the links are fixed now. For details, see my pull request at https://github.com/ros-planning/moveit_tutorials/pull/1

[2016-08-23 11:04] alemme opened #116 "Missing implemenation of CollisionPlugin"
This plugin interface is defined in  [collision_plugin.h](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/collision_detection/include/moveit/collision_detection/collision_plugin.h) but is not implemented.

The fcl implementaiton of the collision detection is used currently in the `kinematic_contraint.cpp`
<PRE>
kinematic_constraints::VisibilityConstraint::VisibilityConstraint

[2016-08-23 11:44] v4hn commented on #80
On Tue, Aug 23, 2016 at 03:06:09AM -0700, dg-shadow wrote:

Sounds goot to me :)

[2016-08-23 13:24] kirstyellis commented on #25
@davetcoleman and @v4hn, I am having trouble applying the commits from this PR (https://github.com/ros-planning/moveit_ros/pull/616) to the new consolidated moveit repository. I rebased to get the commits added to the most recent changes in kinetic-devel, but when I try to apply the commits as patches to the new moveit repo, I get errors related to the files which the commit is deleting as "does n

[2016-08-23 13:32] mamoll commented on #25
@kirstyellis message me directly for any high-level questions. A little bit of general background. The MoveIt! benchmarking rewrite aims to produce benchmark log files in OMPL's [benchmark format](http://ompl.kavrakilab.org/benchmark.html#benchmark_logfile_format). I don't think the rewrite is using OMPL's Benchmark class directly. The script `moveit_benchmark_statistics.py` should be identical to

[2016-08-23 13:35] jan0e commented on #16
I started working on this and implemented functionality for bullet point 1 and 3. Will also look into point 2.

[2016-08-23 13:43] mamoll opened #117 "Replace ompl_interface with moveit_ompl_planning_interface"
@ryanluna has written an amazing replacement for ompl_interface. The repo is available here: https://github.com/KavrakiLab/moveit_ompl_planning_interface. He has moved on to Google X and might not have a whole lot of time to help in getting this done. The replacement code allows users to easily add new plugins by just editing a YAML file. This is why you should care:
- It allows for the easy devel

[2016-08-23 14:39] mamoll opened #118 "expose OMPL's generic path cost infrastructure to MoveIt!"
There are many planning algorithms that can optimize a path cost with respect to some arbitrary cost function (RRT\*, CHOMP, TrajOpt, to name a few). OMPL has a generic path and state cost infrastructure and many pre-defined common optimization objectives (path length, clearance, mechanical work, etc.). It'd be great if some of that functionality could be added to MoveIt! with a direct mapping to

[2016-08-23 14:49] #20 closed

[2016-08-23 14:59] davetcoleman commented on #51
thanks!

[2016-08-23 14:59] #51 closed

[2016-08-23 15:06] jspricke opened #121 "indigo-devel ABI incompabilities"
I've checked the ABI of 214c3b8 against the last releases (0.7.2) of moveit_core and moveit_ros and found the following problems:
compat_reports/libmoveit_collision_detection_fcl.so/1_to_2/compat_report.html https://github.com/ros-planning/moveit_core/pull/295
compat_reports/libmoveit_motion_planning_rviz_plugin_core.so/1_to_2/compat_report.html https://github.com/ros-planning/moveit_ros/pull/713

[2016-08-23 15:06] jspricke commented on #100
See #121 for ABI problems.

[2016-08-23 15:29] davetcoleman commented on #111
Great! Did you find any good use cases for additional images?

[2016-08-23 15:33] davetcoleman commented on #116
FCL is a working implementation of a CollisionPlugin - not sure what the problem is here.

@mikeferguson created the collision plugin concept, I believe he's relevant to this discussion

[2016-08-23 15:38] davetcoleman commented on #15
Glad you're making progress on this. I'd suggest you create a preliminary PR so we maintainers can start giving you feedback and understanding where the changes are targeted to be made. It doesn't need to be merged yet if its not ready.

[2016-08-23 15:42] dg-shadow commented on #80
Today has been one of those days full of distractions and set backs, and I never really got started with this :( I am conceding defeat, so it's free to be assigned to someone else.

My apologies. I hope the next candidate does better ;)

[2016-08-23 15:57] davetcoleman commented on #25
@kirstyellis when we migrated to the consolidated repo, we changed all the commit hashes in order to [preserve the file history after the location move](https://github.com/davetcoleman/moveit_merge#merge-method).  thus, to moved that PR you basically need to checkout that branch on the old repo, then manually copy it on the filesystem into the new repo.

[2016-08-23 15:59] mikeferguson opened #123 "get some database stuff working in J/K"
This is a metaticket to cover getting some form of warehouse_ros db plugin working in J/K as part of WMD.

Some background:
 * https://github.com/TheBrewCrew/warehouse_ros_mongo/tree/jade-devel is a plugin that might work, but hasn't been touched in a year, and was not really reviewed at that time.
 * We could also maybe create a new plugin that uses something simple like SQLite and avoid the whol

[2016-08-23 16:18] kirstyellis commented on #25
hi @davetcoleman, I have managed to get my patches to work by running a git filter-branch on all of the directories as was done in the consolidation of the repos. The patches were applied with no errors so hopefully it will be OK!

[2016-08-23 16:18] AndriyPt commented on #33
please review my pull request

[2016-08-23 16:47] v4hn commented on #80
too bad, thanks anyway :)

[2016-08-23 16:50] v4hn opened #125 "load default_capabilities by default"
We have the problem that whenever we add a default capability to `move_group`, _every_ user has to add the capability to their own moveit_config.

Instead we should (unless overridden) load all the default capabilities.

[2016-08-23 17:06] davetcoleman commented on #118
+1

note that @rbbg recently started work in this direction with this merged PR: https://github.com/ros-planning/moveit_planners/pull/75

docs: http://docs.ros.org/indigo/api/moveit_tutorials/html/doc/ompl_interface_tutorial.html

[2016-08-23 17:09] kirstyellis commented on #25
I have to leave the office now but I can work on this again in the morning

[2016-08-23 17:10] davetcoleman opened #126 "Auto check for deadlinks on moveit website using Travis CI"
Today @mintar found *a lot* of [dead links](https://github.com/ros-planning/moveit.ros.org/pull/43) that I think we can avoid in the future by using a simple travis script that is explained here:

https://www.jacobtomlinson.co.uk/jekyll/2015/02/18/test-you-jekyll-blog-with-travis-ci/

[2016-08-23 17:16] mamoll commented on #118
Cool! I wasn't aware of that PR. That looks like a good first step. In the long run, it'd be nice if there was something generic that wasn't specific to OMPL. It'd be nice if (after the benchmarking stuff of #25 is merged), one could compare the convergence rate of, say, RRT\* and Multi-Heuristic A\*.

[2016-08-23 17:20] davetcoleman commented on #121
we're wrapping our shared_ptrs in a pre-existing MACRO so that we can switch to ``std`` in kinetic. i think these changes are worth the abi incompatibility - i think we should just email moveit-users with a warning when it is released

[2016-08-23 17:31] 130s commented on #39
It is `ompl` for the entire Jade world for today.
[I poked them](https://bitbucket.org/ompl/ompl/issues/266/ros-jade-new-version-is-older-than-the-one). Doesn't seem to be critical.

@wjwwood Sorry it took forever to get MoveIt! out for Jade. I assume we want some soak time (a week? 2 weeks? Anyone?) because the new release introduces the tremendous amount of changes.

[2016-08-23 18:40] davetcoleman commented on #23
@scottpaulin what is the status on adding coveralls?

[2016-08-23 18:46] mintar commented on #126
+1, that's what I was thinking should be next!

BTW, I also used a tool (called "linkchecker") to find those dead links. That script you found looks really good!

[2016-08-23 19:08] de-vri-es commented on #121
I can't see the use of the macro introducing ABI incompatibilities though. The types are still the same, it's just that they are declared with a macro instead of manually. The one point where we did change a type has already been reverted. It looks like the ABI breakage comes from different places.

[2016-08-23 19:12] jspricke commented on #121
Most of them are because of added variables in classes, which changes their size.

[2016-08-23 19:21] davetcoleman commented on #125
+1

[2016-08-23 19:26] wjwwood commented on #39
It would be prudent to have some time for people to test the new moveit in Jade. We can plan to do a sync in a week or so.

The ompl thing isn't a regression. It is them fixing their version numbers. They may need to make sure that future releases can be considered newer than what's already there. Since nothing has changed between the two numbers, that I'm aware of, it should be fine for now.

[2016-08-23 19:38] davetcoleman commented on #25
thanks for the status update@

[2016-08-23 20:31] davetcoleman commented on #39
we've never officially released jade because it only worked on one platform, so i don't think we need much soak time

[2016-08-23 20:32] andreaskoepf commented on #5
What are the requirements for a fix? Would it be ok to just remove `const&` from the return type of `getKinematicsQueryOptions()` or should the method signature stay untouched? Inside this repo the method seems to be used only in [motion_planning_display.cpp#L920](https://github.com/ros-planning/moveit/blob/8d2eabfe96bb68ae27d1f4c0255eb4e6092f82f5/moveit_ros/visualization/motion_planning_rviz_plug

[2016-08-23 20:34] davetcoleman commented on #121
i bet there are cases where previously there wasn't both a shared_ptr and a const shared_ptr, which is what we have added

[2016-08-23 20:41] de-vri-es commented on #121
True, but those types didn't exist before, so they can't be part of the API or ABI.

[2016-08-23 21:04] mfbailey91 opened #130 "Moveit Treats Visual Mesh as Collision Mesh When No Collision Mesh is Specified"
Although, some may argue that this is a check for when URDFs are constructed improperly and links are not given collision meshes I would argue that promoting improper creation of URDF is a negative and it limits the modularity as moveit as a tool.

This prevents the use of virtual links which one may want to use as visual feedback in RVIZ.  Examples of when you may want only a visual mesh is: if y

[2016-08-23 21:07] wjwwood commented on #39
That's also ok for me, since we've waited quite a while for Jade to sync already.

[2016-08-23 21:13] de-vri-es commented on #130
I ran into the same problem. I wanted a visual link without collision model, but had to resort to disabling collisions with the link and every other link in the allowed collision matrix of the SRDF.

Changing this unconditionally could break existing systems though, and especially in the case of collision detection you don't want to suddenly certain checks in existing systems. So this would have t

[2016-08-23 21:21] v4hn commented on #80
It's definitely not that easy a task, I wasn't sure if I should put it up for WMD.
So I'm the only one to blame if there is no pull-request up for this by tomorrow. :)

[2016-08-23 21:45] v4hn commented on #116
Not sure why @alemme did not reply (we discussed that earlier today), so I'll quickly summarize.

On Tue, Aug 23, 2016 at 08:33:32AM -0700, Dave Coleman wrote:

It looks like this might not be the case. The FCL code does not implement the class `collision_detection::CollisionPlugin` which is used with pluginlib to register the collision plugins.

[2016-08-23 21:52] davetcoleman commented on #5
This would not be ABI compatible but we can just not merge it into indigo. I think removing ``const&`` is fine, but I'm not 100% sure what to do

[2016-08-23 22:08] de-vri-es commented on #5
It might make more sense to have `KinematicOptionsMap::getOptions()` return the `KinematicOptions` by `const &` to avoid copying the `KinematicOptions` into a temporary. Since the `KinematicOptions` object is then no longer a temporary, returning a `const &`  to one of its members is safe.

On the other hand, if copying a `KinematicsOptions` object is not expensive, it doesn't matter that much and

[2016-08-23 22:28] scottpaulin commented on #23
I got up at 9am pacific (4am local) time to do it in the spirit of World Moveit day but saw that @130s had self-assigned it.

[2016-08-23 22:38] scottpaulin commented on #23
Sorry just saw the last comment in #127 delegating it back to me. I have a job interview now so Ill do it around 6pm Pacific if it still needs attention.

[2016-08-23 22:45] davetcoleman commented on #5
@de-vri-es its not clear to me what route you are suggesting

[2016-08-23 22:47] davetcoleman commented on #23
Yes I think it would be best if you worked on it since you've already started.

Good luck on the job interview, but make sure they use MoveIt! before accepting ;-)

[2016-08-23 22:47] andreaskoepf commented on #5
I opted for copy-by-value, because:
a) the type seemed to be tiny
b) There is a scope-lock in [kinematic_options_map.cpp#L54](because https://github.com/ros-planning/moveit/blob/4ac0c7432d335f57aab6836cbcaaac3fccf4b6f9/moveit_ros/robot_interaction/src/kinematic_options_map.cpp#L54). Probably only to protect the map-state .. but since `robot_interaction::KinematicOptionsMap::getOptions()` returned

[2016-08-23 22:57] mikeferguson commented on #116
This is definitely something I did not finish. Some references:

 * Original ticket about supporting other collision checkers: https://github.com/ros-planning/moveit_ros/issues/532
 * Merged PR for adding the plugin class: https://github.com/ros-planning/moveit_core/pull/214
 * Merged PR for actually loading plugins: https://github.com/ros-planning/moveit_ros/pull/536
 * Future work to actually ad

[2016-08-23 23:04] de-vri-es commented on #5
Ah, I missed the locking. It seems reasonable to assume the class does not want to leak references then. So ignore my comment.

[2016-08-24 00:23] mikeferguson opened #135 "use ids in AllowedCollisionMatrix as message"
Ported from https://github.com/ros-planning/moveit_core/issues/50

Currently the ignored collision matrix is quite inefficient. If we had a mapping from object names to integers then we could avoid doing map lookups but instead to lookups by index in a vector/matrix.

[2016-08-24 00:29] davetcoleman commented on #36
Closing this issue because it is complete, though https://github.com/ros-planning/moveit_pr2/pull/80 should eventually be merged

[2016-08-24 00:29] #36 closed

[2016-08-24 00:32] mikeferguson opened #136 "enable proper collision checking for objects attached to links without geometry"
Porting from https://github.com/ros-planning/moveit_core/issues/158, since this is still an issue, and one people frequently encounter:

Currently, links without geometry are left out of the updated links vector for a joint group. This also implies that objects attached to these links will not be part of collision checking for that group - this needs to be fixed.

[2016-08-24 00:33] mikeferguson opened #138 "Capability to remove waypoints from robot_trajectory"
Ported from https://github.com/ros-planning/moveit_core/issues/229:

I'm guessing it's a concious design decision, but I just discovered that there are various ways of adding waypoint to trajectories, but apparently (?) no way to remove them (looking at https://github.com/ros-planning/moveit_core/blob/indigo-devel/robot_trajectory/include/moveit/robot_trajectory/robot_trajectory.h).

What I want t

[2016-08-24 00:33] mikeferguson opened #139 "catkin_lint everything"
Most moveit packages (not just core) produce a lot of issues when fed into ```catkin_lint```.
These should be cleaned to integrate better with catkin.
Otherwise some of these issues will pop up over time one after another.

Migrated from https://github.com/ros-planning/moveit_core/issues/298

[2016-08-24 00:35] mikeferguson opened #140 ""Returning dirty link transformation" warning when planning with joint constraints"
Problem: when planning with joint constraints, warning message "Returning dirty link transformation" keeps popping up.

Problem location: I have tracked the problem down to the following function in moveit_core/constraint_samplers/src/default_constraint_samplers.cpp:

[code]
The problem is that after `state.setJointGroupPositions(jmg_, values_)` the state is not updated. Therefore when followed by

[2016-08-24 00:36] mikeferguson commented on #140
Can't confirm the above, but the reasoning seems correct, so marking as bug

[2016-08-24 00:42] davetcoleman opened #141 "ROS Buildfarm Dev Job Timeout"
We're starting to get occasional timeouts on the ROS buildfarm for moveit due to its size - the limit is 120 minutes and you can see the history of the builds [here](http://build.ros.org:8080/job/Jdev__moveit__ubuntu_trusty_amd64/buildTimeTrend). After talking with @tfoote I think the best course of action is to disable our usage of the the ROS buildfarm for testing our source tree - i.e. removing

[2016-08-24 01:10] mikeferguson commented on #139
https://github.com/ros-planning/moveit/issues/34

[2016-08-24 01:10] #139 closed

[2016-08-24 01:15] #33 closed

[2016-08-24 02:34] 130s commented on #1
@scottpaulin I unassigned myself following your comment https://github.com/ros-planning/moveit/issues/23#issuecomment-241902583. If you can give it a try that will be great.

[2016-08-24 02:39] 130s commented on #141
Related but side-issue: @tfoote could you answer http://answers.ros.org/question/236406/default-bool-value-for-test_commits-and-test_pull_requests-in-rosdistro-format/ ?

[2016-08-24 02:44] 130s commented on #141
Not urgent. I'm just curious about the decision made here. Dave would you elaborate a bit more?

Because most of developers and users of MoveIt! will be using debs, and ROS buildfarm is the place where debs are born, IMO it's good and ideal to test building the code there (commit-by-commit test may not be necessary though). Also I'm fan of relying on ros.org resource as much as possible.

[2016-08-24 02:46] davetcoleman commented on #52
I just finished fully migrating our docker containers to the consolidated moveit repo

[2016-08-24 02:46] #52 closed

[2016-08-24 02:48] scottpaulin commented on #118
What ways should a Moveit path cost infrastructure differ to the one in OMPL? Does anyone know of some good libraries (doesn't have to be motion planning) other than OMPL that implement a generic cost infrastructure which we could look at for inspiration?

[2016-08-24 02:58] 130s commented on #141
I meant "my request for more explanation is not urgent". I think this timeout issue is more urgent since it's occurring every few hours.

[2016-08-24 03:23] davetcoleman commented on #141
Yes, it would be ideal if we could continue using the build farm for testing our source, but it seems there isn't a good way to go about this. One alternative is if someone who knew a lot about CMake spent time optimizing our build process to be faster. I don't think I have the skill to do this.

After further discussing things today with @wjwwood I came to the viewpoint that the buildfarm has bee

[2016-08-24 06:13] gavanderhoorn commented on #130
@mfbailey91 wrote:

I may be a bit conservative, but I wouldn't be comfortable with changing MoveIt's default behaviour here. Collision checking is part of MoveIt's 'safety features', and I've seen enough configs that actually (implicitly) depend on MoveIt defaulting to using the visual geometry for the collision mesh. That is certainly not nice (and the author of the URDF shouldn't have done that

[2016-08-24 06:41] alemme commented on #116
@mikeferguson I found [collision_plugin_loader.h](https://github.com/ros-planning/moveit/blob/4ac0c7432d335f57aab6836cbcaaac3fccf4b6f9/moveit_ros/planning/collision_plugin_loader/include/moveit/collision_plugin_loader/collision_plugin_loader.h)
This seems to be the only file where the collision_plugin.h is included, correct?

[2016-08-24 08:05] rhaschke commented on #141
I agree with @davetcoleman, that it suffices to have Travis checking in place for development.

[2016-08-24 11:35] scottpaulin commented on #1
Sorry @130s , I should have assigned it. I have also been taking forever to get it done...

Does anyone know if catkin does something special to allow ros:: package::getPath() to work?
`std::string resource_dir = ros::package::getPath("moveit_resources");`

Coveralls automagically generates a make target, which creates a test executable with the package's unit tests. When I run this test executabl

[2016-08-24 12:37] ksatyaki commented on #15
@davetcoleman I have merge my repos into the moveit repo preserving commit history. However I have ros-indigo. I am not able to get rid of the FCL errors even if I have geometric_shapes source. Uninstalling the deb version removes all the ros-indigo- packages. So I can't do that. Any suggestions?

[2016-08-24 16:42] mamoll commented on #118
The relationship between costs and states/paths is the tricky part. The cost infrastructure needs to be flexible enough to be able to express a wide variety of cost functions and allow users to easily define their own cost function. This is exactly what we did in OMPL (well, actually, @giogadi did almost all of the work). This doesn't mean that all optimizing planners can suddenly plan optimal pla

[2016-08-24 16:46] mamoll commented on #117
Perhaps this is not completely obvious, but the moveit_ompl_planning_interface (or OMPL) does not require that a planning algorithm uses sampling, so in principle if someone wanted to create a plugin that implements, say, Multi-Heuristic A\*, then this would be much easier with this new plugin system.

[2016-08-24 18:13] tfoote commented on #141
Indeed the ros buildfarm jobs are designed to prioritize accuracy and correctness over speed. We do have caching so repeated builds on the same executor can use cached environments. For this case a slightly customized version running on travis with optimizations that use a preinstalled environment can definitely speed things up by avoiding lower level package installation. However that comes at th

[2016-08-24 19:42] dirk-thomas commented on #141
@davetcoleman You mention above that "it frequently has false negatives". As far as we are aware the number of false positives has been greatly reduced with the new build farm which was deployed over half a year ago. If you would point to specific builds we could take a closer look and see if they are actually false positives and if there is anything we can do about it to be classified correctly.

[2016-08-24 19:50] dirk-thomas commented on #141
The separation between "build-and-install" and "build-and-test" is described in the build farm docs: https://github.com/ros-infrastructure/ros_buildfarm/blob/master/doc/jobs/devel_jobs.rst

One reason is to detect wrong invocations of tests when the users didn't want tests to be configured. One example of that is in this CMake code: https://github.com/ros-planning/moveit/blob/f254737b8c1ef83ad4fce

[2016-08-24 23:17] rhaschke commented on #1
std::string resource_dir = ros::package::getPath("moveit_resources");

The Travis script sources the devel/install space to pull in those.

However, I have prepared a fix, which will work without sourcing any workspace. This will go on top of https://github.com/ros-planning/moveit_resources/pull/7 and #83.

[2016-08-25 04:06] dirk-thomas commented on #141
I just tried a test build with all dependency installations folded into a single apt call (https://github.com/ros-infrastructure/ros_buildfarm/commit/53a581fc1149f165d3ecfe6003738f264a967bda). The time to install all dependencies shrank to 6 minutes. Overall the devel job finished in 1.5h (http://build.ros.org:8080/job/__test_Jdev__moveit__ubuntu_trusty_amd64/2/).

[2016-08-25 05:18] rhaschke commented on #125
How do you want to disable a particular default capability?

[2016-08-25 06:30] davetcoleman commented on #15
I don't know what errors you are referring to, should work fine in indigo. The trickery is only for kinetic. If your problem is with kinetic, I'd switch to shadow-fixed because geometric_shapes was just released

Travis CI will test if it compiles - I've put a lot of time into making it work well for MoveIt

[2016-08-25 07:35] davetcoleman commented on #141
Could we get a longer build time if no cache is available?

This could easily be the case, I was speaking from 5 years of bombarding emails and I have since learned to ignore those emails. I don't know if its still an issue anymore, thank you for working on it and sorry if I'm making outdated negative claims.

That sounds really promising! How can we make that a permanent change?

[2016-08-25 07:37] davetcoleman commented on #125
My thought: currently it's [opt-in](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_setup_assistant/templates/moveit_config_pkg_template/launch/move_group.launch#L49):

[code]

we could also add a blacklist:

[code]

Note the **disable_capabilities**

[2016-08-25 08:15] v4hn commented on #125
My initial thought was to keep a list of "default capabilities" in the code, or maybe there even is a pluginlib
interface for "give me all plugins from the `moveit_ros_move_group` package that are MoveItCapabilities,
and load these on startup. To override this behavior, one could specify a ROS parameter `no_default_capabilities`.

Now that I read Dave's proposal, I realize that people who make use

[2016-08-25 08:48] mintar commented on #126
Here you go: ros-planning/moveit.ros.org#47

[2016-08-25 08:54] rhaschke commented on #125
I actually like the fact, that you explicitly need to specify which capabilities to load. For example, one might want to replace one of the default capabilities with an own implementation. As long as the name matches, this will be perfectly fine. If a list of default capabilities is loaded silently, this might change the behaviour in unexpected ways as well.

That's available and used, for example

[2016-08-25 11:21] de-vri-es commented on #138
It seems like a needless omission to me. Internally an `std::deque` is used which has good performance for deleting at both ends.

I'd even say it would be nice to expose an API compatible with the Container concept (or possibly a meaningful subset). That would enable easy usage of generic algorithms. But looking at the current interface that does not seem easy without breaking backwards compatibi

[2016-08-25 14:55] v4hn opened #156 "rviz display should default to `move_group/monitored_planning_scene`"
Another rather common problem of new users to MoveIt is that they do not realize that they should
change the topic of the display from `planning_scene` to `move_group/monitored_planning_scene` to see the internal state of the `move_group` (including a maintained octomap).
This definitely confused me a lot two years ago and I just noticed that this issue still exists (https://github.com/ros-plannin

[2016-08-25 15:14] Levi-Armstrong commented on #136
I recently been working a lot with the FCL collision robot code so I will see if I can help locate the issue. Looking at the code, the FCL collision robot uses the robot_model method [getLinkModelsWithCollisionGeometry](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/collision_detection_fcl/src/collision_robot_fcl.cpp#L42) which should get all links with collision geometry re

[2016-08-25 15:28] v4hn commented on #136
+1 This remains a severe and safety critical issue in MoveIt and should finally be resolved!

Thanks for looking into this Levi!

[2016-08-25 15:39] gavanderhoorn commented on #136
Am I understanding you correctly @Levi-Armstrong that you feel this is not / should not be an issue anymore?

[2016-08-25 15:40] v4hn commented on #130
Changing the default is no option.
Given the current behavior of MoveIt, I would expect a flag to disable this functionality.
How about having a new optional item in the srdf that marks links as virtual/never-colliding?
Something like
[code]
I would welcome support for this.

opinions?

[2016-08-25 15:47] gavanderhoorn commented on #130
@v4hn wrote:

isn't that what I (admittedly while using more words) proposed? :)

[2016-08-25 16:07] Levi-Armstrong commented on #136
@mikeferguson, I am not sure if this is the issue, but if you are trying to get links that are in the kinematic model for the group but outside the group this is done using a separate method of the JointModelGroup. If you call the JointModelGroup::getLinkModels() you will only get links that are part of the joint group which does not include links outside the group. Here is an example (URDF descri

[2016-08-25 16:12] v4hn commented on #130
You pretty much got me there. :)
The difference is that in one case this would extend the existing `disable_collisions` interface and in the other we would add a new one. I wanted to have both versions up for discussion.

I'm not sure which one is better, actually. Both would need support in the setup assistant.
Either way, I would prefer a mechanism that is explicitly interpreted as "this link ne

[2016-08-25 16:12] Levi-Armstrong commented on #136
@gavanderhoorn: I don't thinks it is an issue anymore. I think it my be the case describe in my previous comment. I recently ran into this issue myself.

[2016-08-25 16:18] v4hn commented on #136
@Levi-Armstrong you don't think this is an issue anymore but you recently ran into the issue yourself?
You lost me...

We recently had an incident in our lab that bend a pringles can out of shape after attaching it to a link without geometry, so I believe this is still an issue.

[2016-08-25 16:32] mikeferguson commented on #156
+1

[2016-08-25 16:38] gavanderhoorn commented on #136
@v4hn wrote:

I think the first *this* refers to the issue reported by @mikeferguson, while the second *this* refers to the issue that @Levi-Armstrong describes in https://github.com/ros-planning/moveit/issues/136#issuecomment-242444391.

[2016-08-25 16:41] mikeferguson commented on #136
I cannot confirm or deny that this is still an issue -- towards the end of World MoveIt Day, I started porting issues out of the old repos so they don't get lost, and I started with tickets that could be critical bugs and that I knew for a fact were definitely an issue at *some point* in time, so this ended up being one of the first tickets to be ported, because I know that I ran into it ~2 years

[2016-08-25 17:11] v4hn commented on #136
@gavanderhoorn in that case, the issue still exists in two *different* parts:

- if the EEF is a link without attached geometry, collisions for objects attached to it are not checked (I suppose still a problem according to my latest accident)

- objects attached to links that are not directly part of the chain are not checked. (the case described by @Levi-Armstrong )

[2016-08-25 17:24] de-vri-es commented on #130
I do think `disable_collision` makes sense. It perfectly describes the wanted behaviour.

Maybe something alone the lines of one of these:
[code]

I like the looks of the first one most. The third one seems like a pretty bad idea in case someone forgets a `link2` attribute.

[2016-08-25 17:37] gavanderhoorn commented on #130
@v4hn wrote:

instead of "this link never collides with other links", so expanding the special value you propose to all known links is no option.

I'm actually always a fan of the strictest and most pedantic options if given a choice, but in this case I don't really see a difference between the two options you describe: in the context of a MoveIt planning scene, what other entities are there than

[2016-08-25 17:44] de-vri-es commented on #130
Well, attached collision objects and octomaps can also cause collisions. You don't want those to have collisions with these kind of links. That makes `link2="*"` less logical, since the other object is not necessarily a link.

It would also make '*' a problematic link name. I think '*' is a pretty stupid link name, but the URDF wiki page [1] doesn't say anything about what is legal in a link name.

[2016-08-25 18:27] v4hn commented on #121
Thanks a lot for looking into this @jspricke !
This saved me a lot of work!

@davetcoleman @de-vri-es
This has nothing to do with the shared pointer conversions.

I just looked through them:

The only severe ones that could be problematic are:

@Levi-Armstrong's https://github.com/ros-planning/moveit_core/pull/295/files#diff-090bd42b3571985d04cec3f6ebf33a36R95
broke ABI when someone uses `Collisio

[2016-08-25 18:41] mikeferguson opened #158 "Add support for capsule collision checking"
Ported from https://github.com/ros-planning/moveit_core/issues/239

The capsule geometry distance computation has been implemented last year in fcl (see flexible-collision-library/fcl#37) and it would be nice to access this feature directly through MoveIT (see https://github.com/Karsten1987/sot_fcl_distance_computation/blob/master/src/DistanceComputation.cpp where a cylinder geometry is treated as

[2016-08-25 18:42] mikeferguson opened #159 "Collision checking ignores some collada meshes"
Ported from https://github.com/ros-planning/moveit_core/issues/202

I have worked around this for the time being by converting to .stl collision meshes, but when I use collision checking with the UR5 model from http://github.com/ros-industrial/universal_robot, it would see no problem with poking the arm through a table, as long as the elbow was sticking out far enough past the far side:

[code]

I

[2016-08-25 18:45] mikeferguson opened #160 "Improve time parameterization"
Using this to collect numerous tickets that I am closing on other repos -- this has been a common request as there are currently numerous ways to get glitches, and the current system does not respect acceleration limits

[2016-08-25 18:50] mikeferguson opened #161 "Improve IK performance for unreachable poses"
Ported from https://github.com/ros-planning/moveit_core/issues/40:

The IK seems quite fast but slows down a lot when requested to calculate an unreachable pose.

Idea: a certain set of poses could be precalculated as impossible. For example for a chain with only revolute joints any end position farther than the sum of the link lengths is impossible. Would it make sense to store such info (e.g. a

[2016-08-25 18:55] mikeferguson opened #162 "Store distance field for collision detection"
We can add the field to collision_detection::World, which is already passed to the CollisionWorld instance (the only other thing CollisionWorld API gives us is the RobotState for a particular check). This class also already gets all the callbacks for objects being added/removed/moved. Since the PlanningScene already has the World instance, we can simply add a method to getDistanceField and return

[2016-08-25 18:57] mikeferguson opened #163 "Ensure consistent convention for contact normals?"
Ported from https://github.com/ros-planning/moveit_core/issues/61. It is not clear if this was ever addressed and so this is marked as a question, but a possibly critical one for some collision detections

Previously, FCL was reporting normals that pointed from contact1 -> contact2 for certain types (primitives, I think), and from contact2 -> contact1 for Octomap.

We need to make sure there is a

[2016-08-25 18:59] mikeferguson opened #164 "association of kinematic solvers in complex move_groups depends on move_group names"
reported by @rhaschke in https://github.com/ros-planning/moveit_core/issues/257:

Consider a bimanual robot with Shadow robot hands attached to each arm. This will end up in a complex kinematic tree. We defined groups for both arms (ra1 and la1) for the 7-DoF arms (from base up to tool mount). Further, we defined groups (ra2 and la2) for the arms that also include the two additional wrist joints i

[2016-08-25 19:00] gavanderhoorn commented on #130
I didn't suggest it was a link name. I merely used it as an example for a 'special value' that would signify *all links* or *everything in the scene / world*.

[2016-08-25 19:02] mikeferguson opened #165 "workspace parameter does not influences planning for rotational joints"
Ported from https://github.com/ros-planning/moveit_core/issues/93:

Currently the workspace parameter only influences planning for planar & floating joints. So, the workspace definition does not affect the position of links that are moved by other types of joints (like in the case you display). Unfortunately, this is a missing feature.

https://groups.google.com/forum/?hl=ja#!topic/moveit-users/_1

[2016-08-25 19:03] de-vri-es commented on #159
I think the issue may be in Assimp, which enforces Y_UP convention for collada models. Basically, if a collada model uses anything other than Y_UP it is rotated until Y does point up [1].

rviz works around this by clearing the root transformation of the imported model [2]. I'm not sure if that won't break other situations where there *should* be a root transformation though. I'm afraid that what

[2016-08-25 19:05] mikeferguson opened #166 "PlanningScene::distanceToCollision returning large (possibly uninitialized) distances"
ported from https://github.com/ros-planning/moveit_core/issues/238:

I am getting some very large distances when using distanceToCollision. I have compared these to distances computed using checkCollision with distance set in the CollisionRequest. I am using the Universal Robot package on Indigo.

Output:

[code]

Code:

[code]

[2016-08-25 19:07] tfoote commented on #141
On Thu, Aug 25, 2016 at 12:35 AM, Dave Coleman <notifications@github.com>
wrote:

There's no way to know if the cache is available until you ask for the
content.

Please do look at them. We've entirely refactored it and are have added a
lot of infrastructure to detect infrastructure failures, suppress the
emails, and retrigger automatically. If you do get false failures please
ticket them for us t

[2016-08-25 19:07] de-vri-es commented on #130
Well, that is what I would avoid. Special values should not be legal link names in my opinion. Since the URDF specification doesn't seem to impose any restrictions on link names, that doesn't leave any room for special values.

[2016-08-25 19:12] dirk-thomas commented on #141
The referenced PR does not yet fold all installations into a single step. It only provides the infrastructure for folding. It currently only reduces the number of steps to 80 (due to limits within Docker).

To consider folding everything into one step (as it was done for the test build) I have to think a bit more about the pros and cons. Maybe there is some heuristic to at least leverage some of t

[2016-08-25 19:18] de-vri-es commented on #159
Note: If the above is the issue here, then it has to be addressed in `geometric_shapes` which does the actual loading of the mesh.

[2016-08-25 19:25] tfoote commented on #141
Sorry I didn't realize that you'd not just collapsed the installs within the fold, but also reduced it to one step.

Reducing it to one step will likely reduce the time for any individual job to build it's cache from scratch, but it will prevent sharing of caches between jobs. Which means that it will cause more cache building and require more storage for the overall system.

[2016-08-25 19:27] v4hn commented on #161
The proposed feature should be relatively simple to add to any (custom) `KinematicsBase` plugin.
The information does not belong in the srdf at least.

On the other hand I never had trouble with this...

[2016-08-25 19:42] mikeferguson opened #169 "OMPL/catkin include order"
Ported from https://github.com/ros-planning/moveit_planners/issues/66

The include order for OMPL and catkin in ompl/CMakeLists.txt seems wrong to me. However, there are already two commits switching this around: https://github.com/ros-planning/moveit_planners329fb6300c6cb8540d551f1e002fa9c57c9590b9 and https://github.com/ros-planning/moveit_plannersb888117ebb56e71e10b3d4da110d8ac9d95190a0, so mak

[2016-08-25 20:10] v4hn commented on #169
@dornhege

In theory I agree with you and `OMPL_INCLUDE_DIRS` should go first.
But this breaks *arbitrary package overlays* in OSRF's ROS indigo, because osrf installs OMPL in `/opt/ros/indigo/`.
Thus, no matter which workspace you sourced, the headers from `/opt/ros/indigo/` will be preferred.

Does this explanation resolve this ticket?

[2016-08-26 02:59] Levi-Armstrong commented on #136
@v4hn By default the collision robot does not care about groups and the only way a group can affect the collision checking is if in the collision request the programmer enables the group. Are you able to test it where you enable it and disable the group for collision checking, which is done by setting [this](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/collision_detection/

[2016-08-26 08:44] #156 closed

[2016-08-26 08:53] scottpaulin opened #172 "Mesh filter tests hang when run locally"
These mesh filter tests are disabled in the Travis build because there is no display available ([something we have been working on but got stuck](https://github.com/ros-planning/moveit_ci/pull/1)).

To reproduce just run the unit tests for moveit (catkin run_tests) on a local machine.

[2016-08-26 08:54] scottpaulin commented on #172
Just saw pull request #171 which fixes this.

[2016-08-26 08:54] #172 closed

[2016-08-26 12:18] mat-l commented on #64
Sorry for the late response.
I used git clone to get the kuka_experimental package and it worked fine. I still don't know why exactly I get this error but I guess you are right and it is something in my system.
Maybe I messed up the workspace overlay.
Thank you anyway. I close the issue then.

[2016-08-26 12:18] #64 closed

[2016-08-26 12:27] v4hn commented on #166
@scottpaulin I'm not sure this interests you anymore, but here's an explanation:

`PlanningScene::distanceToCollision(RobotState&)` only checks the robot state against *the scene*.
It does **not** perform self-collision checking.

`PlanningScene::checkCollision` on the other hand exposes a general collision checking interface,
so if you ask for collisions there, this *includes* self collisions. If

[2016-08-26 12:27] #166 closed

[2016-08-26 12:35] v4hn commented on #138
I know this is more than a year ago, but @skohlbr patches are still welcome :)

+1 for adding simple functions to remove the first/last `n` waypoints.
If it is compatible with the current API, also +1 to become compatible with C++ containers!

[2016-08-26 12:37] v4hn commented on #126
continued in https://github.com/ros-planning/moveit.ros.org/pull/47

[2016-08-26 12:37] #126 closed

[2016-08-26 12:38] v4hn commented on #114
@davetcoleman could you update the state of this issue please? I believe you improved some of this already.

[2016-08-26 12:51] v4hn commented on #116
@mikeferguson do we want to *change* the current behavior and make the FCL implementation a plugin too?

The documentation aspect of this issue can be discussed in https://github.com/ros-planning/moveit.ros.org/pull/48 .

If we do not want to change the current implementation, I suggest to close this ticket again.

[2016-08-26 12:54] v4hn commented on #123
This resolved part of the issue: https://github.com/ros-planning/moveit/issues/75

I still believe we need a warehouse plugin that relies on a database-client that works out-of-the-box on debian and standard Linux distributions.

[2016-08-26 12:58] v4hn commented on #111
@uwesterh you showed me some pictures you embedded into the docs on Tuesday.
Why didn't you file a request to add them?

[2016-08-26 13:03] v4hn commented on #103
To the best of my knowledge, this is completely resolved in #148.
Let's continue it there.

[2016-08-26 13:03] #103 closed

[2016-08-26 13:52] Levi-Armstrong commented on #136
You lost me...

I don't think there is an issue with collision checking when having links with geometry attached to links without. I currently have several cells which are setup where the end effector is attached to tool0 which has no geometry and it has no problem detecting collisions for the end effector.  Now that being said there could be an issue with how moveit collects the [updated list of

[2016-08-26 14:29] Levi-Armstrong commented on #136
I just did another test case to see what happens if you define the move_group such that it does not include the last link: chain link1-tool0. I tested it in rviz and MoveIt still detects collision between the end effector and other objects.  I don't think there is an issue anymore. Also given that almost every robot within  ros has a defined tool0 without geometry, I would have expected more recen

[2016-08-26 16:23] davetcoleman commented on #125
@v4hn's change would prevent us from having to send out emails like this everytime we want to change/add a capability:

https://groups.google.com/forum/#!searchin/moveit-users/move_group$20capability%7Csort:relevance/moveit-users/mUQqqFsGu9U/VSj0tswHfHAJ

We are currently going to have to send out a similar email for the new execute action. Often the maintainer for a moveit_config package has move

[2016-08-26 16:56] v4hn commented on #47
With #170 this script throws an exception instead of a segfault.
I don't think we will change the interface for it to work in a different way.

Closing as resolved.

[2016-08-26 16:56] #47 closed

[2016-08-26 17:24] davetcoleman commented on #18
I think we are nearing a beta version of the Kinetic release to bloom. The last thing I'd personally like to see before releasing is a switch to C++11 shared_ptrs in the public header, which is in progress at https://github.com/ros-planning/moveit/issues/48 thanks to @de-vri-es

Is there anything else we need to wait for? Even when we release Kinetic I think we should not consider it "stable" / wo

[2016-08-26 17:28] davetcoleman commented on #5
Fixed

[2016-08-26 17:28] #5 closed

[2016-08-26 17:34] davetcoleman commented on #121
@jspricke could you elaborate on how you created this "compat_reports" - I don't know what compat is

[2016-08-26 17:36] davetcoleman commented on #160
+1 this is a much needed enhancement in moveit. @adolfo-rt wrote up a great synopsis at https://github.com/ros-planning/moveit_core/issues/167

[2016-08-26 17:45] v4hn commented on #121
On Fri, Aug 26, 2016 at 10:34:07AM -0700, Dave Coleman wrote:

@davetcoleman This is the standard output of https://github.com/lvc/abi-compliance-checker/ .
Creating these reports consists of compiling the last released version of the libraries in debug mode and the current head too.
The tool(s) can then be used to compare the two versions of each library (and its headers)
and as you see it genera

[2016-08-26 17:48] davetcoleman commented on #66
Thanks @velveteenrobot

[2016-08-26 17:48] #66 closed

[2016-08-26 17:56] davetcoleman commented on #169
I've always been frustrated that a binary install of OMPL over-rides my source install version, and this has tripped me many times. So I would prefer it to be changed back. But I'd like to understand @v4hn's explanation better - what do you mean by

? Are you referring to the Ubuntu-universe ``libompl-dev``?

[2016-08-26 18:05] mikeferguson commented on #116
I think ideally we would make FCL a plugin, however, I think there are too many places where things use FCL directly, instead of through the planning scene, and so we would end up with a huge number of changes to implement this (and if we don't do it right, we might end up violating ODR).

[2016-08-26 18:07] mikeferguson commented on #166
@v4hn -- thanks for looking into this

[2016-08-26 18:14] v4hn commented on #18
On Fri, Aug 26, 2016 at 10:24:36AM -0700, Dave Coleman wrote:

I'm not sure right now.

I believe I would like to see https://github.com/ros-planning/moveit/issues/80 resolved
to settle open issues in the message API for kinetic. I have one other change to the `Grasp`
message that I would like to see in kinetic, but I didn't get around to provide a MoveIt patch for it yet...

I know `moveit_msgs`

[2016-08-26 18:31] 130s commented on #18
To make a release of a package there should be debs of all dependent packages already available, and generating debs in shadow repo for the first takes certain amount of time (usually 3+ days?). Once it's released, the successive release takes less time for debs to be built. Since I thought `moveit_msgs` and other packages that are depended by packages in `moveit` repo are more stable, I wanted to

[2016-08-26 18:31] mikeferguson commented on #123
During WMD, @alexhenning started on an SQLlite-based database client -- which should be readily available on all platforms. Unfortunately he ran out of time to finish it, we're going to continue and find a time to wrap that up (but I'm not sure exactly when)

[2016-08-26 18:32] mikeferguson commented on #123
I should also mention, I ran out of time to actually get the mongo plugin mentioned above tested/ported, as it took longer than expected to get Kinetic things happy for fully functional simulation of Fetch+MoveIt

[2016-08-26 18:35] mikeferguson opened #176 "setup assistant: split command line and gui tools"
Ported from https://github.com/ros-planning/moveit_setup_assistant/issues/113

It would be great have standalone tools library and command line tool without QT dependencies.
I suggest to move the moveit_setup_assistant into a sub-directory and to factor out the non-GUI code into a moveit_setup_tools package.

[2016-08-26 18:38] v4hn commented on #116
On Fri, Aug 26, 2016 at 11:05:45AM -0700, Michael Ferguson wrote:

goofy, really. So MoveIt is bound to FCL for now.
Do you think it would require a restructuring of the `CollisionPlugin` interface to even allow MoveIt to use FCL exclusively through a plugin API?
The current plugin API relies on the plugin setting the collision plugin in *the planning scene*.

Which other locations did you have in

[2016-08-26 18:39] mikeferguson commented on #176
Might also be good to add additional command-line arguments as mentioned in https://github.com/ros-planning/moveit_setup_assistant/issues/87

[2016-08-26 18:39] davetcoleman commented on #114
I was think I'd just close this issue since it didn't get address on WMD and none of it is a big deal

[2016-08-26 18:39] #114 closed

[2016-08-26 18:40] v4hn commented on #169
This means that if you use the standard ROS version of OMPL installed to `/opt/ros/indigo`,
moving `OMPL_INCLUDE_DIRS` first will entail that the sources will *always* favor the headers in `/opt/ros/indigo/include/`.
Thus, if you overlay the `tf` package in your current workspace and changes something there, `moveit_planners_ompl` will still include the "old" headers in `/opt/ros/indigo/include/tf

[2016-08-26 18:42] mikeferguson opened #177 "setup assistant: Clarify UI for creating planning groups"
From https://github.com/ros-planning/moveit_setup_assistant/issues/59:

When creating a planning group, there are 4 buttons, one of which says it is "recommended" and the others say they are optional. What is not clear is that you should do one of them, but not all of them.

Coming to this without reading the tutorial, I thought I needed to enter all the joints, all the links, and the chain. Actua

[2016-08-26 18:43] mikeferguson opened #178 "setup assistant: read in custom values from existing moveit_config package"
From https://github.com/ros-planning/moveit_setup_assistant/issues/32:

For example, changes in:
joint_limits.yaml
ompl_planning.yaml
package.xml version number

[2016-08-26 18:49] mikeferguson commented on #116
The collision plugin interface should require no refactoring -- it actually doesn't (re)define the collision checker interface -- all the plugin does is know how to create an instance of the appropriate collision checker and add it to the planning scene.

I'm not sure all of the locations where there are direct access -- maybe it's less than I thought and this really wouldn't be a challenge, but I

[2016-08-26 18:59] davetcoleman commented on #17
Ready for the second step - adding integration tests

[2016-08-26 19:15] v4hn commented on #176
@ipa-mdl Why? you never gave a reason why this would make sense.

[2016-08-26 19:32] davetcoleman commented on #121
Great, and I added docs: https://github.com/ros-planning/moveit.ros.org/pull/51

[2016-08-26 19:32] v4hn commented on #116
On Fri, Aug 26, 2016 at 11:49:48AM -0700, Michael Ferguson wrote:

I know, but it adds it to the planning scene only, so everything that (might) want to use collision checking would have to have access to the scene.
This is why I was asking.

That would be `collision_distance_field` and `kinematic_constraints` then.

[2016-08-26 19:37] davetcoleman commented on #18
For sure. But we should move quick on this.

[2016-08-26 19:47] davetcoleman commented on #169
Why did you use ``tf`` as your example - this is confusing to me...

I would like the source-built version of OMPL to override ``/opt/ros/indigo`` debian version - in the current configuration:

[code]

This is not what happens - correct?

[2016-08-26 19:51] 130s commented on #100
- [x] Wait for public sync --> Done on Aug 25 http://discourse.ros.org/t/new-packages-for-indigo-2016-08-25/458
- [ ] #121
- [ ] #63?

(I've copy-pasted this to the top https://github.com/ros-planning/moveit/issues/100#issue-172498940 so that we could better keep track of the status)

What else?

[2016-08-26 20:03] davetcoleman commented on #116
Doesn't seem worth it to me to change FCL to be a proper plugin until we have other common alternative collision checking plugins

[2016-08-26 20:06] davetcoleman commented on #100
Looks good to me

[2016-08-26 20:37] 130s opened #181 "More coverage in .travis.yaml"
I noticed that we might also want to test Debs on Travis now that the Debs of dependent packages are available. Once `moveit` is released into all IJK, we can update .travis.yaml.

Advantage of more coverage (source, Debs): Obviously we can be more sure about the stability.

Drawback: Longer runtime of CI jobs. CI job can inevitably fail if only a part of the change that traverses over multiple pa

[2016-08-26 20:42] davetcoleman commented on #181
What do you mean by test debs? How would you implement this?

I don't think it needs to increase the CI runtime if you just add a new job to the [matrix](https://github.com/ros-planning/moveit/blob/indigo-devel/.travis.yml#L15)

[2016-08-26 20:54] v4hn commented on #169
On Fri, Aug 26, 2016 at 12:47:16PM -0700, Dave Coleman wrote:

Because `tf` is one of the dependencies of the `moveit_planners_ompl` packages and we are talking about the `moveit_planners_ompl` (and only this) module, that would falsely prefer the headers in `/opt/ros/indigo/include/tf` to those in your overlay.

This is not about debian's version. Ubuntu xenial's version 1.0 is installed to /usr

[2016-08-26 22:12] davetcoleman commented on #169
Thanks for that explanation. I do not have the motivation to push for this right now (too many MoveIt! emails already) so instead I just documented it and maybe someone in the future will pursue it

https://github.com/ros-planning/moveit_tutorials/pull/8

I will assume no one else does either. Please re-open if you want to work on this low-priority annoyance

[2016-08-27 09:21] ipa-mdl commented on #176
The key is "without QT dependencies". I have written the command line tools (ros-planning/moveit_setup_assistant#108) for headless creation and maintenance of SRDFs. With extensive automated testing (Travis etc.) and container-based deployment (Docker etc.) clean dependencies get more important again.

`moveit_ros_visualization` adds 100 debian packages and 350 MB of disk usage which are not neede

[2016-08-27 21:42] v4hn commented on #176
Oh, I haven't seen the `collision_updater` before. Sounds like it's pretty useful!
@ipa-mdl: Could you maybe add a short description of this tool to [the setup_assistant tutorial](http://docs.ros.org/indigo/api/moveit_tutorials/html/doc/setup_assistant/setup_assistant_tutorial.html#additional-reading)?
That would be awesome!
Note the "Edit on Github" link on top of the page :)

[2016-08-28 04:35] davetcoleman commented on #176
+1 to adding to the tutorial

[2016-08-28 09:40] scottpaulin commented on #1
update: currently dependant on fixing failing assertions in unit tests (when debug build is used).

[2016-08-28 13:41] scottpaulin opened #185 "UnionConstraintSampler does not satisfy constraints for one sampler"
In the case of samplers_.size() == 1, it looks like the UnionConstraintSampler just samples a random state (set with state.setRandomPositions()) instead of using samplers_[0]. This means that the returned state might not satisfy the constraints of samplers_[0].

[code]

[2016-08-28 16:03] de-vri-es commented on #185
From the snippet you quote it looks like there is always a call to `samplers_[0]->sample(...)` if `samplers.size() > 0`. Note the condition on the `if` statements is `>= 1`, or in other words `> 0`.

It also looks like that can be folded into a single loop starting at `i = 0`, but it doesn't seem to ignore the samplers.

[2016-08-28 20:29] v4hn commented on #185
@scottpaulin Sorry, but I agree with @de-vri-es , your explanation does not match the code you reference.
In the first condition `samplers_[0]->sample` is called if it exists.
Please elaborate or close the issue :)

[2016-08-29 11:24] #17 closed

[2016-08-29 15:03] gavanderhoorn commented on #64
I didn't imply that you should close your issue, just that the part about the errors with the package manifest of `kuka_resources` should probably be reported somewhere else (ie: at `ros-industrial/kuka_experimental`).

If after fixing that issue you can then successfully execute your scripts, it would make sense to close this issue.

If you are still having issues with the `package.xml` from `kuk

[2016-08-30 09:25] scottpaulin commented on #185
Ah sorry I missed the = part :/.

[2016-08-30 09:25] #185 closed

[2016-08-30 10:43] scottpaulin commented on #140
Thanks for the really detailed issue @johnnieleung

You basically nailed the issue on the head here:
`The problem is that after state.setJointGroupPositions(jmg_, values_) the state is not updated. Therefore when followed by a call to an IKConstraintSampler, the robot state is actually dirty, thus causing the warning message.`

You are right that RobotState::update (or RobotState::updateLinkTransf

[2016-08-30 10:54] scottpaulin commented on #166
Ah that makes sense. Thanks for the explanation and doc updates @v4hn ! I'm sure the improved docs will save other developers time and possibly bugs in the future.

[2016-08-30 11:32] Jntzko opened #190 "Attached bodies in RViz don't show a trail"
At the moment attached bodies are not displayed in the trail of the generated robot trajectory.
However, it would be nice to see them there.

![rviz_screenshot_2016_08_30-13_30_17](https://cloud.githubusercontent.com/assets/18333271/18087542/0f60e0a2-6eb6-11e6-9add-080f92db6def.png)

[2016-08-30 13:30] Jntzko commented on #136
@v4hn and I created a setup were you can see that there is no collision checking for collision objects attached to links without collision geometry (at least with this setup).

The first picture shows a trajectory where the cylinder passes through the collision object when it is attached to `s_model_tool0`, the last link in our move group. This link has no collision geometry.
The group is declared

[2016-08-30 13:37] v4hn commented on #136
@Levi-Armstrong The setup @Jntzko just posted isolates the bug we experience and it definitely is a safety issue that should be fixed.
Could you have a look at it please? You seem to be have read through that part of the code quite a bit, so maybe you can find the bug with a working test-case?

[2016-08-30 22:40] Levi-Armstrong commented on #136
No problem, I will take a look. Thanks for the test case.

[2016-08-31 04:19] Levi-Armstrong commented on #136
@v4hn and @Jntzko, thanks for the test case it helped a lot. I did not realize the issue was when a object was dynamically attached to the robot.  I was able to locate the issue, it will occur if a group is enabled during the collision check which moveit enable by default in the collision request. I was able to resolve the issue so you should be seeing a PR soon.

[2016-08-31 20:29] jrgnicho opened #192 "CollisionRobot distance calculation isn't group specific"
The [CollisionRobot::distanceSelf](http://docs.ros.org/indigo/api/moveit_core/html/classcollision__detection_1_1CollisionRobot.html) returns  the shortest distance between any two links in the robot at the given state.  However, the current interface doesn't allow to calculate the distance between a link in a given planning group and another link that's not part of the group.  Since motion plannin

[2016-08-31 21:48] de-vri-es commented on #48
If #193 is merged, that should be all explicit `shared_ptrs` regarding moveit types (barring `moveit_experimental`, chomp and sbpl).

However, there are 4 uses of `boost::weak_ptr` for moveit types in `moveit_core`. These are not exposed in the API, but they will break the build when switching to `std::shared_ptr`. Additionally, there are two classes inheriting from `boost::enable_shared_from_this

[2016-09-01 08:33] v4hn commented on #48
On Wed, Aug 31, 2016 at 02:48:47PM -0700, Maarten de Vries wrote:

You're right, `weak_ptr`s are a problem if we tell people to *always* use the `${Class}Ptr` typedefs.
On the other hand I'm not sure how useful they are w.r.t. MoveIt class instances. I never used them with MoveIt datatypes up to now.

I'd propose to add a pull request for the additional typedefs you proposed and switch MoveIt's in

[2016-09-02 07:29] 130s commented on #100
Might be a little early to discuss, but because the next release for Indigo will most likely include ABI change, ideally the version number reflects that to show the incompatibility between previous release. Usually AFAIK this is done by incrementing major/minor version.

- [Earlier we agreed that the next Indigo release will take 0.7.3](https://github.com/davetcoleman/moveit_merge/issues/9#issuec

[2016-09-02 07:40] mikeferguson commented on #100
It's still < 1.0, so per ROS guidelines, ABI is not guaranteed anyways. I'd say leave it as 0.7.3.

[2016-09-02 08:46] v4hn commented on #136
Closed by #191

[2016-09-02 08:46] #136 closed

[2016-09-02 10:07] v4hn commented on #121
I added https://github.com/ros-planning/moveit/pull/196 to address the dynamic reconfigure parameter breakage.

[2016-09-02 11:02] v4hn opened #197 "Change Default Planner"
Users often complain about ridiculous trajectories when they first use MoveIt.
@130s ' video https://www.youtube.com/watch?v=e4XMzfvK6II beautifully demonstrates that the default planner is not really adequate anymore.

@davetcoleman could you look into the details here and provide a patch that changes the default planner to something that - in your experience - produces better trajectories?

[2016-09-02 11:29] v4hn commented on #100
In my opinion, this whole "we are not 1.0 yet" point is a huge farce.
MoveIt is one of the biggest promoters of ROS, it has been used by many groups for *years* but nobody should rely on *anything* being stable?
Whatever.

I agree with @mikeferguson though, we misuse the version notation anyway. The notation is not meant to support multiple branches of the software as we have them with different R

[2016-09-02 11:36] v4hn commented on #100
From my point of view https://github.com/ros-planning/moveit/issues/121 has been addressed now,
as good as we can and are willing to. I checked the bullet item in the top post.

[2016-09-02 12:48] v4hn commented on #100
#187 is a block too.
We don't want our users to live with unintuitive behavior of the new author-information field in the setup assistant.

[2016-09-02 15:10] mat-l commented on #64
I appreciate the offer!
I was not able to execute the script after all but I found another potential way to complete the task by using the Cartesian Path Planner Plugin for MoveIt!.
I am pretty sure that something on my PC causes the problems and not your package.xml .
That is why I closed the issue. If I get the same error again after cleaning up my workspace I will make sure to file a new issue

[2016-09-02 17:20] mikeferguson commented on #100
@v4hn -- the thing about 1.0 is that you've reached a point where (A) APIs have gone a complete review process and (B) the system is fairly stable and bug-free. We've never actually done an extensive review of the APIs, yes, we've reviewed things here and there along the way, but not in the way that ros_comm or navigation stack did when they approached 1.0. Since there is a very limited amount of

[2016-09-02 17:23] mikeferguson commented on #197
Is it really that the planner is wrong? I've seen this as well (recently) and based on the output I saw on the terminal, it looked like it was the right planner but with either no (or default) parameters.

[2016-09-05 11:12] bhavyadoshi26 opened #200 "Can't locate move_group node in package moveit_ros_move_group"
I have done the binary installation of the MoveIt for Jade using [this](http://moveit.ros.org/install/) link. After doing this, I followed [this](https://www.youtube.com/watch?v=asg-thB3mwA) video and created the config package for my manipulator. After my package was created, I ran the demo.launch for the first time and I got the following error :

[code]

The URDF works perfectly fine with RViZ

[2016-09-05 11:25] gavanderhoorn commented on #200
Directed here from [MoveIt demo.launch error](http://answers.ros.org/question/243002) on ROS Answers.

[2016-09-06 13:10] rbbg commented on #160
I agree that this would be a welcome improvement and would like to help out.

I was wondering about the performance of the TOPP library (If I read the paper right it states 14ms for a 7dof 1000waypoint trajectory) so I forked @davetcoleman's moveit_topp repo ([rbbg/moveit_topp](https://github.com/rbbg/moveit_topp)) and created a planning_request_adapter so it can be easily used from within MoveIt!

[2016-09-06 14:27] AdrianZw opened #201 "MoveGroupExecuteTrajectoryAction vs. MoveGroupExecuteService"
Recently, I did an update from a very old version of MoveIt to the current version of the jade-devel branch.  So far everything was working fine with the RVIZ interface and my configuration for the Jaco2.
Using RVIZ I can plan and execute path on my jaco2. However, I realized that previously working programs using the MoveGroup interface do not execute any path any more.
Instead I get the followin

[2016-09-06 15:36] rbbg commented on #160
Fixed the problem I mentioned earlier: the acceleration limits defaulted to 0.0 when they were not set in the kinematic config. I haven't done any extensive testing but TOPP usually takes <200ms on a 7dof manipulator, but I've seen it take as long as 600ms. The trajectories look pretty good but to get a better idea it will be nice to take a closer look at the accelerations that both iptp and topp

[2016-09-07 01:34] v4hn commented on #160
Good to hear you got it to work!
It would be nice if you could keep us updated on your results :)

[2016-09-07 01:44] mamoll opened #202 "Dynamically Reconfigure Robot/Scene"
I am reposting an [issue that @ndantam had opened on the old moveit_core issue tracker](https://github.com/ros-planning/moveit_core/issues/249). There is still no scene graph support in MoveIt! AFAIK. This would be extremely useful to task and motion planning.

@ndantam's original bug report:

It would be useful to able to dynamically change the kinematics of the
robot. For example, picking a tray

[2016-09-07 14:50] rbbg commented on #160
I have made a small test script to store and compare identical trajectories using the different parameterization methods. The next two figures demonstrate the difference between IPTP and TOPP, I think you can guess which is which :) Note the acceleration limit is unspecified and thus set to 1.0, so they seem to get violated by both methods, but a little more for IPTP.

![iptp](https://cloud.github

[2016-09-07 23:50] davetcoleman commented on #190
This should be possible since that Rviz display plugin takes as input a ``moveit_msgs/DisplayTrajectory.msg`` that includes a ``moveit_msgs/RobotState.msg`` that includes a vector ``AttachedCollisionObject[]``

You simply need to add this notion to ``moveit/moveit_ros/visualization/rviz_plugin_render_tools/src/trajectory_visualization.cpp``

[2016-09-08 06:51] rbbg commented on #197
This is pretty much expected from (non-optimal) random sampling based planners and they will all occasionally provide these paths. Better configuration/parameters help but do not eliminate it completely. The planner that is selected as an alternative (RRTConnect) does the same, but perhaps a little less than the current default (LBKPIECE).

However, the current default planner is not set by MoveIt

[2016-09-08 08:37] v4hn commented on #197
Thanks for the background Ruben!

Most of all, I wanted to point out that, in my experience, the out-of-the-box experience of MoveIt suffers *a lot* (and I mean **a lot**) because the default planner generates pretty random trajectories 9/10 times and things look **much** better once you use a different planner (e.g. BKPIECE).

I think it might even be a good idea to switch to a Path-Length-optimi

[2016-09-08 09:05] gavanderhoorn commented on #197
Just another data point, but

@v4hn wrote:

We've seen some pretty convoluted paths coming out of that for certain robot geometries as well. So much so, that some people have even decided to avoid any kind of KPIECE planner by removing the projection parameters from the srdf (see ros-industrial/universal_robot#193 and ros-industrial/universal_robot#196 fi). That was before ros-planning/moveit_ros#

[2016-09-08 12:22] gavanderhoorn commented on #160
A bit of a 'me too +1' post, but I must say that subjectively, I like the TOPP vel & accel profiles a lot better than those out of IPTP. It also looks like the position curve is 'much' smoother, which would seem to suggest a nicer motion (although we only see a single joint here).

[2016-09-08 18:59] davetcoleman commented on #48
+1

[2016-09-08 19:45] davetcoleman commented on #100
Is it really a requirement that each branch have different version numbers? Does bloom not work otherwise?

I have long been a fan of the Gazebo approach to breaking API - do not be afraid to increment major versions when necessary, but be strict about only breaking API between major versions. Between ROS Indigo and Jade, Gazebo released 2.2, 3.0, 4.0, and 4.0 ([cite](http://gazebosim.org/) @scpet

[2016-09-08 21:38] de-vri-es commented on #48
To get a feel of what would be required to switch to `std::shared_ptr` for the API, I did so on this branch (currently based on #206):
https://github.com/delftrobotics-forks/moveit/tree/std-shared-ptr-api

I would say it went pretty smooth. Besides switching the typedefs, assuming `weak_ptr` is taken care of, I also had to:
* Switch to `std::enable_shared_from_this`
* Switch to `std::make_shared`

[2016-09-08 22:13] mikeferguson commented on #100
Yep -- very much a requirement.

[2016-09-08 22:21] davetcoleman commented on #48
Should we make a new version interface for the ``pluginlib::ClassLoader`` in kinetic that optionally returns an std::shared_ptr? Seems like [fixing it](https://github.com/ros/pluginlib/blob/indigo-devel/include/pluginlib/class_loader.h#L92) upstream would be the better route

[2016-09-09 00:55] davetcoleman commented on #2
This has largely been accomplished, closing

[2016-09-09 00:55] #2 closed

[2016-09-09 01:16] v4hn commented on #48
On Thu, Sep 08, 2016 at 03:21:26PM -0700, Dave Coleman wrote:

+1

[2016-09-09 06:47] de-vri-es commented on #48
I do have in idea that would be compatible with both `boost::` and `std::shared_ptr`. I'll see what the pluginlib people think of it. But if they want differently named functions for `boost::shared_ptr` and `std::shared_ptr, the raw pointer way is the only one that would work for both types.

[2016-09-09 12:38] mat-l opened #210 "Specify the robots' movement (LIN / PTP)"
Hello,

how can I plan and execute linear (LIN) or point to point (PTP) movements using MoveIt!
I would like to define the distance between two waypoints using LIN and PTP movements in the command line, C++/Python programms and I would like to integrate it later maybe into the Cartesian Path Planner (https://github.com/ros-industrial-consortium/fermi)

Any ideas?
Best regards

[2016-09-09 16:24] v4hn commented on #210
Could you elaborate on this please?

[2016-09-09 16:59] davetcoleman commented on #48
Please open an issue/pull request with them. In the meantime, I am concerned about further delays in getting MoveIt! released into kinetic so perhaps your suggested solution would be quicker at least in the shortrun

[2016-09-09 17:16] davetcoleman opened #212 "sudo for warehouse source install instructions?"
@ugocupcic I'm testing you [source install](https://github.com/ros-planning/moveit.ros.org/pull/57) instructions for warehouse and on my system for the line

[code]

I get the error:

[code]

But putting ``sudo`` in front of the command fixes the problem. Would you agree the instructions should be updated?

[2016-09-09 17:21] davetcoleman commented on #212
For the next step

[code]

I also get the error
[code]

I'm now reading into mongo-cxx-driver's [install instructions](https://github.com/mongodb/mongo-cxx-driver/wiki/Download-and-Compile-the-Legacy-Driver#compile-the-driver) and wondering why we are using the ``26compat`` branch.

I'm on Ubuntu 14.04 / ROS Jade, is this similar to your setup when you tested this?

Thanks!

[2016-09-09 20:02] davetcoleman commented on #121
As #196 is closed, I believe this can be closed too now. Please reopen otherwise.

[2016-09-09 20:02] #121 closed

[2016-09-09 20:24] 130s commented on #100
I'm not aware that it's a requirement but here's what I figured personally.

It would be difficult to keep track of which version is made from which branch, if multiple releases are made from multiple different branches using the same version scheme (e.g. same major & minor version). For instance, following could happen: 0.0.1 is for indigo-devel, 0.0.2 is for kinetic. With the next, 0.0.3 is indi

[2016-09-09 20:25] 130s commented on #100
I'm not aware that it's a requirement but here's what I figured personally.

It would be difficult to keep track of which version is made from which branch, if multiple releases are made from multiple different branches using the same version scheme (e.g. same major & minor version). For instance, following could happen: 0.0.1 is for indigo-devel, 0.0.2 is for kinetic. At the next release round, 0

[2016-09-09 20:30] de-vri-es commented on #48
I just realized I forgot about the deleters. I'll wrap it up quickly with a different solution for `weak_ptr` and class loaders for now.

[2016-09-10 01:31] 130s commented on #201
Where do you do this exactly?

[2016-09-10 02:29] v4hn commented on #100
A definite "no" to using the same minor version number to refer to commits from different branches.

[2016-09-10 10:05] AdrianZw commented on #201
I added the deprecated MoveGroupExecuteService in the move group launch file:

`
    <param name="capabilities" value="move_group/MoveGroupCartesianPathService
				      move_group/MoveGroupExecuteService
				      move_group/MoveGroupExecuteTrajectoryAction
				      move_group/MoveGroupKinematicsService
				      move_group/MoveGroupMoveAction
				      move_group/MoveGroupPickPlaceAction

[2016-09-11 09:17] de-vri-es commented on #48
Hmm, it is slightly more complicated. Creating unmanaged instances with `ClassLoader` changes the behaviour of all `ClassLoaders` in the process (it disables on-demand unloading of libraries). I'll see if that can be avoided somehow. In the mean time I filed ros/class_loader#38 (will need to do pluginlib after that).

[2016-09-11 20:04] mat-l commented on #210
Hi,
the point is, that i would like to tell ROS how the path should be planned for the robot. Common kinds of pathes are synchronous or asynchronous point to point movements or even linear ones.

If you have different waypoints named for example w01, w02, w03, and so one, then you can tell the robot how to move between the waypoints.

For example:
move_lin(w01, w02) //linear movement between the t

[2016-09-12 06:44] ugocupcic commented on #212
Yes sorry I've been running that in a docket so there was no need to sudo!

Sent from a tiny keyboard, excuse the brevity.

--
*We're hiring Software Developers! - visit our website for more details.*
------------------------------
*Shadow Robot Company Ltd.*
251 Liverpool Road, N1 1LX, UK
Registered Number 3308007 (England & Wales)
------------------------------

[2016-09-12 06:46] ugocupcic commented on #212
No I did this pull request for 16.04 / kinetic. I thought I had the use system boost in there.

Sent from a tiny keyboard, excuse the brevity.

--
*We're hiring Software Developers! - visit our website for more details.*
------------------------------
*Shadow Robot Company Ltd.*
251 Liverpool Road, N1 1LX, UK
Registered Number 3308007 (England & Wales)
------------------------------

[2016-09-12 07:23] VictorLamoine commented on #18
Do you know when all MoveIt packages will be released for Kinetic?

[2016-09-12 18:02] davetcoleman commented on #18
I've just updated the top comment (above) with the remaining blockers for Kinetic. I think we should close those issues ASAP and get kinetic out - its been 4 months since ROS Kinetic was released so I know we need to get it moving! A rough estimation based: 1 month

[2016-09-12 23:31] OwlCoder opened #216 "moveit_core build not passing"
I am getting the following error message while "catkin build"ing the moveit_core package. What could be the issue?
[code]

ROS version: Indigo
OS: Ubuntu 14.04 LTS

[2016-09-13 00:58] davetcoleman commented on #216
Please use ``` to properly format your console output e.g.

[code]

please post your OS version and ROS version

[2016-09-13 04:40] OwlCoder commented on #216
Done. Sorry for the incorrect format.

[2016-09-13 05:43] davetcoleman commented on #216
you've ``git clone``d the kinetic-devel branch when you need the indigo branch

[2016-09-13 06:50] VictorLamoine commented on #18
Thank you for the update, don't hesitate to ask me if you require external testers.

[2016-09-13 10:30] avoelz commented on #160
As a side note, the algorithm described in "Time-Optimal Trajectory Generation for Path
Following with Bounded Acceleration and Velocity" by Tobias Kunz and Mike Stilman is available as C++ code at https://github.com/tobiaskunz/trajectories. It has no dependencies except Eigen and is thus very easy to integrate. I used it as alternative to IPTP and was very content with computation time and result

[2016-09-13 12:40] v4hn commented on #212
@davetcoleman if this is fixed via https://github.com/ros-planning/moveit.ros.org/pull/65 please close this issue.

[2016-09-13 13:05] v4hn commented on #160
On Tue, Sep 13, 2016 at 03:30:54AM -0700, avoelz wrote:

This looks pretty good to. Do you have code around for the integration of this in MoveIt?
As this is BSD-2 clause license, we could definitely integrate this with MoveIt.
Could we integrate these algorithms as `PlanningRequestAdapter`s?

[2016-09-13 17:16] davetcoleman commented on #18
You're welcome to use/test the kinetic branch from source now :)

[2016-09-13 20:00] davetcoleman commented on #212
I suspect the mongo-db install instructions are broken for 14.04 (only working on 16.04) but that should go in a different issue

[2016-09-13 20:00] #212 closed

[2016-09-13 20:03] davetcoleman commented on #160
+1 to using Tobias' work, I've talked to him about it and it sounds very promising

[2016-09-13 20:05] mikeferguson commented on #160
We actually have a moveit-wrapped version of this that we use in-house as a planning request adapter (with tests even). Let me see if we can release that.

[2016-09-15 18:06] OwlCoder commented on #216
Yes, you were absolutely right! It was my blunder.

[2016-09-15 18:06] #216 closed

[2016-09-15 18:21] davetcoleman commented on #216
Is there something in the docs that was not clear that we can improve? Did you see [this install page](http://moveit.ros.org/install/source/)?

[2016-09-16 02:11] CMobley7 commented on #210
mat-l,

For linear and point to point motion use the compute_cartesian_path() and plan() functions respectively.

V/R,
CMobley7

[2016-09-16 06:40] davetcoleman opened #222 "Supporting Ubuntu Wily in Continuous Integration / MoveIt!"
@rhaschke requested I add Wily (Ubuntu 15.10) testing to our Travis setup. It no longer appears as easy than when I first agreed to it - there are not ROS Docker images for it, for example (@ruffsl).

I also noticed that Wily is already [end of life](https://wiki.ubuntu.com/Releases), so I was surprised that [ROS Kinetic is still supporting it](http://www.ros.org/reps/rep-0003.html#kinetic-kame-ma

[2016-09-16 11:03] v4hn commented on #222
Wow, I didn't expect wily is eol already, but sure, time flies..
For how long does OSRF plan to build packages for wily?
I'd say that we do not need to support it anymore the moment they stop building packages.
No idea who would be best to ping about this at osrf.

[2016-09-16 17:33] mikeferguson commented on #160
Ok -- I've got a thumbs up on releasing -- what folder would this go into? I'm thinking "moveit_ros/planning/parabolic_trajectory_adapter", any issues with that? (I know the other time parameterization is in planning_request_adapters, but there is actually quite a bit of code/tests for this new adapter compared to the old one, not sure we actually would want to mix it into that...)

[2016-09-16 17:49] gavanderhoorn commented on #160
Do you have any plots available? I'd be interested to see the difference with IPTP.

[2016-09-16 18:31] davetcoleman commented on #222
[This guys](http://answers.ros.org/question/220064/ros-on-ubuntu-wily/) claims support should have already been dropped, but @tfoote is certainly the best person to ask

[2016-09-16 20:47] davetcoleman commented on #160
Actually, the best place for it would be next to our current time parameterization implementation in ``moveit_core/trajectory_processing/include/moveit/trajectory_processing`` but I presume your implementations have more ROS dependencies than moveit_core allows?

[2016-09-16 20:57] davetcoleman commented on #10
@dbolkensteyn any progress with this issue?

[2016-09-16 21:21] tfoote commented on #222
As linked Wily is a Kinetic target platform. It should generally be thought of as the low water mark for changes.

We are still building Kinetic debs for Wily. There's one or two changes we need to make to the buildfarm to support turning it off but we have not had time to make the upgrades.

[2016-09-16 21:36] mikeferguson commented on #160
@gavanderhoorn -- I don't have any plots on hand, but I'll try to capture some when I get a chance.
@davetcoleman -- you might be right, I think I could actually separate it that way (let me look and see)

[2016-09-16 22:19] davetcoleman commented on #222
So it will be turned off soon? Do you have a estimate for when? I think this is a nod that we will skip special rules to allow MoveIt! to be released for Wily

[2016-09-16 22:25] tfoote commented on #222
I doubt that it will happen soon, in the scale of a potential Kinetic moveit release.

[2016-09-18 15:20] v4hn commented on #192
Interesting idea.

Did you check how `CollisionRobot::checkSelfCollision` behaves when you specify the `group_name` field of the `CollisionRequest`?

[2016-09-19 17:50] davetcoleman commented on #222
@tfoote If we avoid adding the special ``#ifdef`` commands for wily, etc, can we still release MoveIt! into Kinetic using bloom or will it complain about the broken Wily target?

[2016-09-19 21:22] davetcoleman commented on #100
I don't understand why https://github.com/ros-planning/moveit/pull/221 is critical for the next indigo release. As far as I can tell we're ready for the next indigo release, whenever @130s has the time.

[2016-09-19 22:36] tfoote commented on #222
If it's compile type issues you will get daily emails when the buildfarm attempts to build Wily on each architecture.

[2016-09-20 16:26] Levi-Armstrong opened #231 "Is there any plans to add the ompl planners FMT* and BFMT*?"

[2016-09-20 16:48] davetcoleman commented on #231
Someone easily could, but AFAIK there are no plans to. A PR is welcome, and I can give a quick pointer of where to start

[2016-09-20 18:22] BrettHemes commented on #160
I found a bug in the current time parameterization that could be what you guys are seeing in all of the referenced issues....

Unless I am mistaken, there is an index-off-by-one error in IterativeParabolicTimeParameterization::updateTrajectory at line 206 [here](http://docs.ros.org/hydro/api/moveit_core/html/iterative__time__parameterization_8cpp_source.html#l00206).
`rob_trajectory.setWayPointDur

[2016-09-20 19:04] davetcoleman commented on #160
:joy: if your finding is correct, that's amazing. can you propose it as a PR?

[2016-09-20 19:06] BrettHemes commented on #160
Sure,  I am still investigating but will keep you updated and submit a PR
if I get it all figured out.
On Sep 20, 2016 2:04 PM, "Dave Coleman" <notifications@github.com> wrote:

[2016-09-20 19:23] BrettHemes commented on #160
Ahh, false promises.  I was working my fork of the code and found a bug in an old modification of mine.  Sorry for jumping the gun there... I got too excited.

[2016-09-21 13:55] 130s commented on #100
@v4hn claimed https://github.com/ros-planning/moveit/issues/100#issuecomment-244365559

[2016-09-21 16:04] v4hn commented on #100
@davetcoleman I don't think #221 in particular is required, but we might want to resolve the following issue we have right now:

- Somebody opens an existing moveit config
- They have to enter the missing author information because it is mandatory
- They generate the package's files but do not check `.setup_assistant` (this is unchecked if they touched the file)
- next time they have to enter the

[2016-09-21 16:13] v4hn commented on #100
w.r.t. the indigo release: I would like to see the following requests merged before releasing.

- #188 (minor safety check)
- #148 (streamline the ApplyPlanningScene service)
- #144 (I know I know, I'm sorry, it's on the top of my list, right after sorting out my personal life)
 If someone wants to move this forward they can look into how #201 relates to this change. This bug report seems to be th

[2016-09-21 21:30] davetcoleman commented on #100
...https://github.com/ros-planning/moveit/pull/42 is def. not high priority in my mind. If we keep hoping for all new PRs to be merged in we won't ever get a release out. Its been a full 3 months, new features can always get in next month.

[2016-09-21 22:08] bmmi opened #236 "moveit_commander: no collision avoidance when using Kinect on Baxter"
Hi there,

I am using python interface (moveit_commander) for the moveit on Baxter robot (https://github.com/ros-planning/moveit_robots/tree/kinetic-devel/baxter/baxter_moveit_config)

I try to use moveit_commander to do the motion planning with collision avoidance (point cloud from Kinect). When I launched the demo_kinect.launch, and do the planning through Rviz GUI, then moveit will indeed give

[2016-09-21 22:10] v4hn commented on #100
No it's not, that's why I prepended "possibly". It's just not much work either. :)

I agree. If you're fine with having another indigo-release without the ExecuteTrajectory Action Server, #144 could stay out of the release too.

The point about time for testing remains.

Also you and @rhaschke noticed a flaky test (that has likely been there for a long time and succeeded as false-positive before,

[2016-09-22 00:27] davetcoleman opened #237 "CHOMP planner documentation"
@ksatyaki remaining TODOs post https://github.com/ros-planning/moveit/pull/155:
- [x] Open PRs for jade and kinetic
- [x] Create moveit_tutorial page for using CHOMP

[2016-09-22 10:35] rhaschke commented on #100
I think #232 should be considered for the release. Having the new trajectory validation in place (#63), user might be annoyed if execution fails because planning in first place didn't use an up-to-date robot state for the starting pose. #232 was started to review [here](https://github.com/rhaschke/moveit/pull/1), but was depending on #63, which is now merged.

[2016-09-22 13:00] 130s commented on #100
I'm not disagreeing with anything, just wanted to give an input. Just to be clear with a risk of being pedantic, making a release:
- by itself does not necessarily get the released stuff out to the users (it's what they call "public sync" when normal users will have an access to the released software).
- does enable users to access the binary via a proving ground so-called [shadow-repo](http://wik

[2016-09-22 13:56] v4hn commented on #100
That's a really good point! I didn't consider shadow-time.
This is because I indeed tend to consider the release as "get the released stuff out to the users".
Directly after the release happened `rosinstall_generator <package>` will return the new version, right?
Thus, shadow-time only influences the deb packages provided by osrf.
Everyone who directly uses rosinstall (possibly not using Ubuntu) w

[2016-09-22 14:05] v4hn commented on #236
On Wed, Sep 21, 2016 at 03:08:09PM -0700, Yinhao Zhu wrote:

This looks like the code aborts because of the collision it found. Isn't that the case?
What happens? What exactly is the problem you experience?

[2016-09-22 14:12] 130s commented on #100
Oh yeah, correct. My comment in https://github.com/ros-planning/moveit/issues/100#issuecomment-248896591 only applies to binary built on ros buildfarm.

[2016-09-22 14:13] bmmi commented on #236
I am expecting that moveit can compute a path that is collision free, not
just find a path and check for collision, and if it collides, aborts the
search. How to configure moveit to try more times to search other paths...
When I did the planning from Rviz, it gave me a collision free path. And it
used a different planner as I mentioned before.

On Thursday, September 22, 2016, Michael Görner <noti

[2016-09-22 16:23] davetcoleman commented on #100
I'm not sure where the best place to note this is, but just wanted to point out that for the next release ``moveit_robots`` has been split  from ``master`` to two branches ``indigo|kinetic-devel`` and bloom will need to be updated

[2016-09-22 16:42] davetcoleman opened #242 "Auto-format code base with clang-format"
I'd like to run [clang-format](https://github.com/davetcoleman/roscpp_code_format) on this entire repo right after the indigo and kinetic releases are finished, as I am expecting that the fewest number of pull request will be open at that moment. The code formatter is pretty amazing - in one line of code:

[code]

We can make all our code comply to the roscpp style guidelines and then, in the futu

[2016-09-22 17:08] de-vri-es commented on #242
I'm very much in favor of this idea. It would allow me to work with my regular editor settings without worrying about style, and then apply the same formatting in one go before committing.

[2016-09-22 20:00] v4hn commented on #242
I don't really like syntactic rewriting like this but I see the advantages in this case. so +1 from my side.

[2016-09-22 20:13] v4hn commented on #236
Ah, sure. That makes sense. Your first comment sounded like your robot crashes into an obstacle...
It does not abort the search after it collided.
Probably one of two things happened here:

- Either your planner found a plan that did not collide on any point of the trajectory that the planner checked for collisions, but post-processing of the resulting trajectory found the collision.
 To increase

[2016-09-22 21:10] bmmi commented on #236
Thanks, changing the planner to be `RRTConnectkConfigDefault` solves the problem. The planned path is with object-avoidance but sometimes looks unnatural...

[2016-09-23 12:17] v4hn commented on #236
ok, I'll consider this to be resolved then :)

[2016-09-23 12:17] #236 closed

[2016-09-23 19:42] davetcoleman commented on #67
I have proposed the move: https://github.com/ros-planning/moveit/pull/247

[2016-09-24 08:01] gavanderhoorn commented on #67
@davetcoleman wrote:

I can see why you'd like this, but I believe there are benefits to having IKFast plugins being stand-alone, and not automatically being upgraded whenever upstream decides they should be. If anything, it provides a way for a critical part in your planning infrastructure to remain stable. This is going to be the old bw-compatibility / stability vs maintenance overhead / progres

[2016-09-24 13:56] v4hn commented on #197
ping @davetcoleman
I just saw you removed this from the kinetic milestone last week.
What's your opinion on this matter?
I believe if we want to change the default, it would be wise to do so with the release into kinetic.

[2016-09-24 14:18] v4hn commented on #140
both requests have been merged.
Thus, this problem should be solved.

[2016-09-24 14:18] #140 closed

[2016-09-24 14:36] v4hn commented on #123
@mikeferguson @alexhenning what's the state of the SQLite based client?
With https://github.com/ros-planning/warehouse_ros_mongo and the build instructions around,
the original problem in this issue is mitigated.
Now, the remaining problem is not actually getting *anything* to work but instead get something to work that is based on standard libraries packaged in the major linux distributions.
So m

[2016-09-24 14:40] v4hn commented on #111
The issue as posted for WMD is now deprecated. Closing.
testing tutorials is *always* welcome even without an issue.

[2016-09-24 14:40] #111 closed

[2016-09-24 18:38] davetcoleman commented on #67
... if you are against things being automatically upgraded, just build moveit from source and never do a pull again

Benefits to my suggestion
- I'm working on a two arm robot and need to improve the IKFast plugin for both arms at the same time.
- Someone fixes a long existing bug or makes a speedup in the ikfast plugin and it actually gets shared with everyone
- When upgrading to the newest versi

[2016-09-24 18:41] davetcoleman commented on #67
Note I already have the next PR, that implements including a shared IKFast plugin code file, implemented [in this branch](https://github.com/davetcoleman/moveit/blob/kinetic-kinematic-ikfast/moveit_kinematics/ikfast_kinematics_plugin/templates/ikfast61_moveit_plugin_template.cpp)

[2016-09-24 18:45] davetcoleman commented on #197
I don't use the Rviz Motion Planning Plugin, nor moveit_planners_ompl, for various reasons. So I am not motivated to spend my time on this. Certainly it would be nice to have fixed and I'll review, but I have my own things to focus on.

[2016-09-24 21:02] v4hn commented on #197
@davetcoleman Ah, I didn't know you don't use `moveit_planners_ompl`.
I basically wanted to know if you would have a preferred OMPL planner that we could use to improve the default planning behavior in MoveIt!

@mamoll From the side of OMPL, what would you propose as a good default planner for MoveIt! ? As discussed above, all moveit configs include projection parameters by default and thus OMPL d

[2016-09-24 21:53] gavanderhoorn commented on #67
As I said, I don't have (the time for) a better alternative right now, so go ahead. I'm not against anything, I just thought it important to write down the sentiment somewhere once.

[2016-09-25 20:12] davetcoleman commented on #197
I hope @mamoll provides his expert advice, but I'll add that I almost always use RRTConnect when not using my own experimental stuff. PRMstar is slower so I wouldn't suggest it be default.

[2016-09-25 20:59] mamoll commented on #197
The TLDR version of text below: There is no easy solution.

It is difficult to pick a universal planner that works well for everything, esp. if you also want universal parameter settings. OMPL has some logic to pick a reasonable planner and reasonable parameters for that planner, but there is no magical silver bullet. Many of the optimizing planners like RRT\* and PRM\* are *asymptotically* optima

[2016-09-25 21:38] davetcoleman commented on #67
Thanks for your sentiments @gavanderhoorn, sorry if I was too direct. Further discussion is of course welcomed.

[2016-09-26 10:56] v4hn commented on #197
So overall, there's a lot to be done. :D

Changing to an optimizing planner for the default does not seem to be welcomed by both you and @davetcoleman, so I believe that's out of question.

Of course there is no general purpose planner & parameterization that wins gold in all categories,
otherwise why bother to write a huge planning framework such as OMPL at all. :)
The original question was meant

[2016-09-26 12:39] v4hn commented on #117
@mamoll should we, in your opinion move the code in with MoveIt, move the repository to the ros-planning organization or officially rely on KavrakiLab?

The module looks intriguing, I fully agree.

[2016-09-26 14:01] v4hn commented on #37
#251 implements the proposal. Discussion should be continued there.

[2016-09-26 15:21] mamoll commented on #197
Wow! I'd not be very happy if LBKPIECE would often take that long to produce a path that crappy! The \*KPIECE family of planners relies heavily on a projection to guide the sampling/exploration. Ideally, the projection is chosen so that you can distinguish collision-free configurations as best as possible. If the projection is very bad, you might as well not have any projection at all! You can sim

[2016-09-26 15:26] mamoll commented on #117
I am all for integrating this with MoveIt! It'd be nice if Moveit! could be this magical black box that solves all motion planning problems optimally, but in reality people will have to tinker with control knobs or customize planners. What Ryan has written will make this so much easier. I am not core MoveIt! developer, but with some help from Ryan I had no trouble defining new planning contexts fo

[2016-09-26 15:26] gavanderhoorn commented on #197
@mamoll wrote:

It is generated by the Setup Assistant using [MoveItConfigData::decideProjectionJoints(..)](https://github.com/ros-planning/moveit/blob/0ceb71ca634f7f9e25adc417304a9eca460465dc/moveit_setup_assistant/src/tools/moveit_config_data.cpp#L673-L705).

[2016-09-26 15:34] mamoll commented on #197
I can see the logic behind choosing the first two joints (which cause most likely the largest swept volume on average), but perhaps projecting the joints to the end effector position using the FK would be more informative. Would that be too expensive? Is that easy to try out?

[2016-09-26 16:36] davetcoleman commented on #37
I like your checklist, above. It seems this issue should not actually be closed yet

[2016-09-26 17:03] davetcoleman commented on #197
Yes, years ago I wanted to be able to test LBKPIECE and it wouldn't work by default in MoveIt! for robots unless a projection was provided. I talked to @isucan and he suggested the default projection just be the first two joints, so I added that to the [setup assistant](https://github.com/ros-planning/moveit/commit/2bc9a9885cd02b79c6626ffa05c43810843a46ae). It seems that adding that to the MSA had

[2016-09-26 18:00] mamoll commented on #197
It'd be great if #117 could get merged. I'd be happy to help, but I simply don't know what the next step is. All I can say that even though our replacement moveit_ompl_interface hasn't been touched for a while, it still works great for us. I guess the problem is that there might be improvements in the `official' ompl_interface that need to be incorporated in our replacement? Even if we do that, th

[2016-09-26 18:40] v4hn commented on #37
you're right, I missed the tutorial updates.
Everything else is addressed in the pull-request

[2016-09-26 20:25] v4hn commented on #197
LOL. That's pretty much the reaction I expected. :D
So now you see what I've been talking about.

So it seems we all agree that RRTConnect should be the default planner for MoveIt! for now :)
Whoever has time to do that in the near future is welcome to!

The question of how to choose better parameters/projections is separate from this issue imho, but surely every useful insight is welcome there.

[2016-09-26 22:04] mamoll commented on #197
Agreed. Until there is a more satisfactory solution, this seems to be the least bad fix.

[2016-09-26 22:17] davetcoleman commented on #197
+1

[2016-09-27 17:31] davetcoleman opened #256 "Maintainer Meeting TODOs (Sep 2016)"
- [x] Update [pull request docs](http://moveit.ros.org/documentation/contributing/pullrequests.html) for new Github merge button @davetcoleman
- [x] Create gdoc for package maintainers @davetcoleman
- [x] Plan next moveit community meeting @davetcoleman
- [x] Update KinematicBase PR, add diagram @jonbinney
- [x] Finish up C++11 PR @de-vri-es
- [x] Review PR blocking for kinetic release https://git

[2016-09-27 19:20] davetcoleman commented on #48
@de-vri-es can this issue be closed now?

[2016-09-27 19:24] de-vri-es commented on #48
Yeah. There is one more change I'd like to make, which is replacing `boost::function` with `std::function`. But I don't think we need this issue to track that. It's a much smaller change and API compatible so I'll just file a PR when it is done.

[2016-09-27 19:24] #48 closed

[2016-09-27 20:06] davetcoleman opened #259 "package.xml Maintainers"
We would like to update the many package.xml files within ros-planning with up-to-date maintainers. I've started by scraping the current files and creating a editable table in Google Docs. I've removed @isucan @sachinchitta and Acorn because they have moved on to other projects/companies. Please add/move/remove your name from the spreadsheet as you see fit. Let's aim to have at least two per packa

[2016-09-28 15:36] gavanderhoorn opened #261 "Revert #257 after next buildfarm sync"
As discussed in #257.

Revert 4144ed6b745c5ef3f9d53c15871be8cdf3345be6 after the next (kinetic) sync.

[2016-09-28 20:11] arpit15 commented on #18
@VictorLamoine were you able to catkin_make the kinetic version.
My make is failing and giving errors of "conflicting declaration" with geometric_shapes and srdf

[2016-09-28 21:27] v4hn commented on #18
On Wed, Sep 28, 2016 at 01:11:17PM -0700, Arpit Agarwal wrote:

Please follow the instructions on http://moveit.ros.org/install/source/
You need to checkout and build geometric_shapes and srdfdom too at the moment.

[2016-09-28 23:39] 130s commented on #18
Maybe a bit hacky but if you're familiar with how to use [shadow repository](http://wiki.ros.org/ShadowRepository), those 2 pkgs are already available from there so that you don't need to build from source.

If anyone has more questions about source build, I suggest to open a new issue -- this ticket should be saved for release task discussion :)

[2016-09-29 18:00] arpit15 opened #265 "moveit kinetic build problem"
https://gist.github.com/arpit15/0e83c83e8fe260e6441cfb395d7e6681
I was using the instructions from http://moveit.ros.org/install/source/ for kinetic ros on 16.04
fcl is compiling % . When I catkin build there is the error as listed in the attached file.

[2016-09-29 20:19] davetcoleman commented on #265
please use https://gist.github.com/

[2016-09-29 20:21] davetcoleman commented on #265
do you have ``libfcl-0.5.-dev`` and ``libfcl0.5`` installed via debian? have you run ``rosdep update``? did you run the ``rosdep install`` command?

[2016-09-29 20:34] arpit15 commented on #265
I installed from source using the commands from http://moveit.ros.org/install/source/dependencies/.
I ran `rosdep update`. I didn't use `rosdep install`

[2016-09-29 22:13] davetcoleman commented on #265
Ah, those are not official build instructions but rather experimental. Please specify that next time. Let us know if you find improvements in those instructions.