[2017-05-12 21:37] mikaelarguedas commented on #486
everything runs inside docker so the platform of your host machine should not matter much as long as it supports docker. I'm testing the fix locally as we speak, I'll update here with the outcome.

[2017-05-13 14:27] guihomework commented on #86
For those who cannot upgrade to 3.3, which indeed fixed the problem on our side, if you patch 3.2 be careful about this patch https://launchpadlibrarian.net/263969718/patch.txt mentioned earlier. This solves the import problem but fails on execution of this line https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_commander/src/moveit_commander/planning_scene_interface.py#L95

[code]
T

[2017-05-13 16:57] de-vri-es commented on #486
I'm on vacation right now so I only skimmed the issue, but it may be enough
to compile with `-DBOOST_MATH_DISABLE_FLOAT128` (this is from memory). If
it works I prefer that over enabling gcc specific extensions, since that
hinders compatibility with non GNU platforms.

On 13 May 2017 12:38 a.m., "Mikael Arguedas" <notifications@github.com>
wrote:

everything runs inside docker so the platform of y

[2017-05-13 18:32] jlack1987 commented on #86
Yeah this issue has been a real pain. I have raised an issue to the developers [here](https://github.com/assimp/assimp/issues/1209)

[2017-05-14 18:20] mikaelarguedas opened #506 "[moveit_setup_assistant] Build failure around RobotModel (URDF?)"
### Description

`moveit_setup_assistant` not building on the following platforms: Ubuntu Yakkety, Ubuntu Zesty, Debian Stretch

### Your environment
* ROS Distro: Lunar
* OS Version: Ubuntu 16.10, Ubuntu 17.04, Debian 9
* Source
* If source, which git commit or tag? https://github.com/ros-planning/moveit/commit/4da41e12207669037f527f1abaae16f6eca09cc9

### Steps to reproduce
Run a [prerelease tes

[2017-05-15 08:12] guihomework commented on #86
@jlack1987 yes, but I think this is not at the developer's side that it can be fixed, because in the github repository, the load_mem function is not removed, this is a problem in the maintained debian package as far as I could see. Hence my comments on 2 launchpad bug reports when I discovered that.

[2017-05-15 09:51] #504 closed

[2017-05-15 09:59] v4hn commented on #495
This is not an upstream error and solutions were proposed, so I'll close it.

[2017-05-15 09:59] #495 closed

[2017-05-15 10:02] #475 closed

[2017-05-15 13:27] jlack1987 commented on #86
Installing via `pip` didn't help here. Still can't even import `pyassimp` in a terminal. Tried both python3 and python2 versions. Can verify that installing pyassimp gives version `pyassimp-3.3`

[2017-05-17 11:40] pet1330 commented on #417
@v4hn Any update on this issue?

[2017-05-17 14:15] 130s commented on #506
This is yet another blocker for #486 Lunar release. Anyone?

Both files that are mentioned in the error log, [moveit_setup_assistant/src/tools/moveit_config_data.cpp](https://github.com/ros-planning/moveit/blob/4bc43c56ca2a5293f3ef8d55796ec586cfde5f69/moveit_setup_assistant/src/tools/moveit_config_data.cpp#L186) and [moveit_core/robot_model/src/robot_model.cpp](https://github.com/ros-planning/move

[2017-05-17 14:22] mikaelarguedas commented on #506
Yakkety Zesty and Stretch now ship with liburdfdom v1.0 while xenial was shipping v0.4.
Very likely the conversion of URDF to use `std::shared_ptr` instead of `boost::shared_ptr` is one of the culprits. There may be more API to update to use the new major version of urdfdom though.

[2017-05-22 19:26] gavanderhoorn opened #511 "MSA: consider using `xacro --in-order` on Indigo as well?"
`xacro` supports Jade+-like parsing of xacros on Indigo, but the Setup Assistant doesn't use this. This leads to the situation where xacros that load perfectly fine when `xacro` is invoked / used stand-alone to not load in the MSA.

Would it be an idea to have Indigo MSA add the `--in-order` argument ([here](https://github.com/ros-planning/moveit/blob/fb2ebe3826e8d2b15dc99188343fc0cf2b3dc939/movei

[2017-05-23 15:13] svenkrause opened #512 "rviz: displaying attached-object(s) is wrongly triggered by [Show Robot Visual] / [Show Robot Collision]"
### Description
Let
 - V = Show Robot Visual
 - C = Show Robot Collision

be the fields in the rviz-PlanningScenePlugin under "Scene Robot".

I get the following faulty behaviour in rviz. If only one of V & C is "true" and the other is "false", and I set the "true" one to "false" as well, I get:
 - (V, !C) --> (!V, !C): robot is (correctly) not displayed, but attached object (incorrectly) is
 - (!

[2017-05-27 03:37] 130s commented on #259
For example for `Lunar`, for which MoveIt! isn't properly released yet,
- I received on May 20th `Jenkins build is back to normal : Kdev__moveit__ubuntu_xenial_amd64 #106`
- But there's still a build failure in one of the contained packages, MSA ([e.g. Yakkety](http://build.ros.org/view/Lbin_uY64/job/Lbin_uY64__moveit_setup_assistant__ubuntu_yakkety_amd64__binary/)), for which I haven't received a

[2017-05-27 03:45] 130s commented on #486
I thought MSA build issue on Ubuntu YZ #506 would block the Lunar release, but for the platforms where binaries were successfully built, it seems we can install, like Ubuntu Xenial.
So, the task in the title "release into Lunar" is basically achieved and we only have a "regression" #506.
I close this ticket, but if that's not desirable don't hesitate to shoot me.
Thanks all who paid attention to t

[2017-05-27 05:14] mikaelarguedas commented on #486
Thanks @130s for following up on this.
I don't think that this ticket should be closed because, IMHO, releasing into a new distro means having binaries building on all platforms for which there is required support (that are [Ubuntu X Y and Z](http://www.ros.org/reps/rep-0003.html#lunar-loggerhead-may-2017-may-2019) on amd64 architecture).

@davetcoleman @de-vri-es @v4hn and moveit maintainers, is

[2017-05-30 15:43] atenpas commented on #431
In case someone runs into this issue: _/etc/apt/sources.list.d/ros-latest.list_ did not exist for me, only _/etc/apt/sources.list.d/ros-latest.list.save_. The solution is:
`sudo mv /etc/apt/sources.list.d/ros-latest.list.save /etc/apt/sources.list.d/ros-latest.list
sudo apt-get update && sudo apt-get install ros-indigo-moveit `

[2017-05-30 16:27] dirk-thomas commented on #486
Since the three Ubuntu distros Xenial, Yakkety, and Zesty are being managed in the same [build file](https://github.com/ros-infrastructure/ros_buildfarm_config/blob/8c60b5f914827a469c88cd273568f8c16a5194b9/lunar/release-build.yaml#L52-L59) they can't be disabled separately. I think we can only highly recommend that the `moveit` teams makes an effort to support all of these distros. If they don't t

[2017-06-01 09:19] giusebar commented on #468
Hi,

I see that we agree on the point that ignored collision is a problem. I think that even if the plan has been inspected beforehand it would be good to have collision detection to prevent any kind of accident. This will allow to safely run the robot also in a non-controlled environment.
How would you propose to cope with this problem?

Regarding the addition:
I thought that the _plan()_ functio

[2017-06-01 17:15] mikaelarguedas commented on #504
@130s is it possible to make a new release with the fix from https://github.com/ros-planning/moveit/issues/505 so that every moveit package can be released except MSA ?
Thanks!

[2017-06-01 20:10] 130s opened #517 "Release June 2017"
Almost 2 months (or still only 2 months) since the last release into IJK (and Lunar which isn't complete yet) passed.
- There's a request for the new release particularly into Lunar https://github.com/ros-planning/moveit/issues/504#issuecomment-305560164 from @mikaelarguedas.
  - Speaking of Lunar, it would be great to close https://github.com/ros-planning/moveit/issues/506 (MSA) that blocks Lunar

[2017-06-01 20:21] 130s commented on #517
I'd -1 for this. No patch release can be made in case we'd find one, after OR (? aka OSRF) terminates the build job for Jade. There might be a way to make a hotfix release even after that if it's really important, but that would involve too much hassles overall. This surpasses all (minor) advantages of making the final release into soon-to-be EOLed distro IMO.

[2017-06-03 01:39] 130s commented on #517
Running prerelease tests locally now. For Lunar both tests on Yakkety and Zesty fail (as expected for now https://github.com/ros-planning/moveit/issues/506), so ignoring that, I'm in release process for Lunar using `kinetic-devel` but stuck at this `catkin_generate_changelog` issue https://github.com/ros-infrastructure/catkin_pkg/issues/179 that I've never seen. Without this tool updating changelo

[2017-06-04 16:42] davetcoleman commented on #496
This can be closed now, correct?

[2017-06-04 16:56] davetcoleman commented on #502
I'm late to this conversation but just an extra thought about moving towards debian-based OMPL - I believe this would make it more difficult to develop on OMPL and MoveIt! at the same time. [Building OMPL in my Catkin workspace](http://moveit.ros.org/install/source/dependencies/) has been really handy and is easy to overlay over the ROS buildfarm debians

[2017-06-04 17:00] mamoll commented on #502
I'm also in favor of having ROS package its own (likely newer) version of OMPL. We want people to be able to contribute to OMPL and use their contributions in MoveIt!. They are less likely to do that if they have to wait a year or two for their contributions to appear in the Debian release.

[2017-06-04 17:03] davetcoleman commented on #259
I'm not a fan of the overhead of maintaining an anonymous moveit email address either, I'd rather you add yourself to every package. But if its really important to your ability to do the valuable release work for MoveIt you do, I understand

[2017-06-05 21:53] 130s commented on #496
I think so, addressed by #499.

[2017-06-05 21:53] #496 closed

[2017-06-05 23:02] 130s commented on #517
- Lunar https://github.com/ros/rosdistro/pull/15162
- Kinetic https://github.com/ros/rosdistro/pull/15160

For Indigo I'd like to wait for #518 to be merged / rejected.

[2017-06-06 04:38] 130s commented on #502
I think we've reached the consensus: MoveIt! will keep using `ros-%DISTRO%-ompl`. Thank you all.

[2017-06-06 04:38] #502 closed

[2017-06-06 20:46] wkoziej commented on #475
I'm not sure this issue is solved.
I have similar problem on ubuntu xenial (16.04). When I'm trying to launch generated demo I get similar error

`[ERROR] [1496781514.471921465]: Exception while loading planner 'ompl_interface/OMPLPlanner': Failed to load library /opt/ros/kinetic/lib/libmoveit_ompl_planner_plugin.so. Make sure that you are calling the PLUGINLIB_EXPORT_CLASS macro in the library co

[2017-06-06 23:11] tkelestemur commented on #493
One package that I've been using : https://github.com/atenpas/gpd and it is pretty good.

[2017-06-07 11:35] v4hn commented on #486
On Fri, May 26, 2017 at 10:14:28PM -0700, Mikael Arguedas wrote:

Yes. The latest branch should compile on all (reasonable) platforms requested by users.
This clearly includes more current Ubuntu releases and Debian Stretch.

I haven't looked into the issue yet, so I can't say anything about the means required.

The standard contributor-guideline "point out the problem and propose a fix" seems to

[2017-06-07 12:02] v4hn commented on #511
On Mon, May 22, 2017 at 12:26:58PM -0700, G.A. vd. Hoorn wrote:

I believe changing the default in indigo in not an option because in-order parsing can also break xacros that work well in current indigo.
That being said, I would support a check-box and/or an item in `.setup_assistant` to address this.

[2017-06-07 12:05] v4hn commented on #512
sorry for the delay.

This looks like a reasonably simple bug, did you try to find it yourself?

[2017-06-07 12:11] gavanderhoorn commented on #511
A checkbox is a good idea. I'll see if I can implement that.

[2017-06-07 16:00] svenkrause commented on #512
I had a quick look in the code online, but couldn't find it. I'd have to download the moveit-source and debug it, but I'm short on time at the moment, so I thought, maybe someone who contributed to that part of the code might have an idea, where the bug might lie. If not, I'll investigate further at some point in the (relatively near) future.

[2017-06-07 16:21] v4hn commented on #512
Just as everyone else :)

I would expect to find it around here:
https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/visualization/robot_state_rviz_plugin/src/robot_state_display.cpp
but it could also lie in one of the dependencies of course...

Thanks for reporting. It would be awesome if you could debug it and provide a patch :)

[2017-06-07 16:33] jlack1987 commented on #86
I believe this should be reopened. There is a way to fix this in an automated fashion that doesn't require users to mess with source code of dependencies. The problem is that the debian version of `pyassimp` is broken in Ubuntu 16.04, but the `pip` version works; however, if you install the `pip` version you have to make sure to install the `libassimp-dev` debian as well.

Simply adding the necess

[2017-06-07 17:54] 130s commented on #517
Still waiting for https://github.com/ros-infrastructure/catkin_pkg/issues/181 to be resolved before Indigo release.

[2017-06-07 22:32] 130s commented on #517
Indigo https://github.com/ros/rosdistro/pull/15191

[2017-06-07 22:32] #517 closed

[2017-06-08 09:23] v4hn commented on #86
@jlack1987 feel free to file a pull-request with your proposal and we can discuss what else is required for it there.

It doesn't look like https://bugs.launchpad.net/ubuntu/+source/assimp/+bug/1657374 will be resolved unless some affected ROS user follows through with https://wiki.ubuntu.com/StableReleaseUpdates .

I think the next-best solution is to have our own pyassimp package (the pip versio

[2017-06-08 17:48] AndyZe opened #522 "moveGroup.setEndEffectorLink() does not take effect"
### Description

See http://answers.ros.org/question/238536/issue-using-moveitplanning_interfacemovegroupsetposetarget-with-non-empty-end_effector_link/

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Binary build
* 0.9.6 according to package.xml (this is for 'moveit' -- looks like there are several moveit-related packages)

[2017-06-08 18:11] willcbaker commented on #475
@wkoziej can confirm, fresh install on 16.04 getting same error

[2017-06-08 20:46] AndyZe commented on #522
I've noticed that:
`moveGroup.setEndEffector("camera_ee");`
`ROS_INFO_STREAM("MoveGroup EE: " << moveGroup.getEndEffector() );`

Prints out:
`MoveGroup EE: `

[2017-06-10 15:18] wkoziej commented on #475
I wanted to try this problem on fresh ROS docker instalation. After that it showed up that my original instalation started working. OMPL library was found (not in the system directories but in the ROS libs):
`ldd /opt/ros/kinetic/lib/libmoveit_ompl_planner_plugin.so | grep libom
`
`
libompl.so.12 => /opt/ros/kinetic/lib/x86_64-linux-gnu/libompl.so.12 (0x00007f8e92017000)
`
I'm confused but happy.

[2017-06-11 06:04] nsnitish commented on #110
Hi @davetcoleman ! I am trying to follow the [MoveGroupINterface tutorial on ROS-Kinetic](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pr2_tutorials/planning/src/doc/move_group_interface_tutorial.html).
While running roslaunch pr2_moveit_config demo.launch and roslaunch moveit_tutorials move_group_interface_tutorial.launch, I am getting the following error:
/pr2_moveit_tutorial/catkin

[2017-06-13 19:23] 130s opened #526 "Trajectory slider plays for the previous goal when a plan for the new goal is unavailable"
Thanks for the nice feature @Jntzko @v4hn https://github.com/ros-planning/moveit/pull/491!

### Description

Pressing `Play` button on `Trajectory Slider` panel shows older trajectory, when a plan for the current goal is not available.

Without knowing if this behavior is intended, this can be simply confusing.

### Your environment
* ROS Distro: [Indigo]
* OS Version: Ubuntu 14.04
* Build

[code]

[2017-06-13 21:35] v4hn commented on #526
Weeeell... I can see how this can be confusing.
Our MoveIt Motion Planning Panel only imports the Trajectory visualization display and uses it "as is".
This display caches the trajectory it received most recently and presents it to the user.
So as long as no new trajectory - produced by successful planning - was received the old one is still there.
I believe the behavior you noticed was the same w

[2017-06-13 22:31] 130s commented on #526
Would there be any issue when `Play` on Trajectory Slider panel gets pressed then planning internally runs? Assumption: I can't think of any situations where you want to see a trajectory from the goal previously set while a new goal is already set.

[2017-06-14 07:34] v4hn commented on #526
I don't like that behavior.
We wanted the user to be able to re"Play" the current trajectory over and over again (as a more controlled version of "loop animation"),
so the play should not trigger planning.

I suppose we could remove the current trajectory whenever the user pressed "Plan" or "Plan&Execute", so that there is *no* plan anymore when planning fails.
Would that help?

[2017-06-14 19:27] 130s commented on #526
That makes sense.

+1
Is this something that someone on your end can work on (hopefully very quickly since it's you guys that added this feature)? Otherwise we'll see if someone incl. me in the community will have time to tackle.

[2017-06-15 18:16] AndyZe commented on #522
OK, I figured out that one of my end effectors wasn't set up properly. Still having trouble with the motion planning of the 2nd end effector, but at least moveGroup.setEndEffector() is changing the value returned by moveGroup.getEndEffector().

[2017-06-16 05:16] cuixiongyi opened #528 "Display RobotState crashed rviz"
## Description
When add moveit_ros_visualization-RobotState, if there a link without visual element in URDF, rviz will crash.
When I added the visual element, it worked find and displayed the robot.

**Example link URDF without visual, will crash:**
[code]
**Example link URDF with visual, will not crash:**
[code]

Overview of your issue here.

### Your environment
* ROS Distro: [Indigo]
* OS Versi

[2017-06-16 16:54] v4hn commented on #528
You are right, I can reproduce this on 14.04 with the current ros-indigo branch.
Crap :/

Apparently aac7921666821fa7b38c0228b390dbc8d133d833 is the faulty commit, reverting it fixes the error.
However, the crash is not directly related to the code there but occurs somewhere inside qt/rviz' event system.
I'll have a look.

[2017-06-16 17:55] v4hn commented on #528
@cuixiongyi could you checkout #530 and verify that it solves the problem?

[2017-06-16 21:00] cuixiongyi commented on #528
Yes, I tried your branch. It won't crash any more.
Thank you for responding. You are amazingly fast.
Yeah, rviz isn't the most stable software. Sometimes it will crash upon open.

[2017-06-16 21:11] AndyZe commented on #522
I'm going to go ahead and reopen this as I've spent quite a bit of time trying to solve it. It seems now that moveGroup.setEndEffectorLink() is being applied, but then it tries to plan for **2!** end effectors -- the default and the new end effector. Of course, constraints on both can't be satisfied. See attached error, my planning groups, and the code snippet below:

`  // Test
  camera_pose = mo

[2017-06-16 21:42] v4hn commented on #528
On Fri, Jun 16, 2017 at 02:00:19PM -0700, Xiongyi Cui wrote:

In this case I'm actually the one responsible for the bug (for a change...)
and knew what to look for. Don't count on it on other occasions. :)

@130s I suppose we want to have this fixed with the next sync, if that's possible...

[2017-06-16 22:06] 130s opened #533 "Release 201706"
There is/are some bug fixes that seem (kind of) critical:
- [x] https://github.com/ros-planning/moveit/issues/528

[Next Indigo sync may happen soon, sometime within June](https://github.com/ros-planning/moveit/issues/528#issuecomment-309140751), so if there's no other requests I'll make a new release early in the week of 18th for IKL.

[2017-06-16 22:07] 130s commented on #528
Yeah, critical bug fixes should be prioritized. Started tracking at #533.

[2017-06-16 22:34] AndyZe commented on #522
I realize it's kind of sketchy to include joints and links **and** a chain in my Planning Group. Here's a new setup with just the chain. Same errors when switching EndEffectorLinks.

![new_planning_groups](https://user-images.githubusercontent.com/11284393/27246830-f468a65c-52b9-11e7-9905-6ea1afe6250f.png)

[2017-06-19 14:51] #528 closed

[2017-06-19 15:03] 130s commented on #533
I think the minimum required for this patch release is #528 and that is already merged. If there are any other changes that anyone wants to include in the next sync, please let us know here ASAP. Otherwise I'll  make a quick release on Tuesday Pacific.

FYI I see more than 5 PRs that look green on Travis.

[2017-06-20 11:46] davetcoleman commented on #486
I will address the MSA bug now, sorry for the delay

[2017-06-20 14:46] davetcoleman commented on #506
@mikaelarguedas yes, it is because ``urdfdom_headers`` switched to std::shared_ptrs but ``robot_model::urdf`` is still using boost. The fix for lunar is [simple](https://github.com/davetcoleman/moveit/commit/503f620be7448f4ba7547277b2a9d7dd02af123d) but because we have not branched for lunar I will need to use compiler flags to allow this change to still work with kinetic. Unless someone opposes t

[2017-06-20 15:14] davetcoleman commented on #506
@jspricke @rhaschke do you have a recommendation for the best way to use ``boost::`` for kinetic and ``std::`` for lunar for ``urdf::model``? It seems like adding ``URDF_TYPEDEF_CLASS_POINTER(Model)`` to the list [here](https://github.com/ros/robot_model/blob/kinetic-devel/urdf/urdfdom_compatibility.h.in) would do the trick, but it might be too late to modify that file given that Lunar is already

[2017-06-20 19:16] #526 closed

[2017-06-21 04:42] davetcoleman commented on #110
That issue is off-topic for this discussion thread - next time please create a new issue.

That is a problem with your binary/debian installation - something is out of sync with your computer's installed packages.

[2017-06-21 08:00] v4hn commented on #533
@davetcoleman and I just merged many of them - there are still more than 5 green ones, but
most of them required further investigations before a merge.

Go ahead with a release 👍

[2017-06-21 09:32] marcoesposito1988 commented on #506
@davetcoleman

Yes, you can do something like this (this is checking for Lunar)

You can also check ROS_VERSION_MAJOR and ROS_VERSION_MINOR

[code]

[2017-06-21 10:59] v4hn commented on #506
Yes you can check for the ROS version, but this assumes people don't run "mixed" setups, e.g. building lunar modules on top of kinetic, which are not uncommon with real robot setups.

Wherever possible, please prefer checking the version of the affected dependency directly, even if this adds another check to the cmake build description.

[2017-06-21 11:47] v4hn commented on #506
How? This macro creates *boost* shared ptrs and until now this is the same in ROS lunar, doesn't it?

[2017-06-21 23:05] 130s commented on #533
I https://github.com/ros/rosdistro/pull/15325
K https://github.com/ros/rosdistro/pull/15326#thread-subscription-status
L https://github.com/ros/rosdistro/pull/15327

Thanks every one esp. @v4hn @davetcoleman

[2017-06-21 23:05] #533 closed

[2017-06-22 16:05] davetcoleman commented on #506
Ooops, I meant we should use that macro in [this](https://github.com/ros/urdfdom_headers/blob/master/urdf_model/include/urdf_model/types.h) header where they are ``std::shared_ptrs`` - but that wouldn't work either actually.

I think the better solution would be to add ``urdf::Model`` to the compatibility layer. I haven't fully tested this yet, but here's the [proposal](https://github.com/davetcol

[2017-06-22 16:44] manacoa commented on #431
[code]

[code]

[code]

[code]

This is after an uneventful fresh install of Kinetic Desktop Full on Ubuntu 16.04.

[2017-06-22 16:48] gavanderhoorn commented on #431
[code]

and

[code]

Are you trying to install Indigo MoveIt on Kinetic?

[2017-06-22 16:51] manacoa commented on #431
Yes!

[2017-06-22 16:51] manacoa commented on #431
Oops

[2017-06-22 16:51] gavanderhoorn commented on #431
Well that won't work: the Indigo binaries are not released on Kinetic. That is the reason why `apt-get` fails.

[2017-06-22 16:52] manacoa commented on #431
My apologies! Frazzled brain. Sorry for wasting your time.

[2017-06-23 13:46] davetcoleman commented on #506
I believe the solution we need is to [change urdfdom](https://github.com/ros/robot_model/pull/206) as well as this simple [one-liner in MoveIt](https://github.com/davetcoleman/moveit/commit/35bd0f054ba80e18b4f5bb7f7eafd83fc1c175f5).

[2017-06-23 15:59] mikaelarguedas commented on #506
awesome thanks @davetcoleman for investigating and submitting a fix, we're running prerelease tests as we speak and will hopefully be able to release this into lunar (and kinetic?) in the next few cycles (at @sloretz and @clalancette discretion)

[2017-06-27 02:36] ryanoldja opened #538 "pr2 description setup tutorial fails on clean install"
### Description

Attempting to walk through the MoveIt [setup tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/setup_assistant/setup_assistant_tutorial.html) for the PR2. After uploading the pr2.urdf.xacro file, the moveit_setup_assistant errors out & dies on exit code -11.

### Your environment
* ROS Distro: Kinetic
* OS Version: UbuntuMATE 16.04 (Raspberry Pi 3)
* installed by

[2017-06-27 08:21] TroyCordie opened #539 "Segfault when validating MultiDOF trajectories"
### Description
Segfault when executing trajectory with custom action file.  New to moveit so I'm hoping I might get pointed in the right direction or this might flag to someone in the know.

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04
* Source
* 07448175688087a0216e42181d99b3ed1827e588

### Steps to reproduce
I have been attempting to run the simulator located at https

[2017-06-27 08:30] janisa9 commented on #110
Hi, same problem here,

error while loading shared libraries: libmoveit_planning_scene_interface.so.0.9.6: cannot open shared object file: No such file or directory

Did little digging, and yeah there is  **libmoveit_planning_scene_interface.so.0.9.7** not **libmoveit_planning_scene_interface.so.0.9.6** in  **opt/ros/kinetic/lib** .   Is there any solutions to downgrade libraries or use this libmo

[2017-06-27 14:30] v4hn commented on #539
Ouch, the validation was added recently and apparently there is a bug w.r.t. MultiDOF trajectories.

You can skip it (and most likely therefore the segfault) by setting the validation tolerance to 0.0 [here](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_setup_assistant/templates/moveit_config_pkg_template/launch/trajectory_execution.launch.xml#L14) in your moveit config.

It wou

[2017-06-27 14:40] v4hn commented on #538
This looks like a bug in your 3d-graphics setup.

[2017-06-27 15:04] ryanoldja commented on #538
@v4hn thanks for your reply. How can I go about resolving my 3d-graphics setup issue? Is this causing the MoveIt process failure?

[2017-06-27 16:01] v4hn commented on #538
Oh, I just saw that now. I'm not convinced anyone tried to run the setup assistant on a pi3 before.
Can you run RViz there and visualize a robot model?

It's quite likely that the assistant fails to create the 3d-graphics context and thus dies.

[2017-06-27 16:08] ryanoldja commented on #538
Yes, RViz runs fine for visualizing the robot model. Tested that first through the `urdf_tutorial` package.
In those cases, I also get the `libEGL warning: DRI2: failed to authenticate`, but it doesn't seem to cause any problems in RViz.

[2017-06-27 16:22] v4hn commented on #538
graphics are probably not the problem then.
Too bad, that would have been the easy explanation.

I remember some bug with the debian package of fcl compiled for pi3,
but I don't know whether this is still a problem.

Sorry, but we you will have to debug this yourself.
Compile MoveIt in Debug mode, run the assistant with gdb and have
a look at the stacktrace. Where does the segfault occur?

Also, I

[2017-06-27 19:49] ryanoldja commented on #538
Neither `apt-get install` nor any of the commands used with the [source install](moveit.ros.org/install/source) install have an option 'debug mode'. I can't run gdb on roslaunch either as it's looking for an executable. Could you detail how to do this?

Regarding your last comment, that seems to be the case. Launching with the results from the setup assistant works fine on our Ubuntu Xenial 16.04

[2017-06-27 22:41] TroyCordie commented on #539
Thank you for the response.
This fix does indeed skip the section of code that was segfaulting, I will see if I can dig in the next few days and find the culprit.

Though I am a bit confused by the topic the trajectory is now being output on /execute_trajectory/... I had assumed the topic /multi_dof_joint_trajectory_action/... would be the topic. This may just be a generic question so  I will also

[2017-06-28 11:00] v4hn commented on #539
I don't understand the question, actually.
Please raise generic questions on http://answers.ros.org

It would be really great if you could look into the segfault a bit more and report back!
You do not by any chance have a gazebo / moveit demo mode setup ready for testing?

[2017-06-29 22:09] TroyCordie commented on #539
I do have a gazebo model I am trying to tie into moveit, when I get something happening between the two I'll dig deeper into the segfault.

[2017-07-06 00:04] TroyCordie opened #543 "Multi DOF Trajectory only providing translation not velocity or acceleration"
### Description

Multi DOF Trajectory only providing translation not velocity or acceleration

### Your environment
* ROS Distro: Kinetic
* Ubuntu 16.04
* Source
* 0744817

Recently I asked a question on ask ROS regarding the multi DOF joints in moveit and them not publishing velocity or acceleration data see the question at the link below.

http://answers.ros.org/question/264957/moveit-trajectory

[2017-07-06 12:34] #399 closed

[2017-07-07 05:35] TroyCordie commented on #543
sorry, guys I just needed another day at it.
For anyone else looking for pointers I added the code below at line 863 of trajectory_execution_manager.cpp
likely not the best solution but it works
[code]

[2017-07-07 22:59] srsidd commented on #86
I looked into modifying the `rosdep` keys so we can install `pyassimp` from `pip2` and use `apt` to install `libassimp-dev`. However, `rosdep` is not configured to accept a particular version of pip.

@jlack1987 has opened an issue here, [(rosdep/issues/519)](https://github.com/ros-infrastructure/rosdep/issues/519), which is technically a blocker for this to get done.

[2017-07-08 13:43] jlack1987 commented on #86
I just tested in a pristine docker installing pyassimp via `pip install pyassimp` and then `apt install libassimp-dev` and it worked. That should be all that's needed for it to work with `rosdep` right? I didn't have to specify `pip2` or `pip3`

[2017-07-11 16:14] cvanclee opened #545 "Setting the solve_type for Python code issuing movement commands"
### Description

Setting the solve_type of the kinematics.yaml of a robot package does not affect the solve_type that MoveIt uses when running a launch file from that robot's package, it will just use the default. Also, running code that connects to MoveIt will also use the incorrect solve_type.

* ROS Distro: Indigo
* OS Version: Ubuntu 14.04

### Steps to reproduce
I installed trac-ik and set on

[2017-07-11 19:07] gavanderhoorn commented on #545
I suggested @cvanclee report this as an issue here on our tracker.

The underlying problem (IK plugins load parameters from private namespaces) is not something that we'll easily fix, but in this case the problem was exacerbated by the fact that the commander wrapper apparently uses the `ros::init_options::AnonymousName` option to the node initialisation.

As the name of the node (and thus the nam

[2017-07-11 19:13] gavanderhoorn commented on #545
I think `ros::init_options::AnonymousName` was added to the wrapper to allow users to instantiate multiple wrappers without having to deal with naming them uniquely.

If that is the case, could we perhaps allow initing the wrapper without the `Anonymous` hint somehow?

[2017-07-13 20:51] gavanderhoorn commented on #511
Although #540 is merged, I'll keep this open as the command line interface to the MSA needs to be checked for support of this.

[2017-07-14 07:35] luminize opened #548 "IkParameterizationType translationyaxisangle4d is not implemented"
### TranslationYaxis4D is not implemented in moveit_kinematics

With the help of @gavanderhoorn his answer on http://answers.ros.org/question/263925/generating-an-ikfast-solution-for-4-dof-arm/ I have made an IkFast plugin for my robot.
When dragging the handles in Moveit the robot goal pose doesn't move, and while trying to drag I get the message:
[code]

I've looked this up and came to the follo

[2017-07-16 04:57] 130s commented on #506
Fixed via #542 thanks to @davetcoleman

[2017-07-16 04:57] #506 closed

[2017-07-16 05:02] 130s commented on #486
Looks like all issues are now resolved so finally ready to make full-release into Lunar.

For kinetic-devel, there has only 4 commits since the last release, so making a patch release into Lunar (and Kinetic too?) soon might be good. Or do we want to wait for more commits to be available? Thoughts welcomed.

[2017-07-17 05:16] davetcoleman commented on #543
@TroyCordie this seems like a valuable contribution that should be in a pull request instead of an issue - do you mind proposing it as a code change? Thanks!

[2017-07-17 10:24] v4hn commented on #548
I have not seen this IK type before but the basic steps to follow are:

- figure out which parameters you have to pass to `ComputeIk`

- add the appropriate code to compute "the right" parameters and pass them to the function [here](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_kinematics/ikfast_kinematics_plugin/templates/ikfast61_moveit_plugin_template.cpp#L496)

- File a pull

[2017-07-17 11:22] luminize commented on #548
regarding a PR, no problem. But figuring out the first 2 points I have a question if you don't mind:

There's [the instruction](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_kinematics/ikfast_kinematics_plugin/templates/ikfast61_moveit_plugin_template.cpp#L531-L533) that the first value represents the angle. Looking at my IKFast cpp file I guess the first value are we talking ab

[2017-07-17 13:25] v4hn commented on #548
I would guess the same thing.

Possibly? I guess you tried it by now? :)
I would pass the address of one double (representing the angle) as `vals`.

Ping @mintar . You fought with these a lot in the past.
Could you drop a quick hint here?

[2017-07-17 19:25] oliviao00 opened #549 "Move Group Interface tutorial OpenRAVE error"
### Description

When I attempt to scan my catkin workspace (ws_moveit) for missing packages using rosdep install, I receive a warning that the OpenRAVE package doesn't fit naming conventions.  This prevents OpenRAVE from building when performing the tutorial's next step, catkin build.

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Source build
* Version 0.9.8

### Steps

[2017-07-18 08:55] mintar commented on #548
I think so too. In the case of `TranslationXaxis4D`,`TranslationYaxis4D` and `TranslationZaxis4D`, `eerot` is probably only a single `IkReal*`. The best way to find out is to look at the `ComputeIk()` function in your generated `*_ikfast_solver.cpp`.

For example, when I implemented the support for `IKP_TranslationDirection5D`, I looked at these lines:

https://github.com/uos/katana_driver/blob/84

[2017-07-18 11:10] luminize commented on #548
@v4hn @mintar Thanks, I'm walking the learning curve here, So apologies for that.

This is what I did so far:
[code]

I might be making a mistake in calculating the angle above?

So I will first see that I get the IK to work.

Regarding the IK service I try to do the following:
[code]
I did some searching on this but I can't figure out how to set this up. Any pointers?

[2017-07-18 11:31] v4hn commented on #548
You do not calculate it at all.
`M` is the 3x3 rotation matrix and you have to extract the Roll/Pitch/Yaw angle yourself.
For example the `tf` package provides methods to extract them.

[2017-07-18 17:31] zplizzi opened #552 "/attached_collision_object endless loop"
### Description

I am trying to attach an object to a robot arm. I send a message over the `/attached_collision_object` topic. As a result, the object begins being published in the `robot_state: attached_collision_objects:` section of the `/move_group/monitored_planning_scene`, with diff = False. The object shows up in Rviz as expected. However, in the console where I launched my robot launch file

[2017-07-18 18:25] zplizzi commented on #552
I think I understand the problem a bit better. When adding a normal collision object (unattached), there will be a single message on `/move_group/monitored_planning_scene` containing the new object, and diff=True. All future messages also have diff=True, and don't mention the object. This appears to work fine, as it should.

However, when adding an attached collision object, the object is publishe

[2017-07-18 18:44] v4hn commented on #552
First off, thanks for looking into this. 👍

At first glance I would think publishing the robot state *always* as `is_diff: false` is a bug in this case, but I didn't investigate this thoroughly.
It could be that some other code behaves wrongly if it receives a "diff" RobotState and/or that it is non-trivial to publish the diffs for the RobotState class.

Still, my preferred solution would work tow

[2017-07-18 20:26] #549 closed

[2017-07-18 21:46] zplizzi commented on #552
After some more poking around, it doesn't look like the attached_object code (yet) supports doing diffs. The collision objects have the `collision_detection::WorldDiff` class which handles this, but I couldn't find an analog for the attached collision objects (in the Kinetic branch, at least). That being said, this is the first time I've looked at this code, so I easily could have missed something

[2017-07-19 07:07] TroyCordie commented on #543
Can do give me a few days to tidy up what I have played with in the code

[2017-07-19 07:36] mintar commented on #548
What it means is that when you ignore the translation, the rotation around the eef can be expressed as a rotation around one of the eef axes wrt. the robot arm base frame.

For example, a [SCARA](https://en.wikipedia.org/wiki/SCARA) robot has 4 degrees of freedom. The endeffector can rotate. The z axis of the robot's base frame and eef always point up, since the eef misses the degrees of freedom t

[2017-07-19 08:02] v4hn commented on #552
On Tue, Jul 18, 2017 at 02:46:30PM -0700, Zack Polizzi wrote:

This is quite likely and basically what I meant by

In this case implementing this in the monitor in general is not as easy, but clearly possible.
Anyways, I believe this would be the correct way forward.

A compromise might handle most cases correctly though.
How about an indicator flag that marks the attached objects of the monitored

[2017-07-19 08:13] luminize commented on #548
@mintar I see your point with the example of the SCARA robot. My URDF is in the working branch "cleaned" of my robot support package:
https://github.com/luminize/matilda_support/tree/cleaned
Here's also a link of the prototype (non ik-fast):
https://www.youtube.com/watch?v=6Mzok9r9k88

[2017-07-19 09:08] luminize commented on #548
The reason I'm making an IKfast plugin in the first place is that I'd like to use python with moveit_commander to get the robot to a number of positions. The robot is driven by [Machinekit](http://www.machinekit.io), and that has a python API too.

I use ROS/Moveit as the off-line planning alternative to Machinekits G-code interpreter. So for making an application I'll use a python program which w

[2017-07-19 14:39] mintar commented on #548
Ok, your robot indeed doesn't have an axis that's parallel with the base frame, so you can't use TranslationZAxisAngle4D. Your approach to use Translation3D and then manually set the eef rotation sounds reasonable. An even better solution would be to hack your generated `*_ikfast_moveit_plugin.cpp` file (in the `case Translation3D:` block), compute the eef rotation there and put it into `solutions

[2017-07-19 20:32] BryceStevenWilley commented on #486
I just ran into an issue with compiling [moveit_planners_ompl](https://github.com/ros-planning/moveit/tree/kinetic-devel/moveit_planners/ompl) with OMPL, both from source.

Specifically, the [constraints library](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_planners/ompl/ompl_interface/src/constraints_library.cpp#L308) tries to make a SpaceStorage instance with a const ref, but

[2017-07-19 21:12] v4hn commented on #486
@BryceStevenWilley Could you open a new issue for this please?

[2017-07-19 21:37] BryceStevenWilley opened #554 "moveit_planners_ompl doesn't compile with OMPL 1.3.0"
### Description
moveit_planners_ompl doesn't compile with the latest version of OMPL (1.3.0).

### Your environment
* ROS Distro: Kinetic
* OS Version: XUbuntu 16.04
* Source: e4a238c0f383349fa2de4cc603f6957594535219

### Steps to reproduce
* Make a new workspace with the following git repos (use kinetic-devel branch if present)
    * [catkin_ompl](https://github.com/KavrakiLab/catkin_ompl.git)

[2017-07-19 22:10] v4hn commented on #554
@mamoll Any ideas?

[2017-07-20 01:18] red1laref commented on #468
Hi,
we have the same problem here. The planning is good but the moving arm ignores collisions.
Did you solve your problem? If yes it would be great to know how you did it! The can_replan function does'nt solve the problem :(

Thank you!

[2017-07-20 15:01] mamoll commented on #554
@v4hn, I understand the problem: due to C++11 updates in OMPL shared_ptr's are now passed by value instead of const&. However, many functions still return const std::shared_ptr<>&. This becomes a problem if the output of one function is the input for another. I can fix this and release a new patched version of OMPL. I don't understand how Moveit seems ready for release when it doesn't even compile

[2017-07-20 15:30] v4hn commented on #554
A very good question indeed. I'll pass that on to @130s .
I am confident he ran pre-release tests for the [pull-requested lunar releases](https://github.com/ros/rosdistro/pull/14966).

[2017-07-20 15:32] BryceStevenWilley commented on #554
I finally determined that even though my setup above was linking against the correct version of OMPL, it was using the an older version of the OMPL header files ( from Kinetic). It was a quick fix (find ompl as a catkin required competent instead of a separate package) to include the correct header files, and I was hoping that they would give more specific locations where the error is occurring, b

[2017-07-20 15:46] 130s commented on #554
I'm on the road so can't take a deep look now so just FYIing for now.

Yes for the prerelease tests (for Lunar though) https://github.com/ros-planning/moveit/issues/486#issuecomment-300648476 and they passed.

I honestly don't know how `XUbuntu` is different from Ubuntu but I assume not much?
And the current HEAD isn't tested using ROS buildfarm setting yet, at least on my side. I only run pre-rel

[2017-07-20 16:15] luminize commented on #548
Thanks, i'll have a look at that.

[2017-07-21 04:38] abishekh opened #556 "Bazel build ?"
### Description

Has anyone successfully built moveit with bazel ? I'm trying to do it but the project directory structure is not very conducive.

###  Environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04
* Source build

[2017-07-21 10:16] v4hn commented on #554
@BryceStevenWilley So the linking bug is not an upstream issue and not a blocker for lunar.

Could you please elaborate on

?

Circular include dependencies have been a problem with ompl for a while (see http://moveit.ros.org/install/source/dependencies/) and the proper way to fix this is to have OMPL install its headers into their own include-subfolder, e.g. `/opt/ros/xyz/include/ompl-1.3/ompl/co

[2017-07-21 10:29] v4hn commented on #556
Personally I don't see why you would want to do that, but anyway.
Also I'm not aware of people doing this before.

Please keep us updated. If it's not too much hassle for us and requested, we could also merge support for it upstream.

[2017-07-21 12:26] abishekh commented on #556
Trying to do it to use moveit APIs in another project that builds with bazel.

[2017-07-21 14:20] davetcoleman commented on #556
I've learned/used Bazel recently and am excited about this idea! It also seems like a big undertaking since you would probably need to Bazel-convert all MoveIt!'s other ROS dependencies, yea?

[2017-07-21 15:06] abishekh commented on #556
@davetcoleman correct. Good things don't come easy I guess. A hacky way I've see people use - is to link the pre-generated(catkin) ".so" files and then just stand it up as a reference for future projects. The issue with this is that the headers aren't organized well in the directory structure (there isn't one  central "/include" directory). This means either rewriting a lot of code to account for

[2017-07-21 17:38] davetcoleman commented on #486
Since we haven't released a full Lunar release yet, I think we should do that asap now that MSA is fixed

[2017-07-21 18:10] davetcoleman commented on #549
Did you figure this out? Its not clear to me why you were trying to build OpenRave in a catkin workspace

[2017-07-21 21:22] BryceStevenWilley commented on #554
That is correct. Misjudgment on my part, sorry.

Thank you for linking this, it's exactly the problem I ran into. I didn't realize this was a widespread issue.

My fix (which is [here](https://github.com/KavrakiLab/moveit/commit/ba2a8ad266200e940fee60b3f2f38c78fb0e3ccc)), isn't a general purpose fix. It only works if you are using source OMPL in the same catkin workspace as moveit, which is fine f

[2017-07-21 21:22] #554 closed

[2017-07-24 13:24] oliviao00 commented on #549
Yes, I didn't need to build OpenRave at all in this instance, and didn't see the error of trying to build it in a catkin workspace.

[2017-07-24 14:22] mamoll commented on #169
@lepalom, something to keep in mind for future OMPL Debian releases?

[2017-07-24 15:44] cschindlbeck opened #559 "moveit_commander fails in Indigo"
Hi,

 i tried to run:
"import moveit_commander"

but got this error

[code]
Im running ros indigo on 14.04
i also tried reinstall pyassimp but it doesn't help.

can somebody please help me?

[2017-07-24 17:07] v4hn commented on #169
@mamoll Actually, I would propose to change the include folder in the upstream project
and not just for the debian release. That's the way the PCL, among others, handles this.

[2017-07-24 17:12] v4hn commented on #559
On Mon, Jul 24, 2017 at 08:44:22AM -0700, Christopher Schindlbeck wrote:

`pip uninstall pyassimp; pip install pyassimp` - although that will confuse your ubuntu package manager.

I know this is a rather stupid question, but are you positive this is not on 16.04?
This error is well-known in 16.04 because Ubuntu packaged an entirely broken version of `pyassimp`.
I haven't seen it on 14.04 so far.

[2017-07-24 17:43] mamoll commented on #169
@v4hn, where is this directory layout / naming convention documented? Does this apply to all Linux/Unix based systems?

[2017-07-25 02:06] wsycy1994 opened #560 "REQUIRED process [moveit_setup_assistant-1] has died!"
========================================================
REQUIRED process [moveit_setup_assistant-1] has died!
process has died [pid 9833, exit code -11, cmd /opt/ros/indigo/lib/moveit_setup_assistant/moveit_setup_assistant __name:=moveit_setup_assistant __log:=/home/cy/.ros/log/9bb404bc-70db-11e7-906b-c4346b72034a/moveit_setup_assistant-1.log].
log file: /home/cy/.ros/log/9bb404bc-70db-11e7-906b-

[2017-07-25 06:47] cschindlbeck commented on #559
Yeah this is 14.04

`lsb_release -a`
`No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.4 LTS
Release:	14.04
Codename:	trusty
`

The pip install did not work for me :

`Requirement already satisfied (use --upgrade to upgrade): pyassimp in /usr/local/lib/python2.7/dist-packages
Cleaning up...`

Is it possible that the error comes from installing pyassimp via apt-get ins

[2017-07-25 07:33] lkj1114889770 opened #561 "problem of moveit so-versions"
### Description
I have upgraded the ros include of moveit.And then i got the  problem due to the so-versions of moveit. The recent version is 0.9.8, so the problem occured:

 **error while loading shared libraries: libmoveit_planning_scene_interface.so.0.9.6: cannot open shared object file: No such file or directory**
And then i did 'rm -r devel build ', recompile in the catkin workspace, but i st

[2017-07-25 07:36] #561 closed

[2017-07-25 07:38] lkj1114889770 commented on #561
It works by 'rm -r devel build ', recompile in the catkin workspace.

[2017-07-25 09:43] v4hn commented on #559
The idea of the `pip` command was to remove the version installed by `apt` and instead
install the latest version available through `pip`. I wrote the exact command line off the top of my head,
so maybe you have to lookup the exact command to do that yourself.

Sorry, I've never heard of this problem on 14.04 until now, so hopefully this is specific to your setup...
We can't really help you there.

[2017-07-25 16:12] v4hn commented on #169
Good question indeed. Actually, I'm not sure it is documented explicitly,
or at least I don't have a reference at hand, unless you count [template `.pc` files as this one](https://tecnocode.co.uk/2014/12/09/a-checklist-for-writing-pkg-config-files/#).

The reasoning behind the nested layout is the exact problem we have above and to the best of my knowledge it exists throughout the Linux/Unix world

[2017-07-25 18:13] animez4me opened #562 "Orientation Constraint not being constrained"
Hi,

I am able to plan an orientation constraint for my end-effector, being parallel to the ground. However, occasionally the path planned results in the end-effector to randomly flip. Is there a method to remove these rotating motion and keep the end effector parallel at all times?

I am currently using RRTConnectkConfigDefault planner and trac_ik solver. I have set the tolerances for the orienta

[2017-07-25 20:13] de-vri-es commented on #560
Please provide a clearer description of your problem. As it stands we have very little to work with.

* What were you doing or trying to do when the problem occurred?
* Which exact commands did you execute?
* At which stage of using the setup assistant does the crash occur? Is it triggered by a specific action?
* Can you complete the tutorial [1] successfully?
* Could you give more details of your

[2017-07-26 01:53] wsycy1994 commented on #560
1.I just executed "roslaunch moveit_setup_assistant setup_assistant" in terminal and the above error occurred.
2.Not triggered by specific actions, but the beginning of the implementation of the system reported the error
3.I use synaptic package maneger to install package,but when I tried to install ros-indigo-moveit-pr2,I got the error like this:Depends: ros-indigo-pr2-moveit-tutorials  but it is

[2017-07-26 09:43] v4hn commented on #562
Please have a look at https://github.com/ros-planning/moveit/pull/541 for an analysis of the problem and a workaround that might or might not help you.
This pull-request has not been released yet.

[2017-07-26 14:29] cschindlbeck commented on #559
Removed the error by installing assimp over pip and more importantly, deleting pyassimp from /usr/lib/python2.7/dist-packages

[2017-07-26 14:29] #559 closed

[2017-07-26 15:36] davetcoleman commented on #560
I just fixed this bug and the new version will be released next ROS sync: https://github.com/ros-planning/moveit_pr2/pull/92

[2017-07-27 14:37] animez4me commented on #562
Hi, I have tried the workaround and I definitely see an improvement. The enforce_joint_model_state_space flag prevented the end effector from going out of the orientation constraint. It also finds the solution reasonably quick (able to use in real time). However, occasionally it would fail the planning (timeout set at 60secs). This happened 4/25 times when I tested it. Is this normal?

Thanks,

[2017-07-27 22:48] AadityaPatanjali opened #564 "RPi (ARMv7/v8): move_group segfault"
### Description
**move_group process dies with an exit code 11** on a new installation of moveit while runnning the move_group launch file from crdwolfe's [phantomx_arm](https://github.com/cdrwolfe/phantomx_arm) package (connecting a physical robotic arm). It tells me that the error is written to a log file, which is not found.
I even tried running move_group from the main moveit_ros_move_group pa

[2017-07-28 13:54] simonschmeisser commented on #512
Using the same approach I can make the attached object disappear:
[code]

The attached object however then does not reappear until the next robot state update is received. I think on "real" robots the updates are received at a certain fixed frequency. For industrial_robot_simulator we unfortunately need to move the robot to get an update. Probably the attached object should be stored somewhere to

[2017-07-28 15:59] v4hn commented on #562
Well, the patch I linked to is a workaround, it does not address the root of the problem.
As explained in the other thread, enforcing the joint model state space implies rejection sampling and this can be quite slow if the planner fails to find the valid part of the search space.
I've not experienced the problem this bad, but yes, planning *might* fail depending on your overall configuration/setup

[2017-07-28 16:22] v4hn commented on #564
I can't reproduce the segfault with MoveIt kinetic on x86_64 over here, but that doesn't mean a lot.

I guess the problem is related to the armhf binaries. Could you try to build the current `kinetic-devel` branch in your workspace (is that even feasible on armhf?) and see whether you can reproduce it there?

[2017-07-28 16:27] maxgitt commented on #110
Hi @davetcoleman I am completely new to moveit and am running through the "MoveIt! RViz Plugin Tutorial" for kinetic. What confuses me is the number of indigo references on this page.

Under pre-requisites the first thing to check is that I have the "pr2_moveit_config" which I can either find in the "MoveIt! Setup Assistant tutorial" or by typing in on my commandline:
<pre>sudo apt-get install ros

[2017-07-28 18:01] mamoll commented on #562
I think @zkingston might know why this is happening. It could be related to some weird Euler angle interpolation issue.

[2017-07-30 20:46] davetcoleman commented on #110
First - yes, those tutorials sorely need to be updated for Kinetic. Just needs someone to put in the effort.

The xacro file is not in the ``moveit_pr2`` package but actually the [pr2_common](https://github.com/PR2/pr2_common) pkg that is available in Kinetic.

You need both the slimmed down ``pr2_moveit_config`` and ``pr2_common`` to run the tutorial in Kinetic.

[2017-07-30 21:15] davetcoleman opened #566 "GPD (Grasp Pose Detection) Library Integration"
Andreas ten Pas (@atenpas) has released an excellent ROS library called [GPD](http://www.ccs.neu.edu/research/helpinghands/code.html) for detecting grasp poses in point clouds using the [Caffe](http://caffe.berkeleyvision.org/) deep learning framework and PCL. However there is currently no integration with MoveIt!. Myself and @v4hn are collaborating with @atenpas on creating this integration and t

[2017-07-30 21:15] davetcoleman commented on #493
@tkelestemur see https://github.com/ros-planning/moveit/issues/566

[2017-07-31 15:03] tkelestemur commented on #566
We have been using @atenpas' grasp pose detection code with MoveIt!. We deployed the code on Toyota's HSR robot and got pretty good results. I will try to do my best to share my experience about how to integrate GPD with MoveIt!. Unfortunately the code that I wrote for the HSR is quite a mess (I had to put everything in the last minute for the RoboCup competition).

There are 3 easy steps to integ

[2017-07-31 15:37] maxgittelman commented on #110
I made the necessary changes for a more complete kinetic tutorial for the Setup Assistant. Which includes the installation of the pr2_common pkg. I would like to push the changes to the repo but am getting an access denied.

I tried creating a pull request but can't create my own branch so I'm unsure how to commit these changed. Please excuse my confusion I've never committed to an open project li

[2017-07-31 15:39] v4hn commented on #566
Here's an excerpt from a mail I wrote on this matter.
This focuses on a "good" high-level integration, instead of the details @tkelestemur explained above.

  In your packages there is usually no notion of an "object to grasp",
  right? A reasonable solution that comes to my mind, without
  adding another object pose estimation module to the pipeline, is to
  specify some 3d bounding box as collis

[2017-07-31 15:55] maxgittelman commented on #110
I created a pull request. The tutorial now includes the missing pr2_common pkg and some finer changes to make the kinetic tutorial more clear.

[2017-07-31 16:26] davetcoleman commented on #566
@tkelestemur can you link us to the code you wrote for GPD, even if its a mess? It might serve as a good starting point for a cleaned up version.

[2017-07-31 17:05] davetcoleman commented on #486
All checklist items have been completed, I'm going to declare Lunar released and any additional tasks can be added to new issues. Thanks @130s for all your efforts!

[2017-07-31 17:05] #486 closed

[2017-07-31 18:07] 130s opened #567 "201708 Release"
- [x] Lunar needs new release to complete its release https://github.com/ros-planning/moveit/issues/486#issuecomment-319132241
- [x] #553
- [x] #565
- [x] #572
Release into:
- [x] Indigo -> https://github.com/ros/rosdistro/pull/15712
- [x] Kinetic -> https://github.com/ros/rosdistro/pull/15715
- [x] Lunar -> https://github.com/ros/rosdistro/pull/15716

If there are any issues/PRs that should be in

[2017-08-01 15:27] maxgittelman commented on #110
I also made a pull request for the RViz plugin tutorial. Hopefully this gets looked at and merged soon.

[2017-08-01 17:03] 0ldham commented on #86
I still receive the initial structs error, even after following the advice of @MarkusEich and of @iglstone, and after updating moveit and pyassimp.

[2017-08-02 15:50] davetcoleman commented on #110
keep it coming!

[2017-08-02 21:17] christian-rauch opened #568 "OMPL with LBKPIECE1 crashes frequently after planning request"
### Description

MoveIt crashes sporadically during planning using OMPL with LBKPIECE1.
I am using the `move_group.launch` launch file from the ([moveit plugin](https://github.com/christian-rauch/kuka_lwr_sdh2_moveit)) generated by the setup assistant to start the `move_group`. I am then using the rviz plugin to set the end-effector poses and plan the joint trajectory with OMPL.

The crash also oc

[2017-08-03 10:30] v4hn commented on #568
Thanks for reporting this (again) @christian-rauch .
It's hair-raising this bug apparently still exists...
I can't reproduce it with our UR5 setup though, although the resulting trajectories look horrible with this planner configuration and a different planner should be selected anyway.

In ROS kinetic we moved away from "unspecified" and always set a default planner from within MoveIt,
so the pro

[2017-08-03 14:51] hartmanndennis opened #570 "computeCartesianPath minimum steps with joint space jump testing"
https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/robot_state/src/robot_state.cpp#L1923
`unsigned int steps = (test_joint_space_jump ? 5 : 1) + (unsigned int)floor(distance / max_step);`

Why are the minimum steps between waypoints fixed at 5 when joint space jumps detection is active?
If you have a dense trajectory, your output trajectory is 5 times as big and can slow the tim

[2017-08-03 15:13] v4hn commented on #570
I am not sure where exactly the 5 comes from, but 1 is not enough if you want to use joint space jump detection.
The detection compares distances between consecutive states with the *average* distance.
This doesn't make sense if you only have 1 step to begin with.

Do you use the multi-waypoint interface and encounter this problem?
As a fix for this use-case we could test for jumps in this functio

[2017-08-03 15:17] hartmanndennis opened #571 "Interest in Pull request for generating valid solutions outside -PI, PI range in ikfast plugin?"
In the discussion of #537 this issue was partially addressed.
I've worked with the KUKA KR16 whose axes 4 and 6 have (software) joint limits of -350° and 350°. IKfast only returns solution in the range -PI to PI. This is a problem because the robot driver considers PI and -PI to be different things. If you are at PI and command position -PI, the joint will rotate 360° before stopping. To be able t

[2017-08-03 15:26] hartmanndennis commented on #570
Yes, I use the cartesian path service via the move group interface.
I'll see if I can make a PR with your proposed fix.

[2017-08-03 15:30] v4hn commented on #571
I believe it would be a great addition.
However, for robots like the UR family where each joint is [-2pi;+2pi] this can blow up the solution space quite a lot, so I would propose to leave it optional.

Continuous joints should always be treated as [-pi;pi] and unrolled as required by the user/trajectory processing tools.

[2017-08-03 18:49] v4hn commented on #567
I would very much like to see the segfault addressed by #572 & #565 fixed and #553 merged before the next release.

The earlier is a rather severe bug, the latter a easily understandable edge-case that is waiting for someone to click "Merge" for the last two weeks. :)

[2017-08-03 20:09] christian-rauch commented on #568
I am specifying the default planner within my launch file:
[code]
This is just a workaround and does not fix the crashes in the default (unspecified) planner `LBKPIECE1`. You can achieve the same effect by setting `default_planner_config: LBKPIECEkConfigDefault` in your `ompl_planning.yaml`, e.g.:
[code]

I guess many users start with moveit by using the setup assistant (which is a great tool by t

[2017-08-03 21:03] v4hn commented on #568
On Thu, Aug 03, 2017 at 01:09:11PM -0700, Christian Rauch wrote:

Usually the idea was to put it in `config/ompl_planning.yaml`. But sure, you can set it in the launch file too.

Are you sure this decides the default planner when planning through the `MoveGroup` C++ interface in `indigo-devel`?
I think I remember a problem there. If it doesn't, then I would like to fix this soon! (That's a somewha

[2017-08-04 09:48] christian-rauch commented on #568
I am not using the C++ interface directly. I only tested with the `move_group` node in the `moveit_ros_move_group` package (binary package 0.7.11).
If I call `rosparam set /move_group/arm/default_planner_config LBKPIECEkConfigDefault` before starting the move_group, the rviz plugin will show me this planner and you see console output from this planner.

[2017-08-04 10:28] v4hn commented on #568
Ah, in this case please ignore my comment for the moment. :)

Anyway, I hope I gave enough background to explain why the LBKPIECE1 segfault is still there, although it is very annoying to beginners...

Things to do:

- [ ] add a `default_planner_config` selection list option for each planning group to the setup assistant

- [ ] fix the segfault.

Contributions to address either are very welcome!

[2017-08-05 15:40] 130s commented on #567
Maintainers: please hold new merge.

TODOs from @v4hn are all clear now. I'm running pre-release tests locally for IKL.

[2017-08-06 17:51] atenpas commented on #566
In your packages there is usually no notion of an "object to grasp",
right? A reasonable solution that comes to my mind, without
adding another object pose estimation module to the pipeline, is to
specify some 3d bounding box as collision object and restrict the set
of valid grasps to those near the bb, but there are many ways
to do this, I guess.

Do we want bounding boxes or is there something i

[2017-08-07 00:41] 130s commented on #305
Partially addressed by https://github.com/ros-planning/moveit/issues/546 as the author of that PR says.

[2017-08-07 01:09] 130s commented on #490
Addressed via #535 (along with #492).

[2017-08-07 01:09] #490 closed

[2017-08-07 02:15] 130s commented on #567
- [x] Indigo -> https://github.com/ros/rosdistro/pull/15712
- [x] Kinetic -> https://github.com/ros/rosdistro/pull/15715
- [x] Lunar -> https://github.com/ros/rosdistro/pull/15716

[2017-08-07 02:15] #567 closed

[2017-08-07 09:20] gavanderhoorn commented on #567
Thanks for all the work @130s 👍.

Btw: is there something special about the Indigo changelogs? Fi the changes to `moveit_setup_assistant` are listed in the `moveit`, `moveit_ros` (with a `[moveit_core][moveit_planners]` prefix?) and finally `moveit_setup_assistant`. I don't know for certain, but it could be that this happened to more packages.

I've seen your PR on `catkin_pkg`. Are the changelogs

[2017-08-07 09:45] tkelestemur commented on #566
@v4hn My pipeline simply was:
1. Segment table and tabletop objects.
2. Create and publish GPD [CloudIndexed](https://github.com/atenpas/gpd/blob/master/msg/CloudIndexed.msg) msg.
3. Choose the closest grasp pose from top ten grasp poses (which has IK solutions).
3. Plan and move to pre-grasp pose (which is 10cm away in approach vector).
4. Plan and move from pre to actual grasp pose (using Cartes

[2017-08-07 11:46] skohlbr commented on #501
After switching from Indigo to Kinetic we started seeing this error message also every single time when planning in Gazebo simulation (arm still moved though). I'll revisit this in the coming days and provide more info, but it seems very likely that #232 did not properly fix race conditions regarding planning scene updates.

[2017-08-07 12:13] 130s commented on #567
Thanks for pointing that out. I overlooked those wrong changelogs in indigo. In the next release I'll fix (I also fixed this time the wrong log from 2 versions earlier).

Indeed that was a result of a not-accepted PR https://github.com/ros-infrastructure/catkin_pkg/pull/188 that proved to be insufficient like this time.

[2017-08-08 06:59] xxx09 commented on #475
@sewawa I have the same problem with u, I upgrade opencv (which i import cv2 in python and cv2.__version__ is 3.1.0-dev) in Synaptic to 3.2, add library path as @v4hn mentioned, and it solves the problem.

[2017-08-08 10:50] hartmanndennis opened #577 "[MoveGroupInterface] Inconsistent usage of end-effector links between setJointValueTarget, setPoseTarget, and computeCartesianPath"
### Description

I use IKfast computed from base_link to tool0. The move group is defined in my SRDF like this `<chain base_link="base_link" tip_link="tool0" />`.
If I use setEndEffectorLink of MoveGroupInterface to my end-effector link(different from tool0), setJointValueTarget, setPoseTarget, and computeCartesianPath(all called with a Pose) behave inconsistently.

### Your environment
* ROS Dist

[2017-08-08 14:31] hartmanndennis opened #578 "[ikfast_template] searchPositionIK doesn't consider other solutions if the best solution returned by getPositionIK is in collision"
### Description

#537 fixed the ikfast plugin so that getPositionIK now returns the nearest solution to the seed state instead of the first solution returned by IKFast.
Most moveit components call searchPositionIK which has an constraint callback parameter which getPositionIK lacks.
If the kinematics of your robot has no free parameters, searchPositionIK just calls getPositionIK and calls the cons

[2017-08-08 15:43] v4hn commented on #578
:+1: This sounds like a very good idea for ikfast.

[2017-08-08 16:11] v4hn commented on #577
Ouch. Thanks for reporting and for debugging it this far!

Could you please file a pull-request and give an example of where this changes current behavior?
At the moment I'm inclined to consider this a plain bug and support a patch for kinetic.

Can't blame you. The code is horribly convoluted. The constraints are forwarded to the planner, the planner instantiates a constraint sampler manager and

[2017-08-08 19:18] skohlbr opened #579 "`Found empty JointState message` ROS_ERROR output with Kinetic"
### Description

It appears there is a regression in Kinetic that leads to `Found empty JointState message` ROS_ERROR output getting spammed to the terminal. See also ROS Answers: https://answers.ros.org/question/266274/moveit-regression-found-empty-jointstate-message
It appears for most (all?) people this does not have adverse effects. However, there is at least one regression related to joint st

[2017-08-08 19:26] skohlbr commented on #501
Revisiting this I ran across the ROS_ERROR spam described in #579. I couldn't immediately reproduce the timeouts, but remember seeing them before, possibly when using a custom move_group plugin.

[2017-08-08 19:30] skohlbr commented on #579
Following the ROS Answers link, this was likely introduced via #499.

[2017-08-09 10:04] k-okada commented on #86
as @0ldham reported, we still have this problem, on proposal patch is https://github.com/ros-planning/moveit/pull/581

[2017-08-09 10:55] Vonstafenberg commented on #579
I am having the  same problem....!

[2017-08-09 11:11] Vonstafenberg commented on #552
@zplizzi and @v4hn  I have the same issue. I am doing the pr2 moveit_tutorials planning_scene_ros_api_tutorial. The object appears and gets connected to the gripper. But then it does not get detached. and along the way between the processes of attach and detach I get a stream of messages
.............................................................................

[code]
[code]

I have checked th

[2017-08-09 12:16] v4hn commented on #552
@Vonstafenberg The repeated `Attached object ...`  info messages can be safely ignored and should not
cause any problem.

If this is the case, please report this as a bug in `moveit_tutorials` with a more detailed explanation.

[2017-08-09 13:09] hartmanndennis commented on #577
I found the issue with setPoseTarget.
https://github.com/ros-planning/moveit/commit/fba9babb8eb5d06c41bdf23d70f207da6f7198f8 added the ability to use links other than the ik tip but the implementation is conceptually wrong. It transforms the constraint before any sampling is done which is fine for pure orientation constraints, doesn't work at all for pure position constraints and could work for co

[2017-08-09 14:07] skohlbr commented on #579
@v4hn Given you appear pretty confident this is purely cosmetic in #499: Do you have an explanation why when planning is triggered, an empty `robot_state` is passed to [_robotStateMsgToRobotStateHelper](https://github.com/ros-planning/moveit/pull/499/files#diff-e03d4d985fd8f5e9565368bddcac8d96L329) (or at least one that contains empty name vectors in either of the two fields)?

[2017-08-09 14:54] hartmanndennis opened #583 "[MoveGroupInterface] setJointValueTarget doesn't check collisions during IK call"
setJointValueTarget adds an empty constraint callback to setFromIK as can be seen here:
https://github.com/ros-planning/moveit/blob/7d36403187dffbad7a747e65b98dd266cc0b9da9/moveit_ros/planning_interface/move_group_interface/src/move_group_interface.cpp#L463-L465
I don't think this is critical since the planner will check collisions later but in light of #578 it would be nice if a collision detecti

[2017-08-09 20:25] nsnitish commented on #578
I think implementation will be more or less similar to #537

[2017-08-10 08:45] v4hn commented on #577
On Wed, Aug 09, 2017 at 06:09:32AM -0700, Dennis Hartmann wrote:

Please elaborate on this. Is the problem with the IK solver
that it computes IK for a different link than the one requested?

Shouldn't this work with generic IK plugins like TracIK and KDL?

Also I wonder why this code uses `searchPositionIK` and not `RobotState::setFromIK`.
The latter should automatically take care of the transfor

[2017-08-10 08:47] v4hn commented on #579
I already tracked this down and have a possibly incomplete patch. Coming soon.
I'm on vacation though, so I don't want to spend the whole day in front of my screen. :)

[2017-08-10 09:07] v4hn commented on #583
You are right, this would be nice. But.

On Wed, Aug 09, 2017 at 02:54:59PM +0000, Dennis Hartmann wrote:

Correct.

Short answer: in this case there isn't. We would have to maintain a `PlanningSceneMonitor` that adds a delay from `move_group`s scene
or invoke a service call request a current planning scene in each function call. Both solutions add too much complexity to
this simple interface. Mai

[2017-08-10 10:44] hartmanndennis commented on #577
If you have a position constraint on the end-effector and want to call an IK with a different tip frame, you have to first sample the orientation of the end-effector and then transform because the translation part is dependent on the orientation of the end-effector (It is a local transform/right-side multiplication). If you transform before sampling you fix the position of the IK tip in space inst

[2017-08-10 10:49] hartmanndennis commented on #583
It's fine with me.

[2017-08-10 14:10] hartmanndennis opened #584 "[indigo] ikfast plugin fails to compile with c++11 enabled"
#515 was cherry-picked to indigo but did someone test this on indigo? As far as I can see there are no tests for this and the template is never compiled so Travis doesn't fail.
Using c++11 fails for me on indigo with all updated 14.04 packages (with the indigo-release docker image as well) because of ambiguous isnan calls in the ikfast solver source. This is because of [this bug](https://sourcewar

[2017-08-10 14:16] gavanderhoorn commented on #584
I think we could also resolve the ambiguous `isnan(..)` calls (like was done in https://github.com/ros-industrial/motoman_experimental/commit/2981de24185b196fc3a345a96f273aba6fe85e38).

The template could be updated, and that should work on Indigo as well.

---

This was one of the reasons why I hesitated in #515 to cherry-pick this to Indigo.

[2017-08-10 14:25] hartmanndennis commented on #584
The template script would probably need to change all isnan calls to std::isnan like in your example. A simple `#undef isnan` sadly doesn't work.

[2017-08-10 14:27] gavanderhoorn commented on #584
`<ugly>`Could we not `#define isnan std::isnan` right before the `#include "_ROBOT_NAME___GROUP_NAME__ikfast_solver.cpp"`?`</ugly>`

[2017-08-10 14:30] hartmanndennis commented on #584
That could work. It does compile with this hack.

[2017-08-10 15:15] gavanderhoorn commented on #584
I've added some comments to your PR.

Thanks for reporting and submitting btw 👍

[2017-08-10 17:49] v4hn commented on #583
One thing we *could* do of course is to expose the callback parameter as another function parameter of `setJointValueTarget`.
This leaves the burden with the user and if they really want to, they can fetch a planning scene before. :-)

[2017-08-11 11:02] hartmanndennis commented on #583
That could be an option. Would it be better then to add the optional callback parameter after the optional end effector link?

[2017-08-11 11:50] v4hn commented on #583
We will not break API for this.
If you want to add it, either add a new default parameter at the end or
create a new method.

[2017-08-11 15:43] broesdecat opened #587 "createMeshFromResource crashes with inventor stl files"
### Description

Calling createMeshFromResource with an stl mesh exported from Inventor 2018, the program crashes on a memory corruption. Call stack below.

Workaround: open the inventor stl file in meshlab (no issue there) and export is as-is as an stl. Calling createMeshFromResource on the resulting stl file works fine.

The STL files are in attachment, both are binary.

### Your environment
* R

[2017-08-11 15:56] gavanderhoorn commented on #587
Could you add frames 8 and 9 as well to the bt?

[2017-08-11 16:00] broesdecat commented on #587
Updated the post.

Additional update: .obj files exported from Inventor are working fine.

[2017-08-11 16:08] gavanderhoorn commented on #587
Can you add what the actual crash is? Is it a `SEGFAULT` or stack / heap corruption or something else?

[2017-08-11 16:10] gavanderhoorn commented on #587
And just some expectation management: often times these things turn out to be problems in Assimp. As `geometric_shapes` is just a consumer of that code, we might not be able to do something about it.

---

Edit: thinking about it, perhaps it would be better to report this over at [ros-planning/geometric_shapes/issues](https://github.com/ros-planning/geometric_shapes/issues).

[2017-08-11 18:24] dh562231640 opened #588 "stack smash while planning with a collision object in the planning scene"
### Description

stack smashing detected, and move-group will died with exit code -6 It happens when add a collision object in the planning scene and try to plan with this collision object in the planning scene. And log file can not be found by the path it gives to me

### Your environment
* ROS Distro: Kinetic
* OS Version: e.g. Ubuntu 16.04
* Binary build verision 0.9.8-0xenial-20170628-083013-0

[2017-08-12 17:34] v4hn commented on #588
I can't reproduce this with my setup.

Please provide more details. Do you observe this with a local source-build too?

[2017-08-14 12:31] v4hn commented on #584
A test for this is very much welcome!

Thanks a lot for your work here. 👍

[2017-08-14 15:16] dh562231640 commented on #588
@v4hn Thanks for the advice! I am trying to use source build one only to met a catkin_make error:

moveit/moveit_core/collision_detection_fcl/CMakeFiles/moveit_collision_detection_fcl.dir/build.make:110: recipe for target 'moveit/moveit_core/collision_detection_fcl/CMakeFiles/moveit_collision_detection_fcl.dir/src/collision_world_fcl.cpp.o' failed
make[2]: *** [moveit/moveit_core/collision_detecti

[2017-08-14 15:18] gavanderhoorn commented on #588
Please include more of the console output.

The part that you show here does not include the actual error, just the bit that says "something went wrong".

[2017-08-14 15:20] dh562231640 commented on #588
Thank you for the quick reply but the outcome is really too much as I can only copy part of it:

/usr/include/fcl/traversal/traversal_node_octree.h:93:29: error: invalid use of template-name ‘fcl::OcTree’ without an argument list
   void OcTreeDistance(const OcTree* tree1, const OcTree* tree2,
                             ^
/usr/include/fcl/traversal/traversal_node_octree.h:93:50: error: invalid u

[2017-08-14 15:22] gavanderhoorn commented on #588
With C/C++ errors: always scroll up to the first error that is reported and copy-paste that. The rest is most of the times not interesting.

[2017-08-14 15:38] dh562231640 commented on #588
Below is the error from the very beginning
It seems that something bad happened in the library FCL but I just do not know how to deal with that.

In file included from /usr/include/fcl/ccd/motion_base.h:46:0,
                 from /usr/include/fcl/collision_object.h:45,
                 from /usr/include/fcl/broadphase/broadphase.h:43,
                 from /home/dh/catkin_ws/src/moveit/moveit_cor

[2017-08-14 15:41] gavanderhoorn commented on #588
Did you follow the [moveit installation instructions](http://moveit.ros.org/install/source/) for source builds?

Please provide some info on how you build moveit from source.

[2017-08-14 15:43] dh562231640 commented on #588
I just did as it told me. nothing different

[2017-08-14 19:00] #579 closed

[2017-08-14 19:29] dh562231640 commented on #588
I solved it!
it is the pcl that I installed from the source that replaced the old one and the downloaded one is not good for moveit and made the moveit runs bad.
Thank you for the helping

[2017-08-15 04:45] littlejohnyang opened #590 "No self-collision detection during the initial Inverse Kinematics process of "computeCartesianPath" function"
### Description

I noticed when I am doing "computeCartesianPath", the joint trajectory solution includes poses with links colliding with itself. Can you confirm this?

It looks like the acm is loaded properly and collision_detection::CollisionRobotFCL::checkSelfCollisionHelper function is called. But the model still looks like it's colliding. And it's definitely between two links that are not "ig

[2017-08-15 14:31] davetcoleman commented on #571
+1 to setting the range based on the URDF joint limits!

I usually see UR robots with the joint_limited tag enabled, to avoid this issue.

[2017-08-15 16:29] davetcoleman commented on #117
+1 to moving towards this new interface

[2017-08-15 18:06] v4hn commented on #571
On Tue, Aug 15, 2017 at 07:31:06AM -0700, Dave Coleman wrote:

There is more than one issue there, but yes. :)

[2017-08-15 20:47] AndyZe opened #591 "planning_scene.distanceToCollision( robot_state ) returns a max value"
### Description

.distanceToCollision and collision_result.distance are giving nonsensical values.

### Your environment
* ROS Distro: Indigo
* OS Version: Ubuntu 14.04
* Binary version 0.7.12-0trus

### Steps to reproduce
Minimal example here: https://github.com/UTNuclearRoboticsPublic/standalone_collision_check

### Expected behaviour
I spawn a collision cube then try to measure the distance wit

[2017-08-15 20:59] AndyZe commented on #591
Just checked ... same issue on Kinetic.

[2017-08-15 23:10] AndyZe commented on #591
I did eventually get it working per https://github.com/ros-planning/moveit/issues/430. I guess I was mixing syntax. The functional code:

`  ros::init (argc, argv, "collision_check");
  ros::NodeHandle nh;

  ros::Duration(1.0).sleep();

  // Set up the MoveIt scene
  robot_model_loader::RobotModelLoader robot_model_loader("robot_description");
  robot_model::RobotModelPtr kinematic_model = robot_

[2017-08-15 23:10] #591 closed

[2017-08-16 09:58] v4hn commented on #591
[code]

Congratulations on getting it to work.

Please note that it would be better to work with the `/get_planning_scene` service (for which there is no generic wrapper function in the `PlanningSceneInterface` yet, patches welcome) and update the relevant part of the planning scene; alternatively you could create a `PlanningSceneMonitor` and have it subscribe to `move_group/monitored_planning_sce

[2017-08-16 12:05] v4hn commented on #590
Sorry, but we recently froze the `jade-devel` branch. Can you reproduce this on kinetic or indigo?

[2017-08-16 15:16] Vonstafenberg opened #592 "moveit_tutorials planning_scene_ros_api_tutorial Object does not get removed. Moveit kinetic"
@davetcoleman ,@v4hn

I am using Moveit with kinetic. I am not very expert with ROS and Moveit. Fortunately the contributors have updated some packages to make it work with kinetic. However there are some issues.
The Move_group_interface tutorial #45 works like shown in the video. But I have not tested all the tutorials. However there is a problem with moveit_tutorials planning_scene_ros_api_tutor

[2017-08-17 00:56] littlejohnyang commented on #590
I spent a bit of time digging into the source code now. I can confirm that the self collision function is definitely being called. However the collision happened only between some of the links but was fine on other pairs of links.

So I created a separate package with my own node and extracted out the relevant computeCartesianPath code out from MoveIt source code. The computeCartesianPath is now l

[2017-08-17 04:44] littlejohnyang commented on #590
Instead of using the complex dae files, I recreated the model using box objects for collision avoidance, it now works properly. So it should be just how the dae model is converted to collision obj in the code.

[2017-08-17 07:11] gavanderhoorn commented on #590
Using Collada for collision meshes used to be a problem (ros-planning/moveit#159), but with the merge of ros-planning/geometric_shapes#52 the idea was that it should work again.

I'm not sure that what you're seeing is another manifestation / related, but I thought I'd mention it in any case.

And as a side note: using 'lower quality' (ie: lower face / vertex count) meshes for collision geometry i

[2017-08-17 07:28] davetcoleman commented on #566
Perception is outside the scope of MoveIt!, except for the octomap integration which is debatable. So no, we don't have the ability to detect objects without third-party software. MoveIt! can accept into its planning scene representation bounding boxes, meshes, or other shape primitives. I presume we want bounding boxes, yes.

[2017-08-18 13:31] axelschroth opened #595 "RobotState rviz previewer: First message from e.g. latching publishers is not applied to robot state correctly"
I noticed an issue with the robot state display plugin. If you subscribe to a latching publisher, the first update/message is ignored and the robot is displayed in default state. The reason for this behaviour is the delayed loading of the robot model.

RobotStateDisplay::onEnable() subscribes to the configured topic and sets load_robot_model_ = true in order to load the model in the next update()

[2017-08-18 13:49] hartmanndennis commented on #571
I was thinking about how to avoid the exploding solution space issue. For the case where we want to get the closest solution to a seed that is not in collision, we don't have to compute every extra possibility.
First, rotating a joint 360° doesn't change collision status so we can ignore solutions that are in collisions.
Since our distance metric is the sum of absolute differences we also know tha

[2017-08-19 14:54] #578 closed

[2017-08-21 15:12] hartmanndennis commented on #571
Unfortunately not all assumptions above are true in every case.
I'm currently testing a solution where for every IKFast solution I check every joint if its distance to the seed is greater than 180°. If that is the case I add/subtract(depending of the sign of the distance) 360° and check if the result is still in joint limits. This new solution is always closer to the seed. I don't need to generate

[2017-08-21 15:41] v4hn commented on #571
Yes. Especially w.r.t. 7dof chains this can be a lot...
I would like to see this feature in MoveIt but most likely it should be optional.
If we want to break ABI for this, we could also add it to the `KinematicsQueryOptions`.

[2017-08-21 22:48] Jmeyer1292 opened #597 "Robot Model from URDF/SRDF String and Kinematic Plugins"
### Description

Just a quick note:

With the current design of `robot_model_loader` and its helper class `RDFLoader`, one cannot load robot models from a urdf and srdf string, and then load the kinematics plugins from parameters.

This is because the `RDFLoader` constructor using the strings never sets the `robot_description_` parameter of the class. This field is used later to create the kinemat

[2017-08-25 12:48] broesdecat commented on #587
Actual crash: `malloc(): memory corruption: 0x00000000013f5390`
No debug symbols on the Ubuntu servers.

I am indeed aware that the issue probably lies in assimp, but it makes more sense for that to be logged by you as direct consumer of their library I think. Anyway, I will relog on `geometric_shapes`.

[2017-08-25 12:48] #587 closed

[2017-08-25 22:04] XuxinDoubleWang opened #600 "Model flash after trajectory"
Hello everyone,
I am trying to use moveit to do inverse kin.
I follow moveit tutorial from website and my arm controller is arbotix.
No bug and error when I launch my bringup launch file and moveit_group.
However, after I run final execution node. My model flash between final pose and initial pose like following:

![screenshot from 2017-08-25 17 54 20](https://user-images.githubusercontent.com/203

[2017-08-25 22:52] v4hn commented on #600
Please never post screenshots of source code in bug reports..

The node that publishes joint states is probably the `joint_state_publisher` that simulates the behavior of the robot for you when you use `demo.launch`.

If you plug in another simulator the two will overwrite each other.

[2017-08-26 18:50] XuxinDoubleWang commented on #600
Sorry for the screenshot.
Thanks for your helpful idea!!
What do u mean " another simulator"? Could you please give me more details about it?

[2017-08-27 11:40] v4hn commented on #600
From the launch-file you screenshot the `arbotix_driver` node starts up in "fake mode".
Without investigating, I believe this is a mode similar to moveit's `demo.launch`.
So the arbotix_driver and the joint_state_publisher overwrite each other.

It's probably a good idea to remove the `joint_state_publisher` in this case.

Use `rqt_graph` to get an overview over the node network or `rostopic info

[2017-08-30 17:55] crvogt commented on #283
Hi there,
This issue is coming up for me. I've done a clean ROS install, Indigo on Ubuntu 14.04, but it's continued to persist. I followed the instructions in this link http://moveit.ros.org/moveit!/ros/2017/01/03/firstIndigoRelease.html (I've both built it from source and tried the binaries. I've checked #290 and #292, as well as checked the actual changes made to the file to ensure I have built

[2017-08-30 18:31] v4hn commented on #283
@crvogt Please paste the exact error message you see and explain what exactly you did to cause it.

This error can arise for a number of reasons.

Feel free to file a new issue for it too.

[2017-08-30 19:00] crvogt opened #605 "Occurrence of "Invalid Trajectory: start point deviates""
Hi there,
This issue is coming up for me. I've done a clean ROS install, Indigo on Ubuntu 14.04, but it's continued to persist. I followed the instructions in this link http://moveit.ros.org/moveit!/ros/2017/01/03/firstIndigoRelease.html (I've both built it from source and tried the binaries. I've checked #290 and #292, as well as checked the actual changes made to the file to ensure I have built

[2017-08-30 19:01] crvogt commented on #283
@v4hn Thank you for the quick response.

I was a bit hesitant to make a new issue for it, but I suppose posting in the appropriate place makes sense :)

[2017-08-30 21:38] #600 closed

[2017-08-30 21:48] XuxinDoubleWang opened #606 "Arm Tracker failed"
Hello everyone,
I am using moveit to do some thing like arm tracker.
My robot model can move if I set one position and IK solver work very well.
However, if I give it a series of positions to do arm tracker, most of positions are failed.
Moveit shows the following errors repeatedly:

`
[ INFO] [1504128983.313193975]: Combined planning and execution request received for MoveGroup action. Forwarding

[2017-08-31 07:03] v4hn commented on #605
Your gist urls in this issue are wrongly formatted.

I see that between planning and execution you sleep a rather long time (10 seconds).
Usually physics simulations are not dead accurate over a long periode of time,
although I know that the PR2 arms might be somewhat of an exception there...

Does the problem persist if you *don't* sleep there at all / use the `move()` method
instead of plan&exec

[2017-08-31 07:32] crvogt commented on #605
Ah sorry, I tried to post the code correctly (ie not just copy and paste), not sure how to do it with the gist urls...

Anyhow, I changed the sleep time, and the error does not occur on the first run through after catkin_make, but does every time after that :/

On replacing plan and execute, the error has not appeared, and the movements have been carried out as I'd hoped.

Soo, sleep() between pla

[2017-08-31 09:05] v4hn commented on #605
replacing `plan;sleep;execute` by `move` should be basically equivalent to removing the sleep entirely w.r.t. the error you see.

This seems to be the case, yes.

This on the other hand doesn't make any sense at all to me at the moment.

If your controller can deal with a slight discrepancy between its current state and the start state of the trajectory
then you can relax the validation threshold

[2017-08-31 13:11] crvogt commented on #605
Ah, sorry, yes, that's caused a different error around when I attempt to attach an object to the gripper. Since I did a single variable for sleep time and decreased it to avoid the joint error, it doesn't seem to give enough time to attach an object to the robot...

then you can relax the validation threshold instead. `0.01` was chosen as a rather strict threshold.

Oh ok, it doesn't look like I'l

[2017-08-31 13:11] #605 closed

[2017-08-31 16:40] v4hn commented on #605
On Thu, Aug 31, 2017 at 01:11:06PM +0000, crvogt wrote:

Consider using the synchronous `PlanningSceneInterface::applyAttachedCollisionObject` method instead, to avoid the (ridiculous..) sleep.
Due to backward compatibility (and complains from other maintainers...) we did not change the
attach method in the `MoveGroup` to use the service...

Good luck with your project.

[2017-08-31 16:45] v4hn commented on #606
According to the log you pasted, the planner was unable to solve inverse kinematics for the goal pose you specified.
Make sure the poses you request are actually reachable.

On a different note: you probably want to set a planner id like `RRTConnectkConfigDefault` for your planning requests. `LBKPIECE1` is known known to have problems.

On Wed, Aug 30, 2017 at 02:48:36PM -0700, XuxinDoubleWang wro

[2017-08-31 22:39] #595 closed

[2017-09-01 11:30] crvogt commented on #605
:) Thank you for the tip! I've checked it out and will apply it.

[2017-09-04 15:25] gerac83 opened #608 "Typo?"
I found a typo as below:

https://github.com/ros-planning/moveit/blob/4bc43c56ca2a5293f3ef8d55796ec586cfde5f69/moveit_planners/ompl/ompl_interface/src/detail/ompl_console.cpp#L40

it should be ompl_interface. I have no idea if this is relevant at all.

[2017-09-04 17:11] bmagyar commented on #608
Thanks,  nice catch!  I'll look further into this today.

On Sep 4, 2017 4:25 PM, "Gerardo Aragon-Camarasa" <notifications@github.com>
wrote:

[2017-09-04 22:09] bmagyar commented on #608
I couldn't find any traces in the current moveit codebase of using this file at all.
As it does nothing but prints, I think it may even be time for this file to be retired...

[2017-09-04 22:45] v4hn commented on #608
If it is not referenced +1 to drop it.

[2017-09-05 11:12] bmagyar commented on #608
I'll sort that out :+1:

[2017-09-06 10:08] v4hn commented on #597
Sorry for the long delay! Apparently I never actually sent the mail.

A patch is very welcome. :)

At first glance it shouldn't be too hard to add support for this in the `RobotModelLoader`.

[2017-09-06 10:28] bmagyar commented on #597
And if you could add a test to nail the issue that would be even better :+1:

[2017-09-10 15:31] simonschmeisser commented on #608
can be closed?

[2017-09-10 15:52] bmagyar commented on #608
Yeah, thanks!

[2017-09-10 15:52] #608 closed

[2017-09-11 11:19] 534o opened #611 "python code is removed from warehouse_ros, but still exists in setup assistant"
warehouse_ros python code is removed in jade and kinetic, as discussed in
https://github.com/ros-planning/warehouse_ros/issues/35, https://github.com/ros-planning/warehouse_ros/pull/32

but still exists in https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_setup_assistant/templates/moveit_config_pkg_template/launch/warehouse.launch#L10-L13

we need consistency between these two packa

[2017-09-11 12:15] v4hn commented on #611
The package that is referred to in this launch file is https://github.com/ros-planning/warehouse_ros_mongo
which indeed provides the `mongo_wrapper_ros.py` script.

Afair - but no guarantees - we could not release this repo via rosdistro because it depends on a mongo driver that is not packaged in ubuntu. I guess you didn't build it yourself in the CI environment.
See [here](http://moveit.ros.org/

[2017-09-11 16:13] v4hn commented on #592
should be fixed by https://github.com/ros-planning/moveit_tutorials/pull/115

[2017-09-11 16:13] #592 closed

[2017-09-11 16:31] v4hn commented on #590
@littlejohnyang did you dig deeper into this?
I'm not sure what we can to do about this issue at the moment...

[2017-09-11 16:48] v4hn commented on #501
@skohlbr @dcconner Is this still relevant?

[2017-09-12 03:01] TroyCordie commented on #539
I have finaly had a chance to follow this up and the issue is in
bool TrajectoryExecutionManager::validate(const TrajectoryExecutionContext& context) const located in moveit_ros/planning/trajectory_execution_manager/src/trajectory_execution_manager.cpp

specifically if (positions.size() != n) on line ~963.

The issue arises when planning for a multi dof joint with out any other joint as trajectory

[2017-09-12 04:43] TroyCordie commented on #543
I believe this is closed with pull request #555

[2017-09-13 11:49] v4hn commented on #543
Agreed. Closing.

[2017-09-13 11:49] #543 closed

[2017-09-19 06:09] k-okada commented on #611
I had same problem and the problem for me, is when we use `roslaunch_add_file_check(launch)`(http://wiki.ros.org/roslaunch#Catkin ) on our cmake file, it marked as 'failure' because of missing `mongo_wrapper_ros.py` node.

So my proposal is either
- release both mongo driver and warehouse_ros_mongo as ros package
- add mongo_wrapper_ros.py to wherehouse_ros and default user use that old script fil

[2017-09-19 11:28] v4hn commented on #611
@130s Could you have a look into this possibility?

Alternatively it would be best to work towards resolving #123.

But this doesn't make much sense in my opinion. The point of the `warehouse_ros` refactoring was to get away from the hard dependency on mongodb.

My preferred solution until #123 is fixed or `warehouse_ros_mongo` is released would be to comment the lines from the launch file in the

[2017-09-20 08:55] ljklonepiece opened #615 "Integrating BITstar from OMPL to moveit"
### Description

I am trying to add BITstar motion planner algorithm from OMPL into moveit_planner

### Your environment
* ROS Distro: [Indigo]
* OS Version: Ubuntu 14.04
* Source:
Moveit: https://raw.githubusercontent.com/ros-planning/moveit/indigo-devel/moveit.rosinstall

### Steps to reproduce
* set up moveit pkg
1. create a catkin workspace and go into src folder
2. `wstool init .`
3. `wstool

[2017-09-20 09:49] v4hn commented on #615
I didn't look into your issue, but did you have a look at #117 ?
Maybe you made some mistake during setup that the new ompl-planner-wrapper does better?

[2017-09-21 02:52] jacknlliu opened #616 "moveit setup show no active joints or end effectors found for group ''"
I forked ROS packages from  [ROS-I/universal_robot](https://github.com/ros-industrial/universal_robot/). And I follow [Moveit Setup Assistant Tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/setup_assistant/setup_assistant_tutorial.html). After setup Moveit config, I got a `demo.launch` file, then
[code]

I got the following errors, and the `rviz` did not show any `interactive m

[2017-09-21 13:25] v4hn commented on #616
Having a group `moveit_ee` in between that does nothing really seems weird here, especially because the specified link already is part of the `ur5manipulator` group.
Do you get better results if you set that one as `parent_group` here?

I have no idea where the `''` group comes from at the moment.

General stabbing into the dark:

Did you choose `ur5manipulator` as your planning group in rviz? Loo

[2017-09-22 03:01] jacknlliu commented on #616
@v4hn  Thank you very much for your reply.

I follow your idea, and remove `moveit_ee` which does nothing then use `gripper` as end-effector.

But I still get the following logs.
[code]

Yes, the default plan request robot is `gripper`, so I cannot get the interactive markers. After I switch to `ur5manipulator`, I should change the interactive marker size from 0 to 0.5 manually, is this the defaul

[2017-09-22 07:53] 130s commented on #611
Not entirely sure but with https://github.com/ros-planning/warehouse_ros_mongo/pull/8, the driver issue for jade branch seems to be addressed.

@davetcoleman looks like you have done some work there so would you share some insights?

[2017-09-22 19:07] gavanderhoorn opened #618 "ikfast: create plugin script fails to copy template files when built from source"
### Description

`create_ikfast_moveit_plugin.py` in from-source 'builds' of the `moveit_kinematics` package appear to be unable to find the template files it needs when running the script.

### Steps to reproduce

Follow the *Generate IKFast Plugin* tutorial. It will fail when invoking `create_ikfast_moveit_plugin.py`.

### Expected behaviour

it should just copy the template files.

### Actual b

[2017-09-22 19:09] gavanderhoorn commented on #618
This would appear to be caused by the fact that `moveit_kinematics` is the package, but the templates are stored in a `ikfast_kinematics_plugin` sub directory.

When installed, the `templates` sub dir is placed in the root of `moveit_kinematics`.

In a from-source workspace, the `templates` dir is in the `ikfast_kinematics_plugin` sub directory, not at the root.

[2017-09-23 13:51] littlejohnyang commented on #590
I had a closer look at the dae files and I'm certain all the "triangles" of the mesh object has the normal facing the right direction. The dae files are generated directly from solidwork model which is a lot more complex and include things like screw holes etc. So if the collision detection is definitely not reporting correctly when using these complex models. The collision detection do report cor

[2017-09-26 18:51] v4hn commented on #584
closing in favor of #619

[2017-09-26 18:51] #584 closed

[2017-09-27 07:25] TroyCordie opened #622 "Feed being spamed with collision function warnings"
### Description

I recently installed ompl stand alone that caused some grief with building moveit so I'm not certan this is a bug or caused by the ompl install. I have since uninstalled ompl and am now getting the following warning spamming my feed.

'Warning: collision function between node type 19 and node type 9 is not supported
Warning: collision function between node type 19 and node type 5

[2017-09-27 17:23] v4hn commented on #622
Sorry, I have never seen this error before.
Maybe another maintainer did?

[2017-09-27 19:44] XuxinDoubleWang opened #623 "how to use differential inverse kinematics in Moveit"
Dear all,

I am trying to use differential inverse kinematics into Moveit.
I have already used kdl_ kinematics_plugin/KDLKinematicsPlugin to control my robot successfully, which input is the position of the end-effector. Now I want to change the solver to use differential inverse kinematics, which input is the velocity of the end-effector.
I cannot find the specific algorithm of kdl_ kinematics, s

[2017-09-28 00:43] davetcoleman commented on #274
@SalvoVirga reports having found the fix for this!

[2017-09-28 15:10] davetcoleman opened #624 "Could not find font Arial in MovableText::setFontName"
### Description

The latest version of Rviz has removed the Arial font and according to https://github.com/ros-visualization/rviz/issues/1152 this needs to be reflected in MoveIt! in order to avoid a segfault:

### Your environment
* ROS Distro: Kinetic
* OS Version: e.g. Ubuntu 16.04

[2017-09-28 16:10] gavanderhoorn commented on #624
Related ROS Answers question: [Error when trying to launch moveit created robot model](https://answers.ros.org/question/271750).

[2017-09-28 17:42] wjwwood commented on #624
It isn't a segfault, it is an unhandled instance of `Ogre::Exception`.

I'll make an announcement on discourse, sorry for the disruption this caused.

[2017-09-28 18:35] v4hn commented on #624
@davetcoleman so where's the corresponding pull-request that does search&replace?
Sounds easy enough and Liberation is the better font either way :-)
I don't have a 16.04 so I couldn't test it at the moment.

[2017-09-28 18:43] wjwwood commented on #624
Oh, so I was incomplete in my assumptions, I figure Moveit was only using Arial with Ogre (which is the case for rviz), but it's actually using it with Qt too, e.g.:

https://github.com/ros-planning/moveit/blob/4bc43c56ca2a5293f3ef8d55796ec586cfde5f69/moveit_setup_assistant/src/widgets/header_widget.cpp#L60

So in that case Moveit may need to depend on the liberation-sans font package in ubuntu or

[2017-09-28 18:46] wjwwood commented on #624
Thinking on it more, that must be the case since Qt wouldn't have found Arial in the past otherwise.

[2017-09-28 18:49] wjwwood commented on #624
If you choose to just depend on it, then maybe a new rosdep key for https://packages.ubuntu.com/xenial/fonts-liberation would fix the issue (along with find-replace `Arial` with `Liberation Sans` or something similar).

[2017-09-28 19:02] v4hn commented on #624
I would be in favor of that.
Could we also depend on another font that has no copyright issues and is distributed in the core of most linux distributions?
To integrate nicely with rviz I guess it makes sense to use Liberation.
Why didn't you make rviz depend on the package in the first place instead of bundling it with the package?

[2017-09-28 19:36] wjwwood commented on #624
Mostly consistency and portability. I'm working with rviz on mac and Windows these days and bringing the font with me is easier to ensure than relying on external dependencies.

Also, I already had code which loaded it from the package (as Arial) and so the minimal change was to distribute Liberation Sans and load it in the same way.

[2017-09-29 06:46] thibaultbarbie opened #625 "Could not build moveit from source : no matching function for fcl library"
I tried to build moveit from source with Ubuntu 16.04 and ros kinetic version but it seems to have a problem with fcl.

When I tried to compile it after having installed fcl (http://moveit.ros.org/install/source/dependencies/) it gave me :

`Finished  <<< libfcl-dev                                       [ 2 minutes and 10.3 seconds ]`
`Starting  >>> moveit_core`
`Errors     << moveit_core:make /ho

[2017-10-03 05:31] TroyCordie commented on #622
I have reinstalled FCL and that has resolved the issue. Sorry, I cant give better advice I'm still not certain what the problem was though I assume it was a version Issue.

[2017-10-03 05:31] #622 closed

[2017-10-08 18:00] v4hn commented on #1
@scottpaulin what is the state here? Did you upload your progress somewhere? Is there anything to upload yet?

Does it make sense to label this for this wmd for someone to pick?

[2017-10-08 18:16] v4hn commented on #113
I believe it would be a reasonable idea to generalize this planned tutorial a bit.

I would propose to remove the current TracIK stub in the tutorials section.
Instead I would prefer to add additional sections for TracIK, [bio_ik](https://github.com/TAMS-Group/bio_ik), and @mamoll's [cached ik plugin](https://github.com/ros-planning/moveit/pull/612) to http://docs.ros.org/kinetic/api/moveit_tutori

[2017-10-09 07:16] anirudh-shekhawat commented on #274
@davetcoleman ,@SalvoVirga. Can you update on the current state and share the fix?

[2017-10-09 09:27] v4hn commented on #274
@davetcoleman: @SalvoVirga didn't report "the fix".
He casually mentioned he has a patch for ompl that makes the problem go away for him. 😃

@SalvoVirga: Could you please pull-request your patch as-is at https://github.com/ompl/ompl .
If it breaks anything @davetcoleman , @mamoll, me, and whoever else is interested in this can look into a cleaner solution/fixup.

[2017-10-09 20:26] davetcoleman commented on #113
+1 to consolidating it to one page

[2017-10-10 07:16] scottpaulin commented on #1
I couldn't quite get it going sorry. It requires the CI to do a Debug build, which resulted in Travis timeouts at the time. Would be awesome if someone could pick it up.

[2017-10-10 15:31] v4hn commented on #488
@Levi-Armstrong mentioned to me that this is on his agenda for WMD. I'll add the appropriate flags :-)

[2017-10-10 15:35] Levi-Armstrong commented on #488
Possibly, my plan was to add the feature from industrial_moveit collision plugin exposing detailed distance queries within FCL. Afterwards if time permits I will happily address this issue.

[2017-10-10 15:38] v4hn commented on #488
Cool! 😎

[2017-10-11 06:21] knorth55 commented on #625
I had same trouble, and I got the information that moveit requires `0.5.0` of `fcl`.
https://discourse.ros.org/t/fcl-0-5-packages-for-moveit-in-kinetic/364

[2017-10-11 18:28] davetcoleman opened #629 "Reduce memory allocations in IK solvers"
It was requested in [pull request](https://github.com/ros-planning/moveit/pull/537#issuecomment-320294696) by @Jmeyer1292  that the IKFast and KDL IK solvers reduce memory allocation during runtime and instead only allocate at initialization. Even though we do not make any runtime guarantees, IK is called so frequently during some types of planning that we would see large speedups.

This changes s

[2017-10-11 19:03] v4hn commented on #629
Great idea!

I believe this is not simple though. Things can get ugly though if you look into thread-safety
- I'm uncertain about whether we currently guarantee it, but we want to aim for it either way.

[2017-10-11 19:04] v4hn commented on #625
looking into the error messages above shows that you installed an old version of `fcl`, @knorth55 is right.
Closing as invalid.

[2017-10-11 19:04] #625 closed

[2017-10-11 19:10] gavanderhoorn commented on #629
I would suggest to 'require' that a potential taker of this enhancement first profile a typical kinematics solver to see whether there is a lot of overhead in however many dynamic allocations they might do.

I trust @Jmeyer1292, but it would be a shame if someone spends their WMD figuring out how to avoid all sorts of allocs to in the end not really see any large improvement.

Do you have any nrs

[2017-10-11 19:15] v4hn commented on #35
We decided that stomp will stay with ROS-I for the time being.
If they ever wish not to maintain it any longer, we can include it in moveit directly.

[2017-10-11 19:15] #35 closed

[2017-10-11 19:36] Jmeyer1292 commented on #629
My comment was more specifically targeted at the PR that @davetcoleman mentioned because it seemed to do a lot of work for little gain: it made an extra vector and sorted it when all that needed to happen was to linearly march over existing data and remember the best item.

To the point made by @v4hn, MoveIt's API makes removing allocations difficult in a threaded environment. I wouldn't bother wi

[2017-10-11 20:22] v4hn commented on #629
Nevertheless, I believe at least *profiling* the current kinematics plugins to see how much it could improve is a good idea for WMD.

[2017-10-11 20:31] v4hn commented on #169
As mentioned above, this is not an issue that can be fixed within MoveIt, but it requires either a change in OMPL (my preferred solution) or in OSRF's build description.

If you understand the issue, this is something that can be done in a day and the outcome should be a concrete patch that adjusts either end and a corresponding issue/pull-request.

[2017-10-12 09:48] mbharatheesha opened #631 "MoveGroup::Place ignores goal poses specified in end-effector frame."
### Description
MoveGroup::Place interprets goal poses in the object reference frame despite setting `place_eef` to True in the `PlaceGoal` msg.

[Reference discussion on moveit-users google group](https://groups.google.com/forum/#!topic/moveit-users/MTLEB9diPMs)

[Related reference](https://groups.google.com/forum/#!searchin/moveit-users/place$20pose/moveit-users/_2_MGQ4jy7A/VDMxOABDY60J)

### En

[2017-10-12 12:06] mukesh8101997 commented on #624
can anyone please explain how to change arial font to Liberation san.
It will be very helpful for me.

[2017-10-12 12:18] v4hn commented on #624
William explained what has to be done in https://github.com/ros-planning/moveit/issues/624#issuecomment-332929567 .

I'll flag this for WMD. Anyone interested in this should have seen `rosdep` before I guess.

[2017-10-12 12:37] v4hn commented on #631
Hey @mbharatheesha , thank you for the report.
I know the structure of the relevant code is not easy, but did you have a look at it?

Do you have an easy-to-setup example for this at hand?

It is definitely possible that this is a mistake in the code, but it might also break for your setup only.

[2017-10-12 13:26] mbharatheesha commented on #631
@v4hn:

Yes, I did. And it comes from [here](https://github.com/ros-planning/moveit/blob/069f6c83f75c630b651350b678f45a0f7b6ec3d5/moveit_ros/planning_interface/move_group_interface/src/move_group_interface.cpp#L681).

Basically, the complete goal information from the user defined PlaceGoal msg is not used.

Unfortunately not. But, this is something that can be produced on any setup by using the Mo

[2017-10-12 13:47] v4hn commented on #631
In that case I'll mark this as WMD candidate and assign it to you :-)

Thanks a lot in advance, I'm looking forward to see this cleaned up!

[2017-10-12 14:07] mukesh8101997 commented on #624
I have already changed arial into Liberation san in my ogre_media but still getting this error. I don't know how you are using rosdep to remove this issue.
please help a bit more.
I am using ros kinetic though.

[2017-10-12 15:43] v4hn commented on #624
rosdep helps to solve this problem in a generic way in the packaging system. It doesn't help you with your problem.

I believe 1. you should install the liberation-fonts package of your distribution and 2. change all the strings that say "Arial" to "Liberation Sans". I haven't tested it myself yet.
This is what William said above.

[2017-10-13 14:19] v4hn opened #633 "MotionPlanning Display auto-active in RViz"
1. Run rviz.
2. Add a MotionPlanningDisplay (in case it is not there)
3. *Disable* the display and save the configuration
4. Close rviz
5. Start rviz again and load the saved configuration (or start via `rviz -d <config.rviz>`)

### Expected behaviour
The loaded MotionPlanningDisplay should still be disabled, as this is what the user saved

### Actual behaviour
The Display is enabled and active.

[2017-10-13 14:44] v4hn opened #634 "MoveGroupInterface copy-constructor"
The `MoveGroupInterface` wraps an implementation class, but does not consider this for copy-construction. The class does not define a copy-constructor, thus the default one is used and copies the `impl_` *pointer*, but the destructor just deletes the referenced object nevertheless.

This creates the following bug that comes up every now and then with students:
[code]
This can be worked around by c

[2017-10-13 14:54] v4hn opened #635 "Trajectory-Panel auto-plays on hide"
Recently, we add a new panel to the Trajectory/MotionPlanning Display (PR [here](https://github.com/ros-planning/moveit/pull/491), that is illustrated here:
http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/ros_visualization/visualization_tutorial.html#introspecting-trajectory-waypoints

1. Open RViz, enable the Trajectory Slider Panel (from the menu) if it is not yet there
2. Plan a traje

[2017-10-13 16:15] v4hn opened #636 "optionally wait for controllers indefinitely"
During startup, MoveIt's `move_group` node waits for the external controllers (`FollowJointTrajectory` or `GripperCommand` action servers) that have been specified in `config/controllers.yaml`.

However, if they do not come up within some fixed time, they are ignored, `move_group` continues, and they will not be available later on. MoveIt will be unable to execute trajectories for the relevant joi

[2017-10-13 16:23] v4hn opened #637 "default_planner_config in MoveIt Setup Assistant"
For some time now, MoveIt provides a way to specify an OMPL default planner for each group. (See [here](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_planners/ompl/ompl_interface/src/ompl_interface.cpp#L270)).
[Here](https://github.com/TAMS-Group/tams_ur5_setup/blob/master/tams_ur5_setup_moveit_config/config/ompl_planning.yaml#L69)'s an example of this in a configuration.

It wo

[2017-10-13 16:26] v4hn opened #638 "Add tutorial for constraint database approximation"
MoveIt supports the use of constraint databases for manifold approximation.
This works quite well, but is not very straight-forward.

It would be nice to have [a tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/) for this available.

[2017-10-13 16:27] v4hn commented on #638
I set this to assigned after discussing it with @henhenhen yesterday.
He will work on it.

[2017-10-13 16:40] v4hn opened #639 "setFromIK with Collision Checking"
[Our tutorial on setFromIK](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pr2_tutorials/kinematics/src/doc/kinematic_model_tutorial.html#inverse-kinematics) does not use collision checking.

How to add it in there has been a common question in the last few years.
An involved example that does it can be found [here](https://github.com/TAMS-Group/moveit_task_constructor/blob/master/src/s

[2017-10-13 22:29] rkeatin3 opened #640 "Passive Joints not Excluded from Joint Trajectory"
### Description

Passive joints included in a kinematic chain are not excluded in the generated joint trajectory when planning motion.

### My environment
* ROS Distro: Jade
* OS Version: Ubuntu 14.04
* Binary Package Version 0.8.7

### Steps to reproduce
I have attached a package that shows the behavior. You can see that in fake_controllers.yaml the compliant joint is included. If taken out, atte

[2017-10-15 20:56] v4hn opened #641 "Test for IKFast plugin"
Recently, we broke the ikfast plugin code in our indigo-branch and it took a while to repair. (See https://github.com/ros-planning/moveit/issues/584)

This could have been prevented by a test, but we don't have one for this yet.
Because the `ikfast_kinematics_plugin` in `moveit_kinematics` is actually a *template to generate* an ik plugin, this is not simple either.

We need a method that tests wh

[2017-10-16 17:20] v4hn opened #642 "Trajectory validation methods"
Currently, we have methods in MoveIt to check [a single robot state for collision](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/planning_scene/include/moveit/planning_scene/planning_scene.h#L375) and to check whether [a step between consecutive robot states is reasonable](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/robot_state/include/moveit/robot

[2017-10-16 17:35] v4hn opened #643 "tests for `PlanningScene`"
MoveIt's [`PlanningScene`](https://github.com/ros-planning/moveit/tree/kinetic-devel/moveit_core/planning_scene) is at the core of many of the operations the framework performs.

Even so, the [package's tests](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/planning_scene/test/test_planning_scene.cpp) contains only **three** tests.

This needs to be extended to account for th

[2017-10-16 17:42] v4hn opened #644 "PlanningScene getMsg interfaces"
The `PlanningScene` class has [a number of `process*` methods](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/planning_scene/include/moveit/planning_scene/planning_scene.h#L707) to pass in ROS messages.

However, the only way to *extract* ROS messages from the scene is via [`getPlanningSceneMsg`](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/planning_

[2017-10-16 18:15] jrgnicho commented on #642
@v4hn there's an ```isPathValid``` method in the [planning scene](http://docs.ros.org/jade/api/moveit_core/html/classplanning__scene_1_1PlanningScene.html#a74c475ddc55b6ba77ab9af652c81a505) that does just that.  However, it only checks for validity at each discrete joint trajectory point so any collisions between two consecutive points will not be detected,  [see here](https://github.com/ros-plann

[2017-10-16 19:40] fatihirim commented on #624
Can you be more specific on what you mean by replacing all Arial with Liberation Sans? Where exactly should I do the replacement? Which file(s)?

Thanks in advance.

[2017-10-16 20:23] v4hn commented on #642
Right you are, @jrgnicho . I used these methods myself before, but apparently forgot about them.
This was on my list of outstanding issues that came up in my lab over the last few months...

I will keep this issue open because we are still short of a service that wraps it.
http://moveit.ros.org/documentation/concepts/ lists a `GetPlanValidity` service that does not exist. It can be implemented thr

[2017-10-17 06:23] andreaskoepf commented on #99
The Xamla team would like to work on this during WMD.

[2017-10-17 06:49] davetcoleman commented on #28
I think this would be a great moveit day project to start. Just found an example config [from a similar project](https://github.com/frankaemika/franka_ros/blob/kinetic-devel/.clang-tidy)

[2017-10-17 08:28] v4hn commented on #99
Great, I'm looking forward into see progress here!

@davetcoleman @mikeferguson @andreaskoepf : Should we add these packages (if useful) as part of `moveit_commander` or do you consider it justified to create a new top-level folder here?

Personally, I would leave it to Xamla, as long as there is a pull-request to merge it into the MoveIt repo by the end of the day. :-)

Other things to do w.r.t.

[2017-10-17 08:29] giusebar opened #645 "Validate existing moveit tutorials"
It would be nice to check whether the existing getting started or advanced tutorials for moveit are working properly.
The tutorials could be followed and corrected if necessary.

http://docs.ros.org/kinetic/api/moveit_tutorials/html/index.html

[2017-10-17 08:30] v4hn commented on #28
:+1: We could definitely use such a cleanup and these patches are very much welcome.

[2017-10-17 08:35] v4hn commented on #624
I guess `git grep Arial` should list all places.

[2017-10-17 08:37] v4hn commented on #645
You beat me to it, I just wanted to create the very same issue.

This can be chosen by multiple users (especially MoveIt!-newcomers).
If you find *anything* you don't understand without other input, please raise an issue (and if possible file a pull-request).

[2017-10-17 09:13] v4hn opened #646 "[Meta-Ticket] We need reasonable test coverage!"
MoveIt has a huge code base, but way to few tests to cover it.
This includes unit, as well as integration tests.
In order to maintain stable behavior for all use cases, such tests would very much help maintainers to verify new pull-requests and work on the project.

At the time of writing, `find moveit/ -name test | wc -l` lists 16 test folders, whereas the project counts 21 (non-meta) ROS package

[2017-10-17 15:27] mukesh8101997 commented on #624
@fatihirim
if you find any solution then please guide others. I am also struggling with this problem for many days.
Thanks.

[2017-10-17 15:38] beatrizleon opened #648 "Mongodb fails to connect the first time it is launched for a specific robot"
### Description

When launching a robot for the first time, I get an error connecting with the mongo warehouse.
This is the error:
[code]
I think there is something that we can do when the database is created to avoid this issue.

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04
* Source or Binary build? both
* If binary, which release version?
* If source, which git commit or

[2017-10-17 15:40] beatrizleon commented on #648
The London team (Shadow + UCL) will be working on this, if possible, tomorrow.

[2017-10-17 18:41] fatihirim commented on #624
Unfortunately no luck yet. I have been struggling for two days now. What is strange for me is that I can run Rviz for one robot model created in MoveIt, but cannot run another very similar robot model due to Ogre Font exception regarding Liberation Sans.

I am using ROS Kinetic on Ubuntu 16.04.

People with more experience on this issue, please provide guidance, or please fix the issue in MoveIt/R

[2017-10-17 18:44] wjwwood commented on #624
Can you please include the exact error? That doesn't sound right.

[2017-10-17 18:49] fatihirim commented on #624
Here is the exact error:

 what():  OGRE EXCEPTION(5:): Could not find font Liberation Sans in MovableText::setFontName
[rviz_ML_Ubuntu_11752_4341152296783752344-4] process has died [pid 11776, exit code -6, cmd /opt/ros/kinetic/lib/rviz/rviz -d /home/ddomit/catkin_ws/src/RoboND-Kinematics-Project/kr210_claw_moveit/launch/moveit.rviz __name:=rviz_ML_Ubuntu_11752_4341152296783752344 __log:=/home/dd

[2017-10-17 19:01] v4hn commented on #648
Thanks @beatrizleon !
I never encountered this myself, but I look forward to a pull-request that addresses this :-)

[2017-10-17 19:02] wjwwood commented on #624
@fatihirim that's a different issue then, please open a ticket on the rviz repository and include how you have rviz installed, what version it is, os name and version, and if possible simple steps to reproduce the issue.

[2017-10-17 19:47] mikeferguson commented on #99
@davetcoleman -- I'm not sure that it's necessarily "better" but it is "different". For me, the pure python mattered -- I wanted to avoid the wonkiness of moveit_commander having roscpp underpinnings. Obviously it doesn't expose every interface, so it's not as full featured as the commander.

@v4hn -- I'm not sure that integrating it into moveit_commander is the right approach, given that the comm

[2017-10-18 03:12] 130s commented on #259
I created a mailinglist just for receiving notification purpose.
I've directly added some of you as an admin so that in case of necessity y'all can make change too (I don't expect that to happen though). I also set that you all don't receive any email post to this list.

I'm a fan of pull/merge request system even for the small change like updating maintainers, but when it comes to a large package

[2017-10-18 06:01] davetcoleman commented on #99
I am not a python expert but from user feedback and bug reports it would seem ``moveit_commander`` leaves a lot to be desired that could be supplemented with ``moveit_python``.

My vote (as almost always) would be to move it into the main repo for increased visibility and maintenance. Just use ``catkin build --this --no-deps`` (``catkin bot``) if you want fast compile time for a single package.

M

[2017-10-18 06:04] davetcoleman commented on #624
I apologize for not submitting a patch for this yet but fyi my dirty work around was to just build rviz locally using the commit before the font was removed from rviz. This is a terrible workaround.

[2017-10-18 06:24] davetcoleman commented on #639
An easier example for using setFromIK with collision checking can be found in this fairly [simple interactive marker](https://github.com/ros-planning/moveit_visual_tools/blob/kinetic-devel/include/moveit_visual_tools/imarker_robot_state.h) for dual arm IK demo. This would be good to add to the tutorials, also.

[2017-10-18 06:35] davetcoleman commented on #169
fyi we've been discussing this recently with @wjwwood and the Kavraki Lab but have not finalized a solution

[2017-10-18 07:59] AndriyPt commented on #643
The London team (Shadow + UCL) will be working on this :)

[2017-10-18 08:00] v4hn commented on #643
Cool! Looking forward to meaningful tests :-)

[2017-10-18 08:37] 130s commented on #237
I'm interested in looking into this for WMD2017, although I'm very new to CHOMP/STOMP. Let's see how far a langsam learner :turtle: can go within a day.

@ksatyaki wrote:

Where can we find it?

[2017-10-18 08:46] ksatyaki commented on #237
I think this issue should be closed. The tutorial is available at http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/chomp_interface_tutorial.html

[2017-10-18 09:04] v4hn commented on #169
It would still be great to see a pull-request for this emerging from today :-)

[2017-10-18 10:19] bmagyar commented on #646
Great! How about also setting up a coverage tool?

[2017-10-18 10:28] v4hn commented on #99
Ok, so altogether I propose

- add this to the main moveit repo

- retain the interfaces as much as possible

- adapt the code for the `apply` service

- add new interfaces where useful

[2017-10-18 11:08] fatihirim commented on #624
Hi @davetcoleman,
Thanks for this info.
When are you planning to submit the patch? Anytime soon?
I assume you will notify us on this thread when you are finished with the patch.

Thanks in advance!  Eagerly waiting for the patch :)

[2017-10-18 11:16] ipa-bfb commented on #636
Me and @ipa-aep can take care of this...

[2017-10-18 11:40] bmagyar opened #650 "Best practices to expose more information of planning results?"
AFAIK there is no common policy on returning more information of planning but planning_time in the [MoveGroupAction](http://docs.ros.org/api/moveit_msgs/html/action/MoveGroup.html) . Recently this affected me both on CHOMP and STOMP.

While of course there's no point in adding more explicit fields in the action result, perhaps a flexible, string-based aggregator could do the trick. Style would be

[2017-10-18 13:02] gavanderhoorn commented on #618
Fixed in #620.

[2017-10-18 13:02] #618 closed

[2017-10-18 15:09] Jmeyer1292 commented on #634
I'll take a look at this one to start off with.

[2017-10-18 15:29] davetcoleman opened #654 "Warn when /joint_state timestamps are expired"
Currently when using ``move_group->getCurrentState()`` it calls the [current_state_monitor](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/planning/planning_scene_monitor/src/current_state_monitor.cpp#L265) ``waitForCurrentState()`` that will fail silently if the ``/joint_state`` topic it is listening to is expired. This happens, for example, when subscribing to a second comp

[2017-10-18 15:32] Jmeyer1292 commented on #634
@v4hn Do you think it should be copy constructible? We have a few options:
1. Disable the copy constructor. Safe, minimal effort, preserves correctness. Could break code thats already invalid.
2. Allow the copy constructor to share a reference counted pointer. Can produce bugs through aliasing.
3. Copy the underlying implementation class. This itself has lots of member variables, many of which may

[2017-10-18 15:39] Jmeyer1292 commented on #634
To illustrate the complications, the move group implementation manages things like a thread for constraint sampling, ~4 action clients (which are not copyable), db handles, etc

[2017-10-18 15:44] alemme commented on #99
Okay. I adapt the code for the apply service (https://github.com/alemme/moveit_python/commit/0aa2de1baf6c5b681e9594cd761fb81c2af13a23) and tested it in simple cases like adding and removing boxes. However, I noticed that even if I use the service call the planning scene is not directly updated for the client. As a simple check I used the waitForSync function which was there before I made my change

[2017-10-18 15:45] jrgnicho commented on #639
Would just a better example of how to do collision checking be sufficient?

[2017-10-18 15:49] v4hn commented on #624
Ok, so I've just seen this bug for the first time myself.
As William said above, there are two different problems and this issue got hijacked by the second group.

The first one (in this issue) is missing **Arial** that is used in `moveit_setup_assistant`.
This has to be fixed in the package.

The second is about missing **Liberation Sans**.
Apparently, the cartographer project experienced a simil

[2017-10-18 15:51] davetcoleman commented on #624
@wjwwood also plans to work on this today

[2017-10-18 15:54] wjwwood commented on #624
@v4hn can you link to an issue about the cartographer related bug? I don't think there is anything in the rviz headers or cmake that would "bake" in the use of Arial or make Liberation Sans unavailable.

[2017-10-18 16:01] v4hn commented on #624
I spoke to one of the people (Jihon) involved there in person today.
I'm sorry, but I don't know where or whether this is documented.

[2017-10-18 16:02] jrgnicho commented on #634
Going for your 3rd option seems reasonable to me.

[2017-10-18 16:06] akgoins commented on #637
I am looking into this issue.

[2017-10-18 16:10] v4hn commented on #634
I prefer 3., but 1. is a "cheap" solution if you encounter too many problems.

[2017-10-18 16:13] v4hn commented on #639
I believe we should have a tutorial that enables users to do collision-aware ik, not just do collision checking.

[2017-10-18 16:18] v4hn commented on #99
Of course. The service only guarantees that the *move_group*'s planning scene is updated.
I don't know whether we really want to wait for the next sync. Are there good arguments to do that?

Can you add a pull-request for the moveit repo?

[2017-10-18 16:24] v4hn commented on #654
Uff.

highlighting @rhaschke because this is, as far as I know, his code.

[2017-10-18 16:36] jspricke commented on #624
@jihoonl can you comment?

[2017-10-18 17:07] davetcoleman commented on #237
I think the tutorial would be great to be reviewed and expanded upon

[2017-10-18 17:34] mbharatheesha commented on #631
I have been working on this. The corresponding changes are available [here](https://github.com/mbharatheesha/moveit/commit/d01a91c4566ddb89b2b824cf8cd7179ba1bd7a57).

However, I have hit the following roadblock:
The call to place via MoveGroupInterface fails with [this issue] (https://github.com/ros-planning/moveit_tutorials/issues/112). I do get the appropriate group name with group.getName(). So

[2017-10-18 17:48] davetcoleman commented on #646
The coverage tool is discussed [in this issue](https://github.com/ros-planning/moveit/issues/1)

[2017-10-18 17:48] marip8 commented on #629
I will start working on this

[2017-10-18 18:05] davetcoleman commented on #650
I've been frustrated with the lack of feedback from that as well. So you are advocating a ``KeyValue[] values`` field from [diagnostic_msgs](https://github.com/ros/common_msgs/blob/jade-devel/diagnostic_msgs/msg/DiagnosticStatus.msg) ?

[2017-10-18 18:22] alemme commented on #99
In case you have a node which is adding CollisionObjects to the scene and triggers another node which should perform a trajectory planning task, it needs to be guaranteed that it knows about the new collision objects.

sure will do tomorrow.

[2017-10-18 18:33] davetcoleman commented on #101
I recently talked with @aurone about reviving SBPL and have submitted some codesprint proposals for this, but they are still in the works.

[2017-10-18 18:48] bmagyar commented on #101
Happy to review!

On Oct 18, 2017 7:33 PM, "Dave Coleman" <notifications@github.com> wrote:

[2017-10-18 19:12] davetcoleman commented on #274
@v4hn: @SalvoVirga he did say he found the fix, but he has not shared it, correct ;-)

[2017-10-18 19:17] wjwwood commented on #169
So the proposed solution, of putting the ompl headers in a subfolder, looks straightforward because there is already a `OMPL_VERSIONED_INSTALL` option in ompl, added in this commit:

https://github.com/ompl/ompl/commit/60c352848edc229c1eaa638c4817a7cfd1b6ca00

In principle all we need to do is turn it on (it is off by default as of https://github.com/ompl/ompl/commit/17781b6cebf4d307c0e15ff6ffffc7

[2017-10-18 19:34] wjwwood commented on #169
Seems to work, though the bug reproduction is a bit tricky so I might be getting a false positive inadvertently.

I'll make a pr to ompl's release repository and see if I can run a prerelease.

[2017-10-18 19:42] mamoll commented on #169
The versioned install of OMPL is supposed to make side-by-side installations easier, but it has been only lightly tested. Upon install, it'll create some symlinks (to make the latest installed version the default one) that might still cause issues. Rather than hard-coding version numbers in install locations (which seems like a hack to me), the proper solution seems to me to fix the include order

[2017-10-18 20:22] wjwwood commented on #169
That's a pretty common pattern, and what @v4hn suggested.

@mamoll I don't believe that is possible.

`catkin` works around this problem because it has more information. It has the list of include headers and the location of the packages which provide them (i.e. whether it the package is in `/opt/ros/kinetic` or `~/path/to/ws/install`) and the topological order of the packages. See:

https://githu

[2017-10-18 20:23] wjwwood commented on #169
I'll wait to execute what I described above until we have some consensus on what to do.

[2017-10-18 20:29] mamoll commented on #169
Ok, we can use the OMPL_VERSIONED_INSTALL option for ROS/catkin, but in that case we should probably disable the symlinks, right?:
https://github.com/ompl/ompl/blob/c2ffc537dcc79bce389743c46abb155cce914432/CMakeLists.txt#L178-L184

[2017-10-18 20:31] jonbinney commented on #274
I was able to reproduce this bug using the released version of ompl in kinetic just now, but not able to reproduce it using ompl from source directly from the ompl repo. Investigating further now.

[2017-10-18 20:37] SalvoVirga commented on #274
I was and I’m still overwhelmed by other duties guys, I will be able to share everything probably in a couple of weeks. If someone feels like working on it, I remember using valgrind helped a lot.

[2017-10-18 20:42] v4hn commented on #99
In the best-case scenario the other node plans the trajectory *via* `move_group`.
The is the case the service guarantees to work.

But in the case (I presume) you describe,
monitoring the `monitored_planning_scene` topic of `move_group`
will not guarantee a successful sync either.
You would have to re-publish and monitor the scene *your planning node* receives then.

This should definitely be poss

[2017-10-18 20:49] 130s opened #659 "Found empty JointState message error per every execution of plans"
### Description

Ref. #283: Similar error msg reported

When running [chomp tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/chomp_interface_tutorial.html), the robot on RViz moves but the following error printed. `sensor_msgs/JointState` seems to be returned. I'm just wondering.

[code]

[code]

Overview of your issue here.

### Your environment
* ROS Distro: [Indigo|Jade|Kinet

[2017-10-18 20:52] wjwwood commented on #169
That's possible. I didn't investigate in detail how that feature is implemented. If the symlink is something like `<prefix>/include/ompl-x.y` -> `<prefix>/include/ompl` then we don't want that.

[2017-10-18 21:02] jonbinney commented on #274
Just confirmed that I get this segfault when compiling the ros version (1.2.1) from source, but not when compiling from the current ompl source. So it seems like this may have been fixed already in OMPL.

[2017-10-18 21:32] v4hn commented on #631
fair enough, I noticed in advance that the corresponding code flow is rather hard to follow...
Thank you for your support here! Of course this problem will remain on the radar (and hopefully be solved soon...)

[2017-10-18 21:53] jonbinney commented on #274
I just confirmed that if I take the version released in ROS (1.2.1) and then cherry pick just this commit https://github.com/ompl/ompl/commit/5efd0fa2e6dc0674f3bf0c1a6787920c546919a2 it fixes the bug. @davetcoleman @mamoll if we can release just that into kinetic it should fix this.

[2017-10-18 22:26] andreaskoepf commented on #99
Our use case might not be the most common. Just to give you a glimpse:  We have a custom script based planning lib running on top of MoveIt! .. in the node running this lib we instantiate beside other things a `PlanningScene` object for collision checks (e.g. `isStateColliding()`). With luajit this basically allows us to have a very fast but fully scripted way-planning system including collision c

[2017-10-18 22:36] v4hn commented on #169
Out of 456 header folders of standard linux packages in my `/usr/include` folder (more vanilla than standard ubuntu dev packages), roughly 80 use this pattern. I believe ubuntu packaged more of these as -dev packages like that. If it's a "hack", then it's a common one.

I agree. If ROS would use a ubuntu-system package of OMPL in `/usr` this would be the answer, yes.
But actually we don't discuss

[2017-10-18 22:53] jonbinney commented on #274
I made a branch starting at the 1.2.1 tag that (the one released into ros) and then cherry-picking the fix commit for this issue: https://github.com/jonbinney/ompl/tree/jb-cherry-pick-rrt-star-fix

@davetcoleman can you force-push that to be the kinetic-devel branch for ompl? That can then be released into kinetic.

[2017-10-18 22:56] wjwwood commented on #624
So, after debugging this with @davetcoleman on a machine that had the problem for him I think both of these errors:

- `OGRE EXCEPTION(5:): Could not find font Liberation Sans in MovableText::setFontName`: reported here https://answers.ros.org/question/271750/error-when-trying-to-launch-moveit-created-robot-model/
- `OGRE EXCEPTION(5:): Could not find font Arial in MovableText::setFontName `: repo

[2017-10-18 23:04] thummel26 commented on #190
Presently working on this

[2017-10-18 23:04] davetcoleman commented on #190
i suspect this image is misleading and collision objects are never attached - rather they are only in the RobotState for start and goal

[2017-10-18 23:10] davetcoleman commented on #274
Thanks @jonbinney - we now have a custom [OMPL kinetic branch](https://github.com/ompl/ompl/commits/kinetic-devel).

@mamoll can you re-release ompl for ROS Kinetic (and ROS Lunar) using the ``kinetic-devel`` branch via bloom? You will need to edit the bloom config for OMPL to switch branches from master.

[2017-10-18 23:21] marip8 commented on #629
![test](https://user-images.githubusercontent.com/18411310/31746639-066ed7ce-b42e-11e7-9d4a-b493bf537a8f.png)

I created a test node that solves a Motoman ES200RN-120's kinematics at 10k unique poses (in a ~1x1m vertical grid in front of the robot) using the IKFast plugin, and I profiled it with valgrind.

The results show that the `getPositionIK` function spends about 2.5% of its time sorting the

[2017-10-18 23:46] davetcoleman commented on #634
I think I prefer option 1 because some variables are not copyable in option 3

[2017-10-19 00:25] davetcoleman commented on #654
We have a fix for this in the works

[2017-10-19 00:33] Jmeyer1292 commented on #629
Definitely less time than I thought, but still enough to be appreciable.

The real stand out here is the crazy amount of overhead associated with IKFast's API. A `std::list`, really? It seems like maybe 25% of the time is spent doing math.

[2017-10-19 01:11] fsuarez6 commented on #641
I’ll work on this

[2017-10-19 01:19] mamoll commented on #274
The git->hg sync didn't quite work, so I had to redo it. There is now a kinetic-devel branch on bitbucket and GitHub. I don't know how to re-release ompl for kinetic. I don't understand why this also has to be done for lunar, since ompl for lunar already contains this fix.

[2017-10-19 01:33] schntgai commented on #645
May I be assigned this issue please?

[2017-10-19 02:06] fsuarez6 commented on #641
@davetcoleman I was thinking to create this test using the [PR2 robot](https://github.com/PR2/pr2_common/tree/kinetic-devel/pr2_description). What do you think?
Would [this issue](https://github.com/PR2/pr2_common/issues/265) affect the test for the IKFast plugin?

[2017-10-19 02:56] fsuarez6 commented on #641
I'll try with the PR2 robot in [moveit_resources](https://github.com/ros-planning/moveit_resources)

[2017-10-19 03:33] davetcoleman commented on #641
Perfect. There are already good examples in the moveit codebase using PR2 as a test, see https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_core/robot_state/test/test_kinematic_complex.cpp - it references moveit_resources

[2017-10-19 04:11] davetcoleman commented on #624
Thanks @wjwwood - glad we could work on this today.

For the simple answer for anyone facing this problem, make sure ``apt-get dist-update`` is run and you rebuild your whole catkin workspace from scratch (``catkin clean``). This fixed it for me - without having to install Rviz from source.

[2017-10-19 04:16] davetcoleman commented on #629
Thanks for looking into this!

[2017-10-19 04:20] davetcoleman commented on #274
I hadn't realized that. We are using the same code for kinetic as lunar and I just assumed this had been done for OMPL also. In this case no, it does not need to be released for lunar.

@wjwwood will actually take care of this while at the same time addressing https://github.com/ros-planning/moveit/issues/169

[2017-10-19 06:35] fsuarez6 commented on #641
I got this working using `fanuc_description` and `fanuc_moveit_config` (available at [moveit_resources](https://github.com/ros-planning/moveit_resources)).
The test should go like this:
[code]
Now the tricky part. How should we include this 'test'?
My suggestion is to include these commands directly into the travis script. What do you guys think?

Moreover, for this to work `openrave` must be inst

[2017-10-19 07:25] rhaschke commented on #190
@davetcoleman There is a fundamental issue in the design of `moveit_msgs/DisplayTrajectory.msg`: There is only a single field for the (initial) `RobotState`. However, if we a have a more complex trajectory, e.g. due to pick + place, the RobotState, particularly the set of attached objects, might change multiple times along the whole trajectory.
Hence, I suggest to extend `DisplayTrajectory.msg` to

[2017-10-19 08:13] jihoonl commented on #624
I also had to deal with `OGRE EXCEPTION(5:): Could not find font Arial in MovableText::setFontName` error while using [cartographer_rviz](https://github.com/googlecartographer/cartographer_ros/tree/master/cartographer_rviz) even if it uses MovableText with a default font from rviz([here](https://github.com/googlecartographer/cartographer_ros/blob/master/cartographer_rviz/cartographer_rviz/drawable

[2017-10-19 08:14] ksatyaki commented on #237
I will probably resurrect this planner in the near future and make sure it works reliably. At that time I shall also build upon the tutorial (unless someone wants to do it sooner, of course).

[2017-10-19 08:18] fsuarez6 commented on #646
From #23 I understand that the idea is to copy the cmake files in [coveralls-cmake](https://github.com/JoakimSoderberg/coveralls-cmake) into a `.coveralls` folder (I guess `moveit/.coveralls`). Is that right?
What about having a new ROS package, say `coveralls_cmake`, so that other ROS packages can use it?

[2017-10-19 09:59] gavanderhoorn commented on #641
@fsuarez6: nice set of commands.

You can probably avoid building the workspace the first time by just adding `~/catkin_ws/src` to the `ROS_PACKAGE_PATH` manually. So something like:

[code]

`create_ikfast_moveit_plugin.py` should then be able to find the package (as `rospkg` should be able to find it).

Personally I never install OpenRAVE any more. I use [personalrobotics/ros-openrave](https://h

[2017-10-19 13:11] v4hn commented on #641
I believe we should definitely put these commands into a script to store with ikfast or with moveit_resources.
If it is too hard/impossible to add this to rostest, it is an option to add it to the travis script dir instead.

Thank you so much for your support @fsuarez6 !

[2017-10-19 15:58] wjwwood commented on #624
That's part true, which font to look up, `Arial` or `Liberation Sans`, is embedded in the `librviz.so` shared object (not statically linked but multiple may exist on the system with different source versions). The location of the fonts is looked up dynamically at run time using the `rospack` API which looks up the location of packages based on the `ROS_PACKAGE_PATH`.

[2017-10-19 16:18] wjwwood commented on #274
I still need @mamoll (or someone) to make a new release based on the `kinetic-devel` branch.

Since the branch you linked to @davetcoleman is 1.2.1 with one extra commit, I guess it would be 1.2.2.

[2017-10-19 16:26] wjwwood commented on #169
That is controlled by the cmake code, basically you'd need to make sure that the ompl include directory from your local workspace ended up ahead of everything, but not only within one package but also all downstream packages which use the include directories of a package that happens to export the ompl include directories. As you said that would be fragile...

`OMPL_VERSIONED_INSTALL` does this, b

[2017-10-19 16:52] mamoll commented on #169
I can disable the sym links created by the versioned install in the OMPL repo. Maybe at some point someone can create the right kind of /etc/alternatives-like code, in needed/desired.

[2017-10-19 18:41] wjwwood commented on #624
Here's the pr to replace explicit uses of Arial from the setup assistant, though as I said before I don't think this fixes any problems, it's just a good idea: https://github.com/ros-planning/moveit/pull/668

[2017-10-19 18:43] wjwwood commented on #169
@mamoll it's up to you if you want to disable the symlinks upstream, I was just going to do that as a patch in the bloom release. If you do make a commit that removes the symlinks then we'll need to include it in the forthcoming 1.2.2 release as described here: https://github.com/ros-planning/moveit/issues/274#issuecomment-337960158

[2017-10-20 02:24] davetcoleman commented on #274
@mamoll you just need to follow [these steps](http://wiki.ros.org/bloom/Tutorials/ReleaseCatkinPackage) but for the bloom step add the ``--edit`` flag so that you can change the branch to ``kinetic-devel`` from ``master``.

[2017-10-20 02:36] wjwwood commented on #274
@davetcoleman those directions are for a catkin package, I don't believe all of it will apply for ompl... Changing the bloom branch is not the only thing that needs to happen (as I said before there needs to be a new 1.2.2 release based on the `kinetic-devel` branch).

[2017-10-20 13:33] v4hn commented on #274
*sigh*

So what are the next steps to do and who has the permissions to do them?
It seems everyone is pointing somewhere else at the moment.

[2017-10-20 14:02] wjwwood commented on #274
I don’t know how to be any more clear, and I don’t think anyone is pointing fingers — I’m happy to help with bloom and ros build farm part I just can’t make new ompl releases.

So I need someone with permission to make ompl releases to create a new version based on the kinetic development branch that @davetcoleman created, the natural next version would be 1.2.2, since kinetic currently has 1.2.1

[2017-10-20 14:41] mamoll commented on #274
I have tagged the 1.2.2 release of ompl on bitbucket and github. It includes only the fix for RRT\*. Disabling the symlinks will be done on the master branch and will be included in future releases of ompl. @wjwwood, it's probably sufficient to just comment out this line:
https://github.com/ompl/ompl/blob/c2ffc537dcc79bce389743c46abb155cce914432/CMakeLists.txt#L184

[2017-10-20 14:45] mamoll commented on #274
@wjwwood, I'd be happy to do the bloom releases in the future. I have kept some emails that helped me create the 1.3 release for lunar. It sounds like creating this kinetic release is non-standard (or at least not as easy), so I'd very much appreciate it if you could do this release,

[2017-10-20 15:27] bmagyar commented on #650
I'd be happy to see _some_ way of reporting back extra information. If it is preferred to not touch the existing messages, we could create something separate and agree on a policy (topic name, common things to report, etc)

[2017-10-20 15:43] wjwwood commented on #274
@mamoll thanks for making the release.

I'll take care of this release, future releases will be (hopefully) less eventful. 👍

[2017-10-20 16:17] mamoll commented on #169
This is what currently gets installed with `OMPL_VERSIONED_INSTALL=ON`:
[code]
I am guessing the headers should actually be installed in `${prefix}/include/ompl-1.3/ompl`. What about executables, man pages or .pc files? Is appending the version name ok?

[2017-10-20 16:24] wjwwood commented on #169
Yes, I hadn't noticed that, but yes we would want something more like:

[code]

With the cmake and pkg-config files giving the equivalent of `-I${prefix}/include/ompl-1.3`, so user code still just does `#include <ompl/config.h>`.

For the binaries and man pages, I'm not sure it matters but we don't need them to be namespaced because we're not going for side-by-side installation.

It sounds like we

[2017-10-20 16:30] mamoll commented on #169
It will determine how you want other packages to find ompl. Do you want this:
[code]
or this:
[code]

[2017-10-20 16:32] wjwwood commented on #169
I think ideally we would just do:

[code]

And I don't think we use pkg-config, but someone else might.

[2017-10-23 07:55] ipa-fxm commented on #511
Though the new checkbox works great when `Create New Moveit Configuration Package` is selected, unfortunately, it fails to load the xacro (which uses Jade+ features) when `Edit Existing Moveit Configuration Package` is selected.

[2017-10-23 08:01] gavanderhoorn commented on #511
@ipa-fxm: see the discussion on the #540 for why we didn't add the checkbox to the *Edit existing package* UI.

[2017-10-23 08:01] bmagyar commented on #511
+1

On Oct 23, 2017 8:55 AM, "Felix Messmer" <notifications@github.com> wrote:

[2017-10-23 08:02] gavanderhoorn commented on #511
@bmagyar: what are you `+1`-ing specifically? :)

[2017-10-23 08:09] bmagyar commented on #511
My bad,  I haven't seen your response ;)

I do agree with the need Felix expressed, I had issues with that years
ago...

On Oct 23, 2017 9:02 AM, "G.A. vd. Hoorn" <notifications@github.com> wrote:

@bmagyar <https://github.com/bmagyar>: what are you +1-ing specifically? :)

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/ros

[2017-10-24 09:35] mat-l commented on #624
Dear all,

I executed the following command on Ubuntu 14.04 ROS Indigo, but I still cannot start Rviz :(
apt-get dist-upgrade
apt-get install fonts-liberation
catkin_make clean
catkin_make

Any other ideas how to solve the issue easily or when can we expect updated MoveIt packages?

[2017-10-24 14:41] ThadeuVBrito opened #672 "Extract point of end effector"
### Description

I am trying to get point of the arm tool  using MoveIt!. With this points I will create a code in C++ for motion planning the arm.
Now I am looking for ways to do this.

### Your environment
* ROS Distro: [Indigo]
* OS Version: Ubuntu 14.04

### Steps to reproduce
[code]

### Expected behaviour
Get a space coordinate of the manipulator.

### Actual behaviour
Trying use all feature

[2017-10-24 17:09] wjwwood commented on #624
@mat-l as I stated, there is no required update to the moveit packages due the rviz change. Please follow my recommendation and tell us about your workspace and how you set it up, what you've given us is not enough information to help.

I wrote (https://github.com/ros-planning/moveit/issues/624#issuecomment-337751373):

[2017-10-24 19:58] mamoll commented on #169
I have made some fixes today  in the master branch of ompl that hopefully address all of the above concerns. See https://github.com/ompl/ompl/commits/master.

[2017-10-24 20:04] wjwwood commented on #169
Thanks @mamoll I'll have a look hopefully today. I'll probably need to cherry-pick those to the 1.2.2 release, or maybe cherry-pick them in ompl and do a 1.2.3 release.

Either way, let me have a look at them and test them to see if it works for moveit.

[2017-10-25 10:36] knorth55 opened #673 "MotionPlanResponse is always error_code.val = 0 when planning is failed"
### Your environment
* ROS Distro: [Indigo]
* OS Version: 14.04
* Source
* 0.7.12

### Description

When `context_->planning_pipeline_->generatePlan(ps, req.motion_plan_request, mp_res);` returns `false`, `MotionPlanResponse` returns initial value such as `error_code = 0`.
https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/move_group/src/default_capabilities/plan_service_capabili

[2017-10-25 16:49] bmagyar opened #675 "MoveGroupInterface::setStartStateToCurrentState() leaves MotionPlanningRequest.start_state empty."
### Description

My intuition tells me this should fetch the current state and apply it. Instead it simply resets the shared_ptr of the current state variable. Anyone knows any hidden logic behind this?

https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/planning_interface/move_group_interface/src/move_group_interface.cpp#L421

### Your environment
All versions are affected, the

[2017-10-25 19:38] jrgnicho commented on #675
PR #661 addresses this

[2017-10-26 05:12] richard-a-mck commented on #564
I've gone through the process of installing `kinetic-devel` from source and building on Ubuntu Mate 16 on a Raspberry Pi 3. Unfortunately, it still segfaults on launch of move-group.
I modified `src/moveit/moveit_ros/move_group/src/move_group.cpp`  to include the following so it would break for GDB;
[code]
I attempted to run the standard moveit demo which loaded my robot params into the param serv

[2017-10-26 09:26] bmagyar commented on #675
Awesome, thanks!

[2017-10-26 09:26] #675 closed

[2017-10-26 12:05] rfn123 opened #676 "Moveit throws error for gripper_action_controller"
### Description
I'm not quite sure if it belongs here or to ros_control,
but I recently wanted to implement a gripper_action_controller within Moveit, and after some trying I found out that it always throws the error:
`Name and joints must be specifed for each controller`

Looking into the code [here](https://github.com/ros-planning/moveit/blob/5c5fcd7804daf349310db0d28539010e23c51dc0/moveit_plugi

[2017-10-26 12:14] rfn123 commented on #640
Had the same problem, I ended up ignoring the commands passed to the passive joint in the hardware interface since I was using position control. Would be nice though if such scenario could be handled.

[2017-10-26 19:52] bmagyar commented on #676
Hiya,

Nice catch!
Just to reiterate,  moveit is looking for the "joints"  field on the param
server as common with most ros_control controllers while the actual
controller in this case uses a single joint,  hence the param field name
'joint'?

It's a tricky question but I think it'd make sense to standardize this over
at ros_control.

On Oct 26, 2017 13:05, "rfn123" <notifications@github.com> wro

[2017-10-27 06:00] jacknlliu opened #678 "create move group show URDF parse error"
### Description

I use the following code
[code]

But I got the following errors about URDF file parse,
[code]

but I check my `urdf` file with `check_urdf`, no errors.  And then I use rviz  moveit planning plugin also works.

So why I got the above errors?

Any help will be appreciated!

###  environment
* ROS Distro: kinetic
* OS Version: Ubuntu 16.04

[2017-10-27 06:48] bmagyar commented on #678
Could you also share your urdf please?

On Oct 27, 2017 07:00, "Jack Liu" <notifications@github.com> wrote:

[2017-10-27 07:10] jacknlliu commented on #678
Here is my URDF file
[code]

[2017-10-27 07:30] gavanderhoorn commented on #564
My first recommendation would be to build MoveIt with the `CMAKE_BUILD_TYPE` set to `Debug` (or `RelWithDebInfo`). Your stacktrace as-is is not very informative (notice the `no debugging symbols found` for just about every library and binary).

[2017-10-27 07:32] gavanderhoorn commented on #564
Additionally: if you start `demo.launch` with the `debug:=true` argument, it should already load `move_group` in GDB. That removes the need for your edit of `move_group.cpp`.

[2017-10-27 08:23] jacknlliu commented on #678
More details, I can use `gazebo` load my scene correctly, and use rviz `moveit planning plugin` to make my robot move as expected.

Only with the move group code, I got above errors.

[2017-10-27 09:43] rfn123 commented on #676
@bmagyar Thanks for your response! Yes, at least the code from gripper [https://github.com/ros-controls/ros_controllers/blob/9f5eaef834cc61bac4992decd8baa93e5fb6372a/gripper_action_controller/include/gripper_action_controller/gripper_action_controller_impl.h#L152](url) tells me that the gripper_action_controller is looking for the param 'joint' without 's'. I think I'll open another issue in ros_c

[2017-10-27 14:24] bmagyar commented on #678
I see. Interesting...On first read I couldn't spot any obvious problems. Try to get deeper and run `move_group` in debug mode to get to the exact location of the problem.

[2017-10-27 15:23] jacknlliu commented on #678
@bmagyar  I found that this related a function we need statically linked to the final executable application, but we never use it in our main function which only includes one line substance code with moveit API.

I make an [unit test ros package](https://github.com/jacknlliu/moveit_unit_test) which can directly build and test. In this package, I just add a class which we haven't used it. I confirm

[2017-10-27 15:59] ipa-mdl commented on #676
IMHO you are mxing up the configurations here.
The configuration for linking MoveIt to the actual gripper interface takes `joints`.
The configuration of the `ros_control`  controller takes `joint`
Apart from that they differ in the *content* for `type` as well, so you cannot use one for the other and vice versa.

[2017-10-28 09:37] bmagyar commented on #678
The symptoms are way too random to be a problem with MoveIt.

Your trouble is probably with those statically linked libraries. I'd advise analysing the binary dependencies of both move group and your libraries with `nm` or you preferred symbol reader and see if there's a coincidence. They might be trying to access the same library but different versions. This happens often with boost for instance.

[2017-10-28 11:46] jacknlliu commented on #678
@bmagyar  Thanks for your suggestion, I will try it. But we should know that the linked function not used in our main function, why moveit API can't work. Actually they don't have same dependencies, and the linked function should not affect moveit.

 I have test them in different ros package and they can work very well, just can't make them together. Do you have some suggestions about statically l

[2017-10-28 12:56] rfn123 commented on #676
@ipa-mdl You actually made a good point to distinguish the joint/joints params in the different config files. After some more testing, I realized that my problem was somewhere else though.

for the Moveit config, the action_ns actually has to be **`gripper_cmd`** and not `gripper_action`:
[code]

[2017-10-28 12:56] #676 closed

[2017-10-28 22:53] YuehChuan commented on #462
@lkj1114889770  cool  same issue,  and thanks @gavanderhoorn . Did you rebuild moveIt with `C++11` from source ?  I'm migrating code from indigo to kinectic, and  add  `add_compile_options(-std=c++11)` in every custom ros package CMakeLists.txt. But not yet rebuild moveit from source.

[2017-10-29 13:58] jacknlliu commented on #678
It's too much work to do if I parse so many and deep dependencies manually. If we don't have more suggestions,  I will close this issue...

[2017-10-29 21:56] richard-a-mck commented on #564
Great, thanks for the pointer. I've edited .catkin_tools/proiles/default/config.yaml and changed this line - "-DCMAKE_BUILD_TYPE=RelWithDebInfo". I've also removed my blocking line from move_group.cpp.
It'll take a few hours to build I think so I'll post again once I have further info.

[2017-10-30 02:57] richard-a-mck commented on #564
Bizarrely enough, movegroup seems to work now, I can't tell what I've changed. When I attempt to run gdb via debug:=true I get the following error, which I believe is a GDB error specific to Raspberry Pi:
[code]
I readded the input request section, launched GDB from another window and found no segfault.
Rerunning demo.launch, it launches as normal but with a long wait (5-10 seconds) at this point

[2017-10-30 09:48] bmagyar commented on #564
You could be running out of ram... Just a wild guess.

I'm terrible at remembering things,  so forgive me if the question is
silly: have you seen anyone else getting moveit to work on an armv7?  AFAIK
the RobotState class has some bit magic to allocate random poses, maybe
there is a breakage there?

On Oct 30, 2017 2:57 AM, "richard-a-mck" <notifications@github.com> wrote:

Bizarrely enough, moveg

[2017-10-30 09:50] gavanderhoorn commented on #564
@bmagyar: that is a good suggestion. `RobotState` does indeed do some funky things with memory. Could very well be that it exploits some x86/amd64 vagueries that make it work there, but fail on ARM (unaligned access fi).

[2017-10-30 09:57] gavanderhoorn commented on #564
@richard-a-mck: re: gdb crash: the IOCTL failure is afaik indeed a gdb thing. You could try to add `xterm -e` to the `launch-prefix` in `move_group.launch` to see whether that works around it.

As to

that's really just a warning, but it's probably a good idea to have proper collision meshes in any case. Do you have `collision` geometry? And is it subsampled, or are you using the same meshes as fo

[2017-10-30 22:51] richard-a-mck commented on #564
I was originally using the same meshes as visual but I've down sampled them to 150 faces each for collision and now the demo launches as normal with no delays. I'll try modifying the launch prefix and rerunning but the segfault seems to have disappeared at this point. Any other tests I can run to provide more info on your side?

[2017-10-31 00:06] #678 closed

[2017-10-31 04:48] richard-a-mck commented on #564
I was originally using the same meshes as visual but I've down sampled them to 150 faces each for collision and now the demo launches as normal with no delays. I'll try modifying the launch prefix and rerunning but the segfault seems to have disappeared at this point. Any other tests I can run to provide more info on your side?

[2017-10-31 11:39] ThadeuVBrito commented on #672
I found a way, I do not know if is the best way. But works!
If it is help any people in future, just use the basic command:

`rostopic echo <name_of_topic_out_tool_pose>`

In my case, this command informs the position in XYZ and Orientation of the tool.

[2017-10-31 12:00] bmagyar commented on #672
Yep but keep in mind that this assumes that you have a topic publishing this pose. You may encounter cases when there isn't any. You can also use `tf` to get some information if it's regarding the current state.

For similar questions in the future I'd direct you to the [moveit-users mailing list](https://groups.google.com/forum/#!forum/moveit-users). We treat incoming _issues_ on github seriously

[2017-10-31 12:00] #672 closed

[2017-10-31 12:33] gavanderhoorn commented on #672
@bmagyar: I would actually suggest that this sort of questions should be posted on ROS Answers. That is the appropriate support channel.

[2017-10-31 12:35] gavanderhoorn commented on #564
Well without a way to reproduce the crash it's going to be difficult to diagnose it.

Does it still not crash if you rebuild your workspace with `CMAKE_BUILD_TYPE=Release`?

[2017-10-31 13:24] bmagyar commented on #672
Good point!  :+1:

On 31 October 2017 at 12:33, G.A. vd. Hoorn <notifications@github.com>
wrote:

[2017-10-31 14:23] ThadeuVBrito commented on #672
I agree too, but another day I posted a question in ROS Answers about configuration in MoveIt! and a guy said to post here. Sorry for the inconvenience.

[2017-10-31 15:03] gavanderhoorn commented on #672
@ThadeuVBrito: can you post a link to the ROS Answer question?

[2017-10-31 15:04] gavanderhoorn commented on #672
I can imagine that *build errors* and bug reports would be redirected here. But general questions about usage and configuration should probably go to ROS Answers.

[2017-10-31 15:43] ThadeuVBrito commented on #672
Yes, I can.

[2017-10-31 22:49] richard-a-mck commented on #564
Ok, now we're into really interesting territory. I recompiled with `-DCMAKE_BUILD_TYPE=Release` and it segfaults again during the robot model load. Specifically:
[code]
This is definitely using the lower res collision models, updated moveit files and so on. The only change is that I recompiled it as Release. I'm recompiling again with Debug set to be doubly sure.

[2017-11-01 08:06] gavanderhoorn commented on #564
@richard-a-mck wrote:

I think the better word is "annoying", not "interesting".

that would seem to point to some code that when optimised on ARM does things it isn't supposed to.

I'd try `RelWithDebInfo` and then try to trigger the `SEGFAULT` in a GDB session so we can have *some* idea of where to look.

But it could be that this is going to be difficult, as these type of problems tend to be ha

[2017-11-02 04:56] silkjc commented on #673
+1..Nobody checking return codes before this ?

[2017-11-02 18:09] ysl208 commented on #616
I'm having the same issue and no idea how to fix it. id you manage to solve it?
I still get the error
`[ INFO] [1505956631.143209340]: No active joints or end effectors found for group ''. Make sure you have defined an end effector in your SRDF file and that kinematics.yaml is loaded in this node's namespace.  `

[2017-11-02 21:36] zultron commented on #560
I'm seeing the same error message with Kinetic packages in Jessie.  Debugger shows a segfault.  I'm happy to debug further if someone wants to walk me through it a little.

[code]

[2017-11-02 23:36] davetcoleman commented on #673
Is this an issue with how ROS implements service calls that are aborted, not a MoveIt! issue.

[2017-11-02 23:59] pHaeusler commented on #673
The service callback should return true. The response object has the appropriate error code to indicate the pipeline failed.

From [roscpp services wiki](http://wiki.ros.org/roscpp/Overview/Services)

[2017-11-03 00:20] richard-a-mck commented on #564
I recompiled with debug enabled as mentioned and it started crashing again.  Here's some output from GDB. I'm not very familiar with GDB so I've googled around a bit and hopefully have run some useful commands.
[code]
As mentioned, I can't run the standard debug:=true at launch due to issues with GDB on RPi.

[2017-11-03 00:52] richard-a-mck commented on #564
I should mention, the preceding comment was created by running the move_group node from the devel folder of my ws_moveit workspace.
Here's the GDB output from running the full demo:
[code]

[2017-11-03 01:19] jacknlliu commented on #616
I think a key point is that how or where moveit get the group namespace.

[2017-11-03 01:23] zultron commented on #560
Here's the simplest way to reproduce I can find, in a Docker container (run it and get a cup of coffee):
[code]

[2017-11-03 01:24] ysl208 commented on #616
I cleaned my whole workspace and set it up from scratch, now the error doesn't occur anymore.

[2017-11-03 01:24] zultron commented on #279
Not exactly the same problem, but another segfault issue in MoveIt Setup Assistant over at #560.

[2017-11-03 03:41] knorth55 commented on #673
What do you mean?
Is this a issue for `ros_comm`?

It seems MoveIt! ROS implementation issue.
Service-call callback must return true when we need to get valid response.
What I want to know is the situation when MoveIt! want to return valid response.
If Moveit! want to return valid response in any cases, service-call callback should always return `true`.

[2017-11-06 04:47] jacknlliu commented on #86
We still have this problem.
[code]

[2017-11-06 07:13] jacknlliu opened #680 "moveit planning not work with mimic joints"
We use moveit to plan a group state of [hand](https://github.com/RobotnikAutomation/barrett_hand_common/blob/indigo-devel/barrett_hand_description/urdf/bh282.urdf.xacro#L158) which including mimic joints, the plan failed to execute.

[code]

[code]

[2017-11-06 19:25] mmoerdijk commented on #160
This maybe a dumb question, but doesn't every cnc have the same problem of moving multiple axis simultaneously?

Why can't we use solutions from the cnc world?

[2017-11-06 23:54] vighv opened #681 "KDL Plugin not found after installing Trac_IK"
I installed the Trac_IK package to use with moveit.
But now when I try to switch back to KDL, I get the following error:

[code]

Environment
* ROS Distro: Indigo
* OS Version: Ubuntu 14.04

[2017-11-07 07:16] gavanderhoorn commented on #681
The KDL plugin is part of MoveIt, so it should be present, provided you have the `moveit_kinematics` package installed.

How did you install MoveIt and Trac Ik? From `deb`s or a source build?

[2017-11-07 17:57] wjwwood commented on #169
Haven't forgotten about this, I tried out the changes briefly but ran into a problem on my end. I haven't had time to pick back up on this yet. Hopefully this weekend?

[2017-11-07 18:26] davetcoleman commented on #169
Thanks for the update @wjwwood, looking forward to a solution here!

[2017-11-07 19:04] davetcoleman commented on #160
I think there is potential and I attempted to read into their literature once. However the CNC world has a much lower number of DOF so that might affect some of the assumptions they have made.

[2017-11-09 06:32] knorth55 commented on #673
@davetcoleman
Can you give me an advice about this issue?
I do not know whole structure of `moveit`, so I have no idea about side effect.
If there is no side effect, I think `computePlanService` should always return `true` for valid error code.

[2017-11-09 20:10] davetcoleman commented on #673
A pull request with your suggestion would be easier to provide feedback on, thanks!

[2017-11-09 20:37] willcbaker commented on #522
Can confirm, it seems we are unable to sample goal states for ee_links that are not the default ee_link

[2017-11-09 23:20] knorth55 commented on #673
I already make a PR #674

[2017-11-11 13:59] GiuCotugno commented on #624
For those of you still interested on this, I managed to make to work rviz and moveit! together on ROS indigo as I got a similar problem to above: rviz/moveit could not find liberation sans but it could find arial font. The problem arose using Baxter robot (if it is at all relevant)

The steps I performed are the following:
1) download and install liberation sans fonts (you can find them here https

[2017-11-12 14:26] simonschmeisser opened #683 "self-collision padding not configurable"
In https://github.com/ros-planning/moveit_core/pull/168 there was a discussion about adding self-collision paddings between ie the actual robot and fixed parts of the scene. We ran into some cases where this would be really useful/necessary (UR5, yumi) due to imprecise movements. It wouldn't hurt with other robots as well as people would be more relaxed not seeing it go by very closely to ie a edg

[2017-11-12 14:36] bmagyar commented on #683
Big thumbs up.

 I had this with humanoids a few years back. The solution was oversized
meshes which was a big hack. If I remember well arm_navigation used to
support this.

On Nov 12, 2017 2:26 PM, "Simon Schmeisser" <notifications@github.com>
wrote:

[2017-11-12 14:44] simonschmeisser commented on #629
slightly offtopic: can you provide a link/repo for how you created that measurement and that fancy graphic?

[2017-11-12 22:12] davetcoleman commented on #683
This would be a great contribution, but you need to be careful where that padding is applied throughout the code base. In some cases you do not want to use it. For example, the robot's current state might not be in collision unless you are using the padding. But if MoveIt! thinks the current state is in collision, it will not be able to plan (except it does have a "wiggle joints" algorithm that wi

[2017-11-13 15:04] marip8 commented on #629
For the profiler I used [valgrind][1], and the graphic was created using [kcachegrind][2]

[1]: http://valgrind.org
[2]: http://kcachegrind.sourceforge.net/html/Home.html

[2017-11-13 22:11] 130s opened #686 "New release 201711"
New release is planned on the weekend of Nov 18, 19.
As usual, please send any concern, wait list.
Also, since this is going to be the 1st post-WMD release, (esp. maintainers) please try pushing the open PRs if any.

[2017-11-14 14:34] v4hn commented on #686
Uff, slave-driver 😱

Could you please postpone the planned release by one week to give me some more time to work through the open requests?
As you noticed we still have way too many things open at the moment.

[2017-11-14 21:21] aravindsiv opened #687 "Unable to sample any valid states for goal tree with RRTConnectkConfigDefault planner"
### Description
I am trying to use MoveIt! on my KUKA LBR iiwa 14 R820 with [this](https://github.com/SalvoVirga/iiwa_stack) package being used to interface with the robot controllers, publish the robot state, etc. When I try to plan for a 6D pose whose orientation is parallel to one of the robot axes (say, quaternion q = [0,1,0,0]), I get the following error with the RRTConnectkConfigDefault plan

[2017-11-15 09:40] 130s commented on #686
Ok, then 25-26 weekend.

I didn't mean to sound pushy...I just thought we needed a set timeline. Hope the new date works better, and of course no need for all WMD efforts to be released by this release.

[2017-11-15 09:41] gavanderhoorn commented on #687
Just making sure: that is an actual quaternion, right? Not an RPY triplet?

[2017-11-15 11:38] hartmanndennis commented on #522
Try the source build of moveit. #582 should have fixed this bug.

[2017-11-15 15:11] v4hn commented on #686
Sorry, the previous comment was meant to sound more funny than it does...
I fully agree that we should do a release soon.
I'm just a bit behind schedule here and would like to catch up before we release.

25-26th sounds ok.

[2017-11-15 15:22] bmagyar commented on #686
Dear slave-drivers,

Can I add back CHOMP to the released-installed stack once I finish adding the tests?
#626 is waiting only small changes to be added and a review (which could already start [ wink wink @v4hn  ] ). I can try to grind through the last bits this weekend.

Btw I think we have a friendly-enough atmosphere here to allow pushy and rude things to be said ;)

[2017-11-15 18:53] a-price commented on #645
The documentation could also use a higher-level overview describing how the tutorials fit together. For instance, the diagrams found over at http://moveit.ros.org/documentation/concepts/ would be very helpful if included in http://docs.ros.org/kinetic/api/moveit_tutorials/html/index.html. Otherwise it's not quite clear what the differences are between the planning_scene interface, move_group inter

[2017-11-15 20:13] davetcoleman commented on #645
+1! hopefully we will be addressing this very soon, there are plans in the works

[2017-11-16 01:46] Qifan94 commented on #687
Hi, I have the same problem now. Could you tell me if you fix it out?
Thanks!
Email: qwang94@163.com

[2017-11-16 02:52] tomato1986 opened #689 "Source code that makes PR2 pick and place objects onth table"
Hi
I would like to have the source code that makes PR2 model pick and place object like following youtube demo.
When I read source code list page, there is a package "moveit_ros_manipulator" in moveit package.
However, actual github package does not have the package.
Where I can get moveit_ros_manipulation?
https://www.youtube.com/watch?v=Jk_s98U5ob8

### Your environment
* ROS Distro: Indigp
* OS

[2017-11-16 10:16] bmagyar commented on #689
Hi,

Short answer: `moveit_ros_manipulation` can be found in this repository.
Long answer: This is an issue tracker for software issues. Please raise your questions about usage on [ROS answers](https://answers.ros.org/questions/)

[2017-11-16 10:16] #689 closed

[2017-11-16 11:31] dbasa opened #690 "RViz MotionPlanner plugin: broken manipulator geometry"
### Description

I created a MoveIt! configuration for a manipulator with 3 DOF. When I launch the demo.launch file from the newly created configuration package the geometry of my manipulator is broken. Besides the fact that the primitives are not visible (meshes are visible), in `Scene Robot` each link's and each joint's position is `[0;0,0]` and orientation seems random (but reproducible). When

[2017-11-16 14:22] dbasa commented on #690
The missing visuals for primitives might be linked to issue [1151 at ros-visualization](https://github.com/ros-visualization/rviz/issues/1151)

[2017-11-16 18:23] gavanderhoorn commented on #690
@dbasa wrote:

indeed. I've added some comments there.

Could you please not cross-post issues like this? It could lead to disjoint discussions with the potential for duplication of effort which wastes everyone's time.

[2017-11-16 21:41] aravindsiv commented on #687
Figured this out. Turns out, [0,1,0,0] is a valid quaternion, but doesn't have the required precision necessary for TRAC-IK to return a valid IK. Instead, I'd recommend using ROS's ```tf.transformations``` method to construct the quaternion for your target pose.

[2017-11-16 21:41] #687 closed

[2017-11-17 10:32] v4hn commented on #86
The problem is worked around in f00addf and things work if you build moveit/the `moveit_commander` package yourself.
However it is still not released in kinetic. We are on our way to release (hopefully) next week (see #686).

[2017-11-17 11:07] v4hn commented on #99
We still need a pull-request that adds `moveit_python` to this repository. Anyone is welcome to contribute it

[2017-11-17 11:14] v4hn commented on #160
@mmoerdijk in other words: feel free to look around and contribute!
Just because there are long threads of discussion, that doesn't mean it's too complex if you know where to look...

[2017-11-17 13:56] v4hn commented on #169
I just looked into your changes @mamoll and they look good to me.
Thank you for taking care of this on your end!

@wjwwood @mamoll If we need any further releases of OMPL in future versions of ROS (I guess we might want more current versions of OMPL in ROS also in the future), please make sure they are always build with `-DOMPL_VERSIONED_INSTALL=ON`. I would recommend it for the debian releases to

[2017-11-17 14:21] v4hn commented on #190
I gave this a bit of thought and I like the idea.

Thoughts from my side:

- Filling in the array should be optional and partially filled-in arrays should be supported to

- I would like to encourage users to set `is_diff == true` for all RobotState msgs in there in a comment.
  Also to make clear that they *don't* have to fill in the whole robot state if they want to specify a changed attached ob

[2017-11-17 14:21] v4hn commented on #190
@thummel26 Did you manage to implement a patch for this issue last month?

[2017-11-17 14:48] v4hn commented on #560
@zultron Can you reproduce the problem with a source-build of MoveIt too? Specifically with `-DCMAKE_BUILD_TYPE=Debug`?
The backtrace claims you hit some segfault somewhere in qt which is very hard/useless to debug.

[2017-11-17 14:49] v4hn commented on #279
@zultron I don't think there is any relation between the segfaults.

[2017-11-17 15:44] v4hn commented on #462
@YuehChuan You don't have to build MoveIt yourself, but all packages that include MoveIt headers have to be compiles with `-std=c++11` which is what adding `add_compile_options(-std=c++11)` to the beginning of all the respective `package/CMakeLists.txt` does.

[2017-11-17 17:08] MatthewVerbryke opened #692 "3D Perception: Move Group not subscribing to 3D sensor data"
### Description

Hello,

I have been trying to integrate my robot model with MoveIt!, but for the past month or so, I have been stuck on configuring the 3D perception to work with my robot's Kinect sensor, and I currently have no idea what to do next.

I started out by following the [3D perception tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/pr2_tutorials/planning/src/doc/pe

[2017-11-17 17:17] v4hn commented on #564
Looking at this I would say it's more likely that you hit a compiler bug for your architecture
than that MoveIt does something architecture-specific that fails on arm... (Although the latter is not impossible of course)

You might want to try to compile with llvm to see whether it's a gcc bug.

[2017-11-17 17:22] v4hn commented on #590
Ok, but this does not leave us a way to debug this.

Closing until further evidents, and a reproducible minimal test-case appears.

[2017-11-17 17:22] #590 closed

[2017-11-20 12:36] dbasa commented on #690
OK, found a bug in urdfdom_headers. When parsing the URDF file std::stod is used to parse the floating point numbers. But, std::stod is locale dependent. My system is using german locale, so std::stod is looking for a comma instead of looking for a dot as decimal separator. When parsing pi/2 (1.57079632679) std::stod returns just 1.
Going to close this.

[2017-11-20 12:36] #690 closed

[2017-11-20 12:41] gavanderhoorn commented on #690
Are you planning to report this over at [ros/urdfdom_headers/issues](https://github.com/ros/urdfdom_headers/issues)?

[2017-11-20 12:44] dbasa commented on #690
Yes I am!

[2017-11-20 12:46] gavanderhoorn commented on #690
If/when you do, please comment here with a link to the issue you posted.

[2017-11-20 13:31] dbasa commented on #690
Reported this issue over at [ros/urdfdom_headers/issues](https://github.com/ros/urdfdom_headers/issues/41)

[2017-11-21 18:29] Vonstafenberg opened #694 "[kinetic] Invalid Trajectory: start point deviates from current robot state more than 0.01"
Hi,

I am using Moveit with ROS kinetic for planning the motions for a UR5 arm. I am using the Track_IK kinematic solver. The problem is , I am speicifying simple goal poses for the gripper in cartesian space, but I am getting the error message in the terminal of moveit_planning execution.launch.

Invalid Trajectory: start point deviates from current robot state more than 0.01
joint 'arm_elbow_joi

[2017-11-21 21:14] BryceStevenWilley commented on #694
From that thread, it seems like the general solution is independent of whatever IK solver you're using, Trak-IK or Descartes. I think the most relevant part of that thread is this:

You also mentioned that:

This is because the controller on the URs have a similar protection mechanism that you disabled in MoveIt: it will refuse to execute the trajectory if the start state isn't the current state o

[2017-11-22 11:43] Vonstafenberg commented on #694
@BryceStevenWilley

Thank you for the reply.

Ok so this is the problem.

I would check this and see if it solves the problem. and yes I am using the move2pose method. I am trying simple poses and yet I am facing problems.

[2017-11-23 13:40] v4hn commented on #694
This means your planned trajectory starts at `arm_elbow_joint` at position `0`, but the actual arm is in position `1.84494`. That's a difference of more than 45deg!
So apparently you plan your trajectory from an incorrect start state (I guess all 0s?).
As @BryceStevenWilley already said the problem is in - or related to - your `move2pose` method.

I'll close this thread. It's not a bug in moveit.

[2017-11-23 13:40] #694 closed

[2017-11-23 15:48] v4hn commented on #692
The tutorial should work (we tested it recently) and you don't have to start anything yourself.
Just add the parameters and `move_group` automatically configures itself on startup.

If that does not happen, look through the command line output of `move_group`. There should be an info or error message that explains what went wrong.

[2017-11-24 09:47] v4hn commented on #681
As @gavanderhoorn already said, you don't have `moveit_kinematics` (ros-indigo-moveit-kinematics) installed and you also miss other plugins from there.

I will close this as invalid.

[2017-11-24 09:47] #681 closed

[2017-11-24 09:57] v4hn commented on #659
This is related to #579 and #589 .
It's likely a bug in the CHOMP-specific code.

[2017-11-24 10:01] v4hn commented on #650
If you are fine with a separate ROS topic for additional information,
I propose you could add a prototype implementation to the ompl planner that publishes a [diagnostic_msgs/DiagnosticArray](https://github.com/ros/common_msgs/blob/jade-devel/diagnostic_msgs/msg/DiagnosticArray.msg) with the information you are interested in.

[2017-11-24 10:02] v4hn commented on #644
fixed.

[2017-11-24 10:02] #644 closed

[2017-11-24 10:10] v4hn commented on #640
Sorry for the late response.

I am unsure, conceptually, whether this is correct or broken behavior.

If your passive joint is actually coupled and controlled through the active joints in the group, e.g. in the Robotiq 3-Finger Adaptive Gripper, it makes some sense to forward the "planned trajectory" for it.
The controller should ignore it if it doesn't now how to make use of the information.

If,

[2017-11-24 10:11] v4hn commented on #636
Merged in #695 .Thanks a lot for the contribution!

[2017-11-24 10:11] #636 closed

[2017-11-24 11:27] bmagyar commented on #659
If it's not super urgent, assign it to me and I'll take a look. I'm
elbow-deep into chomp anyways :)

On 24 November 2017 at 09:57, Michael Görner <notifications@github.com>
wrote:

[2017-11-24 11:45] bmagyar commented on #640
This reminds me to set up a unit test that makes sure Moveit is compatible with the latest version of `joint_trajectory_controller` from `ros_control`.

I think passive joints is a slightly vague term here. They could be fixed, mimic or defined by some complex rule one prefers to ignore.

I agree with forwarding the planned passive joint trajectory but only for visualisation, the controllers shoul

[2017-11-24 21:55] rkeatin3 commented on #640
So I can explain why I created this issue if it helps determine the solution: I am controlling a vacuum gripper that has a compliant prismatic joint to ensure good contact with the object to be picked up. I have it mounted on a UR5, and ideally, I want to kinematic chain for my manipulator to go from its base link all the way to the coordinate frame at the end of the gripper (for ease of use in ge

[2017-11-25 10:54] bmagyar commented on #640
Thanks for the clarification Ryan.

Do you need moveit to plan with the joints of the gripper?
I used a similar setup for years with heavily underactuated hands.

What I used was to only set up the kinematic chain until an arbitrary
grasping frame around the palm (vaguely in the centre of the hand
workspace) and leave the gripper/hand joints put of the planning group. The
end effector will still b

[2017-11-25 20:09] LongXieZju opened #697 "Errors when build moveit from souce"
### Description
Hello,

I try to build moveit from source, but keep getting errors.

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04
* Source kinetic-devel

### Steps to reproduce
I followed this tutorial http://moveit.ros.org/install/source/

sudo apt-get update
sudo apt-get dist-upgrade
sudo apt-get install python-wstool python-catkin-tools clang-format-3.8
mkdir -p ~/ws_

[2017-11-27 01:16] 130s commented on #686
I'm trying to make a release with `bloom` then hit a problem https://github.com/ros-infrastructure/bloom/issues/448. I can technically release without it but it's way convenient and less error-prone with it. So unless there's strong demand I'd like to wait for that issue to be resolved (hopefully sometime this week).

[2017-11-27 13:55] MatthewVerbryke commented on #692
Thank you for your response.
After looking through the output feed for MoveIt! when launching, I'm seeing this error buried in there:

    [ INFO] [1511789623.795560774, 126.117000000]: Listening to '/move_group/monitored_planning_scene'
    [ INFO] [1511789623.796756204, 126.117000000]: waitForService: Service [/get_planning_scene] has not been advertised, waiting...
    [ INFO] [1511789631.14129

[2017-11-27 14:42] knorth55 commented on #673
Solved!

[2017-11-27 14:42] #673 closed

[2017-11-27 22:44] rkeatin3 commented on #640
I believe I see what you're saying. Define a grasp link, so to speak, with respect to the end of the manipulator that is coincident to link I care to plan with? Something like:

          Manipulator EE Link
               /                  \
Passive Joint              |
             |                     |
Gripper EE Link      Grasp Link

That should work to side-step this issue with passive joi

[2017-11-28 09:24] bmagyar commented on #640
It doesn't only sidestep the passive joint issue but also avoids planning with joints you don't care about be it passive or active joints. I do the same with parallel grippers.

[2017-11-28 09:48] v4hn commented on #640
I believe this is not what Bence said, but it could be a dirty workaround, yes.

It is rather easy though (basically an "if" in the right place) to ignore passive joints that are not part of any controller.
Given the discussion here it sounds like a great addition (and I expected it to behave that way).

[2017-11-28 10:28] v4hn commented on #686
Should be fine. Go ahead with the release whenever bloom is fixed (once again ;))

[2017-11-29 19:14] Fabse92 commented on #279
I can solve the problem by downsampling the STL files causing the error. Now, I tested it with the Kinetic build of MoveIt and the problem is gone.

[2017-12-02 22:44] bmagyar opened #702 "Add official support for CHOMP"
With #626 CHOMP should back on it's feet. On our last maintainer meeting it was proposed to make CHOMP supported in the Moveit Setup Assistant as well.
After this it could be added back to the released packages.

@simonschmeisser , do you have anything else you would like to add?

FYI:  @IanTheEngineer @jrgnicho

[2017-12-04 14:37] naveedhd commented on #86
Following the moveit_commander and felt into this. [Xenial, Kinetic]. Workaround:

1. removed installed `python-assimp (<=3.2)` by `sudo dpkg --remove --force-depends python-pyassimp` (as apt will remove dependencies also)
2. installed by pip `pyassimp` (3.3) using `sudo -H` flag (to replace the /usr one)

[2017-12-04 22:35] rkeatin3 commented on #201
I assume the cause is different, but I am now having this issue.

I am running ROS Jade on Ubuntu 14.04 and recently moved from binary to a source installation of MoveIt. When I moved to the source installation I had to rerun the setup assistant, and doing so populated the capabilities into move_group.launch.

When running MoveIt!, however, I get the following warning:

[code]

If I actually do ma

[2017-12-04 22:51] rkeatin3 opened #705 "MoveIt! Support for Multiple, Asynchronous Trajectories"
I posted [this](https://groups.google.com/forum/#!topic/moveit-users/iNvIcy6hZNo) on the MoveIt! user-group but did not receive any input, and so I'll follow-up here: Does MoveIt! support executing multiple, asynchronous trajectories simultaneously?

I have been working in Jade and see that the `TrajectoryExecutionManager` is responsible for the behavior described in my post to the user-group: it

[2017-12-05 00:48] DavidWatkins opened #706 "plan_only flag on pick and place"
Both pick and place in MoveGroupInterface auto-assign the plan_only flag on the request to false. Can we add that as a parameter to the function call?

[2017-12-05 09:36] rhaschke commented on #705
Executing two trajectories in parallel, even if they belong to different group names, isn't safe.
First, one would need to ensure, that the joint sets involved are disjoint (not only the group names).
Second, even if joint sets are disjoint, trajectories might collide with each other when executed in parallel.

How do you ensure safety?

[2017-12-05 09:38] rhaschke commented on #705
After reading your original post, I suggest to start two independent move_group nodes with different namespaces. Then you can run your planning and execution in parallel. However, that only works safely, if the robot's workspaces are disjoint as in your case.

[2017-12-05 14:31] v4hn commented on #706
Feel free to provide a patch. This is definitely a short-coming.
Without looking through the implementation I'm not 100% sure this is supported
in the pick place capability, but if it works for you that's good enough.

If you want this in indigo: please don't add an optional parameter, but instead provide another overload of the `pick` functions with one additional parameter.
For kinetic+ a new op

[2017-12-05 14:57] v4hn commented on #692
Hm, that error message is not directly related, although it implies that your `move_group` node either does not start or does not respond.

[2017-12-05 15:11] v4hn commented on #683
YES!

[2017-12-05 15:40] broesdecat opened #709 "Unclear how to combine MoveGroupCommander compute_cartesian_path and execute methods"
### Description

From the (limited) API documentation, I would have expected the following code to do the job:
[code]
However, it results in an error on the serialization of a tuple:
[code]
I guess there is some subtle thing I am missing here, but I can't derive it from any of the documentation or examples I found.

### Your environment
* ROS Distro: Indigo
* OS Version: Ubuntu 16.04
* Binary buil

[2017-12-05 16:11] mbharatheesha commented on #709
As per the documentation, the call to `compute_cartesian_path` returns a tuple which contains the planned robot trajectory AND a fraction of how much of the planned path will be followed by the trajectory. However, the execute call only requires the robot trajectory and not the entire tuple. Hope this helps in addressing your issue.

[2017-12-05 18:22] abishekh opened #710 "moveit::core::RobotState::setVariablePositions API question"
### Description
`void moveit::core::RobotState::setVariablePosition  (  const std::string & variable, double  value)`
`void moveit::core::RobotState::setVariablePosition  ( int index, double  value ) `

### Your environment
* ROS Distro: [Kinetic]
* OS Version: Ubuntu 16.04
* Source

Is there any particular reason why there aren't  'const' versions of the API for the second argument (double value)

[2017-12-05 20:26] rhaschke commented on #710
Usually it doesn't make sense to declare constness for arguments passed by value (i.e. creating a copy), because the function can do anything it likes with those args.
Arrays / vectors are passed by reference. Here the const declaration promises, that the function will not change those arguments.

[2017-12-06 02:22] abishekh commented on #710
thats exactly the functionality I'm looking for with setVariablePosition() .

[2017-12-06 09:46] rhaschke commented on #710
Which functionality you are exactly referring to? Please be more specific.
Is there anything you are still missing?

[2017-12-06 16:39] MatthewVerbryke commented on #692
Okay,
I put my current Moveit configuration aside, and started from scratch from the setup assistant. After completing that, I launched the demo.launch without touching any of the auto-generated files, and I'm still getting the same output, with the same failure to call 'get_planning_scene' the only thing really sticking out to me. However it does seem that move_group is launching and at least som

[2017-12-06 20:50] abishekh commented on #710
Functionality that I'm looking for :

Especially when setting a joint position or constraint or similar.

[2017-12-07 07:22] rhaschke commented on #710
As I said above, all versions of `setVariablePosition()` will not change the passed joint position arguments.
Either because the argument is passed by value (i.e. copied for use in the function) or because it's passed by const reference / const pointer.

[2017-12-07 15:31] #539 closed

[2017-12-07 19:17] #710 closed

[2017-12-08 17:11] MatthewVerbryke commented on #692
Okay,
Taking a break from a day or two and delving into it today, I found my issue. It appears that I had a few things that were screwed up in my MoveIt configuration and launch files that were causing this issue.

- I'm not sure what caused the failure to call `get_planning_scene`, but when I trimmed my launch file down to just launching move_group and Rviz, MoveIt launched properly and found the